<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<link rel="shortcut icon" href="#{resources['css/img/favicon.ico']}"
		type="image/x-icon" />
	<link rel="icon" href="#{resources['css/img/favicon.ico']}"
		type="image/x-icon" />
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto"
		rel="stylesheet" />
	<f:facet name="first">
		<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Beesoft</title>
	</f:facet>
	<h:outputStylesheet name="css/form.css" />
	<h:outputStylesheet name="css/menu.css" />
	<h:outputStylesheet name="css/panel.css" />
	<h:outputStylesheet name="css/particular.css" />
	<h:outputStylesheet name="css/table.css" />
	<h:outputStylesheet name="css/widget.css" />
	<h:outputStylesheet name="css/general.css" />
	<ui:insert name="head"></ui:insert>
</h:head>
<h:body>
	<p:ajaxStatus onstart="PF('statusDialog').show();"
		onsuccess="PF('statusDialog').hide();" rendered="#{!quitar_cargador}" />
	<div class="container-fluid" style="padding: 0 !important">
		<h:form>
			<div class="cds-panel-mainmenu" style="box-shadow: 20px">
				<div></div>
			</div>
		</h:form>
		<ui:insert name="titlebar" transient="true"></ui:insert>
		<ui:insert name="content"></ui:insert>
		<footer class="cds-panel-footer">
		<div>
			© <strong>Sumset S.A.S.</strong> - Todos los derechos reservados 2017
		</div>
		</footer>
	</div>
</h:body>
</html>