<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">


    <ui:param name="quitar_cargador" value="true" />

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Oficina" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">
        <h:form id="form1">
            <h:outputText value="#{oficinaAction.crear}"/>
            <p:panel header="Tablas de retencion documental" styleClass="cds-panel-simple panel-form">
                <div align="center">
                    <h3 class="title-new">Gestion</h3>
                </div>
                <p:messages id="validate" autoUpdate="true"/>
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:wizard widgetVar="wzTRD" flowListener="#{oficinaAction.onFlowProcess}" backLabel="Atras" nextLabel="Siguiente">
                        <p:tab id="oficinaTab" title="Oficina">
                            <br/>
                            <div class="row">
                                <div class="col-sm-3" >
                                    <h:outputLabel value="Codigo*" for="codigo" />
                                    <p:inputText  value="#{oficinaAction.oficinaCode}" style="width:220px"
                                                  title="codigo" />
                                </div>

                                <div class="col-sm-3" >
                                    <h:outputLabel value="Descripcion*" for="descripcion" />
                                    <p:inputText  value="#{oficinaAction.oficinaValue}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:220px"
                                                  title="descripcion" />
                                </div>

                                <div class="col-sm-3">
                                    <h:outputLabel value="" />
                                    <p:commandButton styleClass="button-action" action="#{oficinaAction.crearOficina()}" value="Crear" update="@form" />

                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p:dataTable widgetVar="tbOficina" emptyMessage="No se han encontrado resultados" selection="#{oficinaAction.oficina}" var="oficina" value="#{oficinaAction.listaOficina}"
                                                 rowKey="#{oficina.id}" editable="true" paginator="true" rows="10" filteredValue="#{oficinaAction.listaOficinaFiltered}" paginatorPosition="bottom" sortBy="descripcion" sortOrder="ascending">

                                        <f:facet name="header">
                                            <p:outputPanel style="float:right">
                                                <h:outputText value="Filtrar:" />
                                                <p:inputText id="globalFilter" onkeyup="PF('tbOficina').filter()" style="width:150px" placeholder=""/>
                                            </p:outputPanel>
                                        </f:facet>

                                        <p:column selectionMode="single" style="width:16px;text-align:center"/>

                                        <p:ajax event="rowEdit" listener="#{oficinaAction.onOficinaEdit}"  />

                                        <p:column headerText="Codigo" filterBy="#{oficina.codigo}" filterMatchMode="contains" filterStyle="display:none">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{oficina.codigo}"/></f:facet>
                                                <f:facet name="input"><p:inputText value="#{oficina.codigo}"/></f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                        <p:column headerText="Descripcion" filterBy="#{oficina.descripcion}" filterMatchMode="contains" filterStyle="display:none">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{oficina.descripcion}"/></f:facet>
                                                <f:facet name="input"><p:inputText value="#{oficina.descripcion}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:220px"/></f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                        <p:column headerText="Editar">
                                            <p:rowEditor />
                                        </p:column>

                                    </p:dataTable>
                                </div>
                            </div>
                        </p:tab>
                        <p:tab id="serieTab" title="Serie">
                            <br/>
                            <div class="row">
                                <div class="col-sm-3" >
                                    <h:outputLabel value="Codigo*"  />
                                    <p:inputText  value="#{oficinaAction.serieCode}" style="width:220px"
                                                  title="Codigo"/>
                                </div>
                                <div class="col-sm-3" >
                                    <h:outputLabel value="Descripcion*" for="descripcion" />
                                    <p:inputText  value="#{oficinaAction.serieValue}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:220px"
                                                  title="descripcion"/>
                                </div>
                                <div class="col-sm-3">
                                    <h:outputLabel value="" />
                                    <p:commandButton styleClass="button-action" action="#{oficinaAction.crearSerie()}"  value="Crear" update="@form" />
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p:dataTable widgetVar="tbSerie" emptyMessage="No se han encontrado resultados" var="serie"  selection="#{oficinaAction.serie}" value="#{oficinaAction.listaSerie}" filteredValue="#{oficinaAction.listaSerieFiltered}"
                                                 rowKey="#{serie.id}" paginator="true" rows="10" editable="true" paginatorPosition="bottom" sortBy="descripcion" sortOrder="ascending">

                                        <f:facet name="header">
                                            <p:outputPanel style="float:right">
                                                <h:outputText value="Filtrar:" />
                                                <p:inputText id="globalFilter" onkeyup="PF('tbSerie').filter()" style="width:150px" placeholder=""/>
                                            </p:outputPanel>
                                        </f:facet>

                                        <p:column selectionMode="single" style="width:16px;text-align:center"/>

                                        <p:ajax event="rowEdit" listener="#{oficinaAction.onSerieEdit}"  />

                                        <p:column headerText="Codigo" filterBy="#{serie.codigo}" filterMatchMode="contains" filterStyle="display:none">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{serie.codigo}"/></f:facet>
                                                <f:facet name="input"><p:inputText value="#{serie.codigo}"/></f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                        <p:column headerText="Descripcion" filterBy="#{serie.descripcion}" filterMatchMode="contains" filterStyle="display:none">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{serie.descripcion}"/></f:facet>
                                                <f:facet name="input"><p:inputText value="#{serie.descripcion}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:220px"/></f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                        <p:column headerText="Editar">
                                            <p:rowEditor />
                                        </p:column>


                                    </p:dataTable>
                                </div>
                            </div>
                        </p:tab>
                        <p:tab id="subTab" title="Subserie">
                            <br/>
                            <div class="row">
                                <div class="col-sm-3" >
                                    <h:outputLabel value="Codigo*"  />
                                    <p:inputText  value="#{oficinaAction.subserieCode}" style="width:220px"
                                                  title="Codigo" />
                                </div>
                                <div class="col-sm-3" >
                                    <h:outputLabel value="Descripcion*" for="descripcion" />
                                    <p:inputText  value="#{oficinaAction.subserieValue}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:220px"
                                                  title="descripcion" />
                                </div>
                                <div class="col-sm-3">
                                    <h:outputLabel value="" />
                                    <p:commandButton styleClass="button-action" action="#{oficinaAction.crearSubSerie()}" value="Crear" update="@form" />
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p:dataTable widgetVar="tbSubserie" emptyMessage="No se han encontrado resultados" var="subserie" selection="#{oficinaAction.subserie}" value="#{oficinaAction.listaSubSerie}" filteredValue="#{oficinaAction.listaSubSerieFiltered}"
                                                 rowKey="#{subserie.id}" paginator="true" editable="true" rows="10"  paginatorPosition="bottom" sortBy="codigo" sortOrder="ascending">

                                        <f:facet name="header">
                                            <p:outputPanel style="float:right">
                                                <h:outputText value="Filtrar:" />
                                                <p:inputText id="globalFilter" onkeyup="PF('tbSubserie').filter()" style="width:150px" placeholder=""/>
                                            </p:outputPanel>
                                        </f:facet>

                                        <p:column selectionMode="single" style="width:16px;text-align:center"/>

                                        <p:ajax event="rowEdit" listener="#{oficinaAction.onSubSerieEdit}"  />

                                        <p:column headerText="Codigo" filterBy="#{subserie.codigo}" filterMatchMode="contains" filterStyle="display:none">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{subserie.codigo}"/></f:facet>
                                                <f:facet name="input"><p:inputText value="#{subserie.codigo}"/></f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                        <p:column headerText="Descripcion" filterBy="#{subserie.descripcion}" filterMatchMode="contains" filterStyle="display:none">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{subserie.descripcion}"/></f:facet>
                                                <f:facet name="input"><p:inputText value="#{subserie.descripcion}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:220px"/></f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                        <p:column headerText="Editar">
                                            <p:rowEditor />
                                        </p:column>

                                    </p:dataTable>
                                </div>
                            </div>
                        </p:tab>
                        <p:tab id="tipoDocTab" title="Tipo documento">
                            <br/>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h:outputLabel value="Descripcion*" for="descripcion" />
                                    <p:inputText value="#{oficinaAction.tipoDocValue}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:220px"
                                                 title="descripcion"/>
                                </div>
                                <div class="col-sm-3">
                                    <h:outputLabel value="" />
                                    <p:commandButton styleClass="button-action" action="#{oficinaAction.crearTipo()}" value="Crear" update="@form" />
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p:dataTable widgetVar="tbTipoDoc" emptyMessage="No se han encontrado resultados" var="tipo" value="#{oficinaAction.listaTipoDocumento}" filteredValue="#{oficinaAction.listaTipoDocumentoFiltered}"
                                                 rowKey="#{tipo.id}" paginator="true" editable="true" rows="10"  paginatorPosition="bottom" sortBy="descripcion" sortOrder="ascending">

                                        <f:facet name="header">
                                            <p:outputPanel style="float:right">
                                                <h:outputText value="Filtrar:" />
                                                <p:inputText id="globalFilter" onkeyup="PF('tbTipoDoc').filter()" style="width:150px" placeholder=""/>
                                            </p:outputPanel>
                                        </f:facet>

                                        <p:ajax event="rowEdit" listener="#{oficinaAction.onTipoDocEdit}"  />

                                        <p:column headerText="Descripcion" filterBy="#{tipo.descripcion}" filterMatchMode="contains" filterStyle="display:none">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{tipo.descripcion}"/></f:facet>
                                                <f:facet name="input"><p:inputText value="#{tipo.descripcion}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:220px"/></f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                        <p:column headerText="Editar">
                                            <p:rowEditor />
                                        </p:column>

                                    </p:dataTable>
                                </div>
                            </div>
                        </p:tab>
                    </p:wizard>

                </p:fieldset>

            </p:panel>
        </h:form>

    </ui:define>
</ui:composition>
