<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true" closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="COMUNICADO PQR" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>
    <ui:define name="content">
        <h:form id="form1">
            <p:panel header="Información del mensaje" styleClass="cds-panel-simple panel-form"> 
                <p:fieldset id="fld"
                            styleClass="ui-widget-content2">
                    <p:messages id="validate" autoUpdate="true"/>
                    <p:panelGrid id="grid2" columns="2" style="width:30%" styleClass="cds-4cols">  
                        <h:outputLabel value="Para*" for="destinos" />
                        <p:pickList id="destinos" showSourceFilter="true" filterMatchMode="contains" value="#{comunicadoPqrAction.destinationsSend}" var="actor"   
                                    itemLabel="#{actor}" itemValue="#{actor}" styleClass=".ui-picklist .ui-picklist-list .ui-picklist-button-remove-all .ui-picklist-button-add-all"/>

                        <h:outputLabel value="Añadir Destinos" for="añadirDestinos" />
                        <p:commandLink value="Añadir" onclick="PF('dlgDestino').show()"/>

                        <h:outputLabel value="Copia" for="copia" />
                        <p:panel styleClass="cds-panel-reset">
                            <p:selectBooleanCheckbox value="#{comunicadoPqrAction.conCopia}"  >
                                <p:ajax  update="@form" process="@form"/>
                            </p:selectBooleanCheckbox>

                            <p:pickList id="copia" showSourceFilter="true" filterMatchMode="contains" value="#{comunicadoPqrAction.destinationsSendConCopia}" var="actor"   rendered="#{comunicadoPqrAction.conCopia}"
                                        itemLabel="#{actor}" itemValue="#{actor}" styleClass=".ui-picklist .ui-picklist-list .ui-picklist-button-remove-all .ui-picklist-button-add-all"/>
                        </p:panel>
                        <h:outputLabel value="Asunto" for="asunto" />
                        <p:inputText id="asunto" value="#{comunicadoPqrAction.asunto}" title="Asunto" style="width: 220px"/>

                        <h:outputLabel value="Mensaje" for="mensaje" />
                        <p:editor id="mensaje" value="#{comunicadoPqrAction.mensaje}" width="600" />

                        <h:outputLabel value="Anexos" for="anexo" />
                        <p:inputText id="anexo" value="#{comunicadoPqrAction.anexos}" title="Anexos" style="width: 220px"/>

                        <h:outputLabel value="Adjunto" for="adjunto" />
                        <p:fileUpload id="adjunto" uploadLabel="Cargar" cancelLabel="Cancelar" label="Seleccionar" fileUploadListener="#{comunicadoPqrAction.handleFileUpload}" mode="advanced"  
                                      multiple="true" sizeLimit="100000000" fileLimit="10" allowTypes="/(\.|\/)(gif|jpe?g|png|txt|doc|docx|xls|xlsx|ppt|pptx|pdf|tif|zip|rar|7z)$/" 
                                      styleClass="ui-widget-header" style="width: 600px" update="tbarchivo,lblarchivo"/>

                        <h:outputLabel  value="Adjunto Cargado" for="adjunto" />
                        <p:dataTable id="tbarchivo" emptyMessage=" " value="#{comunicadoPqrAction.archivosGuardar}" var="archivo" style="width: 365px" >
                            <p:column headerText="Nombre archivo">
                                <p:outputLabel value="#{archivo.nombreArchivo}"/>
                            </p:column>
                            <p:column headerText="Tamaño">
                                <p:outputLabel value="#{comunicadoPqrAction.readableFileSize(archivo)}"/>
                            </p:column>
                            <p:column >
                                <p:commandLink action="#{comunicadoPqrAction.quitarArchivo(archivo)}" update="tbarchivo,:form1:lblarchivo">
                                    <p:graphicImage url="#{resource['css/img/delete.png']}"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                        <h:outputLabel  value="" for="lblarchivo" />
                        <h:outputText id="lblarchivo" value="#{comunicadoPqrAction.sizeTotal}"/>

                        <h:outputLabel value="Certificacion"  />
                        <p:selectBooleanCheckbox value="#{comunicadoPqrAction.certificado}" />

                        <h:outputLabel value="Jefes" for="jefes" rendered="#{!comunicadoPqrAction.pantallaJefe}" />
                        <p:selectOneMenu value="#{comunicadoPqrAction.idJefes}" style="width: 220px" rendered="#{!comunicadoPqrAction.pantallaJefe}" filter="true" filterMatchMode="contains">
                            <f:selectItem itemLabel="Seleccione"/>
                            <f:selectItems value="#{comunicadoPqrAction.listaJefes}" var="jefe" itemLabel="#{jefe.nombreYApellido}" itemValue="#{jefe.id}"/>
                        </p:selectOneMenu>

                    </p:panelGrid>
                    <p:commandButton action="#{comunicadoPqrAction.encolarCorreos()}" update="grid2,validate" value="#{comunicadoPqrAction.pantallaJefe?'Enviar':'Guardar'}"/>
                </p:fieldset>
            </p:panel>
        </h:form>
        <p:dialog header="Añadir Persona" widgetVar="dlgDestino" modal="true"  draggable="false" maximizable="false" resizable="false" closable="false" height="400" width="800">
            <h:form id="dialogProcedencia">
                <p:panelGrid columns="3">
                    <h:outputLabel  value="Nombre" />
                    <p:inputText  id="nombreProcedencia" value="#{comunicadoPqrAction.nombrePersona}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:220px">
                        <p:ajax process="@this,@form" />  
                    </p:inputText> 
                    <p:commandButton value="Buscar" action="#{comunicadoPqrAction.buscarActorAñadir()}" update=":dialogProcedencia:tablaProc" ajax="true"/>    
                </p:panelGrid>

                <p:dataTable id="tablaProc" editable="true" emptyMessage="No se han encontrado resultados" rowKey="#{pro.cedula}" var="pro" value="#{comunicadoPqrAction.listaPersona}" sortBy="nombreYApellido" paginator="true" rows="10" paginatorPosition="bottom">  

                    <p:ajax event="rowEdit" listener="#{comunicadoPqrAction.onRowEdit}" update=":dialogProcedencia:tablaProc,:form1" />

                    <p:column headerText="Cedula">  
                        <h:outputText value="#{pro.cedula}" />  
                    </p:column>  

                    <p:column headerText="Nombre">  
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{pro.nombreYApellido}" /></f:facet>
                            <f:facet name="input"><p:inputText id="nom" value="#{pro.nombreYApellido}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:96px"/></f:facet>
                        </p:cellEditor>
                    </p:column>  

                    <p:column headerText="Correo">  
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{pro.email}" /></f:facet>
                            <f:facet name="input"><p:inputText id="dir" value="#{pro.email}" style="width:96%"/></f:facet>
                        </p:cellEditor>
                    </p:column> 

                    <p:column headerText="Editar">
                        <p:rowEditor />
                    </p:column>
                </p:dataTable>

                <p:commandButton id="cancelProce" value="Cancelar" update=":dialogProcedencia:tablaProc" actionListener="#{documentoAction.iniciarDialog()}" oncomplete="PF('dlgDestino').hide()"/>

                <p:selectBooleanButton id="addPersonal" value="#{documentoAction.addPersonal}" onLabel="Cancelar" offLabel="Añadir" >
                    <p:ajax update="@form" />
                </p:selectBooleanButton>

                <p:panel header="Crear Personal" styleClass="cds-panel-simple panel-form" rendered="#{documentoAction.addPersonal}">
                    <p:messages id="validateProc"/>
                    <p:fieldset 
                        styleClass="ui-widget-content2">
                        <p:panelGrid columns="2" style="width:80%;">
                            <h:outputLabel value="Pais" for="pais" />
                            <p:selectOneMenu id="pais" value="#{actorAction.pais}"
                                             style="width:260px;">
                                <f:selectItem itemLabel="seleccione" />
                                <f:selectItems value="#{actorAction.listaPaises.values()}" />
                                <p:ajax update="@form" listener="#{actorAction.cargarDeptos()}" />
                            </p:selectOneMenu>
                            <h:outputLabel value="Departamento" for="depto" />
                            <p:selectOneMenu id="depto" value="#{actorAction.depto}"
                                             style="width:260px;">
                                <f:selectItem itemLabel="seleccione" />
                                <f:selectItems value="#{actorAction.listaDeptos.values()}" />
                                <p:ajax update="@form" listener="#{actorAction.cargarCiudades()}" />
                            </p:selectOneMenu>
                            <h:outputLabel value="Ciudad*" for="ciudad" />
                            <p:selectOneMenu id="ciudad" value="#{actorAction.ciudad}"
                                             style="width:260px;">
                                <f:selectItem itemLabel="seleccione" />
                                <f:selectItems value="#{actorAction.listaCiudades.values()}" />
                            </p:selectOneMenu>

                            <h:outputLabel value="Tipo persona*" for="tipopersona" />
                            <p:selectOneMenu id="tipopersona" style="width:260px;" value="#{actorAction.tipoCadena}">
                                <f:selectItem itemLabel="seleccione" />
                                <f:selectItems value="#{applicationAction.listaTipoPersonaPqr.entrySet()}" var="tp" itemLabel="#{tp.value}" itemValue="#{tp.key}"/>
                            </p:selectOneMenu>

                            <h:outputLabel value="Cedula/Nit" for="cedula" />
                            <p:inputText id="cedula" value="#{actorAction.cedula}"
                                         style="width:248px;" title="Cedula" onkeydown="return permitirSoloNumeros(this, event);"/>
                            <h:outputLabel value="Nombres*" for="nombres" />
                            <p:inputText id="nombres" value="#{actorAction.nombres}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:248px" title="Nombres" />
                            <h:outputLabel value="Fecha Nacimiento" for="fechaNacimiento" />
                            <p:calendar locale="es" value="#{actorAction.fechaNacimiento}"
                                        id="fechaNacimiento" style="width:180px;"
                                        styleClass="cds-custom-calendar input-special"
                                        navigator="true" yearRange="1980:2025" />

                            <h:outputLabel value="Direccion" for="direccion" />
                            <p:inputText id="direccion" value="#{actorAction.direccion1}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:248px" title="Direccion" />

                            <h:outputLabel value="Email" for="email" />
                            <p:inputText id="email" value="#{actorAction.email}" style="width:248px;" title="Email" />

                            <h:outputLabel value="Cargo" for="cargo" rendered="#{actorAction.showOficina}"/>
                            <p:inputText id="cargo" value="#{actorAction.cargo}"  title="Cargo" rendered="#{actorAction.showOficina}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:248px"/>

                        </p:panelGrid>

                    </p:fieldset>
                    <p:commandButton action="#{actorAction.crearActorDocumento()}" update="@form,validateProc,:form1" oncomplete="#{comunicadoPqrAction.actualizarDestinos()}"
                                     value="Crear" />
                </p:panel>
            </h:form>
        </p:dialog>

    </ui:define>
</ui:composition>

