<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Reportes" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">
        <h:form id="form1">
            <p:panel header="Reportes" styleClass="cds-panel-simple panel-form">
                <div align="center">
                    <h3 class="title-new">Documentos Auditoria</h3>
                </div>
                <p:messages id="validate" autoUpdate="true"/>
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:panelGrid id="grid2" columns="2" style="width:48%"
                                 styleClass="cds-4cols">
                        <h:outputLabel value="Fecha y hora inicial" for="fechaIni" />
                        <p:calendar locale="es" value="#{reportesAction.fechaIniAc}"
                                    pattern="MM/dd/yyyy hh:mm a" style="width:220px;"
                                    id="fechaIni" styleClass="cds-custom-calendar input-special"
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Fecha y hora final" for="fechaFin" />
                        <p:calendar locale="es" value="#{reportesAction.fechaFinAc}" style="width:220px;"
                                    id="fechaFin" pattern="MM/dd/yyyy hh:mm a" 
                                    styleClass="cds-custom-calendar input-special" 
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Usuario" for="usuario" />
                        <p:selectOneMenu id="usuario" value="#{reportesAction.usuario}" style="width: 232px">
                            <f:selectItem itemLabel="Seleccione"/>
                            <f:selectItems value="#{reportesAction.listaResponsables.values()}" />
                        </p:selectOneMenu>

                        <h:outputLabel value="Acción" for="accion" />
                        <p:selectOneMenu id="accion" value="#{reportesAction.accion}" style="width: 232px">
                            <f:selectItem itemLabel="Seleccione"/>
                            <f:selectItem itemLabel="CREAR" itemValue="CREAR"/>
                            <f:selectItem itemLabel="EDITAR" itemValue="EDITAR"/>
                            <f:selectItem itemLabel="ANULAR" itemValue="ANULAR"/>
                            <f:selectItem itemLabel="ACTIVAR" itemValue="ACTIVAR"/>
                            <f:selectItem itemLabel="CAMBIO RADICADO" itemValue="CAMBIO_RADICADO"/>
                        </p:selectOneMenu>

                        <p:commandButton styleClass="button-action" action="#{reportesAction.buscarDocumentoAccion()}" update="@form" value="Buscar" />
                        <p:commandButton styleClass="button-action" action="#{reportesAction.reset()}" update="@form" value="Reiniciar" />
                    </p:panelGrid>

                    <br/><br/>
                    <p:dataTable id="documentoR" emptyMessage="No se han encontrado resultados" var="doc" value="#{reportesAction.listaDocsAc}"
                                 rowKey="#{doc.documento.radicacion}" paginator="true" rows="10" paginatorPosition="bottom">  

                        <p:column headerText="Radicacion">  
                            <h:outputText value="#{doc.documento.radicacion}" />  
                        </p:column>  

                        <p:column headerText="Fecha emision">  
                            <h:outputText value="#{doc.documento.fechaEmision}" />  
                        </p:column> 

                        <p:column headerText="Fecha modificación">  
                            <h:outputText value="#{doc.fechaHora}" />  
                        </p:column> 

                        <p:column headerText="Destino">  
                            <h:outputText value="#{reportesAction.mostrarDestinoTabla(doc.documento)}" />  
                        </p:column>  

                        <p:column headerText="Procedencia">  
                            <h:outputText value="#{reportesAction.mostrarProcedenciaTabla(doc.documento)}" />  
                        </p:column>

                        <p:column headerText="Creado Por">  
                            <h:outputText value="#{doc.documento.radicador}" />  
                        </p:column>

                        <p:column headerText="Modificado Por">  
                            <h:outputText value="#{doc.usuario}" />  
                        </p:column>

                        <p:column headerText="Acción">  
                            <h:outputText value="#{doc.accion}" />  
                        </p:column>

                    </p:dataTable>      

                    <p:commandButton styleClass="button-action" id="btnReporte" ajax="false" update="@form" value="Generar" rendered="#{reportesAction.listaDocsAc.size()>0}">
                        <p:fileDownload value="#{reportesAction.reporteDocumentoAuditoria()}"/>
                    </p:commandButton>
                </p:fieldset>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
