<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Radicadores" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">
        <h:form id="form1">
            <p:panel header="Reportes" styleClass="cds-panel-simple panel-form">
                <div align="center">
                    <h3 class="title-new">Listar Radicadores</h3>
                </div>
                <p:messages id="validate" autoUpdate="true"/>
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:panelGrid id="grid2" columns="2" style="width:48%"
                                 styleClass="cds-4cols">
                        <h:outputLabel value="Fecha Recepción Inicial*" for="fechaIni" />
                        <p:calendar locale="es" value="#{reportesAction.fechaIniRadicadores}"
                                    pattern="MM/dd/yyyy hh:mm a" style="width:220px;"
                                    id="fechaIni" styleClass="cds-custom-calendar input-special"
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Fecha Recepción Final*" for="fechaFin" />
                        <p:calendar locale="es" value="#{reportesAction.fechaFinRadicadores}" style="width:220px;"
                                    id="fechaFin" pattern="MM/dd/yyyy hh:mm a" 
                                    styleClass="cds-custom-calendar input-special" 
                                    navigator="true" yearRange="1980:2025" />

                         <p:commandButton styleClass="button-action" action="#{reportesAction.buscarRadicadores()}" update="@form" value="Buscar" />
                    <p:commandButton styleClass="button-action" action="#{reportesAction.reset()}" update="@form" value="Reiniciar" />
                    </p:panelGrid>
                   
                    <br/><br/>
                    <p:dataTable id="tbRadicadores" emptyMessage="No se han encontrado resultados" var="rad" sortBy="radicador" value="#{reportesAction.listaRadicadores}" rowKey="#{rad.radicador}" paginator="true" rows="10" paginatorPosition="bottom">  

                        <f:facet name="header">
                            <h:commandLink style="float:left">
                                 <p:graphicImage url="#{resource['css/img/excel.png']}"/>
                                <p:dataExporter type="xls" target="tbRadicadores" fileName="Lista Radicadores"/>
                            </h:commandLink>
                        </f:facet>

                        <p:column>  
                            <f:facet name="header">
                                <h:outputText value="Radicador"/>
                            </f:facet>
                            <h:outputText value="#{rad.radicador}" />  
                        </p:column>  

                        <p:column>  
                            <f:facet name="header">
                                <h:outputText value="Documentos Recibidos"/>
                            </f:facet>
                            <h:outputText value="#{rad.radicadosE}" />  
                        </p:column>  

                        <p:column>  
                            <f:facet name="header">
                                <h:outputText value="Documentos Despachados"/>
                            </f:facet>
                            <h:outputText value="#{rad.radicadosR}" />  
                        </p:column>  
                      
                    </p:dataTable>      

                </p:fieldset>


            </p:panel>

        </h:form>
    </ui:define>
</ui:composition>
