<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Reportes" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">
        <h:form id="form1">
            <p:panel header="Reportes" styleClass="cds-panel-simple panel-form">
                <div align="center">
                    <h3 class="title-new">Radicados</h3>
                </div>
                <p:messages id="validate" autoUpdate="true"/>
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:panelGrid id="grid2" columns="2" style="width:48%"
                                 styleClass="cds-4cols">
                        <h:outputLabel value="Fecha inicial" for="fechaIni" />
                        <p:calendar locale="es" value="#{reportesAction.fechaIniRad}"
                                    pattern="MM/dd/yyyy" style="width:220px;"
                                    id="fechaIni" styleClass="cds-custom-calendar input-special"
                                    navigator="true" yearRange="2011:2017" />

                        <h:outputLabel value="Fecha final" for="fechaFin" />
                        <p:calendar locale="es" value="#{reportesAction.fechaFinRad}" style="width:220px;"
                                    id="fechaFin" pattern="MM/dd/yyyy" 
                                    styleClass="cds-custom-calendar input-special" 
                                    navigator="true" yearRange="2011:2017" />

                        <h:outputLabel value="Letra" for="letra" />
                        <p:selectOneMenu id="letra" value="#{reportesAction.letraRad}" style="width: 232px">
                            <f:selectItem itemLabel="Seleccione"/>
                            <f:selectItem itemLabel="E" itemValue="E"/>
                            <f:selectItem itemLabel="R" itemValue="R"/>
                        </p:selectOneMenu>


                        <p:commandButton styleClass="button-action" action="#{reportesAction.reporteRadicados()}" update="@form" value="Buscar" />
                        <p:commandButton styleClass="button-action" action="#{reportesAction.reset()}" update="@form" value="Reiniciar" />
                    </p:panelGrid>

                    <br/><br/>
                    <p:dataTable id="documentoR" emptyMessage="No se han encontrado resultados" var="rad" value="#{reportesAction.listaRadicados}"
                                 rowKey="#{rad.radicacion}" paginator="true" rows="10" paginatorPosition="bottom">  

                        <f:facet name="header">
                            <h:commandLink style="float:left">
                                <p:graphicImage url="#{resource['css/img/excel.png']}"  />
                                <p:dataExporter type="xls" target="documentoR" fileName="Radicados" />
                            </h:commandLink>
                        </f:facet>

                        <p:column>  
                            <f:facet name="header">
                                <h:outputText value="Radicacion" />
                            </f:facet>
                            <h:outputText value="#{rad.radicacion}" />  
                        </p:column>  

                        <p:column style="display:none"> 
                            <f:facet name="header">
                                <h:outputText value="Fecha" />
                            </f:facet>
                            <h:outputText value="#{rad.fecha}" />  
                        </p:column> 

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Procedencia" />
                            </f:facet>
                            <h:outputText value="#{rad.procedencia}" />  
                        </p:column>

                        <p:column>  
                            <f:facet name="header">
                                <h:outputText value="Destino" />
                            </f:facet>
                            <h:outputText value="#{rad.destino}" />  
                        </p:column> 

                        <p:column >  
                            <f:facet name="header">
                                <h:outputText value="Asunto" />
                            </f:facet>
                            <h:outputText value="#{rad.asunto}" />  
                        </p:column> 

                        <p:column style="display:none">  
                            <f:facet name="header">
                                <h:outputText value="Tipo" />
                            </f:facet>
                            <h:outputText value="#{rad.tipo}" />  
                        </p:column>

                    </p:dataTable>      
                </p:fieldset>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
