<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Reportes" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">

        <h:form id="form1">
            <p:panel header="Reportes" styleClass="cds-panel-simple panel-form">
                <div align="center">
                    <h3 class="title-new">Reporte Empresa Correo</h3>
                </div>
                <p:messages id="validate" autoUpdate="true"/>
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:panelGrid id="grid2" columns="2" style="width:48%"
                                 styleClass="cds-4cols">
                        <h:outputLabel value="Fecha y hora inicial*" for="fechaIni" />
                        <p:calendar locale="es" value="#{reportesAction.fechaIniEmpresa}"
                                    pattern="MM/dd/yyyy hh:mm a" style="width:220px;"
                                    id="fechaIni" styleClass="cds-custom-calendar input-special"
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Fecha y hora final*" for="fechaFin" />
                        <p:calendar locale="es" value="#{reportesAction.fechaFinEmpresa}" style="width:220px;"
                                    id="fechaFin" pattern="MM/dd/yyyy hh:mm a" 
                                    styleClass="cds-custom-calendar input-special" 
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Medio de Respuesta*" for="empresa" />
                        <p:selectOneMenu id="empresa" style="width: 232px"
                                         value="#{reportesAction.empresa}">
                            <f:selectItem itemLabel="Seleccione" itemValue=" "/>
                            <f:selectItem itemLabel="Correo certificado" itemValue="CERTIFICADO"/>
                            <f:selectItem itemLabel="Correo electronico" itemValue="ELECTRONICO"/>
                            <f:selectItem itemLabel="Mensajero" itemValue="MENSAJERO"/>
                        </p:selectOneMenu>  
                        
                        <h:outputLabel value="Municipio" for="municipio" />
						<p:selectOneMenu id="municipio"
							value="#{reportesAction.municipio}" style="width:260px;">
							<f:selectItem itemLabel="seleccione" />
							<f:selectItems value="#{reportesAction.listaCiudades.values()}" />
						</p:selectOneMenu>
                        
                    </p:panelGrid>
                    <p:commandButton styleClass="button-action" value="Generar PDF" ajax="false" update="@form">
                        <p:fileDownload value="#{reportesAction.generar(false)}" />
                    </p:commandButton>
                    <p:commandButton styleClass="button-action" value="Generar Excel" ajax="false" update="@form">
                        <p:fileDownload value="#{reportesAction.generar(true)}"  />
                    </p:commandButton>

                    <p:commandButton styleClass="button-action" action="#{reportesAction.reset()}" update="@form" value="Reiniciar" />
                </p:fieldset>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
