<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">



	<ui:define name="titlebar">
		<p:panel styleClass="cds-title-panel cds-red" toggleable="true"
			closable="true" widgetVar="panel">
			<p:panelGrid columns="3" styleClass="cds-title-panel-grid">
				<p:panel styleClass="cds-title-panel-title">
					<h:outputText id="tab1Text" value="Reportes" />
				</p:panel>
			</p:panelGrid>
		</p:panel>
	</ui:define>

	<ui:define name="content">

		<h:form id="form1">
			<p:panel header="Reportes" styleClass="cds-panel-simple panel-form">
				<div align="center">
					<h3 class="title-new">Reporte Personas y Empresas Externas</h3>
				</div>
				<p:fieldset styleClass="ui-widget-content2">
					<p:messages id="validate" autoUpdate="true" />
					<p:panelGrid id="grid2" columns="2" style="width:52%"
						styleClass="cds-4cols">
						<h:outputLabel value="Tipo persona*" for="tipopersona" />
                        <p:selectOneMenu id="tipopersona" style="width:260px;" value="#{reportesAction.tipoCadena}">
                            <f:selectItem itemLabel="seleccione" />
                            <f:selectItems value="#{applicationAction.listaTipoPersona.entrySet()}" var="tp" 
                            	itemLabel="#{tp.value}" itemValue="#{tp.key}"/>
                            <p:ajax update="@form" process="@form"/>
                        </p:selectOneMenu>
					</p:panelGrid>
					<p:commandButton styleClass="button-action" value="Generar Excel"
						ajax="false" update="@form">
						<p:fileDownload
							value="#{reportesAction.reporteActoresExternos(true)}" />
					</p:commandButton>
					<p:commandButton styleClass="button-action" value="Generar Pdf"
						ajax="false" update="@form">
						<p:fileDownload
							value="#{reportesAction.reporteActoresExternos(false)}" />
					</p:commandButton>
					<p:commandButton styleClass="button-action"
						action="#{reportesAction.reset()}" update="@form"
						value="Reiniciar" />
				</p:fieldset>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
