<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Gestión Documental" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">
        <h:form  id="form1">
            <p:panel header="Revisión documento" styleClass="cds-panel-simple panel-form">
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:messages id="messages"/>
                    <p:panelGrid columns="8" style="width:80%;" >
                        <div>
                            <p:panelGrid columns="1" >
                                <h:outputLabel value="Radicado" styleClass="label-title" for="radicado"  />
                                <p:inputText id="radicado" value="#{repositorioAction.documentoSeleccionado.radicacion}" style="width:200px;" disabled="true"/>
                            </p:panelGrid>
                        </div>
                        <div>
                            <p:panelGrid columns="1" >
                                <h:outputLabel value="PQR" styleClass="label-title" for="pqr"  />
                                <p:inputText id="pqr" value="#{repositorioAction.documentoSeleccionado.pqr}"  style="width:200px;" disabled="true"/>
                            </p:panelGrid>
                        </div>
                        <div>
                            <p:panelGrid columns="1" >
                                <h:outputLabel value="Tipo Contrato" styleClass="label-title" for="tipoCon"  />
                                <p:inputText id="tipoCon" value="#{repositorioAction.documentoSeleccionado.contratacionTipo}" style="width:200px;" disabled="true"/>
                            </p:panelGrid>
                        </div>
                        <div>
                            <p:panelGrid columns="1" >
                                <h:outputLabel value="Numero Contrato" styleClass="label-title" for="numCon"  />
                                <p:inputText id="numCon" value="#{repositorioAction.documentoSeleccionado.contratacionNumero}"  style="width:200px;" disabled="true"/>
                            </p:panelGrid>
                        </div>
                    </p:panelGrid>

                    <br/>
                    <p:separator/>
                    <br/>

                    <p:panelGrid columns="4" style="width:80%;" >
                        <div>
                            <p:panelGrid columns="1" >
                                <h:outputLabel value="Fecha Emision" styleClass="label-title" for="fechaEmision" />
                                <p:inputText id="fechaEmision" value="#{repositorioAction.documentoSeleccionado.fechaEmision}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1" >
                                <h:outputLabel value="Fecha Recepcion" styleClass="label-title" for="fechaRecepcion" />
                                <p:inputText id="fechaRecepcion" value="#{repositorioAction.documentoSeleccionado.fechaRecepcion}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1" >
                                <h:outputLabel value="Procedencia" styleClass="label-title" for="procedencia"/>
                                <p:inputText  id="procedencia" value="#{repositorioAction.actorListProcedenciaDocumentos()}" style="width:450px" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1" >
                                <h:outputLabel value="Destino" styleClass="label-title" for="destino"/>
                                <p:inputText id="destino" value="#{repositorioAction.actorListDestinoDocumentos()}" style="width: 450px" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1" >
                                <h:outputLabel value="Asunto" styleClass="label-title" for="asunto" />
                                <p:inputTextarea id="asunto" rows="6" cols="50" value="#{repositorioAction.documentoSeleccionado.asunto}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1" >
                                <h:outputLabel value="Observacion" styleClass="label-title" for="observacion" />
                                <p:inputTextarea id="observacion" rows="6" cols="50" value="#{repositorioAction.documentoSeleccionado.observacion}" disabled="true"/>
                            </p:panelGrid>
                        </div>
                    </p:panelGrid>

                    <br/>
                    <p:separator/>
                    <br/>

                    <p:panelGrid columns="8" style="width:80%;" >

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Empresa Correo Recibido" styleClass="label-title" for="empresaR" />
                                <p:inputText id="empresaR" value="#{repositorioAction.documentoSeleccionado.empresaCorreoRecibido}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Guia Recibido" styleClass="label-title" for="guia" />
                                <p:inputText id="guia" value="#{repositorioAction.documentoSeleccionado.guia}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Empresa Correo Enviado" styleClass="label-title" for="empresaE" />
                                <p:inputText id="empresaE" value="#{repositorioAction.documentoSeleccionado.empresacorreoEnviado}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Funcionario" styleClass="label-title" for="mensajero"/>
                                <p:inputText id="mensajero" value="#{repositorioAction.documentoSeleccionado.mensajero}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Prueba entrega" styleClass="label-title" for="prueba" />
                                <p:inputText id="prueba" value="#{repositorioAction.documentoSeleccionado.pruebaEntrega}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Notificación" styleClass="label-title" for="notificacion"/>
                                <p:inputText id="notificacion" value="#{repositorioAction.documentoSeleccionado.notificacionEntrega}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Anexos" styleClass="label-title" for="anexos"/>
                                <p:inputText id="anexos" value="#{repositorioAction.documentoSeleccionado.anexos}" disabled="true"/>
                            </p:panelGrid>
                        </div>
                        
                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Medio Electronico" for="medio" styleClass="label-title" />
                                <p:selectBooleanCheckbox id="medio" value="#{repositorioAction.documentoSeleccionado.medioElectronico}" disabled="true" />
                            </p:panelGrid>
                        </div>
                    </p:panelGrid>

                    <br/>
                    <p:separator/>
                    <br/>

                    <p:panelGrid columns="4" style="width:80%;" >
                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Archivo referencia" styleClass="label-title" for="referencia" />
                                <p:inputText id="referencia" value="#{repositorioAction.documentoSeleccionado.documentoReferencia.radicacion}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Tipo documental" styleClass="label-title" for="documental"/>
                                <p:dataTable id="documental" var="trd" emptyMessage="No se han encontrado resultados" value="#{repositorioAction.trds}" style="width: 365px">  
                                    <p:column headerText="Oficina" style="width: 90%">  
                                        <h:outputText value="#{trd.oficina.descripcion}" />  
                                    </p:column>  

                                    <p:column headerText="Serie" style="width: 50%">  
                                        <h:outputText value="N.A" />  
                                    </p:column>  

                                    <p:column headerText="SubSerie" style="width: 50%">  
                                        <h:outputText value="N.A" />  
                                    </p:column>  

                                    <p:column headerText="Tipo Documental" style="width: 70%">  
                                        <h:outputText value="N.A" />  
                                    </p:column>  

                                </p:dataTable>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Clase de documento" styleClass="label-title" for="claseDoc" />
                                <p:inputText id="claseDoc" value="#{repositorioAction.documentoSeleccionado.clasedocumento}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Fecha Control" styleClass="label-title" for="fechaControl" />
                                <p:inputText id="fechaControl" value="#{repositorioAction.formatFecha(repositorioAction.documentoSeleccionado.fechaControl)}" disabled="true" style="width: 220px" /> 
                            </p:panelGrid>
                        </div>
                    </p:panelGrid>

                    <br/>
                    <p:separator/>
                    <br/>

                    <p:panelGrid columns="6" style="width:80%;" >
                        <div>
                            <p:panelGrid columns="2" style="width:80%;" >
                                <h:outputLabel value="Responsable" styleClass="label-title" for="responsable" />
                                <p:inputText id="responsable" value="#{repositorioAction.getResponsable()}" style="width: 350px" disabled="true"/>
                            </p:panelGrid>    
                        </div>
                    </p:panelGrid>
                    
                    <p:panelGrid columns="2" style="width:80%;" >
                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Revisores" styleClass="label-title" for="revisores" />
                                <p:inputText value="#{repositorioAction.revisorNameText}" style="width:550px" disabled="true"/>  
                            </p:panelGrid>
                        </div>
                    </p:panelGrid>
                    
                    <br/>
                    <p:separator/>
                    <br/>

                    <p:panelGrid columns="2" style="width:80%;" >
                        <div>
                            <p:panelGrid columns="1" >
                                <h:outputLabel value="Archivo" styleClass="label-title" for="archivo" />
                                <ui:repeat value="#{repositorioAction.listaArchivos}" var="archivo" rendered="#{repositorioAction.listaArchivos.size()>0}">
                                    <a href="/Beesoft/ArchivoServidor?idArchivo=#{archivo.id}" target="_blank">Abrir Documento: #{archivo.nombreArchivo}</a> <br/>
                                </ui:repeat>
                            </p:panelGrid>
                        </div>
                        <div>
                            <p:panelGrid columns="1" >
                                <h:outputLabel value="Comentarios" styleClass="label-title" for="comentarios" rendered="#{repositorioAction.revisiones.size()>0}"/>
                                <p:dataTable id="comentarios" value="#{repositorioAction.revisiones}" rendered="#{repositorioAction.revisiones.size()>0}" var="rev" rowKey="#{rev.actor.cedula}" sortBy="actor.nombreYApellido" styleClass="fixed-size" style="width: 610px">
                                    <p:column >  
                                        <f:facet name="header">
                                            #{rev.actor.nombreYApellido} #{repositorioAction.formatFecha(rev.fechaComentario)}
                                        </f:facet>
                                        <h:outputText value="#{rev.comentario}" />  
                                    </p:column> 

                                </p:dataTable>

                            </p:panelGrid>
                        </div>
                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Radicado por:" styleClass="label-title" for="radicador"/>
                                <h:outputText id="radicador" value="#{repositorioAction.documentoSeleccionado.radicador}"/>
                            </p:panelGrid>
                        </div>

                    </p:panelGrid>
                    
                </p:fieldset>
                <br />
                <p:commandButton styleClass="button-action" id="volver" value="Regresar"  action="#{repositorioAction.volver}" style="width: 100px;text-align: center!important" />
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
