.ui-widget{
    font-family:Arial,sans-serif;
    font-size:1.1em;
}
.ui-widget .ui-widget{
    font-size: 1em;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
    font-family:Arial,sans-serif;
    font-size:1em;
}
.ui-widget-content{
    /* border:1px solid #eeeeee; */
    background-color: #FFFFFF;
    color:#333333;
}
.ui-widget-content a{
    color:#333333;
}
.ui-widget-header{
    color:#333333;
    font-weight:bold;
}
.ui-widget-header a{
    color:#ffffff;
}
/* Interaction states----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border:1px solid #d8dcdf;
    background:#eeeeee url("/Beesoft/javax.faces.resource/images/ui-bg_highlight-hard_100_eeeeee_1x100.png.xhtml?ln=primefaces-beesoft") 50% 50% repeat-x;
    font-weight:bold;
    color:#666;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{
    color:#303030;
    text-decoration:none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
    border:1px solid #cdd5da;
    background:#f6f6f6 url("/Beesoft/javax.faces.resource/images/ui-bg_highlight-hard_100_f6f6f6_1x100.png.xhtml?ln=primefaces-beesoft") 50% 50% repeat-x;
    font-weight:bold;
    color:#111111;
}
.ui-state-hover a, .ui-state-hover a:hover{
    color:#111111;
    text-decoration:none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    border:1px solid #eeeeee;
    background:#ffffff url("/Beesoft/javax.faces.resource/images/ui-bg_flat_65_ffffff_40x100.png.xhtml?ln=primefaces-beesoft") 50% 50% repeat-x;
    font-weight:bold;
    color:#cc0000;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
    color:#cc0000;
    text-decoration:none;
}
.ui-widget:active{
    outline:none;
}
/* Interaction Cues----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    color:#222222;
    font-weight:bold;
}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{
    color:#222222;
    font-weight:bold;
}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error{
    border:1px solid #cc0000;
    background:#f3d8d8 url("/Beesoft/javax.faces.resource/images/ui-bg_diagonals-thick_75_f3d8d8_40x40.png.xhtml?ln=primefaces-beesoft") 50% 50% repeat;
    color:#2e2e2e;
}
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a{
    color:#2e2e2e;
}
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text{
    color:#2e2e2e;
}
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary{
    font-weight:bold;
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary{
    opacity:.7;
    filter:Alpha(Opacity=70);
    font-weight:normal;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{
    opacity: 0.65;
    filter:Alpha(Opacity=35);
    background-image:none;
}
/* Icons----------------------------------*/
/* states and images */
.ui-icon{
    width:16px;
    height:16px;
    background-image:url("/Beesoft/javax.faces.resource/images/ui-icons_004276_256x240.png.xhtml?ln=primefaces-beesoft");
}
.ui-widget-content .ui-icon{
    background-image:url("/Beesoft/javax.faces.resource/images/ui-icons_004276_256x240.png.xhtml?ln=primefaces-beesoft");
}
.ui-widget-header .ui-icon{
    /*	background-image:url("/Beesoft/javax.faces.resource/images/ui-icons_7f7f7f_256x240.png.xhtml?ln=primefaces-beesoft");*/
    background-image:url("/Beesoft/javax.faces.resource/images/ui-icons_004276_256x240.png.xhtml?ln=primefaces-beesoft");
}
.ui-state-default .ui-icon{
    background-image:url("/Beesoft/javax.faces.resource/images/ui-icons_004276_256x240.png.xhtml?ln=primefaces-beesoft");
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon{
    background-image:url("/Beesoft/javax.faces.resource/images/ui-icons_004276_256x240.png.xhtml?ln=primefaces-beesoft");
}
.ui-state-active .ui-icon{
    background-image:url("/Beesoft/javax.faces.resource/images/ui-icons_004276_256x240.png.xhtml?ln=primefaces-beesoft");
}
.ui-state-highlight .ui-icon{
    background-image:url("/Beesoft/javax.faces.resource/images/ui-icons_004276_256x240.png.xhtml?ln=primefaces-beesoft");
}
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon{
    background-image:url("/Beesoft/javax.faces.resource/images/ui-icons_004276_256x240.png.xhtml?ln=primefaces-beesoft");
}
/* positioning */
.ui-icon-carat-1-n{
    background-position:0 0;
}
.ui-icon-carat-1-ne{
    background-position:-16px 0;
}
.ui-icon-carat-1-e{
    background-position:-32px 0;
}
.ui-icon-carat-1-se{
    background-position:-48px 0;
}
.ui-icon-carat-1-s{
    background-position:-64px 0;
}
.ui-icon-carat-1-sw{
    background-position:-80px 0;
}
.ui-icon-carat-1-w{
    background-position:-96px 0;
}
.ui-icon-carat-1-nw{
    background-position:-112px 0;
}
.ui-icon-carat-2-n-s{
    background-position:-128px 0;
}
.ui-icon-carat-2-e-w{
    background-position:-144px 0;
}
.ui-icon-triangle-1-n{
    background-position:0 -16px;
}
.ui-icon-triangle-1-ne{
    background-position:-16px -16px;
}
.ui-icon-triangle-1-e{
    background-position:-32px -16px;
}
.ui-icon-triangle-1-se{
    background-position:-48px -16px;
}
.ui-icon-triangle-1-s{
    background-position:-64px -16px;
}
.ui-icon-triangle-1-sw{
    background-position:-80px -16px;
}
.ui-icon-triangle-1-w{
    background-position:-96px -16px;
}
.ui-icon-triangle-1-nw{
    background-position:-112px -16px;
}
.ui-icon-triangle-2-n-s{
    background-position:-128px -16px;
}
.ui-icon-triangle-2-e-w{
    background-position:-144px -16px;
}
.ui-icon-arrow-1-n{
    background-position:0 -32px;
}
.ui-icon-arrow-1-ne{
    background-position:-16px -32px;
}
.ui-icon-arrow-1-e{
    background-position:-32px -32px;
}
.ui-icon-arrow-1-se{
    background-position:-48px -32px;
}
.ui-icon-arrow-1-s{
    background-position:-64px -32px;
}
.ui-icon-arrow-1-sw{
    background-position:-80px -32px;
}
.ui-icon-arrow-1-w{
    background-position:-96px -32px;
}
.ui-icon-arrow-1-nw{
    background-position:-112px -32px;
}
.ui-icon-arrow-2-n-s{
    background-position:-128px -32px;
}
.ui-icon-arrow-2-ne-sw{
    background-position:-144px -32px;
}
.ui-icon-arrow-2-e-w{
    background-position:-160px -32px;
}
.ui-icon-arrow-2-se-nw{
    background-position:-176px -32px;
}
.ui-icon-arrowstop-1-n{
    background-position:-192px -32px;
}
.ui-icon-arrowstop-1-e{
    background-position:-208px -32px;
}
.ui-icon-arrowstop-1-s{
    background-position:-224px -32px;
}
.ui-icon-arrowstop-1-w{
    background-position:-240px -32px;
}
.ui-icon-arrowthick-1-n{
    background-position:0 -48px;
}
.ui-icon-arrowthick-1-ne{
    background-position:-16px -48px;
}
.ui-icon-arrowthick-1-e{
    background-position:-32px -48px;
}
.ui-icon-arrowthick-1-se{
    background-position:-48px -48px;
}
.ui-icon-arrowthick-1-s{
    background-position:-64px -48px;
}
.ui-icon-arrowthick-1-sw{
    background-position:-80px -48px;
}
.ui-icon-arrowthick-1-w{
    background-position:-96px -48px;
}
.ui-icon-arrowthick-1-nw{
    background-position:-112px -48px;
}
.ui-icon-arrowthick-2-n-s{
    background-position:-128px -48px;
}
.ui-icon-arrowthick-2-ne-sw{
    background-position:-144px -48px;
}
.ui-icon-arrowthick-2-e-w{
    background-position:-160px -48px;
}
.ui-icon-arrowthick-2-se-nw{
    background-position:-176px -48px;
}
.ui-icon-arrowthickstop-1-n{
    background-position:-192px -48px;
}
.ui-icon-arrowthickstop-1-e{
    background-position:-208px -48px;
}
.ui-icon-arrowthickstop-1-s{
    background-position:-224px -48px;
}
.ui-icon-arrowthickstop-1-w{
    background-position:-240px -48px;
}
.ui-icon-arrowreturnthick-1-w{
    background-position:0 -64px;
}
.ui-icon-arrowreturnthick-1-n{
    background-position:-16px -64px;
}
.ui-icon-arrowreturnthick-1-e{
    background-position:-32px -64px;
}
.ui-icon-arrowreturnthick-1-s{
    background-position:-48px -64px;
}
.ui-icon-arrowreturn-1-w{
    background-position:-64px -64px;
}
.ui-icon-arrowreturn-1-n{
    background-position:-80px -64px;
}
.ui-icon-arrowreturn-1-e{
    background-position:-96px -64px;
}
.ui-icon-arrowreturn-1-s{
    background-position:-112px -64px;
}
.ui-icon-arrowrefresh-1-w{
    background-position:-128px -64px;
}
.ui-icon-arrowrefresh-1-n{
    background-position:-144px -64px;
}
.ui-icon-arrowrefresh-1-e{
    background-position:-160px -64px;
}
.ui-icon-arrowrefresh-1-s{
    background-position:-176px -64px;
}
.ui-icon-arrow-4{
    background-position:0 -80px;
}
.ui-icon-arrow-4-diag{
    background-position:-16px -80px;
}
.ui-icon-extlink{
    background-position:-32px -80px;
}
.ui-icon-newwin{
    background-position:-48px -80px;
}
.ui-icon-refresh{
    background-position:-64px -80px;
}
.ui-icon-shuffle{
    background-position:-80px -80px;
}
.ui-icon-transfer-e-w{
    background-position:-96px -80px;
}
.ui-icon-transferthick-e-w{
    background-position:-112px -80px;
}
.ui-icon-folder-collapsed{
    background-position:0 -96px;
}
.ui-icon-folder-open{
    background-position:-16px -96px;
}
.ui-icon-document{
    background-position:-32px -96px;
}
.ui-icon-document-b{
    background-position:-48px -96px;
}
.ui-icon-note{
    background-position:-64px -96px;
}
.ui-icon-mail-closed{
    background-position:-80px -96px;
}
.ui-icon-mail-open{
    background-position:-96px -96px;
}
.ui-icon-suitcase{
    background-position:-112px -96px;
}
.ui-icon-comment{
    background-position:-128px -96px;
}
.ui-icon-person{
    background-position:-144px -96px;
}
.ui-icon-print{
    background-position:-160px -96px;
}
.ui-icon-trash{
    background-position:-176px -96px;
}
.ui-icon-locked{
    background-position:-192px -96px;
}
.ui-icon-unlocked{
    background-position:-208px -96px;
}
.ui-icon-bookmark{
    background-position:-224px -96px;
}
.ui-icon-tag{
    background-position:-240px -96px;
}
.ui-icon-home{
    background-position:0 -112px;
}
.ui-icon-flag{
    background-position:-16px -112px;
}
.ui-icon-calendar{
    background-position:-32px -112px;
}
.ui-icon-cart{
    background-position:-48px -112px;
}
.ui-icon-pencil{
    background-position:-64px -112px;
}
.ui-icon-clock{
    background-position:-80px -112px;
}
.ui-icon-disk{
    background-position:-96px -112px;
}
.ui-icon-calculator{
    background-position:-112px -112px;
}
.ui-icon-zoomin{
    background-position:-128px -112px;
}
.ui-icon-zoomout{
    background-position:-144px -112px;
}
.ui-icon-search{
    background-position:-160px -112px;
}
.ui-icon-wrench{
    background-position:-176px -112px;
}
.ui-icon-gear{
    background-position:-192px -112px;
}
.ui-icon-heart{
    background-position:-208px -112px;
}
.ui-icon-star{
    background-position:-224px -112px;
}
.ui-icon-link{
    background-position:-240px -112px;
}
.ui-icon-cancel{
    background-position:0 -128px;
}
.ui-icon-plus{
    background-position:-16px -128px;
}
.ui-icon-plusthick{
    background-position:-32px -128px;
}
.ui-icon-minus{
    background-position:-48px -128px;
}
.ui-icon-minusthick{
    background-position:-64px -128px;
}
.ui-icon-close{
    background-position:-80px -128px;
}
.ui-icon-closethick{
    background-position:-96px -128px;
}
.ui-icon-key{
    background-position:-112px -128px;
}
.ui-icon-lightbulb{
    background-position:-128px -128px;
}
.ui-icon-scissors{
    background-position:-144px -128px;
}
.ui-icon-clipboard{
    background-position:-160px -128px;
}
.ui-icon-copy{
    background-position:-176px -128px;
}
.ui-icon-contact{
    background-position:-192px -128px;
}
.ui-icon-image{
    background-position:-208px -128px;
}
.ui-icon-video{
    background-position:-224px -128px;
}
.ui-icon-script{
    background-position:-240px -128px;
}
.ui-icon-alert{
    background-position:0 -144px;
}
.ui-icon-info{
    background-position:-16px -144px;
}
.ui-icon-notice{
    background-position:-32px -144px;
}
.ui-icon-help{
    background-position:-48px -144px;
}
.ui-icon-check{
    background-position:-64px -144px;
}
.ui-icon-bullet{
    background-position:-80px -144px;
}
.ui-icon-radio-off{
    background-position:-96px -144px;
}
.ui-icon-radio-on{
    background-position:-112px -144px;
}
.ui-icon-pin-w{
    background-position:-128px -144px;
}
.ui-icon-pin-s{
    background-position:-144px -144px;
}
.ui-icon-play{
    background-position:0 -160px;
}
.ui-icon-pause{
    background-position:-16px -160px;
}
.ui-icon-seek-next{
    background-position:-32px -160px;
}
.ui-icon-seek-prev{
    background-position:-48px -160px;
}
.ui-icon-seek-end{
    background-position:-64px -160px;
}
.ui-icon-seek-start{
    background-position:-80px -160px;
}
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first{
    background-position:-80px -160px;
}
.ui-icon-stop{
    background-position:-96px -160px;
}
.ui-icon-eject{
    background-position:-112px -160px;
}
.ui-icon-volume-off{
    background-position:-128px -160px;
}
.ui-icon-volume-on{
    background-position:-144px -160px;
}
.ui-icon-power{
    background-position:0 -176px;
}
.ui-icon-signal-diag{
    background-position:-16px -176px;
}
.ui-icon-signal{
    background-position:-32px -176px;
}
.ui-icon-battery-0{
    background-position:-48px -176px;
}
.ui-icon-battery-1{
    background-position:-64px -176px;
}
.ui-icon-battery-2{
    background-position:-80px -176px;
}
.ui-icon-battery-3{
    background-position:-96px -176px;
}
.ui-icon-circle-plus{
    background-position:0 -192px;
}
.ui-icon-circle-minus{
    background-position:-16px -192px;
}
.ui-icon-circle-close{
    background-position:-32px -192px;
}
.ui-icon-circle-triangle-e{
    background-position:-48px -192px;
}
.ui-icon-circle-triangle-s{
    background-position:-64px -192px;
}
.ui-icon-circle-triangle-w{
    background-position:-80px -192px;
}
.ui-icon-circle-triangle-n{
    background-position:-96px -192px;
}
.ui-icon-circle-arrow-e{
    background-position:-112px -192px;
}
.ui-icon-circle-arrow-s{
    background-position:-128px -192px;
}
.ui-icon-circle-arrow-w{
    background-position:-144px -192px;
}
.ui-icon-circle-arrow-n{
    background-position:-160px -192px;
}
.ui-icon-circle-zoomin{
    background-position:-176px -192px;
}
.ui-icon-circle-zoomout{
    background-position:-192px -192px;
}
.ui-icon-circle-check{
    background-position:-208px -192px;
}
.ui-icon-circlesmall-plus{
    background-position:0 -208px;
}
.ui-icon-circlesmall-minus{
    background-position:-16px -208px;
}
.ui-icon-circlesmall-close{
    background-position:-32px -208px;
}
.ui-icon-squaresmall-plus{
    background-position:-48px -208px;
}
.ui-icon-squaresmall-minus{
    background-position:-64px -208px;
}
.ui-icon-squaresmall-close{
    background-position:-80px -208px;
}
.ui-icon-grip-dotted-vertical{
    background-position:0 -224px;
}
.ui-icon-grip-dotted-horizontal{
    background-position:-16px -224px;
}
.ui-icon-grip-solid-vertical{
    background-position:-32px -224px;
}
.ui-icon-grip-solid-horizontal{
    background-position:-48px -224px;
}
.ui-icon-gripsmall-diagonal-se{
    background-position:-64px -224px;
}
.ui-icon-grip-diagonal-se{
    background-position:-80px -224px;
}
/* Misc visuals----------------------------------*/
/* Corner radius */
.ui-corner-tl{
    -moz-border-radius-topleft:6px;
    -webkit-border-top-left-radius:6px;
    border-top-left-radius:6px;
}
.ui-corner-tr{
    -moz-border-radius-topright:6px;
    -webkit-border-top-right-radius:6px;
    border-top-right-radius:6px;
}
.ui-corner-bl{
    -moz-border-radius-bottomleft:6px;
    -webkit-border-bottom-left-radius:6px;
    border-bottom-left-radius:6px;
}
.ui-corner-br{
    -moz-border-radius-bottomright:6px;
    -webkit-border-bottom-right-radius:6px;
    border-bottom-right-radius:6px;
}
.ui-corner-top{
    -moz-border-radius-topleft:6px;
    -webkit-border-top-left-radius:6px;
    border-top-left-radius:6px;
    -moz-border-radius-topright:6px;
    -webkit-border-top-right-radius:6px;
    border-top-right-radius:6px;
}
.ui-corner-bottom{
    -moz-border-radius-bottomleft:6px;
    -webkit-border-bottom-left-radius:6px;
    border-bottom-left-radius:6px;
    -moz-border-radius-bottomright:6px;
    -webkit-border-bottom-right-radius:6px;
    border-bottom-right-radius:6px;
}
.ui-corner-right{
    -moz-border-radius-topright:6px;
    -webkit-border-top-right-radius:6px;
    border-top-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    -webkit-border-bottom-right-radius:6px;
    border-bottom-right-radius:6px;
}
.ui-corner-left{
    -moz-border-radius-topleft:6px;
    -webkit-border-top-left-radius:6px;
    border-top-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    -webkit-border-bottom-left-radius:6px;
    border-bottom-left-radius:6px;
}
.ui-corner-all{
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius: 6px 6px 0px 0px;
}
/* Overlays */
.ui-widget-overlay{
    background:#a6a6a6 url("/Beesoft/javax.faces.resource/images/ui-bg_dots-small_65_a6a6a6_2x2.png.xhtml?ln=primefaces-beesoft") 50% 50% repeat;
    opacity:.40;
    filter:Alpha(Opacity=40);
}
.ui-widget-shadow{
    margin:-8px 0 0 -8px;
    padding:8px;
    background:#333333 url("/Beesoft/javax.faces.resource/images/ui-bg_flat_0_333333_40x100.png.xhtml?ln=primefaces-beesoft") 50% 50% repeat-x;
    opacity:.10;
    filter:Alpha(Opacity=10);
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}
/* PrimeFaces Extensions */
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield{
    background:#ffffff;
    -moz-box-shadow:inset 0 2px 2px #8f8f8f;
    -webkit-box-shadow:inset 0 2px 2px #8f8f8f;
    box-shadow:inset 0 2px 2px #8f8f8f;
    color: #111111;
}
.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus, .ui-widget-header .ui-inputfield.ui-state-focus{
    -moz-box-shadow:0px 0px 5px #cdd5da, inset 0 2px 2px #8f8f8f;
    -webkit-box-shadow:0px 0px 5px #cdd5da, inset 0 2px 2px #8f8f8f;
    box-shadow:0px 0px 5px #cdd5da, inset 0 2px 2px #8f8f8f;
}


/*beesoft EXTENSIONS*/

.ui-tooltip {
    font-style:italic;
    padding:20px !important;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:0;
    -moz-box-shadow:0 5px 5px 5px #8f8f8f;
    -webkit-box-shadow:0 5px 5px 5px #8f8f8f;
    box-shadow:0 5px 10px 0px #8f8f8f;
    background-color:#fff0ef;
    background-image:-webkit-linear-gradient(top, #fff0ef, #ffc9c9);
    background-image:-moz-linear-gradient(top, #fff0ef, #ffc9c9);
    background-image:linear-gradient(to bottom, #fff0ef, #ffc9c9);
}

.ui-selectonemenu-list > .ui-state-highlight{
    background-color:#eeeeee;
}

.ui-panel .ui-panel-titlebar-icon{
    margin-top: 0.2em !important;
}

.ui-selectonemenu-trigger{
    border-left:solid 1px #C00 !important;
    background-image:none !important;
    background-color:#FFFFFF !important;
}

.ui-datatable .ui-sortable-column-icon {
    left: 0 !important;
}

.cds-accordeon-panel > .ui-accordion-content{
    background-color:#cbcbcb;
    background-image:-webkit-linear-gradient(top, #ffffff, #cbcbcb);
    background-image:-moz-linear-gradient(top, #ffffff, #cbcbcb);
    background-image:linear-gradient(to bottom, #ffffff, #cbcbcb);
}
.cds-menu-mainmenu > ul > li li.ui-state-hover > span.ui-icon-triangle-1-e,
.cds-menu-mainmenu > ul > li li > a.ui-state-hover > span.ui-icon-triangle-1-e{
    background-image: url("/Beesoft/javax.faces.resource/images/ui-bg_highlight-hard_100_f6f6f6_1x100.png.xhtml?ln=primefaces-beesoft") !important;
}



.cds-menu-mainmenu > ul > li > a.ui-menuitem-link .ui-icon{
    background-image:url("/Beesoft/javax.faces.resource/images/ui-icons_7f7f7f_256x240.png.xhtml?ln=primefaces-beesoft");
}

.cds-menu-mainmenu > ul > li > a.ui-state-hover .ui-icon, .cds-menu-mainmenu > ul > li > a.ui-state-active .ui-icon{
    background-image:url("/Beesoft/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-beesoft");
}

.ui-datatable .ui-column-filter {
    display: block;
    width: 100px;
    margin: initial!important;
}

.ui-autocomplete-multiple-container.ui-inputfield {
    padding: 0 !important;
    width: 770px !important;
}

.ui-autocomplete > input{
    width: 600px !important;
}

.ui-blockui {
    width: 1100px !important;
    height: 1300px !important;
    display: block !important;
}