<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true" closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Comunicado Externo" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>
    <ui:define name="content">
        <script>
            function PopupCenter(pageURL, title, w, h) {
                var left = (screen.width / 2) - (w / 2);
                var top = (screen.height / 2) - (h / 2);
                var targetWin = window.open(pageURL, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
            }
        </script>
        <h:form id="form1">
            
            <p:panel header="Certificados Pendientes" styleClass="cds-panel-simple panel-form"> 
                <p:messages id="validate" autoUpdate="true"/>
                <p:fieldset  styleClass="ui-widget-content2">

                    <p:commandButton styleClass="button-action" value="Recargar Lista"  action="#{comunicadoExAction.cargarComunicadosSinCertificado()}" style="width: 146px;" update="@form" icon="ui-icon ui-icon-refresh"/>

                    <p:dataTable widgetVar="tbCertificados" emptyMessage="No se han encontrado resultados" var="mail" value="#{comunicadoExAction.faltaCertificados}"
                                 rowKey="#{mail.radicacion}" paginator="true" rows="10" paginatorPosition="bottom" sortBy="fechaCreacion" sortOrder="descending" style="width: 100%" styleClass="fixed-size">
                        <p:column style="width:16px">
                            <p:rowToggler />
                        </p:column>

                        <f:facet name="header">
                            <p:outputPanel style="float:right">
                                <p:commandButton styleClass="button-action" value="Buscar Todos"  action="#{comunicadoExAction.buscarCertificado(true, null)}" style="width: 146px;" update="@form"/>
                            </p:outputPanel>
                        </f:facet>

                        <p:column headerText="Radicación" filterBy="#{mail.radicacion}" filterMatchMode="contains" filterStyle="display:none">
                            <h:outputText value="#{mail.radicacion}"/>
                            <h:outputText value="#{mail.radicacionReenvio}"/>
                        </p:column>

                        <p:column headerText="Destinatarios">
                            <h:outputText value="#{comunicadoExAction.mostrarDestinoTabla(mail)}"/>
                        </p:column>

                        <p:column headerText="Asunto" filterBy="#{mail.asunto}" filterMatchMode="contains" filterStyle="display:none">
                            <h:outputText value="#{mail.asunto}"/>
                        </p:column>

                        <p:column headerText="Fecha" >
                            <h:outputText value="#{comunicadoExAction.formatFechaHora(mail)}"/>
                        </p:column>

                        <p:column headerText="Acción"  style="width:80px" >
                            <p:commandLink action="#{comunicadoExAction.infoCorreo(mail,true)}" update="@form" title="Ver">
                                <p:graphicImage url="#{resource['css/img/mail.png']}"/>
                            </p:commandLink>
                            &#160;
                            <p:commandLink action="#{comunicadoExAction.buscarCertificado(false, mail)}"  title="buscar Certificado">
                                <p:graphicImage url="#{resource['css/img/traza.png']}"/>
                            </p:commandLink>
                            &#160;
                            <p:commandLink action="#{comunicadoExAction.obtenerCertificaciones(mail)}"  update=":formCerti" oncomplete="PF('dlgCertificado').show()" title="Ver Certificado" rendered="#{mail.certificado}">
                                <p:graphicImage url="#{resource['css/img/certificado.png']}"/>
                            </p:commandLink>
                        </p:column>

                        <p:rowExpansion>
                            <p:dataTable id="reenviados" emptyMessage="Este Comunicado no se ha reenviado" var="reenvio" value="#{comunicadoExAction.comunicadosReenviados(mail.radicacion)}"
                                         rowKey="#{reenvio.radicacionReenvio}" >

                                <p:column headerText="Destinatarios">
                                    <h:outputText value="#{comunicadoExAction.listaCadena(reenvio.id)}"/>
                                </p:column>

                            </p:dataTable>

                        </p:rowExpansion>

                    </p:dataTable>
                </p:fieldset>
            </p:panel>
        </h:form>

        <p:dialog widgetVar="dlgCertificado" header="Certificados" modal="true" draggable="false" maximizable="false" resizable="false" closable="true" width="900px" height="300px">
            <h:form id="formCerti">
                <p:panel >
                    <p:panelGrid columns="2" >
                        <p:dataTable id="dtCerti" value="#{comunicadoExAction.certificadoExternos}" var="certi" sortBy="fechaEnvio" >

                            <p:column headerText="Fecha Envio" >  
                                <h:outputText value="#{certi.fechaHoraEnvio}" />  
                            </p:column> 

                            <p:column headerText="Destinatario">  
                                <h:outputText value="#{certi.correoDestino}" />  
                            </p:column> 

                            <p:column headerText="Asunto">  
                                <h:outputText value="#{certi.asunto}" />  
                            </p:column> 

                            <p:column headerText="Fecha Recepcion">  
                                <h:outputText value="#{certi.fechaHoraRecibido}" />  
                            </p:column>

                            <p:column headerText="Accion">
                                <a href="/Beesoft/CertificadoExterno?certificado=#{certi.id}" target="_blank">
                                    <p:graphicImage url="#{resource['css/img/certificado.png']}"/>
                                </a>
                            </p:column>

                        </p:dataTable>
                    </p:panelGrid>

                    <p:commandButton styleClass="button-action" value="Cancelar" oncomplete="PF('dlgCertificado').hide()"/>
                </p:panel>
            </h:form>
        </p:dialog> 
    </ui:define>
</ui:composition>

