<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true" closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="OFICIO" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>
    <ui:define name="content">
        <script>
            $(document).ready(function () {
                $('#form1\\:mensaje').find('iframe').contents().find('body').css({
                    'font-size': '10px',
                    'color': 'blue'
                });
            });
        </script>

        <h:form id="form1">
            <p:panel id="pnl" header="Información del mensaje" styleClass="cds-panel-simple panel-form"> 
                <p:fieldset id="fld"
                            styleClass="ui-widget-content2">
                    <p:notificationBar id="idNtf" position="top" effect="slide" style="background-color: transparent" styleClass="top" widgetVar="ntf">
                        <h:panelGroup id="bottomPanel" style="margin-right:200px;">  
                            <p:messages autoUpdate="true" />  
                        </h:panelGroup>
                    </p:notificationBar>
                    <p:panelGrid id="grid2" columns="1" style="margin-left:50px">

                        <p:commandLink oncomplete="PF('dlgDestino').show();" value="Añadir Persona"/>

                        <p:panelGrid columns="1">
                            <h:outputLabel value="Para*" for="destinos"  styleClass="label-title"  />
                            <p:autoComplete id="destinos" multiple="true"  value="#{comunicadoExAction.destinationsAgregados}" completeMethod="#{comunicadoExAction.completeDestinos}"
                                            var="destino" itemLabel="#{comunicadoExAction.mostrarNombre(destino)}" itemValue="#{destino}" converter="#{actorConverter}" 
                                            forceSelection="true" cache="true" style="width: 320px">
                                <p:column>
                                    <h:outputText value="#{comunicadoExAction.mostrarNombre(destino)}" />
                                </p:column>
                            </p:autoComplete>
                        </p:panelGrid>

                        <p:panelGrid columns="1">
                            <h:outputLabel value="Con Copia"  styleClass="label-title"  />
                            <p:autoComplete id="destinoscopia" multiple="true"  value="#{comunicadoExAction.destinationsAgregadosConCopia}" completeMethod="#{comunicadoExAction.completeDestinosCopia}"
                                            var="destino" itemLabel="#{comunicadoExAction.mostrarNombre(destino)}" itemValue="#{destino}" converter="#{actorConverter}" 
                                            forceSelection="true" cache="true" style="width: 320px">
                                <p:column>
                                    <h:outputText value="#{comunicadoExAction.mostrarNombre(destino)}" />
                                </p:column>
                            </p:autoComplete>
                        </p:panelGrid>

                        <p:panelGrid columns="1">
                            <h:outputLabel value="Asunto*" for="asunto"  styleClass="label-title"  />
                            <p:inputTextarea id="asunto" value="#{comunicadoExAction.asunto}" title="Asunto" cols="120" rows="3" />
                        </p:panelGrid>

                        <p:panelGrid columns="1">
                            <h:outputLabel value="Mensaje*" for="mensaje"  styleClass="label-title"  />
                            <pe:ckEditor id="mensaje" value="#{comunicadoExAction.mensaje}" interfaceColor="#BDBDBD" toolbar="[
                                         [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript','-', 'RemoveFormat' ],
                                         [ 'Styles', 'Format', 'Font', 'FontSize' ],
                                         [ 'TextColor', 'BGColor' ],
                                         [ 'Image', 'Table', 'HorizontalRule', 'SpecialChar', 'PageBreak' ],
                                         [ 'Link', 'Unlink', 'Anchor' ],
                                         [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-','Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter','JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ],
                                         [ 'Find', 'Replace', '-', 'SelectAll', '-', 'SpellChecker', 'Scayt' ],
                                         [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo','Redo' ],
                                         ]" width="850px" height="350px" />  
                        </p:panelGrid>

                        <p:panelGrid columns="3">
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Adjunto" for="adjunto"  styleClass="label-title"  />
                                <p:fileUpload id="adjunto" 
                                              uploadLabel="Cargar" 
                                              cancelLabel="Cancelar" 
                                              label="Seleccionar" 
                                              fileUploadListener="#{comunicadoExAction.handleFileUpload}" 
                                              mode="advanced" 
                                              multiple="false" 
                                              fileLimitMessage="El total de archivo es de 10" 
                                              sizeLimit="18000000" 
                                              fileLimit="10" 
                                              allowTypes="/(\.|\/)(gif|jpe?g|png|txt|doc|docx|xls|xlsx|ppt|pptx|pdf|tif|zip|rar|7z|dwg)$/"
                                              styleClass="ui-widget-header" 
                                              style="width: 470px"
                                              process="@form"
                                              update="tbarchivo"/>
                            </p:panelGrid>
                            &#160;
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Adjunto Cargado" for="adjunto"   styleClass="label-title"  />
                                <p:dataTable id="tbarchivo" emptyMessage=" " value="#{comunicadoExAction.archivosGuardar}" var="archivo"  style="width: 365px" >
                                    <p:column headerText="Nombre archivo">
                                        <p:outputLabel value="#{archivo.nombreArchivo}"/>
                                    </p:column>
                                    <p:column >
                                        <p:commandLink action="#{comunicadoExAction.quitarArchivosGuardar(archivo)}" update="@form">
                                            <p:graphicImage url="#{resource['css/img/delete.png']}"/>
                                        </p:commandLink>
                                    </p:column>
                                </p:dataTable>
                            </p:panelGrid>
                        </p:panelGrid>

                        <p:panelGrid columns="1">
                            <h:outputLabel value="Jefes" for="jefes"   styleClass="label-title"  />
                            <p:selectOneMenu value="#{comunicadoExAction.idJefes}" style="width: 220px"  filter="true" filterMatchMode="contains">
                                <f:selectItem itemLabel="Seleccione"/>
                                <f:selectItems value="#{comunicadoExAction.listaJefes}" var="jefe" itemLabel="#{jefe.nombreYApellido}" itemValue="#{jefe.id}"/>
                            </p:selectOneMenu>
                        </p:panelGrid>
                    </p:panelGrid>

                </p:fieldset>
                <br/>
                <p:commandButton action="#{comunicadoExAction.encolarCorreos()}" update="grid2" oncomplete="ntf.show(),setTimeout('ntf.hide()',5000)" value="#{comunicadoExAction.pantallaJefe?'Enviar':'Guardar'}" style="width:220px;text-align: center !important;"/>
                <p:commandButton action="#{comunicadoExAction.enviarSolicitudAprob()}" update="grid2" oncomplete="ntf.show(),setTimeout('ntf.hide()',5000)" value="Solicitar Aprobacion" rendered="#{comunicadoExAction.mostrarBotonSolAprob()}" style="width:220px;text-align: center !important;"/>
                <p:commandButton action="#{comunicadoExAction.limpiar()}" update="grid2" oncomplete="@form" value="Cancelar" style="width:220px;text-align: center !important;"/>
            </p:panel>
        </h:form>
        <p:dialog header="Destino" widgetVar="dlgDestino" modal="true"  draggable="false" maximizable="false" resizable="false" closable="false"  height="555" width="900" >
            <h:form id="formPersona">
                <p:panel id="pnldestino" header="Crear Personal" styleClass="cds-panel-simple panel-form">
                    <p:messages id="validateDest"/>

                    <p:panelGrid columns="6" style="width:100%;">

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Pais" for="paisDest" styleClass="label-email"/>
                                <p:selectOneMenu id="paisDest" value="#{actorAction.pais}"
                                                 style="width:170px;">
                                    <f:selectItem itemLabel="seleccione" />
                                    <f:selectItems value="#{actorAction.listaPaises.values()}" />
                                    <f:ajax render="deptoDest" listener="#{actorAction.cargarDeptos()}" />
                                </p:selectOneMenu>
                            </p:panelGrid>

                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Departamento" for="deptoDest" styleClass="label-email"/>
                                <p:selectOneMenu id="deptoDest" value="#{actorAction.depto}"
                                                 style="width:170px;">
                                    <f:selectItem itemLabel="seleccione" />
                                    <f:selectItems value="#{actorAction.listaDeptos.values()}" />
                                    <f:ajax render="ciudadDest" listener="#{actorAction.cargarCiudades()}" />
                                </p:selectOneMenu>
                            </p:panelGrid>

                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Ciudad*" for="ciudadDest" styleClass="label-email"/>
                                <p:selectOneMenu id="ciudadDest" value="#{actorAction.ciudadComunicado}"
                                                 style="width:170px;">
                                    <f:selectItem itemLabel="seleccione" />
                                    <f:selectItems value="#{actorAction.listaCiudades.values()}" />
                                </p:selectOneMenu>
                            </p:panelGrid>

                        </div>

                    </p:panelGrid>

                    <p:separator/>

                    <p:panelGrid columns="4" style="width:100%;">

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Selecciona una empresa" for="empresa" styleClass="label-email"/>
                                <p:selectOneMenu id="empresa" value="#{actorAction.empresaComunicado}" filter="true" filterMatchMode="contains"
                                                 rendered="#{!actorAction.showEmails}" style="width:270px;">
                                    <f:selectItem itemLabel="Seleccione" />
                                    <f:selectItems value="#{applicationAction.listaEmpresas}" var="empresa" itemLabel="#{empresa.nombreYApellido}" itemValue="#{empresa.id}"/>
                                </p:selectOneMenu>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1" >
                                <h:outputLabel value="Nombre nueva empresa" for="nombresEmp" styleClass="label-email"/>
                                <p:inputText id="nombresEmp" value="#{actorAction.nombreEmp}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:348px"
                                              title="Nombres"/>
                            </p:panelGrid>

                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Direccion nueva empresa" for="direccionEmp" styleClass="label-email"/>
                                <p:inputText id="direccionEmp" value="#{actorAction.direccionEmp}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:348px" title="Direccion" />
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Nit nueva empresa" for="cedulaEmp" styleClass="label-email"/>
                                <p:inputText id="cedulaEmp" value="#{actorAction.nitEmp}"
                                             style="width:248px;" title="Cedula" onkeydown="return permitirSoloNumeros(this, event);"/>
                            </p:panelGrid>

                        </div>
                    </p:panelGrid>

                    <p:separator/>

                    <p:panelGrid columns="4" style="width:100%;">
                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Nombre del contacto*" for="nombresDest" styleClass="label-email"/>
                                <p:inputText id="nombresDest" value="#{actorAction.nombresComunicado}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:348px" title="Nombres" />
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Cedula/Nit" for="cedulaDest" styleClass="label-email"/>
                                <p:inputText id="cedulaDest" value="#{actorAction.cedulaComunicado}"
                                             style="width:248px;" title="Cedula" onkeydown="return permitirSoloNumeros(this, event);"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Cargo" for="cargoDest" styleClass="label-email"/>
                                <p:inputText id="cargoDest" value="#{actorAction.cargoComunicado}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:348px"/>
                            </p:panelGrid>

                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Email*" for="emailDest" styleClass="label-email"/>
                                <p:inputText id="emailDest" value="#{actorAction.emailComunicado}" style="width:248px;" title="Email" />
                            </p:panelGrid>

                        </div>

                    </p:panelGrid>

                    <p:separator/>

                    <p:commandButton action="#{actorAction.crearActorComunicado()}" value="Crear" process=":formPersona" update=":formPersona"  oncomplete="crear()"/>
                    <p:remoteCommand name="crear" action="#{comunicadoExAction.recargarListas()}" update=":form1:pnl"/>

                    <p:commandButton action="#{actorAction.limpiarComunicado()}" oncomplete="cerrar()" value="Cerrar" update=":formPersona"/>
                    <p:remoteCommand name="cerrar" action="#{comunicadoExAction.recargarListas()}" update=":form1:pnl"  oncomplete="PF('dlgDestino').hide()"/>

                </p:panel>

            </h:form>
        </p:dialog>

    </ui:define>
</ui:composition>

