<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:param name="quitar_cargador" value="true" />

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true" closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Comunicado Externo" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>
    <ui:define name="content">
        <script>
            function PopupCenter(pageURL, title, w, h) {
                var left = (screen.width / 2) - (w / 2);
                var top = (screen.height / 2) - (h / 2);
                var targetWin = window.open(pageURL, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
            }
        </script>
        <h:form id="form1">
            <h:outputText value="#{comunicadoExAction.inboxIn}"/>
            <p:panel header="Bandeja Comunicado Externo" styleClass="cds-panel-simple panel-form"> 
                <p:messages id="validate" autoUpdate="true"/>
                <p:fieldset  styleClass="ui-widget-content2">

                    <p:commandButton value="Redactar"  action="#{comunicadoExAction.redactar()}" style="width: 146px" icon="ui-icon ui-icon-document"/>
                    <p:commandButton value="Recargar"  action="#{comunicadoExAction.refrescarTablaInbox()}" style="width: 146px;float: right;" update="@form" icon="ui-icon ui-icon-refresh"/>
                    
                    <p:tabView activeIndex="#{comunicadoExAction.activeIndex}">
                        <p:ajax id="tabParent" event="tabChange" listener="#{comunicadoExAction.onTabChange}" update="@this"/>
                        <p:tab id="tab1" title="Enviados" >
                            <p:dataTable widgetVar="tbEnviados" emptyMessage="No se han encontrado resultados" var="mail" value="#{comunicadoExAction.listaComunicados}"
                                         rowKey="#{mail.radicacion}" paginator="true" rows="10" paginatorPosition="bottom" sortBy="fechaEnvio" sortOrder="descending" style="width: 100%" styleClass="fixed-size">
                                <p:column style="width:16px" filterValue="#{comunicadoExAction.listaComunicadosFiltered}">
                                    <p:rowToggler />
                                </p:column>

                                <f:facet name="header">
                                    <p:outputPanel style="float:right">
                                        <h:outputText value="Filtrar:" />
                                        <p:inputText id="globalFilter" onkeyup="PF('tbEnviados').filter()" style="width:150px" placeholder=""/>
                                    </p:outputPanel>
                                </f:facet>

                                <p:column headerText="Radicación" filterBy="#{mail.radicacion}" filterMatchMode="contains" filterStyle="display:none" style="width:10%">
                                    <h:outputText value="#{mail.radicacion}"/>
                                </p:column>

                                <p:column headerText="Destinatarios" style="width:35%">
                                    <h:outputText value="#{comunicadoExAction.mostrarDestinoTabla(mail)}"/>
                                </p:column>

                                <p:column headerText="Asunto" filterBy="#{mail.asunto}" filterMatchMode="contains" filterStyle="display:none" style="width:20%">
                                    <h:outputText value="#{mail.asunto}"/>
                                </p:column>

                                <p:column headerText="Fecha" style="width:20%">
                                    <h:outputText value="#{comunicadoExAction.formatFechaHora(mail)}"/>
                                </p:column>

                                <p:column headerText="Acción"  style="width:10%" >
                                    <p:commandLink action="#{comunicadoExAction.infoCorreo(mail,true)}" update="@form" title="Ver" rendered="#{comunicadoExAction.accionEnviar}">
                                        <p:graphicImage url="#{resource['css/img/mail.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoExAction.cargarEmail(mail)}" oncomplete="PF('dlgReenviar').show();" update="@form" title="Reenviar" rendered="#{comunicadoExAction.accionReenviar}">
                                        <p:graphicImage url="#{resource['css/img/reenvio.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoExAction.obtenerCertificaciones(mail)}"  update=":formCerti" oncomplete="PF('dlgCertificado').show()" title="Ver Certificado" rendered="#{mail.certificado}">
                                        <p:graphicImage url="#{resource['css/img/certificado.png']}"/>
                                    </p:commandLink>
                                </p:column>

                                <p:rowExpansion>
                                    <p:dataTable id="reenviados" emptyMessage="Este Comunicado no se ha reenviado" var="reenvio" value="#{comunicadoExAction.comunicadosReenviados(mail.radicacion)}"
                                                 rowKey="#{reenvio.radicacionReenvio}" >

                                        <p:column headerText="Destinatarios">
                                            <h:outputText value="#{comunicadoExAction.listaCadena(reenvio.id)}"/>
                                        </p:column>

                                    </p:dataTable>

                                </p:rowExpansion>

                            </p:dataTable>
                        </p:tab>
                        <p:tab id="tab2" title="Recibidos">
                            <p:dataTable  widgetVar="tbRecibidos" emptyMessage="No se han encontrado resultados" var="mail" value="#{comunicadoExAction.listaComunicados}"
                                          rowKey="#{mail.radicacion}" paginator="true" rows="10" paginatorPosition="bottom" sortBy="fechaEnvio" sortOrder="descending" style="width: 100%" styleClass="fixed-size"
                                          filteredValue="#{comunicadoExAction.listaComunicadosFiltered}">
                                <p:column style="width:16px">
                                    <p:rowToggler />
                                </p:column>

                                <f:facet name="header">
                                    <p:outputPanel style="float:right">
                                        <h:outputText value="Filtrar:" />
                                        <p:inputText id="globalFilter" onkeyup="PF('tbRecibidos').filter()" style="width:150px" placeholder=""/>
                                    </p:outputPanel>
                                </f:facet>

                                <p:column headerText="Radicación" filterBy="#{mail.radicacion}" filterMatchMode="contains" filterStyle="display:none">
                                    <h:outputText value="#{comunicadoExAction.mostrarRadicado(mail)}"/>
                                </p:column>

                                <p:column headerText="Destinatarios">
                                    <h:outputText value="#{comunicadoExAction.mostrarDestinoTabla(mail)}"/>
                                </p:column>

                                <p:column headerText="Asunto" filterBy="#{mail.asunto}" filterMatchMode="contains" filterStyle="display:none">
                                    <h:outputText value="#{mail.asunto}"/>
                                </p:column>

                                <p:column headerText="Fecha" >
                                    <h:outputText value="#{comunicadoExAction.formatFechaHora(mail)}"/>
                                </p:column>

                                <p:column headerText="Acción"  style="width:80px" >
                                    <p:commandLink action="#{comunicadoExAction.infoCorreo(mail,true)}" update="@form" title="Ver" rendered="#{comunicadoExAction.accionEnviar}">
                                        <p:graphicImage url="#{resource['css/img/mail.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoExAction.cargarEmail(mail)}" oncomplete="PF('dlgReenviar').show();" update="@form" title="Reenviar" rendered="#{comunicadoExAction.accionReenviar}">
                                        <p:graphicImage url="#{resource['css/img/reenvio.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoExAction.selectPendientesAprobacion(mail)}"  update="@form" title="Ver Comunicado" rendered="#{!comunicadoExAction.accionEnviar}">
                                        <p:graphicImage url="#{resource['css/img/mail.png']}"/>
                                    </p:commandLink>
                                </p:column>

                                <p:rowExpansion>
                                    <p:dataTable id="reenviados" emptyMessage="Este Comunicado no se ha reenviado" var="reenvio" value="#{comunicadoExAction.comunicadosReenviados(mail.radicacion)}"
                                                 rowKey="#{reenvio.radicacionReenvio}" >

                                        <p:column headerText="Destinatarios">
                                            <h:outputText value="#{comunicadoExAction.listaCadena(reenvio.id)}"/>
                                        </p:column>

                                    </p:dataTable>

                                </p:rowExpansion>

                            </p:dataTable>
                        </p:tab>
                        <p:tab id="tab3" title="Por Aprobar">
                            <p:dataTable  widgetVar="tbAprobar" emptyMessage="No se han encontrado resultados" var="mail" value="#{comunicadoExAction.listaComunicados}"
                                          rowKey="#{mail.radicacion}" paginator="true" rows="10" paginatorPosition="bottom" sortBy="fechaCreacion" sortOrder="descending" style="width: 100%" styleClass="fixed-size" 
                                          filteredValue="#{comunicadoExAction.listaComunicadosFiltered}">

                                <p:column style="width:16px">
                                    <p:rowToggler />
                                </p:column>

                                <f:facet name="header">
                                    <p:outputPanel style="float:right">
                                        <h:outputText value="Filtrar:" />
                                        <p:inputText id="globalFilter" onkeyup="PF('tbAprobar').filter()" style="width:150px" placeholder=""/>
                                    </p:outputPanel>
                                </f:facet>

                                <p:column headerText="Destinatarios">
                                    <h:outputText value="#{comunicadoExAction.mostrarDestinoTabla(mail)}"/>
                                </p:column>

                                <p:column headerText="Asunto" filterBy="#{mail.asunto}" filterMatchMode="contains" filterStyle="display:none">
                                    <h:outputText value="#{mail.asunto}"/>
                                </p:column>

                                <p:column headerText="Fecha" >
                                    <h:outputText value="#{comunicadoExAction.formatFechaHora(mail)}"/>
                                </p:column>

                                <p:column headerText="Acción"  style="width:80px" >
                                    <p:commandLink action="#{comunicadoExAction.infoCorreo(mail,true)}" update="@form" title="Ver" rendered="#{comunicadoExAction.accionEnviar}">
                                        <p:graphicImage url="#{resource['css/img/mail.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoExAction.cargarEmail(mail)}" oncomplete="PF('dlgReenviar').show();" update="@form" title="Reenviar" rendered="#{comunicadoExAction.accionReenviar}">
                                        <p:graphicImage url="#{resource['css/img/reenvio.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoExAction.selectPendientesAprobacion(mail)}"  update="@form" title="Ver Comunicado" rendered="#{!comunicadoExAction.accionEnviar}">
                                        <p:graphicImage url="#{resource['css/img/mail.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoExAction.mostrarTrazabilidad(mail)}" oncomplete="PF('dlgTrazaApr').show();" update=":trazaApr" title="Ver Trazabilidad" rendered="#{comunicadoExAction.trazaVisible}">
                                        <p:graphicImage url="#{resource['css/img/traza.png']}"/>
                                    </p:commandLink>
                                </p:column>

                                <p:rowExpansion>
                                    <p:dataTable id="reenviados" emptyMessage="Este Comunicado no se ha reenviado" var="reenvio" value="#{comunicadoExAction.comunicadosReenviados(mail.radicacion)}"
                                                 rowKey="#{reenvio.radicacionReenvio}" >

                                        <p:column headerText="Destinatarios">
                                            <h:outputText value="#{comunicadoExAction.listaCadena(reenvio.id)}"/>
                                        </p:column>

                                    </p:dataTable>

                                </p:rowExpansion>

                            </p:dataTable>
                        </p:tab>
                        <p:tab id="tab4" title="Generados">
                            <p:dataTable widgetVar="tbGenerados" emptyMessage="No se han encontrado resultados" var="mail" value="#{comunicadoExAction.listaComunicados}"
                                         rowKey="#{mail.radicacion}" paginator="true" rows="10" paginatorPosition="bottom" sortBy="fechaCreacion" sortOrder="descending" style="width: 100%" styleClass="fixed-size"
                                         filteredValue="#{comunicadoExAction.listaComunicadosFiltered}">
                                <p:column style="width:16px">
                                    <p:rowToggler />
                                </p:column>

                                <f:facet name="header">
                                    <p:outputPanel style="float:right">
                                        <h:outputText value="Filtrar:" />
                                        <p:inputText id="globalFilter" onkeyup="PF('tbGenerados').filter()" style="width:150px" placeholder=""/>
                                    </p:outputPanel>
                                </f:facet>

                                <p:column headerText="Radicación" filterBy="#{mail.radicacion}" filterMatchMode="contains" filterStyle="display:none">
                                    <h:outputText value="#{mail.radicacion}"/>
                                </p:column>

                                <p:column headerText="Destinatarios">
                                    <h:outputText value="#{comunicadoExAction.mostrarDestinoTabla(mail)}"/>
                                </p:column>

                                <p:column headerText="Asunto" filterBy="#{mail.asunto}" filterMatchMode="contains" filterStyle="display:none">
                                    <h:outputText value="#{mail.asunto}"/>
                                </p:column>

                                <p:column headerText="Fecha" >
                                    <h:outputText value="#{comunicadoExAction.formatFechaHora(mail)}"/>
                                </p:column>

                                <p:column headerText="Acción"  style="width:80px" >
                                    <p:commandLink action="#{comunicadoExAction.infoCorreo(mail,true)}" update="@form" title="Ver" rendered="#{comunicadoExAction.accionEnviar}">
                                        <p:graphicImage url="#{resource['css/img/mail.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoExAction.mostrarTrazabilidad(mail)}" oncomplete="PF('dlgTrazaGen').show();" update=":trazaGen" title="Ver Trazabilidad" rendered="#{comunicadoExAction.trazaVisible}">
                                        <p:graphicImage url="#{resource['css/img/traza.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoExAction.obtenerCertificaciones(mail)}"  update=":formCerti" oncomplete="PF('dlgCertificado').show()" title="Ver Certificado" rendered="#{mail.certificado}">
                                        <p:graphicImage url="#{resource['css/img/certificado.png']}"/>
                                    </p:commandLink>
                                </p:column>

                                <p:rowExpansion>
                                    <p:dataTable id="reenviados" emptyMessage="Este Comunicado no se ha reenviado" var="reenvio" value="#{comunicadoExAction.comunicadosReenviados(mail.radicacion)}"
                                                 rowKey="#{reenvio.radicacionReenvio}" >

                                        <p:column headerText="Destinatarios">
                                            <h:outputText value="#{comunicadoExAction.listaCadena(reenvio.id)}"/>
                                        </p:column>

                                    </p:dataTable>

                                </p:rowExpansion>

                            </p:dataTable>
                        </p:tab>
                        <p:tab id="tab5" title="Anulados">
                            <p:dataTable widgetVar="tbAnulados" emptyMessage="No se han encontrado resultados" var="mail" value="#{comunicadoExAction.listaComunicados}"
                                         rowKey="#{mail.radicacion}" paginator="true" rows="10" paginatorPosition="bottom" sortBy="fechaCreacion" sortOrder="descending" style="width: 100%" styleClass="fixed-size"
                                         filteredValue="#{comunicadoExAction.listaComunicadosFiltered}">
                                <p:column style="width:16px">
                                    <p:rowToggler />
                                </p:column>

                                <f:facet name="header">
                                    <p:outputPanel style="float:right">
                                        <h:outputText value="Filtrar:" />
                                        <p:inputText id="globalFilter" onkeyup="PF('tbAnulados').filter()" style="width:150px" placeholder=""/>
                                    </p:outputPanel>
                                </f:facet>

                                <p:column headerText="Radicación" filterBy="#{mail.radicacion}" filterMatchMode="contains" filterStyle="display:none">
                                    <h:outputText value="#{mail.radicacion}"/>
                                </p:column>

                                <p:column headerText="Destinatarios">
                                    <h:outputText value="#{comunicadoExAction.mostrarDestinoTabla(mail)}"/>
                                </p:column>

                                <p:column headerText="Asunto" filterBy="#{mail.asunto}" filterMatchMode="contains" filterStyle="display:none">
                                    <h:outputText value="#{mail.asunto}"/>
                                </p:column>

                                <p:column headerText="Fecha" >
                                    <h:outputText value="#{comunicadoExAction.formatFechaHora(mail)}"/>
                                </p:column>

                                <p:column headerText="Acción"  style="width:80px" >
                                    <p:commandLink action="#{comunicadoExAction.infoCorreo(mail,true)}" update="@form" title="Ver" rendered="#{comunicadoExAction.accionEnviar}">
                                        <p:graphicImage url="#{resource['css/img/mail.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoExAction.cargarEmail(mail)}" oncomplete="PF('dlgReenviar').show();" update="@form" title="Reenviar" rendered="#{comunicadoExAction.accionReenviar}">
                                        <p:graphicImage url="#{resource['css/img/reenvio.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoExAction.selectPendientesAprobacion(mail)}"  update="@form" title="Ver Comunicado" rendered="#{!comunicadoExAction.accionEnviar}">
                                        <p:graphicImage url="#{resource['css/img/mail.png']}"/>
                                    </p:commandLink>
                                </p:column>

                                <p:rowExpansion>
                                    <p:dataTable id="reenviados" emptyMessage="Este Comunicado no se ha reenviado" var="reenvio" value="#{comunicadoExAction.comunicadosReenviados(mail.radicacion)}"
                                                 rowKey="#{reenvio.radicacionReenvio}" >

                                        <p:column headerText="Destinatarios">
                                            <h:outputText value="#{comunicadoExAction.listaCadena(reenvio.id)}"/>
                                        </p:column>

                                    </p:dataTable>

                                </p:rowExpansion>

                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                </p:fieldset>
            </p:panel>
        </h:form>


        <p:dialog header="Reenviar" widgetVar="dlgReenviar" modal="true"  draggable="false" maximizable="false" resizable="false" closable="false" height="300" width="500">
            <h:form id="formCuenta">
                <p:panel id="cuentaPn">
                    <p:panelGrid columns="2">
                        <h:outputLabel value="Para*" for="destinos" />
                        <p:autoComplete id="destinos" multiple="true"  value="#{comunicadoExAction.destinationsAgregadosReenvio}" completeMethod="#{comunicadoExAction.completeDestinosReenvio}"
                                        var="destino" itemLabel="#{comunicadoExAction.mostrarNombre(destino)}" itemValue="#{destino}" converter="#{actorConverter}" 
                                        forceSelection="true" cache="true" style="width: 320px">
                            <p:column>
                                <h:outputText value="#{comunicadoExAction.mostrarNombre(destino)}" />
                            </p:column>
                        </p:autoComplete>
                    </p:panelGrid>
                    <p:commandButton value="Reenviar" action="#{comunicadoExAction.reenviar()}" update=":form1:,@form" oncomplete="PF('dlgReenviar').hide();"/>
                    <p:commandButton value="Cancelar" action="#{comunicadoExAction.resetReenvio()}" update="@form" oncomplete="PF('dlgReenviar').hide();" />
                </p:panel>
            </h:form>

        </p:dialog>

        <p:dialog widgetVar="dlgCertificado" header="Certificados" modal="true" draggable="false" maximizable="false" resizable="false" closable="true" width="900px" height="300px">
            <h:form id="formCerti">
                <p:panel >
                    <p:panelGrid columns="2" >
                        <p:dataTable id="dtCerti" value="#{comunicadoExAction.certificadoExternos}" var="certi" sortBy="fechaEnvio" >

                            <p:column headerText="Fecha Envio" >  
                                <h:outputText value="#{certi.fechaHoraEnvio}" />  
                            </p:column> 

                            <p:column headerText="Destinatario">  
                                <h:outputText value="#{certi.correoDestino}" />  
                            </p:column> 

                            <p:column headerText="Asunto">  
                                <h:outputText value="#{certi.asunto}" />  
                            </p:column> 

                            <p:column headerText="Fecha Recepcion">  
                                <h:outputText value="#{certi.fechaHoraRecibido}" />  
                            </p:column>

                            <p:column headerText="Accion">
                                <a href="/Beesoft/CertificadoExterno?certificado=#{certi.id}" target="_blank">
                                    <p:graphicImage url="#{resource['css/img/certificado.png']}"/>
                                </a>
                            </p:column>

                        </p:dataTable>
                    </p:panelGrid>

                    <p:commandButton value="Cancelar" oncomplete="PF('dlgCertificado').hide()"/>
                </p:panel>
            </h:form>
        </p:dialog> 

        <p:dialog header="Trazabilidad" widgetVar="dlgTrazaApr" modal="true"  draggable="false" maximizable="false" resizable="false" closable="true" height="200" width="400">
            <h:form id="trazaApr">
                <p:panelGrid columns="2">
                    <h:outputLabel value="Radicacion"/>
                    <h:outputText value="#{comunicadoExAction.radicacionTraza}"/>
                    <h:outputLabel value="Redacto"/>
                    <h:outputText value="#{comunicadoExAction.redacto}"/>
                    <h:outputLabel value="Visto Bueno"/>
                    <h:outputText value="#{comunicadoExAction.reviso}"/>
                </p:panelGrid>
            </h:form>
        </p:dialog>
        <p:dialog header="Trazabilidad" widgetVar="dlgTrazaGen" modal="true"  draggable="false" maximizable="false" resizable="false" closable="true" height="200" width="400">
            <h:form id="trazaGen">
                <p:panelGrid columns="2">
                    <h:outputLabel value="Radicacion"/>
                    <h:outputText value="#{comunicadoExAction.radicacionTraza}"/>
                    <h:outputLabel value="Redacto"/>
                    <h:outputText value="#{comunicadoExAction.redacto}"/>
                    <h:outputLabel value="Visto Bueno"/>
                    <h:outputText value="#{comunicadoExAction.reviso}"/>
                    <h:outputLabel value="Aprobar Envío"/>
                    <h:outputText value="#{comunicadoAction.envio}"/>
                </p:panelGrid>
            </h:form>
        </p:dialog>

    </ui:define>
</ui:composition>

