<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true" closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Comunicados Externos" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>
    <ui:define name="content">
        <h:form id="form1">
            <p:panel header="Mensajes enviados" styleClass="cds-panel-simple panel-form"> 
                <p:fieldset  styleClass="ui-widget-content2">
                    <p:panelGrid id="grid2" columns="2" style="width:25%" styleClass="cds-4cols">  
                        <h:outputLabel value="Radicado" for="radicado" />
                        <p:inputText id="radicado" value="#{comunicadoExAction.radicacionConsulta}" style="width: 220px" />

                        <h:outputLabel value="Fecha inicial" for="fechaIni" />
                        <p:calendar locale="es" value="#{comunicadoExAction.fechaIni}"
                                    pattern="MM/dd/yyyy" style="width:220px;"
                                    id="fechaIni" styleClass="cds-custom-calendar input-special"
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Fecha final" for="fechaFin" />
                        <p:calendar locale="es" value="#{comunicadoExAction.fechaFin}" style="width:220px;"
                                    id="fechaFin" pattern="MM/dd/yyyy" 
                                    styleClass="cds-custom-calendar input-special" 
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Destinatario" for="dest" />
                        <p:autoComplete id="destinos" multiple="true"  value="#{comunicadoExAction.destinationsAgregadosBusqueda}" completeMethod="#{comunicadoExAction.completeDestinosBusqueda}"
                                        var="destino" itemLabel="#{comunicadoExAction.mostrarNombre(destino)}" itemValue="#{destino}" converter="#{actorConverter}" 
                                        forceSelection="true" cache="true" style="width: 320px">
                            <p:column>
                                <h:outputText value="#{comunicadoExAction.mostrarNombre(destino)}" />
                            </p:column>
                        </p:autoComplete>
                        <h:outputLabel value="Asunto" for="asunto" />
                        <p:inputText id="asunto" value="#{comunicadoExAction.asuntoBusqueda}" title="Asunto" />
                    </p:panelGrid>
                    <br/><br/>
                    <p:commandButton styleClass="button-action" action="#{comunicadoExAction.correosEnviados()}"  value="Buscar" update="enviados" />
                    <p:commandButton styleClass="button-action" action="#{comunicadoExAction.resetBusqueda()}"  value="Limpiar" update="@form" />

                    <br/><br/>
                    <p:dataTable id="enviados" emptyMessage="No se han encontrado resultados" var="mail" value="#{comunicadoExAction.correos}"
                                 rowKey="#{mail.radicacion}" paginator="true" rows="10" paginatorPosition="bottom" sortBy="fechaEnvio" sortOrder="descending">

                        <p:column headerText="Radicación">
                            <h:outputText value="#{mail.radicacion}"/>
                        </p:column>

                        <p:column headerText="Destinatarios">
                            <h:outputText value="#{comunicadoExAction.mostrarDestinoTabla(mail)}"/>
                        </p:column>
                        
                        <p:column headerText="Fecha Envio">
                            <h:outputText value="#{comunicadoExAction.formatFechaHora(mail)}"/>
                        </p:column>

                        <p:column headerText="Asunto">
                            <h:outputText value="#{mail.asunto}"/>
                        </p:column>

                        <p:column headerText="Acción"  style="width:80px">
                            <p:commandLink action="#{comunicadoExAction.infoCorreo(mail,false)}" update="@form" title="Ver" disabled="#{!comunicadoExAction.showButtons(mail)}">
                                <p:graphicImage url="#{resource['css/img/mail.png']}"/>
                            </p:commandLink>
                        </p:column>

                    </p:dataTable>

                </p:fieldset>
            </p:panel>
        </h:form>

    </ui:define>
</ui:composition>

