<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <script type="text/javascript" src="#{resource['js/html2canvas.js']}"></script>
        <script type="text/javascript" src="#{resource['js/FileSaver.js']}"></script>
        <script type="text/javascript" src="#{resource['js/canvas-toBlob.js']}"></script>
        <script>
            //<![CDATA[
            $(function () {
                $("#btn").click(function (e) {
                    e.preventDefault();
                    html2canvas($("#widget"), {
                        onrendered: function (canvas) {
                            canvas.toBlob(function (blob) {
                                saveAs(blob, "reporte.png");
                            });
                        }
                    });
                });
            });

            $(function () {
                setTimeout(function () {
                    $('.imageToReload').prop('src', $('.imageToReload').prop('src') + '?' + Math.random());
                });
            });

            //]]>

        </script>

        <style>
             .contenido-mensaje td{
                width: 150px !important;
            }

            .contenido-mensaje table{
                width: 610px !important;
                border: 1px #000 solid !important;
                border-color: #000 !important;
            }


            .ui-panelgrid .ui-widget-content .contenido-mensaje table tr td{
                width: 610px !important;
                border: 0.5px #000 solid !important;
                border-color: #000 !important;
            }

            .contenido-mensaje {
                margin: 0cm 4cm 0pt !important;
                text-align: justify !important;
                font-size: 12pt;
            }

        </style>

        <h:form id="form1">
            <div id="widget">
                <p:panel  styleClass="cds-panel-letter panel-form con-borde" > 

                    <p:panelGrid id="grid1" columns="2" style="width:130%" >
                        <h1 style="text-align: center">OFICIO #{comunicadoExAction.radicacionShow}</h1>

                        <p:panel style="width:130px;background-color:transparent;">
                            <p:graphicImage url="#{resource['css/img/logoEdeq.png']}" style="border: 4px;margin-top: 113px;height: 150px" />
                            <br/><br/>
                            <h:outputText value="PROCESO GESTIÓN DOCUMENTAL"/>
                        </p:panel>
                    </p:panelGrid>
                    <br/><br/>
                    <p:panelGrid id="grid0" columns="1" style="width:50%;margin-left: 151px;margin-right: 76px;" >
                        <h:outputLabel value="Armenia, #{comunicadoExAction.fechaShow}" styleClass="label-email"/>
                    </p:panelGrid>
                    <br/>
                    <p:panelGrid id="grid2" columns="2" style="width:60%;margin-left: 151px;margin-right: 76px;" >
                        <h:outputLabel value="De" for="from" styleClass="label-email"/>
                        <h:outputText id="from" value="#{comunicadoExAction.from}" title="From" styleClass="campo-email" />
                        <h:outputLabel value="Para" for="destinos" styleClass="label-email"/>
                        <h:outputText id="destinos" value="#{comunicadoExAction.listaDestinosText}" title="From" styleClass="campo-email" />

                        <h:outputLabel value="Asunto" for="asunto" styleClass="label-email"/>
                        <h:outputText id="asunto" value="#{comunicadoExAction.asuntoShow}" title="Asunto" styleClass="campo-email"/>
                    </p:panelGrid>
                    <br/>
                    <p:panelGrid id="grid3" columns="1" style="width:60%;margin-left: 151px;margin-right: 76px;">
                        <div>
                            <h:outputText escape="false" class="contenido-mensaje" value="#{comunicadoExAction.mensajeShow}" />
                        </div>
                    </p:panelGrid>

                    <br/><br/><br/><br/>
                    <p:panelGrid id="saludo" columns="1" style="margin-left: 151px;line-height: 40%">
                        <h:outputLabel value="Cordialmente," for="cord" styleClass="label-email"/>
                        <br/>
                        <p:graphicImage url="#{resource[comunicadoExAction.graphicText]}" rendered="#{comunicadoExAction.graphicText!=''}"  style="width: 300px;height:60%" />
                        <h:outputText id="cord" value="#{comunicadoExAction.textoFirma(comunicadoExAction.from.nombreYApellido)}"  styleClass="campo-email" />
                        <h:outputText value="#{comunicadoExAction.textoFirma(comunicadoExAction.from.cargo)}" styleClass="campo-email"/>
                        <h:outputText value="#{comunicadoExAction.textoFirma(comunicadoExAction.from.oficina.descripcion)}" styleClass="campo-email"/>
                        <p:separator/>
                        e-mail: #{comunicadoExAction.from.email}
                        <h:outputText value="Telefono: #{comunicadoExAction.from.telefono} ext.#{comunicadoExAction.from.telefonoExt}"/>
                    </p:panelGrid>
                    <br/><br/>
                    <p:panelGrid columns="2" style="margin-left: 151px;margin-right: 76px;">
                        <h:outputLabel value="Copia: " for="copia" style="font-family: arial;font-size: 8pt;" rendered="#{comunicadoExAction.listaDestinosCopiaText!=''}"/>
                        <h:outputText id="copia" value="#{comunicadoExAction.textoFirma(comunicadoExAction.listaDestinosCopiaText)}" title="Con Copia" style="font-family: arial;font-size: 8pt;" rendered="#{comunicadoExAction.listaDestinosCopiaText!=''}"/>
                    </p:panelGrid>
                    <br/>
                    <p:panelGrid columns="1" >
                        <h:outputLabel value="Visto Bueno: " for="vb"  style="margin-left: 151px;margin-right: 76px;" rendered="#{comunicadoExAction.vistoBuenoShow!=''}"/>
                        <h:outputText id="vb" value="#{comunicadoExAction.vistoBuenoShow}" style="font-family: arial;font-size: 8pt;margin-left: 151px;margin-right: 76px;" rendered="#{comunicadoExAction.vistoBuenoShow!=''}"/>
                    </p:panelGrid>   
                    <br/>
                    <p:panelGrid columns="1" rendered="#{comunicadoExAction.isComentario}" style="margin-left: 151px;margin-right: 76px;">
                        <p:outputLabel value="Comentario de reenvio:" style="font-family: arial;font-size: 8pt;margin-left: 151px;margin-right: 76px;"/>
                        <h:outputText value="#{comunicadoExAction.comentarioShow}"/>
                    </p:panelGrid>

                    <br/><br/>
                    <div style="margin-left: 151px;margin-right: 76px;">
                        <p:panelGrid columns="1" rendered="#{comunicadoExAction.files.size()>0}">
                            <h:outputText  value="Click para ver adjuntos:"  style="font-family: arial;font-size: 8pt;"/>
                            <ui:repeat value="#{comunicadoExAction.files}" var="archivo">
                                <a href="/Beesoft/AdjuntosExternosServidor?idAdjunto=#{archivo.id}" target="_blank" style="font-family: arial;font-size: 8pt;">#{archivo.nombreArchivo}</a> <br/>
                            </ui:repeat>
                        </p:panelGrid>
                    </div>
                    <br/>
                    <p:panelGrid columns="1" style="margin-left: 151px;margin-bottom: 113px;margin-right: 76px;">
                        <h:outputLabel value="Comentario:" for="comment" rendered="#{comunicadoExAction.comunicadoAnulado}"/>
                        <h:outputText id="comment" value="#{comunicadoExAction.comentarioAnulado}" style="width:220px" rendered="#{comunicadoExAction.comunicadoAnulado}"/>
                    </p:panelGrid>
                </p:panel>
            </div>
            <a href="#" id="btn"><img src="#{resource['css/img/save-image.png']}"/></a>
            &#160;
            <a href="http://#{comunicadoExAction.urlServer}:8080/Beesoft/html/mail/CorreoImagen.xhtml" target="blank" ><img src="#{resource['css/img/imprimir.png']}"/></a>
            &#160;
            <p:commandLink action="#{comunicadoExAction.volver}" title="Volver" style="left:1000px">
                <p:graphicImage url="#{resource['css/img/exit.png']}"/>
            </p:commandLink>
            &#160;
            <p:commandLink onclick="PF('dlgReenviar').show();" disabled="#{comunicadoExAction.boton}"  update="@form" title="Reenviar" rendered="#{comunicadoExAction.reenvio}">
                <p:graphicImage url="#{resource['css/img/reenvio.png']}"/>
            </p:commandLink>
        </h:form>
        <p:dialog header="Reenviar" widgetVar="dlgReenviar" modal="true"  draggable="false" maximizable="false" resizable="false" closable="false" height="300" width="530">
            <h:form id="formCuenta">
                <p:panel id="cuentaPn">
                    <p:panelGrid columns="2">
                        <h:outputLabel value="Para*" for="destinos" />
                        <p:autoComplete id="destinos" multiple="true"  value="#{comunicadoExAction.destinationsAgregadosReenvio}" completeMethod="#{comunicadoExAction.completeDestinosReenvio}"
                                        var="destino" itemLabel="#{comunicadoExAction.mostrarNombre(destino)}" itemValue="#{destino}" converter="#{actorConverter}" 
                                        forceSelection="true" cache="true" style="width: 320px">
                            <p:column>
                                <h:outputText value="#{comunicadoExAction.mostrarNombre(destino)}" />
                            </p:column>
                        </p:autoComplete>

                        <h:outputLabel value="Comentario" for="comentario" />
                        <p:inputTextarea id="comentario" value="#{comunicadoExAction.comentario}" rows="6" cols="50"/>
                    </p:panelGrid>
                    <br/>
                    <p:commandButton styleClass="button-action" value="Reenviar" action="#{comunicadoExAction.reenviar()}"  update=":form1:,@form" oncomplete="PF('dlgReenviar').hide();"/>
                    <p:commandButton styleClass="button-action" value="Cancelar" action="#{comunicadoExAction.resetReenvio()}" update="@form" oncomplete="PF('dlgReenviar').hide();" />
                </p:panel>
            </h:form>

        </p:dialog>
    </ui:define>
</ui:composition>

