<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

    <h:head>
        <link rel="shortcut icon"  href="#{resources['css/img/favicon.ico']}" type="image/x-icon"/>
        <link rel="icon" href="#{resources['css/img/favicon.ico']}" type="image/x-icon"/>
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>Beesoft</title>
        </f:facet>

        <h:outputStylesheet name="css/form.css"/>
        <h:outputStylesheet name="css/menu.css"/>
        <h:outputStylesheet name="css/panel.css"/>
        <h:outputStylesheet name="css/particular.css"/>
        <h:outputStylesheet name="css/table.css"/>
        <h:outputStylesheet name="css/widget.css"/>
        <h:outputStylesheet name="css/general.css"/>
        <ui:insert name="head"></ui:insert>
    </h:head>


    <body >

        <script type="text/javascript" src="#{resource['js/html2canvas.js']}"></script>
        <script type="text/javascript" src="#{resource['js/FileSaver.js']}"></script>
        <script type="text/javascript" src="#{resource['js/canvas-toBlob.js']}"></script>
        
         <script>
            //<![CDATA[
            $(function () {
                $("#btn").click(function (e) {
                    e.preventDefault();
                    html2canvas($("#widget"), {
                        onrendered: function (canvas) {
                            canvas.toBlob(function (blob) {
                                saveAs(blob, "reporte.png");
                            });
                        }
                    });
                });
            });

            $(function () {
                setTimeout(function () {
                    $('.imageToReload').prop('src', $('.imageToReload').prop('src') + '?' + Math.random());
                    window.print();
                });
            });

            //]]>
        </script>


        <h:form id="form1">
            <div id="widget">
                <p:panel  styleClass="cds-panel-letter panel-form con-borde" > 

                    <p:panelGrid id="grid1" columns="2" style="width:130%" >
                        <h1 style="text-align: center">OFICIO #{comunicadoExAction.radicacionShow}</h1>

                        <p:panel style="width:130px;background-color:transparent;">
                            <p:graphicImage url="#{resource['css/img/logoEdeq.png']}" style="border: 4px;margin-top: 19px;height: 150px" />
                            <br/><br/>
                            <h:outputText value="PROCESO GESTIÓN DOCUMENTAL"/>
                        </p:panel>
                    </p:panelGrid>
                    <br/><br/>
                    <p:panelGrid id="grid0" columns="1" style="width:100%;margin-left: 19px;margin-right: 19px;" >
                        <h:outputLabel value="Armenia, #{comunicadoExAction.fechaShow}" styleClass="label-email"/>
                    </p:panelGrid>
                    <br/>
                    <p:panelGrid id="grid2" columns="2" style="width:100%;margin-left: 19px;margin-right: 19px;" >
                        <h:outputLabel value="De" for="from" styleClass="label-email"/>
                        <h:outputText id="from" value="#{comunicadoExAction.from}" title="From" styleClass="campo-email" />
                        <h:outputLabel value="Para" for="destinos" styleClass="label-email"/>
                        <h:outputText id="destinos" value="#{comunicadoExAction.listaDestinosText}" title="From" styleClass="campo-email" />

                        <h:outputLabel value="Asunto" for="asunto" styleClass="label-email"/>
                        <h:outputText id="asunto" value="#{comunicadoExAction.asuntoShow}" title="Asunto" styleClass="campo-email"/>
                    </p:panelGrid>
                    <br/>
                    <p:panelGrid id="grid3" columns="1" style="width:95%;margin-left: 19px;margin-right: 19px;">
                        <div>
                            <h:outputText escape="false" class="contenido-mensaje" value="#{comunicadoExAction.mensajeShow}" />
                        </div>
                    </p:panelGrid>

                    <br/><br/><br/><br/>
                    <p:panelGrid id="saludo" columns="1" style="margin-left: 19px;">
                        <h:outputLabel value="Cordialmente," for="cord" styleClass="label-email"/>
                        <br/>
                        <p:graphicImage url="#{resource[comunicadoExAction.graphicText]}" rendered="#{comunicadoExAction.graphicText!=''}"  />
                        <h:outputText id="cord" value="#{comunicadoExAction.from.nombreYApellido}"  styleClass="campo-email" />
                        <h:outputText value="#{comunicadoExAction.from.cargo}" styleClass="campo-email"/>
                    </p:panelGrid>
                    <br/><br/>
                    <p:panelGrid columns="1" style="margin-left: 19px;">
                        <h:outputLabel value="Copia" for="copia" styleClass="label-email" rendered="#{comunicadoExAction.listaDestinosCopiaText!=''}"/>
                        <h:outputText id="copia" value="#{comunicadoExAction.listaDestinosCopiaText}" title="Con Copia" style="font-family: arial;font-size: 14px;" rendered="#{comunicadoExAction.listaDestinosCopiaText!=''}"/>
                    </p:panelGrid>
                    <br/>
                    <p:panelGrid columns="2" rendered="#{comunicadoExAction.isComentario}" style="margin-left: 19px;">
                        <p:outputLabel value="Comentario de reenvio:" styleClass="label-email"/>
                        <h:outputText value="#{comunicadoExAction.comentarioShow}"/>
                    </p:panelGrid>
                    <br/><br/>
                    <div style="margin-left: 19px;">
                        <h:outputText  value="Click para ver adjuntos:" rendered="#{comunicadoExAction.files.size()>0}"/>
                        <ui:repeat value="#{comunicadoExAction.files}" var="archivo">
                            <a href="/Beesoft/AdjuntosServidor?idAdjunto=#{archivo.id}" target="_blank">#{archivo.nombreArchivo}</a> <br/>
                        </ui:repeat>
                    </div>
                    <br/>
                    <p:panelGrid columns="2" style="margin-left: 19px;">
                        <h:outputLabel value="Comentario" for="comment" rendered="#{comunicadoExAction.comunicadoAnulado}"/>
                        <h:outputText id="comment" value="#{comunicadoExAction.comentarioAnulado}" style="width:220px" rendered="#{comunicadoExAction.comunicadoAnulado}"/>
                    </p:panelGrid>
                </p:panel>
            </div>
        </h:form>

    </body>
</html>

