<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:param name="quitar_cargador" value="true" />

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true" closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Comunicados Externos" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>
    <ui:define name="content">
        <h:form id="form1">
            <p:panel header="Mensajes enviados" styleClass="cds-panel-simple panel-form"> 
                <p:fieldset  styleClass="ui-widget-content2">
                    <p:messages id="validate" autoUpdate="true"/>
                    <p:panelGrid id="grid2" columns="2" style="width:48%" styleClass="cds-4cols">  
                        <h:outputLabel value="Fecha inicial" for="fechaIni" />
                        <p:calendar locale="es" value="#{comunicadoExAction.fechaIniAll}"
                                    pattern="MM/dd/yyyy" style="width:220px;"
                                    id="fechaIni" styleClass="cds-custom-calendar input-special"
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Fecha final" for="fechaFin" />
                        <p:calendar locale="es" value="#{comunicadoExAction.fechaFinAll}" style="width:220px;"
                                    id="fechaFin" pattern="MM/dd/yyyy" 
                                    styleClass="cds-custom-calendar input-special" 
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Estado" for="estado" />
                        <p:selectOneMenu id="estado" value="#{comunicadoExAction.estadoReporte}" style="width: 220px">
                            <f:selectItem itemLabel="Seleccione"/>
                            <f:selectItems value="#{comunicadoExAction.estadosList}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <br/><br/>
                    <p:commandButton action="#{comunicadoExAction.buscarComunicadosAll()}"  value="Buscar" update="@form" />
                    <p:commandButton action="#{comunicadoExAction.resetBusqueda()}"  value="Limpiar" update="@form" />

                    <br/><br/>
                    <p:dataTable id="enviados" emptyMessage="No se han encontrado resultados" var="mail" value="#{comunicadoExAction.comunicadosAll}"
                                 rowKey="#{mail.radicacion}" paginator="true" rows="10" paginatorPosition="bottom" sortBy="radicacion">

                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="Radicacion"/>
                            </f:facet>
                            <h:outputText value="#{mail.radicacion} (#{mail.tipoComunicado})"/>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Redacto"/>
                            </f:facet>
                            <h:outputText value="#{mail.responsable}"/>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Aprobo"/>
                            </f:facet>
                            <h:outputText value="#{mail.emisor}"/>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Fecha Creacion"/>
                            </f:facet>
                            <h:outputText value="#{comunicadoExAction.formatoFecha(mail.fechaCreacion)}"/>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Fecha Envio"/>
                            </f:facet>
                            <h:outputText value="#{comunicadoExAction.formatoFecha(mail.fechaEnvio)}"/>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Estado"/>
                            </f:facet>
                            <h:outputText value="#{mail.estado}"/>
                        </p:column>

                    </p:dataTable>

                    <h:commandLink>
                        <p:graphicImage url="#{resource['css/img/excel.png']}"/>
                        <p:dataExporter type="xls" target=":form1:enviados" fileName="Comunicados" />
                    </h:commandLink>
                </p:fieldset>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>

