<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Personal" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">

        <h:form id="form1">
            <p:panel header="Grupos" styleClass="cds-panel-simple panel-form">
                <div align="center">
                    <h3 class="title-new">Gestionar Grupos</h3>
                </div>
                <p:messages id="validate" autoUpdate="true"/>
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:panelGrid columns="4" style="width: 80%">
                        <h:outputLabel value="Nombre Grupo" />
                        <p:inputText  value="#{grupoAction.nombreGrupo}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;" />

                        <h:outputLabel value="Revisores" for="rev"  styleClass="label-title"  />
                        <p:autoComplete id="rev" multiple="true"  value="#{grupoAction.revisoresGrupo}" completeMethod="#{grupoAction.completeAsistentes}"
                                        var="revisor" itemLabel="#{revisor.nombreYApellido}" itemValue="#{revisor}" converter="#{actorConverter}" 
                                        forceSelection="true" cache="true" style="width: 320px">
                            <p:column>
                                <h:outputText value="#{revisor.nombreYApellido}" />
                            </p:column>
                        </p:autoComplete>

                        <p:commandButton styleClass="button-action" value="Crear" action="#{grupoAction.crearGrupo()}" update="@form"/>    

                    </p:panelGrid>
                    <br/>
                    <p:dataTable id="tablaGrupos" emptyMessage="No se han encontrado resultados" var="grupo" rowKey="#{grupo.nombreGrupo}" sortBy="nombreGrupo" value="#{grupoAction.grupos}" paginator="true" rows="10" paginatorPosition="bottom">  

                        <p:column style="width:16px">
                            <p:rowToggler />
                        </p:column>

                        <p:column headerText="Nombre Grupo">  
                            <h:outputText value="#{grupo.nombreGrupo}" />  
                        </p:column>  

                        <p:column headerText="Acción">
                            <p:commandLink id="ver" title="Ver" action="#{grupoAction.seleccionarGrupo(grupo)}" oncomplete="PF('dlgIntegrantes').show();" update=":formGrupo">
                                <p:graphicImage url="#{resource['css/img/ver.png']}"/>
                            </p:commandLink>
                        </p:column>

                        <p:rowExpansion>
                            <p:dataTable id="revisores" emptyMessage="Este grupo no tiene revisores" var="rev" value="#{grupoAction.listarRevisores(grupo.id)}"
                                         rowKey="#{rev.nombreYApellido}" >

                                <p:column headerText="Nombre">
                                    <h:outputText value="#{rev.nombreYApellido}"/>
                                </p:column>

                            </p:dataTable>

                        </p:rowExpansion>

                    </p:dataTable>
                </p:fieldset>

            </p:panel>

        </h:form>

        <p:dialog header="Cambiar Integrantes Grupo" widgetVar="dlgIntegrantes" modal="true"  draggable="false" maximizable="false" resizable="false" closable="false" height="400" width="570">
            <h:form id="formGrupo">
                <p:panel id="grupoPn">
                    <p:panelGrid columns="1">
                        <h:outputLabel value="Nombre grupo" for="grupo"  styleClass="label-title"  />
                        <p:inputText value="#{grupoAction.nombreEditar}" onblur="value = value.toUpperCase()" style="text-transform: uppercase"/>

                        <br/>
                        <h:outputLabel value="Revisores" for="int"  styleClass="label-title"  />
                        <p:autoComplete id="int" multiple="true"  value="#{grupoAction.listaIntegrantes}" completeMethod="#{grupoAction.completeAsistentes}"
                                        var="revisor" itemLabel="#{revisor.nombreYApellido}" itemValue="#{revisor}" converter="#{actorConverter}"
                                        forceSelection="true" cache="true" style="width: 320px">
                            <p:column>
                                <h:outputText value="#{revisor.nombreYApellido}" />
                            </p:column>
                        </p:autoComplete>
                    </p:panelGrid>
                    <br/>
                    <p:commandButton styleClass="button-action" value="Guardar" action="#{grupoAction.editarGrupo()}"  update=":form1:,@form" oncomplete="PF('dlgIntegrantes').hide();"/>
                    <p:commandButton styleClass="button-action" value="Cancelar" update="@form" oncomplete="PF('dlgIntegrantes').hide();" />
                </p:panel>

            </h:form>

        </p:dialog>

    </ui:define>
</ui:composition>
