<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">


    <ui:define name="content">
        <h:form id="form1">
            <h:outputText value="#{oficinaAction.crear}"/>
            <p:panel header="Configuracion" styleClass="cds-panel-simple panel-form">
                <div align="center">
                    <h3 class="title-new">Configuracion de Correo</h3>
                </div>
                <p:messages id="validate"/>
                <p:fieldset 
                    styleClass="ui-widget-content2">

                    <div class="row">
                        <div class="col-sm-3">
                            <h:outputLabel value="Host*" for="host" />
                            <p:inputText id="host" value="#{utilidadAction.host}" style="width:220px"
                                         title="host" disabled="true"/>
                        </div>
                        <div class="col-sm-3">
                            <h:outputLabel value="Correo Emisor*" for="email" />
                            <p:inputText id="email" value="#{utilidadAction.emailEmisor}" style="width:220px"
                                         title="Correo emisor" disabled="true"/>
                        </div>
                        <div class="col-sm-3">
                            <h:outputLabel value="Start TLS*" for="host" />
                            <p:inputText id="stls" value="#{utilidadAction.starttls}" style="width:220px"
                                         title="stls" disabled="true"/>
                        </div>
                        <div class="col-sm-3">
                            <h:outputLabel value="Autenticacion*" for="auth" />
                            <p:inputText id="auth" value="#{utilidadAction.authetication}" style="width:220px"
                                         title="host" disabled="true"/>
                        </div>
                        <div class="col-sm-3">
                            <h:outputLabel value="Puerto*" for="port" />
                            <p:inputText id="port" value="#{utilidadAction.puerto}" style="width:220px"
                                         title="port" disabled="true"/>
                        </div>
                    </div>

                    <br/>
                    <div class="row">

                        <p:commandButton styleClass="button-action center-block" oncomplete="PF('dlgCorreo').show()" value="Editar Correo" update="@form" />
                    </div>
                    <br/>
                    <div align="center">
                        <h3 class="title-new">Configuracion de Letras</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h:outputLabel value="Letra*" for="letra" />
                            <p:inputText id="letra" value="#{utilidadAction.letra}" style="width:220px"
                                         title="letra" />
                        </div>

                        <div class="col-sm-3">
                            <h:outputLabel value=""  />
                            <p:commandButton styleClass="button-action" action="#{utilidadAction.crearLetra()}" value="Ingresar Letra" update="@form" />
                        </div>
                    </div>
                    <p:dataTable id="tbLetra" editable="true" value="#{utilidadAction.listaLetras}" var="letra" rowKey="#{letra.id}" sortBy="letra">
                        <f:facet name="header">
                            Letras
                        </f:facet>

                        <p:ajax event="rowEdit" listener="#{utilidadAction.onRowEdit}"  />

                        <p:column headerText="Letra">
                            <h:outputText value="#{letra.letra}"/>
                        </p:column>

                        <p:column headerText="Numero secuencia" >
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{letra.numeroSecuencia}" /></f:facet>
                                <f:facet name="input"><p:inputText id="dir" value="#{letra.numeroSecuencia}" /></f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column headerText="Editar">
                            <p:rowEditor />
                        </p:column>

                        <p:column headerText="Quitar">
                            <p:commandLink action="#{utilidadAction.quitarLetra(letra)}" update="@form">
                                <p:graphicImage url="#{resource['css/img/delete.png']}"/>
                            </p:commandLink>
                        </p:column> 
                    </p:dataTable>

                </p:fieldset>

            </p:panel>
        </h:form>
        <p:dialog header="Configuracion de Correo" widgetVar="dlgCorreo" modal="true" draggable="false" maximizable="false" resizable="false" closable="false" height="250" width="900">
            <h:form id="oficinaDialog">
                <p:panel id="panel">

                    <div class="row">
                        <div class="col-sm-3">
                            <h:outputLabel value="Host*" for="host" />
                            <p:inputText id="host" value="#{utilidadAction.host}" style="width:220px"
                                         title="host"/>
                        </div>
                        <div class="col-sm-3">
                            <h:outputLabel value="Correo Emisor*" for="email" />
                            <p:inputText id="email" value="#{utilidadAction.emailEmisor}" style="width:220px"
                                         title="Correo emisor"/>
                        </div>
                        <div class="col-sm-3">
                            <h:outputLabel value="Contraseña nueva*" for="new" />
                            <p:password id="new" value="#{utilidadAction.password}" style="width:220px"
                                        title="contraseña nueva"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h:outputLabel value="Start TLS*" for="host" />
                            <p:inputText id="stls" value="#{utilidadAction.starttls}" style="width:220px"
                                         title="stls"/>
                        </div>
                        <div class="col-sm-3">
                            <h:outputLabel value="Autenticacion*" for="auth" />
                            <p:inputText id="auth" value="#{utilidadAction.authetication}" style="width:220px"
                                         title="host"/>
                        </div>
                        <div class="col-sm-3">
                            <h:outputLabel value="Puerto*" for="port" />
                            <p:inputText id="port" value="#{utilidadAction.puerto}" style="width:220px"
                                         title="Puerto"/>
                        </div>
                    </div>

                    <p:commandButton styleClass="button-action" action="#{utilidadAction.editarCorreo()}" value="Editar Correo" oncomplete="PF('dlgCorreo').hide()" update=":form1" />
                    <p:commandButton styleClass="button-action" value="Cancelar" oncomplete="PF('dlgCorreo').hide()" update=":form1" />
                </p:panel>
            </h:form>    
        </p:dialog>
    </ui:define>
</ui:composition>
