<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">



    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Reportes" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">

        <h:form id="form1">
            <p:panel header="Reportes" styleClass="cds-panel-simple panel-form">
                <div align="center">
                    <h3 class="title-new">Reporte Recorrido</h3>
                </div>
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:messages id="validate" autoUpdate="true"/>
                    <p:panelGrid id="grid2" columns="2" style="width:52%"
                                 styleClass="cds-4cols">
                        <h:outputLabel value="Fecha y hora inicial*" for="fechaIni" />
                        <p:calendar locale="es" value="#{reportesAction.fechaIni}"
                                    pattern="MM/dd/yyyy hh:mm a" style="width:220px;"
                                    id="fechaIni" styleClass="cds-custom-calendar input-special"
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Fecha y hora final*" for="fechaFin" />
                        <p:calendar locale="es" value="#{reportesAction.fechaFin}" style="width:220px;"
                                    id="fechaFin" pattern="MM/dd/yyyy hh:mm a" 
                                    styleClass="cds-custom-calendar input-special" 
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Clase de documento*" for="claseDoc" />
                        <p:selectOneMenu id="claseDoc" style="width: 232px" 
                                         value="#{reportesAction.clase}" >
                            <f:selectItem itemLabel="Seleccione"/>
                            <f:selectItem itemLabel="Tramites" itemValue="TRAMITE"/>
                            <f:selectItem itemLabel="PQR" itemValue="PQR"/>
                            <f:selectItem itemLabel="Denuncias" itemValue="DENUNCIA"/>
                            <f:selectItem itemLabel="Otros" itemValue="OTROS"/>
                        </p:selectOneMenu>

                    </p:panelGrid>
                    <p:commandButton styleClass="button-action" value="Generar Excel" ajax="false" update="@form">
                        <p:fileDownload value="#{reportesAction.reporteRecorrido(true)}"  />
                    </p:commandButton>
                    <p:commandButton styleClass="button-action" value="Generar Pdf" ajax="false" update="@form">
                        <p:fileDownload value="#{reportesAction.reporteRecorrido(false)}"  />
                    </p:commandButton>
                    <p:commandButton styleClass="button-action" action="#{reportesAction.reset()}" update="@form" value="Reiniciar" />
                </p:fieldset>


            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
