<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">

        <script type="text/javascript" src="#{resource['js/html2canvas.js']}"></script>
        <script type="text/javascript" src="#{resource['js/FileSaver.js']}"></script>
        <script type="text/javascript" src="#{resource['js/canvas-toBlob.js']}"></script>
        <script>
            //<![CDATA[
            $(function () {
                $("#btn").click(function (e) {
                    e.preventDefault();
                    html2canvas($("#widget"), {
                        onrendered: function (canvas) {
                            canvas.toBlob(function (blob) {
                                saveAs(blob, "reporte.png");
                            });
                        }
                    });
                });
            });

            $(function () {
                setTimeout(function () {
                    $('.imageToReload').prop('src', $('.imageToReload').prop('src') + '?' + Math.random());
                });
            });

            //]]>

        </script>

        <style>
            .contenido-mensaje .MsoTableGrid td {
                border: solid #0B0B0B !important;
            }
            .contenido-mensaje .MsoNormal {
                margin: 0cm 4cm 0pt !important;
                text-align: justify !important;
            }
        </style>

        <h:form id="form1">
            <div id="widget">
                <p:panel  styleClass="cds-panel-letter panel-form con-borde" > 

                    <p:panelGrid id="grid1" columns="2" style="width:130%" >
                        <h1 style="text-align: center">OFICIO #{repositorioAction.comunicadosExternosSeleccionado.radicacion}</h1>

                        <p:panel style="width:130px;background-color:transparent;">
                            <p:graphicImage url="#{resource['css/img/logoEdeq.png']}" style="border: 4px;margin-top: 113px;" />
                            <br/><br/>
                            <h:outputText value="PROCESO GESTIÓN DOCUMENTAL"/>
                        </p:panel>
                    </p:panelGrid>
                    <br/><br/>
                    <p:panelGrid id="grid0" columns="1" style="width:100%;margin-left: 151px;margin-right: 76px;" >
                        <h:outputLabel value="Armenia, #{repositorioAction.getFechaEnvio()}" styleClass="label-email"/>
                    </p:panelGrid>
                    <br/>
                    <p:panelGrid id="grid2" columns="2" style="width:100%;margin-left: 151px;margin-right: 76px;" >
                        <h:outputLabel value="De" for="from" styleClass="label-email"/>
                        <h:outputText id="from" value="#{repositorioAction.comunicadosExternosSeleccionado.emisor}" title="From" styleClass="campo-email" />
                        <h:outputLabel value="Para" for="destinos" styleClass="label-email"/>
                        <h:outputText id="destinos" value="#{repositorioAction.getDestinosComunicadosExternos()}" title="From" styleClass="campo-email" />

                        <h:outputLabel value="Asunto" for="asunto" styleClass="label-email"/>
                        <h:outputText id="asunto" value="#{repositorioAction.comunicadosExternosSeleccionado.asunto}" title="Asunto" styleClass="campo-email"/>
                    </p:panelGrid>
                    <br/>
                    <p:panelGrid id="grid3" columns="1" style="width:95%;margin-left: 151px;margin-right: 76px;">
                        <div>
                            <h:outputText escape="false" class="contenido-mensaje" value="#{repositorioAction.comunicadosExternosSeleccionado.mensaje}" />
                        </div>
                    </p:panelGrid>

                    <br/><br/><br/><br/>
                    <p:panelGrid id="saludo" columns="1" style="margin-left: 151px;line-height: 40%">
                        <h:outputLabel value="Cordialmente," for="cord" styleClass="label-email"/>
                        <br/>
                        <p:graphicImage url="#{resource[repositorioAction.getGraphicText()]}" rendered="#{repositorioAction.getGraphicText()!=''}"  style="width: 300px" />
                        <h:outputText id="cord" value="#{repositorioAction.textoFirma(repositorioAction.comunicadosExternosSeleccionado.emisor.nombreYApellido)}"  styleClass="campo-email" />
                        <h:outputText value="#{repositorioAction.textoFirma(repositorioAction.comunicadosExternosSeleccionado.emisor.cargo)}" styleClass="campo-email"/>
                        <h:outputText value="#{repositorioAction.textoFirma(repositorioAction.comunicadosExternosSeleccionado.emisor.oficina.descripcion)}" styleClass="campo-email"/>
                        <p:separator/>
                        e-mail: #{repositorioAction.comunicadosExternosSeleccionado.emisor.email}
                        <h:outputText value="Telefono: #{repositorioAction.comunicadosExternosSeleccionado.emisor.telefono} ext.#{repositorioAction.comunicadosExternosSeleccionado.emisor.telefonoExt}"/>
                    </p:panelGrid>
                    <br/><br/>
                    <p:panelGrid columns="2" style="margin-left: 151px;">
                        <h:outputLabel value="Copia: " for="copia" style="font-family: arial;font-size: 8pt;" rendered="#{repositorioAction.listaDestinosCopiaText!=''}"/>
                        <h:outputText id="copia" value="#{repositorioAction.textoFirma(repositorioAction.listaDestinosCopiaText)}" title="Con Copia" style="font-family: arial;font-size: 8pt;" rendered="#{comunicadoExAction.listaDestinosCopiaText!=''}"/>
                    </p:panelGrid>
                    <br/>
                    <p:panelGrid columns="1" rendered="#{repositorioAction.getComentario()!=''}" style="margin-left: 151px;">
                        <p:outputLabel value="Comentario de reenvio:" style="font-family: arial;font-size: 8pt;"/>
                        <h:outputText value="#{repositorioAction.getComentario()}"/>
                    </p:panelGrid>
                    <br/><br/>
                    <div style="margin-left: 151px;">
                        <p:panelGrid columns="1" rendered="#{repositorioAction.getArchivosAdjuntos().size()>0}">
                            <h:outputText  value="Click para ver adjuntos:"  style="font-family: arial;font-size: 8pt;margin-bottom: 113px"/>
                            <ui:repeat value="#{repositorioAction.getArchivosAdjuntos()}" var="archivo">
                                <a href="/Beesoft/AdjuntosServidor?idAdjunto=#{archivo.id}" target="_blank" style="font-family: arial;font-size: 8pt;">#{archivo.nombreArchivo}</a> <br/>
                            </ui:repeat>
                        </p:panelGrid>
                    </div>
                    <br/>
                </p:panel>
            </div>
            <a href="#" id="btn"><img src="#{resource['css/img/save-image.png']}"/></a>
            &#160;
            <a href="http://edeq-ws05:8080/Beesoft/html/mail/CorreoImagen.xhtml" target="blank" ><img src="#{resource['css/img/imprimir.png']}"/></a>
            &#160;
            <p:commandLink action="#{repositorioAction.volver}" title="Volver" style="left:1000px">
                <p:graphicImage url="#{resource['css/img/exit.png']}"/>
            </p:commandLink>
        </h:form>
    </ui:define>
</ui:composition>
