<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Perfil" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">
        <h:form id="form1">
            <p:panel header="Perfil" styleClass="cds-panel-simple panel-form">
                <div align="center">
                    <h3 class="title-new">Crear perfil</h3>
                </div>
                <p:messages id="validate" autoUpdate="true"/>
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:panelGrid id="grid2" columns="3">
                        <h:outputLabel value="Descripcion*" for="descripcion" />
                        <p:inputText id="descripcion" value="#{perfilAction.descripcion}" 
                                     title="descripcion" onblur="value = value.toUpperCase()" style="text-transform: uppercase;"/>
                        <p:commandButton styleClass="button-action" action="#{perfilAction.crearPerfil()}" process="@form" value="Crear" update="@form"/>
                    </p:panelGrid>
                    <br/>
                    <p:dataTable value="#{perfilAction.listaPerfiles}" var="prof" sortBy="descripcion">
                        <p:column headerText="Descripción">
                            <h:outputText value="#{prof.descripcion}"/>
                        </p:column>

                        <p:column headerText="Estado">
                            <h:outputText value="#{prof.estado?'Habilitado':'Inhabilitado'}"/>
                        </p:column>

                        <p:column headerText="Acción">
                            <p:commandLink id="delete" action="#{perfilAction.cambiarEstado(prof.id, false)}" rendered="#{prof.estado}" update="@form" title="Desactivar" >
                                <p:graphicImage url="#{resource['css/img/desactivar.png']}"/>
                            </p:commandLink>
                            &#160; 
                            <p:commandLink id="active" action="#{perfilAction.cambiarEstado(prof.id, true)}" rendered="#{!prof.estado}" update="@form" title="Activar" >
                                <p:graphicImage url="#{resource['css/img/activar.png']}"/>
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>

                </p:fieldset>

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
