<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">


    <ui:define name="content">
        <h:form id="form1">
            <p:panel header="Migracion" styleClass="cds-panel-simple panel-form">
                <div align="center">
                    <h3 class="title-new">Migracion de CRQ</h3>
                </div>
                <p:messages id="validate"/>
                <p:fieldset 
                    styleClass="ui-widget-content2">

                    <div class="row">
                        <div class="col-sm-2">
                            <p:commandButton action="#{migracionAction.migrarActores()}" value="migrar Actores"/>
                        </div>
                        <div class="col-sm-2">
                            <p:commandButton action="#{migracionAction.migrarTrd()}" value="migrar Trd"/>
                        </div>
                         <div class="col-sm-2">
                             <p:commandButton action="#{migracionAction.migrarDocumento()}" value="migrar Documento"/>
                        </div>
                         <div class="col-sm-2">
                             <p:commandButton action="#{migracionAction.migrarProcedencia()}" value="migrar Procedencia"/>
                        </div>
                         <div class="col-sm-2">
                             <p:commandButton action="#{migracionAction.migrarDestinos()}" value="migrar Destino"/>
                        </div>
                         <div class="col-sm-2">
                             <p:commandButton action="#{migracionAction.migrarRevisores()}" value="migrar Revisiones"/>
                        </div>
                         <div class="col-sm-2">
                             <p:commandButton action="#{migracionAction.migrarDocTrd()}" value="migrar Trd Doc"/>
                        </div>
                         <div class="col-sm-2">
                             <p:inputText value="#{migracionAction.año}" />
                             <p:commandButton action="#{migracionAction.migrarImagenes()}" value="migrar Imagenes"/>
                        </div>
                         <div class="col-sm-2">
                             <p:inputText value="#{migracionAction.value}" />
                             <p:commandButton action="#{migracionAction.migrarDestinosFaltantes()}" value="migrar Destinos faltantes"/>
                        </div>
                        <div class="col-sm-2">
                            <p:commandButton action="#{migracionAction.migrarIncompletos()}" value="migrar Incompletos"/>
                        </div>
                        <div class="col-sm-2">
                            <p:commandButton action="#{migracionAction.migrarRevisiones()}" value="migrar Revisiones"/>
                        </div>
                        <div class="col-sm-2">
                            <p:commandButton action="#{migracionAction.migrarUsuarios()}" value="migrar Usuarios"/>
                        </div>
                        <div class="col-sm-2">
                            <p:commandButton action="#{migracionAction.completarTRD()}" value="completar trd"/>
                        </div>
                        <div class="col-sm-2">
                            <p:commandButton action="#{migracionAction.migrarReferencias()}" value="migrar referencias"/>
                        </div>
                        <div class="col-sm-2">
                            <p:commandButton action="#{migracionAction.migrarClases()}" value="migrar clases"/>
                        </div>
                    </div>

                </p:fieldset>

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
