<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Prestamo" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">
        <p:outputLabel value="#{prestamoAction.crear}"/>
        <h:form id="form1">

            <p:panel header="Crear Prestamo" styleClass="cds-panel-simple panel-form">
                <p:messages id="validate" autoUpdate="true"/>
                <p:panelGrid columns="2" style="width:60%;">
                    <h:outputLabel value="Numero de folios" for="numeroFolios"/>
                    <p:inputText id="numeroFolios" value="#{prestamoAction.numeroFolios}" style="width:220px;" 
                                 title="Numero de folios" onkeydown="return permitirSoloNumeros(this, event);"/>
                    <h:outputLabel value="Fecha prestamo" for="fechaPrestamo" />
                    <p:calendar locale="es" value="#{prestamoAction.fechaPrestamo}"
                                id="fechaPrestamo" style="width:320px;"
                                styleClass="cds-custom-calendar input-special"
                                navigator="true" yearRange="1900:2016" />
                    <h:outputLabel value="Fecha entrega" for="fechaEntrega" />
                    <p:calendar locale="es" value="#{prestamoAction.fechaEntregaPlan}"
                                id="fechaEntrega" style="width:320px;"
                                styleClass="cds-custom-calendar input-special"
                                navigator="true" yearRange="1900:2016" />


                    <h:outputLabel value="Archivo referencia" for="referencia" />
                    <p:panel styleClass="cds-panel-reset">
                        <p:panelGrid columns="3">
                            <p:commandButton id="referencia" onclick="PF('dlgDocumento').show();" type="button" styleClass="cds-custom-search" icon="ui-icon-search"/> 
                            <p:contextMenu for="tablaRadicado">  
                                <p:menuitem value="Quitar" update=":form1:tablaRadicado" icon="ui-icon-close" actionListener="#{prestamoAction.quitarDocumentoReferencia()}"/>  
                            </p:contextMenu>  
                            <p:dataTable id="tablaRadicado" emptyMessage=" " value="#{prestamoAction.listaDocumentos}" var="d" rowKey="#{d.radicacion}" selection="#{prestamoAction.documento}" selectionMode="single" style="width: 240px">

                                <p:column headerText="Radicado">
                                    <h:outputText value="#{d.radicacion}"/>
                                </p:column>

                            </p:dataTable>
                        </p:panelGrid>
                    </p:panel>

                    <h:outputLabel value="Solicitante" for="empleados"/>
                    <p:selectOneMenu id="empleados" value="#{prestamoAction.idEmpleadoSolicitador}"
                                     style="width:220px;" filter="true" filterMatchMode="contains">
                        <f:selectItem itemLabel="Seleccione" />
                        <f:selectItems value="#{prestamoAction.listaEmpleados.entrySet()}" var="e" 
                                       itemLabel="#{e.value}" itemValue="#{e.key}"/>
                    </p:selectOneMenu>
                </p:panelGrid>
                <p:commandButton action="#{prestamoAction.crearPrestamo()}" update="@form"
                                 value="Crear" />
            </p:panel>

        </h:form>
        <p:dialog header="Buscar Documento" widgetVar="dlgDocumento" modal="true"  draggable="false" maximizable="false" resizable="false" closable="false" height="450" width="670">
            <p:panel styleClass="cds-panel-simple panel-form">
                <h:form id="buscarDocForm">
                    <p:fieldset legend="Filtros de busqueda"
                                styleClass="ui-widget-content2">

                        <p:panelGrid columns="2" style="width:92%;" >
                            <h:outputLabel value="Radicado" for="radicadoS" />
                            <p:inputText id="radicadoS" value="#{documentoAction.radicacionConsulta}"  />

                            <h:outputLabel value="Fecha Emision Inicial" for="fechaEmisionIni" />
                            <p:calendar locale="es" value="#{documentoAction.fechaEmisionInicial}"
                                        id="fechaEmisionIni" styleClass="cds-custom-calendar input-special"
                                        navigator="true" yearRange="1900:2014" />

                            <h:outputLabel value="Fecha Emision Final" for="fechaEmisionFin" />
                            <p:calendar locale="es" value="#{documentoAction.fechaEmisionFinal}"
                                        id="fechaEmisionFin"
                                        styleClass="cds-custom-calendar input-special" 
                                        navigator="true" yearRange="1900:2014" />

                            <h:outputLabel value="Procedencia" for="procedenciaS"/>
                            <p:panel styleClass="cds-panel-reset">
                                <p:commandButton id="procedenciaS" onclick="PF('dlgProcedenciaS').show();" type="button" styleClass="cds-custom-search" icon="ui-icon-search"/>
                                <p:inputText id="valueNameS" value="#{documentoAction.procedenciaName}" style="width: 220px"/>
                            </p:panel>

                            <h:outputLabel value="Destino" for="destinoS"/>
                            <p:panel styleClass="cds-panel-reset">
                                <p:commandButton id="destinoS" onclick="PF('dlgDestinoS').show();" type="button" styleClass="cds-custom-search" icon="ui-icon-search"/>
                                <p:inputText id="vNameS" value="#{documentoAction.destinoName}" style="width: 220px"/>
                            </p:panel>

                            <h:outputLabel value="Asunto" for="asuntoS" />
                            <p:inputText id="asuntoS" value="#{documentoAction.asuntoConsulta}" style="width: 220px" />

                            <h:outputLabel value="Revisor" for="revisoresS"/>
                            <p:selectOneMenu id="revisoresS" value="#{documentoAction.revisorName}" style="width: 232px">
                                <f:selectItem itemLabel="Seleccione"/>
                                <f:selectItems value="#{documentoAction.revisorMap.values()}"/>
                            </p:selectOneMenu>

                            <h:outputLabel value="Aprobado" for="aprobado"/>
                            <p:selectOneMenu id="aprobado" value="#{documentoAction.aprobado}" style="width: 100px">
                                <f:selectItem itemLabel="Todos"/>
                                <f:selectItem itemLabel="Si" itemValue="true"/>
                                <f:selectItem itemLabel="No" itemValue="false"/>
                            </p:selectOneMenu>

                            <h:outputLabel value="Revisado" for="revisado"/>
                            <p:selectOneMenu id="revisado" value="#{documentoAction.revisado}" style="width: 100px">
                                <f:selectItem itemLabel="Todos"/>
                                <f:selectItem itemLabel="Si" itemValue="true"/>
                                <f:selectItem itemLabel="No" itemValue="false"/>
                            </p:selectOneMenu>

                            <h:outputLabel value="Pendiente" for="pendiente"/>
                            <p:selectOneMenu id="pendiente" value="#{documentoAction.pendiente}" style="width: 100px">
                                <f:selectItem itemLabel="Todos"/>
                                <f:selectItem itemLabel="Si" itemValue="true"/>
                                <f:selectItem itemLabel="No" itemValue="false"/>
                            </p:selectOneMenu>

                        </p:panelGrid>
                        <br />
                        <p:commandButton action="#{documentoAction.buscarDocumento()}" update="fldResult"
                                         value="Buscar" />
                        <p:commandButton id="cancelDocS" value="Cancelar" update="@form" actionListener="#{documentoAction.limpiarModal()}" oncomplete="PF('dlgDocumento').hide()" />
                    </p:fieldset>
                    <p:fieldset id="fldResult" legend="Resultados" 
                                styleClass="ui-widget-content2">

                        <p:dataTable id="documentoR" emptyMessage="No se han encontrado resultados" var="doc" value="#{documentoAction.resultadoDocs}"
                                     rendered="#{documentoAction.resultadoDocs.size()>0}" rowKey="#{doc.radicacion}" >  

                            <p:column headerText="Radicacion">  
                                <h:outputText value="#{doc.radicacion}" />  
                            </p:column>  

                            <p:column headerText="Fecha emision">  
                                <h:outputText value="#{doc.fechaEmision}" />  
                            </p:column>  

                            <p:column headerText="Asunto">  
                                <h:outputText value="#{doc.asunto}" />  
                            </p:column>  

                            <p:column headerText="Acción">  
                                <p:commandLink id="selectDocS" title="Seleccion" update="@form,:form1:tablaRadicado" actionListener="#{prestamoAction.selectDocumentoReferencia(doc)}" oncomplete="PF('dlgDocumento').hide()" >
                                    <p:graphicImage url="#{resource['css/img/seleccionar.png']}"/>
                                </p:commandLink>
                            </p:column>  

                        </p:dataTable>          
                        <br/>

                    </p:fieldset>

                </h:form>
            </p:panel>

        </p:dialog>
    </ui:define>
</ui:composition>
