<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Gestión Documental" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">
        <h:form id="form1">
            <p:panel header="Jefes Asignados" styleClass="cds-panel-simple panel-form"> 

                <div align="center">
                    <h3 class="title-new">Jefes</h3>
                </div>
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:commandButton id="refresh" value="Recargar" action="#{jefesAction.cargarTodosJefesAsignados()}" update="@form"/>
                    <p:dataTable id="tbJefes" value="#{jefesAction.jefes}" var="oficina" sortBy="descripcion" rows="20" paginator="true">


                        <p:column style="width:16px">
                            <p:rowToggler />
                        </p:column>

                        <p:column headerText="Oficina" filterBy="#{oficina.descripcion}" filterMatchMode="contains">
                            <h:outputText value="#{oficina.descripcion}"/>
                        </p:column>

                        <p:column headerText="Jefe">
                            <h:outputText value="#{oficina.jefeACargo?oficina.jefe.nombreYApellido:oficina.jefeEncargado.nombreYApellido}"/>
                        </p:column>

                        <p:column headerText="Opciones">
                            <p:commandButton id="cambiarJefeOficina" value="Cambiar jefe" action="#{jefesAction.cambiarJefe(oficina)}" oncomplete="PF('cambiarJefe').show()" update=":form2"/>
                        </p:column>

                        <p:rowExpansion>
                            <div style="padding: 10px">
                                <p:dataTable id="tbEmpleados" value="#{jefesAction.cargarEmpleados(jefes.oficina.id)}" var="empleados"> 
                                    <p:column headerText="Empleados">
                                        <h:outputText value="#{empleados.nombreYApellido}"/>
                                    </p:column>
                                </p:dataTable>
                            </div>                                                
                        </p:rowExpansion>
                    </p:dataTable>
                </p:fieldset>
            </p:panel>
        </h:form>

        <p:dialog header="Seleccionar jefe" widgetVar="cambiarJefe" modal="true" height="300">
            <h:form id="form2">
                <div class="row">
                    <div class="col-sm-4">
                        <h:outputLabel value="Quien esta a cargo?" for="cargo"/>
                        <p:selectOneRadio value="#{jefesAction.oficinaSelected.jefeACargo}" style="width:220px">
                            <f:selectItem itemLabel="Jefe" itemValue="true"/>
                            <f:selectItem itemLabel="Jefe encargado" itemValue="false"/>
                            <p:ajax update="jefe,jefeE"/>
                        </p:selectOneRadio>
                    </div>
                    <div class="col-sm-4">
                        <h:outputLabel value="Jefe" for="nuevoJefe"/>
                        <p:selectOneMenu id="jefe" value="#{jefesAction.jefeId}" filter="true" filterMatchMode="contains"
                                         style="width:260px;" disabled="#{!jefesAction.oficinaSelected.jefeACargo}">
                            <f:selectItem itemLabel="Seleccione" />
                            <f:selectItems value="#{applicationAction.mapaActor.entrySet()}" var="empleado" itemLabel="#{empleado.value}" itemValue="#{empleado.key}"/>
                        </p:selectOneMenu>  
                    </div>

                    <div class="col-sm-4">
                        <h:outputLabel value="Jefe Encargado" for="nuevoJefe"/>
                        <p:selectOneMenu id="jefeE" value="#{jefesAction.jefeEncargadoId}" filter="true" filterMatchMode="contains"
                                         style="width:260px;" disabled="#{jefesAction.oficinaSelected.jefeACargo}">
                            <f:selectItem itemLabel="Seleccione" />
                            <f:selectItems value="#{applicationAction.mapaActor.entrySet()}" var="empleado" itemLabel="#{empleado.value}" itemValue="#{empleado.key}"/>
                        </p:selectOneMenu>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h:outputLabel value="Cargo" for="cargo"/>
                        <p:inputText id="cargo" value="#{jefesAction.cargo}" style="width: 400px" onkeydown="return permitirSoloLetras(this, event);" title="Cargo" /> 
                    </div>
                    </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h:outputLabel value=" "/>
                        <p:commandButton id="cambiarJefeOficina" value="Cambiar jefe" action="#{jefesAction.cambiarJefeOficina()}" update=":form1"/>
                    </div>
                </div>                      
            </h:form>
        </p:dialog>
    </ui:define>    
</ui:composition>


