<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Gestionar Menu" />
                </p:panel>
            </p:panelGrid>
    </ui:define>

    <ui:define name="content">
        <h:form id="form1">
            <p:fieldset 
                styleClass="ui-widget-content2">
                <p:messages id="validate" autoUpdate="true"/>
              
                <p:panelGrid id="grid2" columns="10" style="width:95%">

                    <div>
                        <p:panelGrid columns="1">
                            <h:outputLabel value="Tipo*" for="tipo" styleClass="label-title" />
                            <p:selectOneRadio id="tipo" value="#{permisoAction.tipo}">
                                <f:selectItem itemLabel="Raiz" itemValue="raiz" />
                                <f:selectItem itemLabel="Sub Menu" itemValue="submenu" />
                                <f:selectItem itemLabel="Url" itemValue="url" />
                            </p:selectOneRadio>
                        </p:panelGrid>
                    </div>

                    <div>
                        <p:panelGrid columns="1">
                            <h:outputLabel value="Etiqueta" for="etiqueta" styleClass="label-title"/>
                            <p:inputText id="etiqueta" value="#{permisoAction.etiqueta}" style="width:220px"/>
                        </p:panelGrid>
                    </div>
                    <div>
                        <p:panelGrid columns="1">
                            <h:outputLabel value="Descripcion" for="descripcion" styleClass="label-title"/>
                            <p:inputText id="descripcion" value="#{permisoAction.descripcion}" style="width:200px"/>
                        </p:panelGrid>
                    </div>
                    <div>
                        <p:panelGrid columns="1">
                            <h:outputLabel value="Padre" for="padre" styleClass="label-title" />
                            <p:selectOneMenu id="padre" value="#{permisoAction.padreId}" style="width: 220px" filter="true" filterMatchMode="contains">
                                <f:selectItem itemLabel="Seleccione"/>
                                <f:selectItems value="#{permisoAction.listaPadres}" var="padre" itemLabel="#{padre.etiqueta}" itemValue="#{padre.id}"/>
                            </p:selectOneMenu>
                        </p:panelGrid>
                    </div>
                    <div>
                        <p:panelGrid columns="1">
                            <h:outputLabel value="Orden" for="orden" styleClass="label-title" />
                            <p:inputText id="orden" value="#{permisoAction.orden}" style="width: 50px"/>
                        </p:panelGrid>
                    </div>

                </p:panelGrid>

                <p:commandButton value="Crear" action="#{permisoAction.ingresarNuevoMenu()}" update="@form"/>
                <p:commandButton value="Recargar" action="#{permisoAction.cargarMenuCompleto()}" update="tbMenu"/>

                <br/>
                <p:separator/>
                <br/>

                <p:dataTable id="tbMenu" value="#{permisoAction.listaMenu}" var="menu" paginator="true" rows="10" sortBy="orden" sortOrder="ascending" paginatorPosition="bottom">

                    <p:column headerText="Etiqueta">
                        <h:outputText value="#{menu.etiqueta}"/>
                    </p:column>

                    <p:column headerText="Descripcion">
                        <h:outputText value="#{menu.descripcion}"/>
                    </p:column>

                    <p:column headerText="Tipo">
                        <h:outputText value="#{permisoAction.mostrarTipoMenu(menu)}"/>
                    </p:column>

                    <p:column headerText="Padre">
                        <h:outputText value="#{menu.parent.etiqueta}"/>
                    </p:column>

                    <p:column headerText="Orden">
                        <h:outputText value="#{menu.orden}"/>
                    </p:column>

                </p:dataTable>


            </p:fieldset>



        </h:form>
    </ui:define>
</ui:composition>
