<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Perfil" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">
        <h:form id="form1">
            <p:panel header="Perfil" styleClass="cds-panel-simple panel-form">
                <div align="center">
                    <h3 class="title-new">Gestionar Permiso</h3>
                </div>
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:messages id="validate" autoUpdate="true"/>
                    <p:panelGrid id="grid2" columns="2" style="width:48%"
                                 styleClass="cds-4cols">

                        <h:outputLabel value="Perfil*" for="perfil" />
                        <p:selectOneMenu id="perfil" value="#{permisoAction.perfilCadena}"
                                         style="width:200px;">
                            <f:selectItem itemLabel="Seleccione" />
                            <f:selectItems value="#{applicationAction.listaPerfil}"  />
                            <p:ajax update="@form" />
                        </p:selectOneMenu>
                    </p:panelGrid>

                    <p:dataTable value="#{permisoAction.sub}" var="sub" sortBy="etiqueta">

                        <p:column style="width:16px">
                            <p:rowToggler />
                        </p:column>
                        <p:column headerText="Etiqueta">
                            <h:outputText value="#{sub.etiqueta}"/>
                        </p:column>

                        <p:column headerText="Padre">
                            <h:outputText value="#{sub.parent.etiqueta}"/>
                        </p:column>

                        <p:rowExpansion >
                            <p:dataTable id="tbUrl" value="#{permisoAction.cargarUrl(sub.id)}" var="url">

                                <p:column headerText="Etiqueta">
                                    <h:outputText value="#{url.menu.etiqueta}"/>
                                </p:column>

                                <p:column headerText="Acceso">
                                    <h:outputText value="#{url.permiso?'Aprobado':'Denegado'}"/>
                                </p:column>

                                <p:column headerText="Acción">
                                    <p:commandLink title="Asignar" update="tbUrl" rendered="#{!url.permiso}" action="#{permisoAction.crearPermiso(url.menu)}">
                                        <p:graphicImage url="#{resource['css/img/asignar.png']}"/>
                                    </p:commandLink>
                                    &#160; 
                                    <p:commandLink title="Denegar" update="tbUrl" rendered="#{url.permiso}" action="#{permisoAction.eliminarPermiso(url.menu)}">
                                        <p:graphicImage url="#{resource['css/img/denegar.png']}"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>

                        </p:rowExpansion>

                    </p:dataTable>


                </p:fieldset>


            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
