<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true" closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Comunicados Internos" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>
    <ui:define name="content">
        <h:form id="form1">
            <p:panel header="Comunicados Internos" styleClass="cds-panel-simple panel-form"> 
                 <div align="center">
                    <h3 class="title-new">Mensajes enviados</h3>
                </div>
                <p:fieldset  styleClass="ui-widget-content2">
                    <p:messages id="validate" autoUpdate="true"/>
                    <p:panelGrid id="grid2" columns="2" style="width:25%" styleClass="cds-4cols">  
                        <h:outputLabel value="Radicado" for="radicado" />
                        <p:inputText id="radicado" value="#{comunicadoAction.radicacionConsulta}" style="width: 220px" />

                        <h:outputLabel value="Fecha inicial" for="fechaIni" />
                        <p:calendar locale="es" value="#{comunicadoAction.fechaIni}"
                                    pattern="MM/dd/yyyy" style="width:220px;"
                                    id="fechaIni" styleClass="cds-custom-calendar input-special"
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Fecha final" for="fechaFin" />
                        <p:calendar locale="es" value="#{comunicadoAction.fechaFin}" style="width:220px;"
                                    id="fechaFin" pattern="MM/dd/yyyy" 
                                    styleClass="cds-custom-calendar input-special" 
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Destinatario" for="dest" />
                        <p:autoComplete id="destinos" multiple="true"  value="#{comunicadoAction.destinationsAgregadosBusqueda}" completeMethod="#{comunicadoAction.completeDestinosBusqueda}"
                                        var="destino" itemLabel="#{destino.nombreDestino}" itemValue="#{destino}" converter="#{destinoConverter}" 
                                        forceSelection="true" cache="true" style="width: 320px">
                            <p:column>
                                <h:outputText value="#{destino.nombreDestino}" />
                            </p:column>
                        </p:autoComplete>
                        <h:outputLabel value="Asunto" for="asunto" />
                        <p:inputText id="asunto" value="#{comunicadoAction.asuntoBusqueda}" title="Asunto" />
                    </p:panelGrid>
                    <br/><br/>
                    <p:commandButton styleClass="button-action" action="#{comunicadoAction.correosEnviados()}"  value="Buscar" update="enviados" />
                    <p:commandButton styleClass="button-action" action="#{comunicadoAction.resetBusqueda()}"  value="Limpiar" update="@form" />

                    <br/><br/>
                    <p:dataTable id="enviados" emptyMessage="No se han encontrado resultados" var="mail" value="#{comunicadoAction.correos}"
                                 rowKey="#{mail.radicacion}" paginator="true" rows="10" paginatorPosition="bottom" sortBy="radicacion">

                        <p:column style="width:16px">
                            <p:rowToggler />
                        </p:column>

                        <p:column headerText="Radicación">
                            <h:outputText value="#{mail.radicacion}"/>
                        </p:column>

                        <p:column headerText="Destinatarios">
                            <h:outputText value="#{comunicadoAction.mostrarDestinoTabla(mail)}"/>
                        </p:column>

                        <p:column headerText="Asunto">
                            <h:outputText value="#{mail.asunto}"/>
                        </p:column>

                        <p:column headerText="Acción"  style="width:80px">
                            <p:commandLink action="#{comunicadoAction.infoCorreo(mail,false)}" update="@form" title="Ver" disabled="#{!(comunicadoAction.showButtons(mail))}">
                                <p:graphicImage url="#{resource['css/img/mail.png']}"/>
                            </p:commandLink>
                            &#160;
                            <p:commandLink action="#{comunicadoAction.cargarEmail(mail)}"  oncomplete="PF('dlgReenviar').show();" update="@form" title="Reenviar"  rendered="#{comunicadoAction.reenvio}">
                                <p:graphicImage url="#{resource['css/img/reenvio.png']}"/>
                            </p:commandLink>
                        </p:column>

                        <p:rowExpansion>
                            <p:dataTable id="reenviados" emptyMessage="Este Comunicado no se ha reenviado" var="reenvio" value="#{comunicadoAction.comunicadosReenviados(mail.radicacion)}"
                                         rowKey="#{reenvio.radicacionReenvio}" >

                                <p:column headerText="Destinatarios">
                                    <h:outputText value="#{comunicadoAction.listaCadena(reenvio.id)}"/>
                                </p:column>

                                <p:column headerText="Asunto">
                                    <h:outputText value="#{reenvio.asunto}"/>
                                </p:column>

                                <p:column headerText="Acción"  style="width:80px">
                                    <p:commandLink action="#{comunicadoAction.infoCorreo(reenvio,false)}" update="@form" title="Ver">
                                        <p:graphicImage url="#{resource['css/img/mail.png']}"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>

                        </p:rowExpansion>

                    </p:dataTable>

                </p:fieldset>
            </p:panel>
        </h:form>
        <p:dialog header="Reenviar" widgetVar="dlgReenviar" modal="true"  draggable="false" maximizable="false" resizable="false" closable="false" height="300" width="530">
            <h:form id="formCuenta">
                <p:panel id="cuentaPn">
                    <p:panelGrid columns="2">
                        <h:outputLabel value="Para*" for="destinos" />
                       <p:autoComplete id="destinos" multiple="true"  value="#{comunicadoAction.destinationsAgregadosReenvio}" completeMethod="#{comunicadoAction.completeDestinosReenvio}"
                                       var="destino" itemLabel="#{destino.nombreDestino}" itemValue="#{destino}" converter="#{destinoConverter}" 
                                        forceSelection="true" cache="true" style="width: 320px">
                            <p:column>
                                <h:outputText value="#{destino.nombreDestino}" />
                            </p:column>
                        </p:autoComplete>
                        <h:outputLabel value="Comentario" for="comentario" />
                        <p:inputTextarea id="comentario" value="#{comunicadoAction.comentario}" rows="6" cols="50"/>
                        <br/>  
                    </p:panelGrid>
                    <p:commandButton styleClass="button-action" value="Reenviar" action="#{comunicadoAction.reenviar()}" update=":form1:,@form" oncomplete="PF('dlgReenviar').hide();"/>
                    <p:commandButton styleClass="button-action" value="Cancelar" action="#{comunicadoAction.resetReenvio()}" update="@form" oncomplete="PF('dlgReenviar').hide();" />
                </p:panel>
            </h:form>

        </p:dialog>
    </ui:define>
</ui:composition>

