<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="content">

        <script type="text/javascript" src="#{resource['js/html2canvas.js']}"></script>
        <script type="text/javascript" src="#{resource['js/FileSaver.js']}"></script>
        <script type="text/javascript" src="#{resource['js/canvas-toBlob.js']}"></script>
        <script>
            //<![CDATA[
            /*$(function () {
             $("#btn").click(function (e) {
             e.preventDefault();
             html2canvas($("#widget"), {
             onrendered: function (canvas) {
             canvas.toBlob(function (blob) {
             saveAs(blob, "reporte.png");
             });
             }
             });
             });
             });*/
            
            


            $(function () {
                setTimeout(function () {
                    $('.imageToReload').prop('src', $('.imageToReload').prop('src') + '?' + Math.random());
                });
            });

            //]]>
        </script>

        <style>
            .contenido-mensaje td{
                width: 150px !important;
            }

            .contenido-mensaje table{
                width: 610px !important;
                border: 1px #000 solid !important;
                border-color: #000 !important;
            }


            .ui-panelgrid .ui-widget-content .contenido-mensaje table tr td{
                width: 610px !important;
                border: 0.5px #000 solid !important;
                border-color: #000 !important;
            }

            .contenido-mensaje {
                margin: 0cm 4cm 0pt !important;
                text-align: justify !important;
                font-size: 12pt;
            }
        </style>

        <h:form id="form1">
            <div id="widget">
                <p:panel  styleClass="cds-panel-letter panel-form con-borde" > 

                    <div class="container " style="width: 815px;height: auto;padding: 113px 75px 113px 151px">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 style="text-align: center">#{comunicadoAction.titulo} #{comunicadoAction.radicacionShow}</h3>
                            </div>
                            <div class="col-sm-6">
                                <p:graphicImage url="http://d12hkb41vr5gxs.cloudfront.net/wp-content/uploads/2016/04/crq.png" style="border: 4px;height: 120px" />
                                <br/><br/>
                                <h:outputText value="PROCESO GESTIÓN DOCUMENTAL"/>
                            </div>
                        </div>
                        <br/><br/>
                        <div class="row">
                            <div class="col-sm-12">
                                <h:outputLabel value="Armenia, #{comunicadoAction.fechaShow}" styleClass="label-email"/>
                            </div>
                        </div>
                        <br/><br/>
                        <div class="row">
                            <div class="col-sm-1">
                                <h:outputLabel value="De" for="from" styleClass="label-email"/>
                            </div>
                            <div class="col-sm-11">
                                <h:outputText id="JefeOrigen" value="#{comunicadoAction.fromJefe}" title="From" styleClass="campo-email" style=""/><br/>
                                <h:outputText id="fromOrigen" value="#{comunicadoAction.fromOficina}" title="From" styleClass="campo-email" style=""/>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-1">
                                <h:outputLabel value="Para" for="destinos" styleClass="label-email"/>
                            </div>
                            <div class="col-sm-11">
                                <c:forEach var="destino" items="#{comunicadoAction.listaDestinosText.entrySet()}">
                                    <h:outputText  value="#{destino.key}"  styleClass="campo-email" /><br/>
                                    <h:outputText  value="#{destino.value}" styleClass="campo-email" /><br/>
                                    <h:outputText  value=" " styleClass="campo-email" /><br/>
                                </c:forEach>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-2">
                                <h:outputLabel value="Asunto" for="asunto" styleClass="label-email"/>
                            </div>
                            <div class="col-sm-10">
                                <h:outputText id="asunto" value="#{comunicadoAction.asuntoShow}" title="Asunto" styleClass="campo-email"/>
                            </div>
                        </div>
                        <br/><br/>
                        <div class="row">
                            <div class="col-sm-12">
                                <h:outputText escape="false"  class="contenido-mensaje" value="#{comunicadoAction.mensajeShow}" />
                            </div>
                        </div>
                        <br/><br/><br/><br/>
                        <div class="row">
                            <div class="col-sm-12">
                                <h:outputLabel value="Atentamente," for="cord" styleClass="label-email"/>
                            </div>
                            <br/>
                            <div class="col-sm-12">
                                <h:outputText id="cord" value="#{comunicadoAction.textoFirma(comunicadoAction.from.nombreYApellido)}"  styleClass="campo-email" />
                            </div>
                            <div class="col-sm-12">
                                <h:outputText value="#{comunicadoAction.textoFirma(comunicadoAction.from.cargo)}" styleClass="campo-email"/>
                            </div>
                            <div class="col-sm-6">
                                <p:separator/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                e-mail: #{comunicadoAction.from.email}
                            </div>
                            <div class="col-sm-12">
                                <h:outputText value="Telefono: #{comunicadoAction.from.telefono} ext.#{comunicadoAction.from.telefonoExt}"/>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-6">
                                <h:outputLabel value="Copia: " for="copia" style="font-family: arial;font-size: 8pt;" rendered="#{comunicadoAction.listaDestinosCopiaText!=''}"/>
                                <h:outputText id="copia" value="#{comunicadoAction.textoFirma(comunicadoAction.listaDestinosCopiaText)}" title="Con Copia" style="font-family: arial;font-size: 8pt;" rendered="#{comunicadoAction.listaDestinosCopiaText!=''}"/>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-sm-12">
                                <p:outputLabel value="Comentario de reenvio:" style="font-family: arial;font-size: 8pt;" rendered="#{comunicadoAction.isComentario}"/>
                            </div>
                            <div class="col-sm-12">
                                <h:outputText value="#{comunicadoAction.comentarioShow}" style="font-family: arial;font-size: 8pt;" rendered="#{comunicadoAction.isComentario}"/>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-12">
                                <h:outputText  value="Click para ver adjuntos:" style="font-family: arial;font-size: 8pt;" rendered="#{comunicadoAction.files.size()>0}"/>
                                <ui:repeat value="#{comunicadoAction.files}" var="archivo">
                                    <a href="/Beesoft/AdjuntosServidor?idAdjunto=#{archivo.id}" target="_blank" style="font-family: arial;font-size: 8pt;">#{archivo.nombreArchivo}</a> <br/>
                                </ui:repeat>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-12">
                                <h:outputLabel value="Comentario" for="comment" rendered="#{comunicadoAction.comunicadoAnulado}"/>
                            </div>
                            <div class="col-sm-12">
                                <h:outputText id="comment" value="#{comunicadoAction.comentarioAnulado}" style="width:220px" rendered="#{comunicadoAction.comunicadoAnulado}"/>
                            </div>
                        </div>
                    </div>
                </p:panel>
            </div>
            <input type="hidden" id="idHtml"/>
            <a href="#" id="btn"><img src="#{resource['css/img/save-image.png']}"/></a>
            <p:remoteCommand name="rcValue" actionListener="#{comunicadoAction.generarPdf}"></p:remoteCommand>
            &#160;
            <p:commandLink action="#{comunicadoAction.volver}" title="Volver" style="left:1000px">
                <p:graphicImage url="#{resource['css/img/exit.png']}"/>
            </p:commandLink>
            &#160;
            <p:commandLink onclick="PF('dlgReenviar').show();" disabled="#{comunicadoAction.boton}"  update="@form" title="Reenviar" rendered="#{comunicadoAction.reenvio}">
                <p:graphicImage url="#{resource['css/img/reenvio.png']}"/>
            </p:commandLink>
        </h:form>
        <p:dialog header="Reenviar" widgetVar="dlgReenviar" modal="true"  draggable="false" maximizable="false" resizable="false" closable="false" height="450" width="720">
            <h:form id="formCuenta">
                <p:panel id="cuentaPn">
                    <p:panelGrid columns="2">
                        <h:outputLabel value="Para*" for="destinos" />
                        <p:autoComplete id="destinos" multiple="true"  value="#{comunicadoAction.destinationsAgregadosReenvio}" completeMethod="#{comunicadoAction.completeDestinosReenvio}"
                                        var="destino" itemLabel="#{destino.nombreDestino}" itemValue="#{destino}" converter="#{destinoConverter}" 
                                        forceSelection="true" cache="true" style="width: 320px">
                            <p:column>
                                <h:outputText value="#{destino.nombreDestino}" />
                            </p:column>
                        </p:autoComplete>

                        <h:outputLabel value="Comentario" for="comentario" />
                        <p:inputTextarea id="comentario" value="#{comunicadoAction.comentario}" rows="6" cols="50"/>
                    </p:panelGrid>
                    <br/>
                    <p:commandButton styleClass="button-action" value="Reenviar" action="#{comunicadoAction.reenviar()}"  update=":form1:,@form" oncomplete="PF('dlgReenviar').hide();"/>
                    <p:commandButton styleClass="button-action" value="Cancelar" action="#{comunicadoAction.resetReenvio()}" update="@form" oncomplete="PF('dlgReenviar').hide();" />
                </p:panel>
            </h:form>

        </p:dialog>

        <script>
            (function(){

                $('#idHtml').val($('#widget').html());
               
            })();
            
            $('#btn').click(function(){
                 rcValue([{name:'page',value:$('#idHtml').val()}]);
            });
        </script>
    </ui:define>
</ui:composition>
