<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">


    <ui:define name="content">
        <h:form id="form1">
            <p:panel header="COMUNICACION INTERNA" styleClass="cds-panel-simple panel-form"> 
                <div align="center">
                    <h3 class="title-new">Información del mensaje</h3>
                </div>
                <p:fieldset id="fld"
                            styleClass="ui-widget-content2">
                    <p:notificationBar id="idNtf" position="top" effect="slide"  styleClass="top notification-bar" widgetVar="ntf">
                        <h:panelGroup id="bottomPanel" style="margin-right:200px;">  
                            <p:messages autoUpdate="true" />  
                        </h:panelGroup>
                    </p:notificationBar>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Para*" for="destinos"  styleClass="label-title"  />
                                    <p:autoComplete id="destinos" multiple="true"  value="#{comunicadoAction.destinationsAgregados}" completeMethod="#{comunicadoAction.completeDestinos}" 
                                                    var="destino" itemLabel="#{destino.nombreDestino}" itemValue="#{destino}" converter="#{destinoConverter}"
                                                    forceSelection="true" cache="true" >
                                        <p:column>
                                            <h:outputText value="#{destino.nombreDestino}" />
                                        </p:column>
                                    </p:autoComplete>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Con Copia"  styleClass="label-title"  />
                                    <p:autoComplete id="destinoscopia" multiple="true"  value="#{comunicadoAction.destinationsAgregadosConCopia}" completeMethod="#{comunicadoAction.completeDestinosCopia}"
                                                    var="destino" itemLabel="#{destino.nombreDestino}" itemValue="#{destino}" converter="#{destinoConverter}" 
                                                    forceSelection="true" cache="true" style="width: 500px">
                                        <p:column>
                                            <h:outputText value="#{destino.nombreDestino}" />
                                        </p:column>
                                    </p:autoComplete>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Asunto*" for="asunto"  styleClass="label-title"  />
                                    <p:inputTextarea id="asunto" value="#{comunicadoAction.asunto}" title="Asunto" cols="120" rows="3" />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Mensaje*" for="mensaje"  styleClass="label-title"  />
                                    <pe:ckEditor id="editor" value="#{comunicadoAction.mensaje}" interfaceColor="#BDBDBD" toolbar="[
                                                 [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript','-', 'RemoveFormat' ],
                                                 [ 'Styles', 'Format', 'Font', 'FontSize' ],
                                                 [ 'TextColor', 'BGColor' ],
                                                 [ 'Image', 'Table', 'HorizontalRule', 'SpecialChar', 'PageBreak' ],
                                                 [ 'Link', 'Unlink', 'Anchor' ],
                                                 [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-','Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter','JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ],
                                                 [ 'Find', 'Replace', '-', 'SelectAll', '-', 'SpellChecker', 'Scayt' ],
                                                 [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo','Redo' ],
                                                 ]" width="850px" height="350px"/>  
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Adjunto" for="adjunto"  styleClass="label-title"  />
                                    <p:fileUpload id="adjunto" uploadLabel="Cargar" cancelLabel="Cancelar" label="Seleccionar" fileUploadListener="#{comunicadoAction.handleFileUpload}" mode="advanced" oncomplete="ntf.show(),setTimeout('ntf.hide()',5000)" 
                                                  multiple="false" fileLimitMessage="El total de archivo es de 10" sizeLimit="18000000" fileLimit="10" allowTypes="/(\.|\/)(gif|jpe?g|png|txt|doc|docx|xls|xlsx|ppt|pptx|pdf|tif|zip|rar|7z|dwg)$/"
                                                  styleClass="ui-widget-header" style="width: 470px" process="@form" update="tbarchivo"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Adjunto Cargado" for="adjunto"   styleClass="label-title"  />
                                    <p:dataTable id="tbarchivo" emptyMessage=" " value="#{comunicadoAction.archivosGuardar}" var="archivo" style="width: 365px" >
                                        <p:column headerText="Nombre archivo">
                                            <p:outputLabel value="#{archivo.nombreArchivo}"/>
                                        </p:column>
                                        <p:column >
                                            <p:commandLink action="#{comunicadoAction.quitarArchivosGuardar(archivo)}" update="@form">
                                                <p:graphicImage url="#{resource['css/img/delete.png']}"/>
                                            </p:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Jefes" for="jefes" rendered="#{!comunicadoAction.pantallaJefe}"  styleClass="label-title"  />
                                    <p:selectOneMenu value="#{comunicadoAction.idOficina}" style="width: 220px" rendered="#{!comunicadoAction.pantallaJefe}" filter="true" filterMatchMode="contains">
                                        <f:selectItem itemLabel="Seleccione"/>
                                        <f:selectItems value="#{comunicadoAction.oficinasAprueban}" var="jefe" itemLabel="#{jefe.nombreDestino}" itemValue="#{jefe.id}" />
                                    </p:selectOneMenu>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br/>
                    <p:commandButton styleClass="button-action" action="#{comunicadoAction.enviarParaAprobacion()}" update="@form" oncomplete="ntf.show(),setTimeout('ntf.hide()',5000)" value="Para Aprobacion" style="width:220px;text-align: center !important;" rendered="#{!comunicadoAction.pantallaJefe}"/>
                    <p:commandButton styleClass="button-action" action="#{comunicadoAction.encolarCorreos()}" update="@form" oncomplete="ntf.show(),setTimeout('ntf.hide()',5000)" value="Enviar" style="width:220px;text-align: center !important;"/>
                    <p:commandButton styleClass="button-action" action="#{comunicadoAction.limpiar()}" update="@form" oncomplete="@form" value="Cancelar" style="width:220px;text-align: center !important;"/>

                </p:fieldset>

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>

