<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true" closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Comunicados Internos" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>
    <ui:define name="content">
        <h:form id="form1">
            <p:panel header="Mensajes enviados" styleClass="cds-panel-simple panel-form"> 
                <p:fieldset  styleClass="ui-widget-content2">
                    <p:messages id="validate" autoUpdate="true"/>
                    <p:panelGrid id="grid2" columns="2" style="width:25%" styleClass="cds-4cols">  
                        <p:commandButton action="#{comunicadoAction.infojson(true)}"  value="Interno"  />
                        <p:commandButton action="#{comunicadoAction.infojson(false)}"  value="Externo"  />
                    </p:panelGrid>
                    <br/><br/>
                </p:fieldset>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>

