cds-red *{
    font-family:'Calibri', sans-serif !important;
}

html,body{
    height:100%;
}

body{
    font-size:12px;
    color:#1B1A1A;
    margin:0;
    text-align:center;
    background-image: url(/Beesoft/javax.faces.resource/css/img/Fondooo.png.xhtml);
    background-repeat: no-repeat;
    background-size: cover; 
    overflow-x: hidden;
    background-attachment: fixed;
}

.float-left{float: left;}

/* ----- LOGIN FORM ----- */
div.welcome{
    font-size:14px;
    margin-bottom:20px;
}
div.welcome > strong{
    font-size:23px;
}
div.logo-login{
    margin:50px auto 20px;
    padding:20px;
}
a{
    outline:none;
}
.ui-icon{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}

.ui-button-text-only .ui-button-text {padding: 0.2em 1em;}

.btn-login{width: 123px;margin-left: 32%;}
/* ----- LOGIN FORM ----- */

#cds-container{
    min-height:100%;
    min-width:960px;
    width: 100%;
    position:absolute;
    padding-top: 100px;
}

#cds-container.fixed{
    /*	padding-top:120px;*/
}

.cds-panel-reset{
    padding:0px;
    margin:0px;
    background-color:transparent;
}

.cds-panel-reset > .ui-widget-content{
    background-color:transparent;
}

.cds-white-text{
    color:#FFFFFF !important;
}


/* ----- HEADER ----- */
.cds-panel-header{
    background: #1a1a1a top center no-repeat fixed;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    min-width:960px;
    width: 100%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.cds-panel-header-fixed{
    position:fixed;
    top:0px;
    right:0px;
    z-index:10;
}

.cds-panel-header .ui-widget-content{
    background-color: rgba(70, 133, 150, 0);
}

.cds-panelgrid-header{
    width:1140px;
    margin:0 auto;
    margin-left: 19px;
}
.cds-panel-header .ui-separator{
    border:none;
    border-bottom:solid 1px #ffffff;
}

/*MAIN MENU*/
.cds-panel-mainmenu{
    background-color:#1a1a1a;
    min-height: 80px;
    max-height: 38px;
    width:100%;
    margin-bottom:40px;
    background-image:
        -webkit-linear-gradient(top, #383838, #1a1a1a) !important;
    background-image:
        -moz-linear-gradient(top, #383838, #1a1a1a) !important;
    background-image: linear-gradient(to bottom, #dbdbdb, #dbdbdb) !important;
    /* -webkit-border-radius: 0px; */
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0px 10px 19px 0px rgba(77,73,77,0.45);
    -moz-box-shadow: 0px 10px 19px 0px rgba(77,73,77,0.45);
    box-shadow: 0px 10px 19px 0px rgba(77,73,77,0.45);
}

.cds-panel-mainmenu-fixed{
    position:fixed;
    top:75px;
    left:0px;
    z-index:10;
}

.cds-panel-mainmenu > div{
    text-align: right;
}

.cds-menu-mainmenu{
    max-width: 1024px;
    height: 48px;
    margin:0 auto;
    text-align:left;
    font-size: 19px !important;
    background-color:#dbdbdb; 
}

.cds-menu-mainmenu a{
    font-size:0.9em;
}

.cds-menu-mainmenu > ul > li > a.ui-menuitem-link{
    background-color:transparent !important;
    background-image:none !important;
    color: #111111;
}

.cds-menu-mainmenu > ul > li > a.ui-state-hover{
    color: #111111;
}

.cds-menu-mainmenu > ul > li li > a{
    padding:3px 0 3px 10px !important;
}

.cds-menu-mainmenu > ul > li li > a.ui-state-hover{
    background-color:#167FA8;
    background-image:none !important;
    color:#FFFFFF;
}

/* ----- FOOTER ----- */
.cds-panel-footer{
    padding:0.8em 0em !important;
    background-color:#1d1d1d;
    border-radius:0;
    border:none;
    color:#a2a2a2;
    position:absolute;
    min-width:960px;
    width:100%;
    bottom:0px;
    border-top:solid 0.4em #383838;
    height:1.4em;
    display: table;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    z-index: 100;
}
.cds-panel-footer > div{
    padding:0 !important;
    margin:0;
}
.unsigned .cds-panel-footer{

}
/* ----- FOOTER ----- */


/* ----- TITLE PANEL ----- */
.cds-title-panel{
    width:1100px;
    margin:0 auto 10px;
    background-color:transparent;
}
.cds-title-panel > .ui-widget-content{
    background-color:transparent;
}
.cds-title-panel-grid{
    width:100%;
}


.cds-title-panel-grid td{
    padding:0 !important;
}

.cds-title-panel .cds-title-panel-title, .cds-title-panel .cds-title-panel-button{
    box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.1);
}

.cds-title-panel-title{
    background-image: url(/Beesoft/javax.faces.resource/css/img/titles-bg.png.xhtml);
    width:550px;
    height:42px;
    padding:10px !important;
    text-align:left;
    /* float: left; */
}

.cds-title-panel-red .cds-title-panel-title{
    position:0px 43px;
}

.cds-title-panel-title span{
    color:#1B1A1A;
    font-size:32px;
    font-weight:bold;
    display:block;
    padding:0 20px;
    overflow:hidden;
}

.cds-title-panel-button{
    width:130px;
    height:38px;
    padding:10px 25px !important;
    background-color:#cbcbcb;
    background-image:-webkit-linear-gradient(top, #ffffff, #cbcbcb);
    background-image:-moz-linear-gradient(top, #ffffff, #cbcbcb);
    background-image:linear-gradient(to bottom, #ffffff, #cbcbcb);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:solid 2px #FFFFFF !important;
    margin-left:10px;
}

.cds-title-panel a.needhelp{
    background-image:url("images/need-help.png");
    background-repeat: no-repeat;
    position:0px 0px;
    height:43px;
    width:130px;
    text-indent:-9999px;
    display:block;
}

.cds-title-panel a.options{
    background-image:url("images/options.png");
    background-repeat: no-repeat;
    position:0px 0px;
    height:43px;
    width:130px;
    text-indent:-9999px;
    display:block;
}

/* ----- TITLE BAR COLORS ----- */
.cds-red .cds-title-panel-title{ background-position:0px 0px;}
.cds-yellow .cds-title-panel-title{ background-position:0px -693px;}

.cds-cherry .cds-title-panel-title{ background-position:0px -63px;}
.cds-royalblue .cds-title-panel-title{ background-position:0px -126px;}
.cds-blue .cds-title-panel-title{ background-position:0px -189px;}
.cds-green .cds-title-panel-title{ background-position:0px -252px;}
.cds-blueocean .cds-title-panel-title{ background-position:0px -315px;}
.cds-purple .cds-title-panel-title{ background-position:0px -378px;}
.cds-violet .cds-title-panel-title{ background-position:0px -441px;}
.cds-fuchsia .cds-title-panel-title{ background-position:0px -504px;}
.cds-orange .cds-title-panel-title{ background-position:0px -567px;}
.cds-aquamarine .cds-title-panel-title{ background-position:0px -630px;}

.cds-gold .cds-title-panel-title{ background-position:0px -756px;}

.cds-red a.needhelp, .cds-red a.options{ background-position:0px 0px; }
.cds-cherry a.needhelp, .cds-cherry a.options{ background-position:0px -43px; }
.cds-royalblue a.needhelp, .cds-royalblue a.options{ background-position:0px -86px; }
.cds-blue a.needhelp, .cds-blue a.options{ background-position:0px -129px; }
.cds-green a.needhelp, .cds-green a.options{ background-position:0px -172px; }
.cds-blueocean a.needhelp, .cds-blueocean a.options{ background-position:0px -215px; }
.cds-purple a.needhelp, .cds-purple a.options{ background-position:0px -258px; }
.cds-violet a.needhelp, .cds-violet a.options{ background-position:0px -301px; }
.cds-fuchsia a.needhelp, .cds-fuchsia a.options{ background-position:0px -344px; }
.cds-orange a.needhelp, .cds-orange a.options{ background-position:0px -387px; }
.cds-aquamarine a.needhelp, .cds-aquamarine a.options{ background-position:0px -430px; }
.cds-yellow a.needhelp, .cds-yellow a.options{ background-position:0px -473px; }
.cds-gold a.needhelp, .cds-gold a.options{ background-position:0px -516px; }

/* ----- TITLE PANEL ----- */

/*CAROUSEL*/
.ui-carousel, .ui-carousel-item{
    background-color:transparent !important;
}


/*FRECUENT OPCION*/
a.cds-frecuent-option{
    text-decoration:none;
    color:#666666;
    font-size:16px;
    display:block;
    padding:3px 7px;
}

a.cds-frecuent-option:hover{
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    color:#FFFFFF;
    background-color:#530000;
    background-image:-webkit-linear-gradient(top, #E24645, #530000) !important;
    background-image:-moz-linear-gradient(top, #E24645, #530000) !important;
    background-image:linear-gradient(to bottom, #E24645, #530000) !important;
    box-shadow: 0 0 0 rgba(1,0,0,0.2) !important;
}

/* ----- ACCORDEON ----- */

.ui-accordion .ui-state-default a{color: #cc0000 !important;}

.ui-accordion h3 .ui-icon{background-image:url(/Beesoft/javax.faces.resource/css/img/accordeon-buttons.png.xhtml) !important;height: 26px;width: 27px;}

.ui-accordion h3.ui-state-active .ui-icon-triangle-1-s {background-position: -4px -3px;}
.ui-accordion h3 .ui-icon-triangle-1-e {background-position: -5px -38px;}

/*.ui-icon-triangle-1-s {*/

.cds-accordeon-panel{
    text-align:left;
    margin:0 auto 2em;
    box-shadow: 0 1em 1em rgba(0,0,0,0.2);
    max-width:960px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.ui-accordion > .ui-accordion-header > .ui-icon{
    /*	border: solid 2px #C00;
            box-shadow: 0 0.2em 1em rgba(0,0,0,0.2);*/
}

.ui-accordion .ui-accordion-content {margin-top: 0 !important;}

.ui-accordion .ui-accordion-header a{
    font-size: 1.5em;
    padding: .5em .5em .5em 1.9em;
}

.ui-accordion .ui-accordion-header .ui-icon{
    margin-top: -15px!important;
}

.cds-panel-simple{
    text-align:left;
    margin:0 auto 2em;
    border:solid 2px #FFFFFF;
    background-color:rgba(255, 255, 255, 0.6);
    background-image:-webkit-linear-gradient(top, #ffffff, #cbcbcb);
    background-image:-moz-linear-gradient(top, #ffffff, #cbcbcb);
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0), #cbcbcb);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 1em 1em rgba(0,0,0,0.2);
    max-width: 90%;
    /* float:right; */
}

.cds-panel-letter{
    text-align:left;
    margin:0 auto 2em;

    /* background-color:#cbcbcb; */
    /*    background-image:-webkit-linear-gradient(top, #ffffff, #cbcbcb);
        background-image:-moz-linear-gradient(top, #ffffff, #cbcbcb);
        background-image:linear-gradient(to bottom, #ffffff, #cbcbcb);*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 1em 1em rgba(0,0,0,0.2);
    max-width:1100px;
    border-color: #5BC0F8;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    width: 816px;
    height: auto;
}

.cds-panel-letter-old{
    text-align:left;
    margin:0 auto 2em;
    background-color:#cbcbcb;
    /*    background-image:-webkit-linear-gradient(top, #ffffff, #cbcbcb);
        background-image:-moz-linear-gradient(top, #ffffff, #cbcbcb);
        background-image:linear-gradient(to bottom, #ffffff, #cbcbcb);*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 1em 1em rgba(0,0,0,0.2);
    max-width:1100px;
    width: 650px;
    height: auto;
}

.cds-panel-simple > .ui-panel-titlebar{
    padding:20px 20px 0 !important;
    margin-bottom:0px;
    font-size:30px;
}
.cds-panel-simple > .ui-panel-content{
    margin:0px !important;
}
.ui-lightbox-content .cds-panel-simple > .ui-panel-content{	margin:20px 38px !important;  text-align: center;}
.cds-panel-no-margin > .ui-panel-content{
    margin:0 !important;
}
.cds-panel-small{
    width: 400px;
}
.cds-panel-medium{
    width: 600px;
}
.cds-panel-large{
    width: 800px;
}
.cds-panel-fullweight{
    width:960px;
}
.cds-panel-simple > div > label{
    /*	width:120px;
            display:inline-block;*/
}
.cds-full-weight input[type="text"]{
    /*	width:80% !important;*/
}
a.cds-link-red{
    text-decoration:none;
    color:#E24645;
}
a.cds-link-red:hover{
    text-decoration:underline;
}


button.cds-button-red{
    color:#FFFFFF;
    background-color:#530000;
    background-image:-webkit-linear-gradient(top, #E24645, #530000) !important;
    background-image:-moz-linear-gradient(top, #E24645, #530000) !important;
    background-image:linear-gradient(to bottom, #E24645, #530000) !important;
    box-shadow: 0 0 0 rgba(1,0,0,0.2) !important;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border:none !important;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.2);
}
button.cds-button-red:hover{
    background-image:-webkit-linear-gradient(top, #530000, #E24645) !important;
    background-image:-moz-linear-gradient(top, #530000, #E24645) !important;
    background-image:linear-gradient(to bottom, #530000, #E24645) !important;
}
button.cds-button-red > span{
    color:#FFFFFF;
    text-shadow:none;
}

.ui-lightbox-content{
    background-color:transparent;
}


/* ----- TABLE-DATA ----- */
.ui-datatable > table > thead > tr:first-child > th.ui-widget-header{
    font-size:22px;
    text-align:center;
}

.ui-datatable *{
    font-size:14px;
}

.ui-datatable-data > tr.ui-widget-content > td{
    background-color:transparent;
}
.ui-datatable > table{
    border-collapse:separate;
    border-spacing:0 5px;
}
.ui-datatable > table .ui-widget-content {
    background-color:transparent;
}
.ui-datatable .ui-datatable-data td, .ui-datatable .ui-datatable-data-empty td{
    border:1px solid;
}
.ui-datatable .ui-datatable-data tr{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.ui-datatable .ui-datatable-data tr > td:first-child{
    -moz-border-radius-topleft:10px;
    -webkit-border-top-left-radius:10px;
    border-top-left-radius:10px;
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px;
}
.ui-datatable .ui-datatable-data tr > td:last-child{
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
    border-top-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px;
}
.ui-datatable thead tr:last-child .ui-state-default{
    border:none;
    /* background-color:transparent; */
    background-image:none;
    text-align: left;
}
.ui-datatable thead tr:last-child .ui-state-active{
    background-color:#FFFFFF;
}
.ui-datatable .ui-datatable-data tr.ui-datatable-even{
    background-color:#dfdfdf;
}
.ui-datatable .ui-datatable-data tr.ui-datatable-odd{
    background-color:#d4d4d4;
}

.ui-datatable .ui-datatable-data tr > td{
    background-color:transparent;
}

.title-table{font-size: 22px;font-weight: bold;display: block;}

.title-table-red{color:#C00;}

.title-table-gray{color:#999999;}

.align-left{text-align: left;}

.align-center{text-align: center !important;}

.ui-button-icon-only .ui-button-text{padding: .2em;}

form .ui-button-icon-only {width: 2em;height: 1.8em;position: relative;top: 0;}


table thead .ui-chkbox .ui-state-default{background: #d4d4d4 !important;}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{font-weight: normal;color: #252FA0;}


/* ----- CALENDAR ----- */

.ui-datepicker{
    background-color:#f3f3f3 !important;
    padding:5px 10px !important;
    -moz-border-radius:0 !important;
    -webkit-border-radius:0 !important;
    border-radius:0 !important;
    -moz-box-shadow: 0 5px 10px #888;
    -webkit-box-shadow: 0 5px 10px #888;
    box-shadow: 0 5px 10px #888;
    border:solid 1px #b6b6b6 !important;
}

.ui-datepicker-calendar{
    background-color:#f3f3f3;
}

.ui-datepicker-header{
    background-color:transparent;
}

table.ui-datepicker-calendar{

}

.ui-datepicker-calendar tr td{
    border:solid 1px #b6b6b6;
    padding:0 !important;
}

.ui-datepicker-calendar tr a.ui-state-default{
    background-color:transparent;
    background-image:none;
    border:none;
    display:block;
    text-align:center;
    padding-top:4px;
    padding-bottom:4px;
    color:#666666;
}

.ui-datepicker .ui-state-active{
    -moz-box-shadow: inset 0 0 5px #CCC;
    -webkit-box-shadow: inset 0 0 5px #CCC;
    box-shadow: inset 0 0 5px #CCC;
    background-color:#e4e4e4;
}

.ui-datepicker{ width: 180px;}
.ui-datepicker table{height: 145px !important;}


.ui-datepicker table .ui-datepicker-today{background: #cbcbcb !important;}
.ui-datepicker table .ui-datepicker-today a{color:#C00;font-weight: bold;}

/* ----- CALENDAR ----- */




/* ----- ICONS ----- */
.cds-icon{
    text-align:center;
    width:32px !important;
    height:32px !important;
    background-image:url("images/cds-icons.png") !important;
}

.cds-icon-print{ background-position:-12px -12px;}
.cds-icon-config{ background-position:-74px -12px;}
.cds-icon-delconf{ background-position:-136px -12px;}
.cds-icon-search{ background-position:-198px -12px;}
.cds-icon-paste{ background-position:-252px -12px;}
.cds-icon-edit{ background-position:-320px -12px;}

.cds-icon-screen{ background-position:-12px -74px;}
.cds-icon-remove{ background-position:-74px -74px;}
.cds-icon-add{ background-position:-136px -74px;}
.cds-icon-addconf{ background-position:-198px -74px;}
.cds-icon-check{ background-position:-252px -74px;}
.cds-icon-view{ background-position:-320px -74px;}

.cds-icon-save{ background-position:-12px -136px;}
.cds-icon-print{ background-position:-74px -136px;}
.cds-icon-print{ background-position:-136px -136px;}
.cds-icon-addconf{ background-position:-198px -136px;}
.cds-icon-check{ background-position:-252px -136px;}

/* -----  Icons Small -----*/
.cds-icon-small .cds-icon{
    text-align:center;
    width:32px !important;
    height:26px !important;
    background-image:url(/Beesoft/javax.faces.resource/css/img/cds-icons-small.png.xhtml)!important;
}
.cds-icon-small .cds-icon-print{background-position:-85px -85px;}
.cds-icon-small .cds-icon-config{background-position: -45px -5px;}
.cds-icon-small .cds-icon-config{background-position: -45px -5px;}
.cds-icon-small .cds-icon-delconf{background-position: -85px -5px;}
.cds-icon-small .cds-icon-search{background-position: -130px -5px;}
.cds-icon-small .cds-icon-paste{background-position: -165px -5px;}
.cds-icon-small .cds-icon-edit{background-position: -207px -5px;}


.cds-icon-small .cds-icon-button .ui-button-text{
    padding: 0 .6em !important;
    font-size:10px;
    line-height:14px;
}

/* -----  Icons Small -----*/


/* ----- ICONS ----- */

/* ----- TABLE ICONS ----- */
.cds-custom-small-icon{
    background-color:transparent !important;
    background-image:none !important;
    border:none !important;
    width:20px;
    margin:0px;
    padding:0px;
}
.cds-custom-small-icon > .ui-icon{
    background-image:url(/Beesoft/javax.faces.resource/css/img/cds-icons-small.png.xhtml) !important;
    border-radius: 0px !important;
    width:18px;
    height:18px;
}
.cds-custom-small-icon > .ui-button-text{
    padding:0px;
}
.cds-custom-small-icon > .ui-icon-pencil{background-position:-214px -13px}
.cds-custom-small-icon > .ui-icon-trash{background-position:-173px -93px}
.cds-custom-small-icon > .ui-icon-check{background-position:-173px -54px}
.cds-custom-small-icon > .ui-icon-search{background-position:-134px -12px}
/* ----- TABLE ICONS ----- */

/* ----- CUSTOM ICONS ----- */
.cds-custom-search .ui-icon, .cds-custom-calendar .ui-icon{
    background-image:url(/Beesoft/javax.faces.resource/css/img/cds-icons-small.png.xhtml) !important;
    width:20px;
    height:20px;
    border-radius:0px;
}

.cds-custom-calendar .ui-icon{
    margin-left: -10px;
}

.cds-custom-search .ui-icon-search{
    background-position:-134px -12px
}
.cds-custom-calendar .ui-icon-calendar{
    background-position:-210px -92px
}
/* ----- CUSTOM ICONS ----- */


/* ----- MESSAGES ----- */
.ui-messages > div{
    border:solid 2px #ffffff !important;
}
.ui-messages-info{
    background-color:#c7daed !important;
    font-size: 20px;
    background-image:-webkit-linear-gradient(top, #ffffff, #c7daed) !important;
    background-image:-moz-linear-gradient(top, #ffffff, #c7daed) !important;
    background-image:linear-gradient(to bottom, #ffffff, #c7daed) !important;
}
.ui-messages-warn{
    background-color:#FEEFB3 !important;
    background-image:-webkit-linear-gradient(top, #ffffff, #FEEFB3) !important;
    background-image:-moz-linear-gradient(top, #ffffff, #FEEFB3) !important;
    background-image:linear-gradient(to bottom, #ffffff, #FEEFB3) !important;
}
.ui-messages-error{
    background-color:#edc7c7 !important;
    background-image:-webkit-linear-gradient(top, #ffffff, #edc7c7) !important;
    background-image:-moz-linear-gradient(top, #ffffff, #edc7c7) !important;
    background-image:linear-gradient(to bottom, #ffffff, #edc7c7) !important;
}
.ui-messages-fatal{
    background-color:#e89090 !important;
    background-image:-webkit-linear-gradient(top, #edc7c7, #e89090) !important;
    background-image:-moz-linear-gradient(top, #edc7c7, #e89090) !important;
    background-image:linear-gradient(to bottom, #edc7c7, #e89090) !important;
}
.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon, .ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon{
    background-image: url(/Beesoft/javax.faces.resource/css/img/cds-message-icons.png.xhtml) !important;
}

/* ----- DIALOG MESSAGES ----- **/
.ui-dialog-content .ui-growl-image{background-image: url() !important;}
/*.ui-dialog-content .ui-growl-image{width: 70px;height: 66px;}*/
.ui-dialog-content .ui-growl-image-warn {background-position: 0 0;}
.ui-dialog-content .ui-growl-image-error {background-position: 0 -32px;}
.ui-dialog-content .ui-growl-image-info {background-position: 0 -64px;}
.ui-dialog-content .ui-growl-image-confirmation {background-position: 0 -100px;}
.ui-dialog-content .ui-growl-image-fatal {background-position: 0 -134px ;}

.ui-growl-item-container{
    background-color:#FFFFFF;
    text-align:left;
}
.ui-growl-image{
    background-image: url(/Beesoft/javax.faces.resource/css/img/cds-message-icons.png.xhtml) !important;
}

.cds-ui-dialog{
    min-width:300px;
    background-color:#cbcbcb;
    background-image:-webkit-linear-gradient(top, #ffffff, #cbcbcb);
    background-image:-moz-linear-gradient(top, #ffffff, #cbcbcb);
    background-image:linear-gradient(to bottom, #ffffff, #cbcbcb);
}
.cds-ui-dialog-noresize .ui-resizable-handle{
    display:none !important;
}

.cds-ui-dialog > .ui-dialog-content{
    margin-bottom:20px;
}
.cds-ui-dialog > .ui-dialog-content > .ui-growl-message > p{
    margin:0;

}

.cds-ui-dialog > .ui-dialog-content > .ui-growl-message > .ui-growl-title{
    font-size:20px;
    font-weight:bold;
}
.cds-ui-dialog-info{
    background-color:#c7daed !important;
    background-image:-webkit-linear-gradient(top, #ffffff, #c7daed) !important;
    background-image:-moz-linear-gradient(top, #ffffff, #c7daed) !important;
    background-image:linear-gradient(to bottom, #ffffff, #c7daed) !important;
}

.cds-ui-dialog-warn{
    background-color:#FEEFB3 !important;
    background-image:-webkit-linear-gradient(top, #ffffff, #FEEFB3) !important;
    background-image:-moz-linear-gradient(top, #ffffff, #FEEFB3) !important;
    background-image:linear-gradient(to bottom, #ffffff, #FEEFB3) !important;
}
.cds-ui-dialog-error{
    background-color:#edc7c7 !important;
    background-image:-webkit-linear-gradient(top, #ffffff, #edc7c7) !important;
    background-image:-moz-linear-gradient(top, #ffffff, #edc7c7) !important;
    background-image:linear-gradient(to bottom, #ffffff, #edc7c7) !important;
}
.cds-ui-dialog-fatal{
    background-color:#e89090 !important;
    background-image:-webkit-linear-gradient(top, #edc7c7, #e89090) !important;
    background-image:-moz-linear-gradient(top, #edc7c7, #e89090) !important;
    background-image:linear-gradient(to bottom, #edc7c7, #e89090) !important;
}

.cds-ui-dialog-confirmation{
    /*	background-color:#e89090 !important;
        background-color: #dff0d8 !important;
        border-color: #d6e9c6 !important;*/
    background-image:-webkit-linear-gradient(top, #fcf8e3, #dff0d8) !important;
    background-image:-moz-linear-gradient(top, #fcf8e3, #dff0d8) !important;
    background-image:linear-gradient(to bottom, #fcf8e3, #dff0d8) !important;
}
/* ----- MESSAGES ----- */



.cds-button-panel{
    background-color:transparent;
    text-align:center;
    padding-top:20px !important;
}

.cds-button-panel > .ui-widget-content > button{
    vertical-align:text-top;
}

.cds-icon-button{
    /*	text-align:center;
            max-width:60px;
            background-image:none !important;
            background-color:transparent !important;
            border:none !important;*/
}
.cds-icon-button .cds-icon{
    position:relative;
    display:block;
    margin:0 auto !important;
    left:auto;
}

.cds-icon-button .ui-button-text{
    padding: .4em .6em !important;
    font-size:11px;
    line-height:14px;
}


div#cds-container > .cds-panel-simple:last-child{
    margin-bottom:80px !important;
}

div.clear{
    clear:both;
    float:none;
    text-indent:-99999px;
    color:transparent;
}

.cds-button-panel hr.ui-separator{
    width:0px !important;
    height:50px;
    vertical-align:top;
    display:inline-block;
    border-left:solid 1px #CCC;
    border-right:solid 1px #AAA;
    margin:0 10px;
}

div.clear-page{
    height:60px;
}


/* ----- TOOLTIP  -----*/
.ui-tooltip{padding: 10px !important; text-align: left !important;}


.tooltip-user::before {
    border-bottom: 16px solid #64073c;
    top: -16px;
    z-index: 1;}
.tooltip-user::before, .tooltip-user::after {
    border-left: 38px solid transparent;
    border-right: 42px solid transparent;
    left: 0;
}
.tooltip::before, tooltip-user::after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
}
/* ----- TOOLTIP  -----*/

.block{display: block !important;}

/* ----- TABLE TOTAL -----*/
.table-total tfoot tr{border-radius: 6px;-webkit-border-radius: 6px;-moz-border-radius: 6px;}

/* ----- WIZARD  -----*/
.ui-lightbox .ui-wizard ul{display: none !important;}
.ui-lightbox .ui-wizard .ui-panel{background: transparent;}
.ui-lightbox .ui-lightbox-content .ui-panel .ui-panel-titlebar{margin-top: 16px !important;}
.ui-lightbox .ui-widget-header .ui-panel-title {background: url("images/cds-info-icon.png") no-repeat; padding: 15px 0 15px 59px;}
.ui-lightbox .ui-widget-header .ui-panel-titlebar-icon{position: absolute;top: 10px;right: 15px;}
.ui-lightbox .ui-wizard .hr-horizontal{margin:20px 20px 20px 40px;}
.ui-lightbox .ui-wizard-content .row-help{width: 610px;height: 113px;}
.ui-lightbox .ui-wizard-content .row-help .ui-panel-content .wizard-texto{width: 278px;text-align: justify;float: left;margin-left: 44px;}
.ui-lightbox .ui-wizard-content .row-help .ui-panel-content .wizard-texto h5{margin-bottom:6px;margin-top:0;font-size: 16px;}
.ui-lightbox .ui-wizard .row-help .wizard-texto p{margin-top: 0;font-weight: bold;}
.ui-lightbox .ui-wizard .row-help .wizard-img{width: 250px;text-align: left;float: left;margin-left: 37px;}



.cds-panel-simple.con-borde {
    border-width: 3px;
    border-color: #5BC0F8;
    border-style: solid;
}

.label-email{
    font-family: arial;
    font-size: 17px;
}

.campo-email{
    font-family: arial;
    font-size: 12pt;
}

.label-title{
    font-size: 15px;
}

.ui-widget-content2{
    background-color: rgb(236, 237, 237);
    border: solid 3px #F5F7F8; 
    margin: 20px;
    margin-top: 0px;
}

.fileinput-button input {
    -moz-transform : none !important;
    border : none !important;
    border-width : 0 !important;
    transform : translate(-300px, 0) scale(4) !important;
    font-size : 23px !important;
}
* + html .fileinput-button {
    line-height : none !important;
    padding : 2px 15px !important;
}

.ui-picklist-button-add-all{
    visibility: hidden !important;   
}

.panel-shadow{
    -webkit-box-shadow: 0px 1px 46px -4px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: 0px 1px 46px -4px rgba(0,0,0,0.5) !important;
    box-shadow: 0px 1px 46px -4px rgba(0,0,0,0.5) !important;
}

.panel-default{
    width:320px !important;
    border-radius: 20px !important;
    background-color:rgba(255, 255, 255, 0) !important;
    border-color:rgba(255, 255, 255, 0) !important;
}

.panel-defaultV2 {
	width:700px !important;
    border-radius: 20px !important;
    background-color:rgba(255, 255, 255, 0) !important;
    border-color:rgba(255, 255, 255, 0) !important;
}

.panel-heading{
    border-radius: 20px 20px 0px 0px !important;
    background-color:rgba(236, 237, 237, 0.7) !important;
}

.panelbody{
    background-color: #fff !important;
    border-radius: 20px 20px 20px 20px !important;
    padding: 0px 40px 410px 0px !important;
}

.input-group-addon {
    color: #eceded !important;
    background-color: rgb(6, 49, 51) !important;
    border: 1px solid rgb(6, 49, 51) !important;
}

.input-group-addonV2 {
	color: #000000 !important;
	background-color: rgb(255, 255, 255) !important;
}

.button-action{
    background:rgb(6, 49, 51)!important;
    color: #fff !important;
    font-family: 'Roboto', sans-serif !important;
    border-radius: 0px 0px 0px 0px !important;
}

.button-actionV2 {
	background: #820101 !important;
	color: #fff !important;
	font-family: 'Roboto', sans-serif !important;
	border-radius: 23px !important;
}

.ui-menu-list > li{
    margin-right: 10px !important;
}

.menu-conf{
    background-color: rgb(6, 49, 51) !important;
    color: #fff !important;
    font-family: 'Roboto', sans-serif !important;
}

.dropdown-menu {
    background-color: rgb(6, 49, 51) !important;
    color: #fff !important;
    font-family: 'Roboto', sans-serif !important;
}

.dropdown > .dropdown-menu > li :hover {
    background-color: rgb(9, 77, 80);
}

.dropdown > button :hover  {
    color: rgb(9, 77, 80) !important;
}

.title-new{
    background-color: white !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: 60px !important;
    padding-top: 18px !important;
}

.notification-bar{
    background-color: transparent;
    margin-top: 80px;
}


.alertas-inbox-verde{
    background-color: green;
}

.alertas-inbox-amarillo{
    background-color: yellow;
}

.alertas-inbox-rojo{
    background-color: red;
}

.leido{
    font-weight: bold;
}