.ui-panelgrid{
    background-color:transparent;
}

.panel-form td {border: none;padding: 6px 0px !important;}

.ui-panelgrid .ui-widget-content td{
    border:none !important;
}

.ui-panel{	padding:0 !important;}

.ui-panelgrid td {border:none;padding: 4px 10px;background-color: transparent;}

.ui-panel .ui-panel-content{padding:0;}

.ui-panel-content{padding:0px !important;}

/* ----- TABS ----- */
.ui-tabs{background-color:transparent !important;}

ul.ui-tabs-nav{
    /*	background-image:-webkit-linear-gradient(top, #ffffff, #cbcbcb);
            background-image:-moz-linear-gradient(top, #ffffff, #cbcbcb);
            background-image:-ms-linear-gradient(top, #ffffff, #cbcbcb);
            background-image:-o-linear-gradient(top, #ffffff, #cbcbcb);
            background-image:linear-gradient(to bottom, #ffffff, #cbcbcb);*/
    border-bottom:solid 1px #ffffff;
}
/* ----- SCROLL PANE ---- */
.ui-scrollpanel{background-color: transparent;background-image: none;}
.ui-scrollpanel .ui-scrollpanel-container{padding-bottom: 30px;}
.ui-scrollpanel .ui-scrollpanel-container .ui-scrollpanel-wrapper{padding-bottom: 30px;}
.ui-scrollpanel-handle{background:#999999 !important;}

/* ----- SCROLL -----   */

