table.cds-4cols{
    table-layout:fixed;
}
table.cds-4cols > tbody > tr > td{
    min-width:25%;
}

.ui-datatable table{
    border-collapse: collapse !important;
}

.ui-datatable .ui-datatable-data td, .ui-datatable .ui-datatable-data-empty td {
    border-width: 1px;
    border-style: none !important;
}

.ui-datatable th div.ui-dt-c, .ui-datatable .ui-datatable-data td div.ui-dt-c, .ui-datatable .ui-datatable-data-empty td div.ui-dt-c, .ui-datatable tfoot td div.ui-dt-c {
    padding: 0 !important;
    overflow: hidden;
}

.ui-widget-header {
    border: none !important;
    background: none !important;
}

.fixed-size {
    table-layout: fixed;
    word-wrap: break-word;
}
