
.ui-widget-content{
    /* background-color:transparent; */
    border:none;
    border:solid 0px #FFFFFF;
}

.ui-widget-content {
    /*border:none;
    background-color:transparent;*/
    color: #0B0B0B;
    /* background: white; */
}

.ui-widget{
    padding:0;
    font-family: 'Calibri', sans-serif;
    text-align: left !important;
}


table.ui-widget > tbody > tr.ui-widget-content{
    border:none;
    background-color:transparent;
}

.ui-widget-header {
    border: 3px !important;
    background: #E2E2E2 !important;
}

.ui-picklist .ui-picklist-list {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: auto !important;
    height: 260px !important;
    width: 400px !important;
}

.ui-picklist .ui-picklist-filter-container .ui-icon {
    position: absolute !important;
    top: 5px !important;
    left: 364px !important;
}