<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Personal" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">

        <h:form id="form1">
            <p:panel header="Personas" styleClass="cds-panel-simple panel-form">
                <div align="center">
                    <h3 class="title-new">Buscar Personas</h3>
                </div>
                <p:messages id="validate" autoUpdate="true"/>
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:panelGrid columns="8" style="width: 100%">
                        <h:outputLabel value="Nombre" />
                        <p:inputText  value="#{actorAction.nombrePersona}" onblur="value = value.toUpperCase()" style="text-transform: uppercase">
                            <p:ajax process="@this,@form"/>
                        </p:inputText>
                        <h:outputLabel value="Cedula" />
                        <p:inputText  value="#{actorAction.cedulaPersona}" style="width:110px;">
                            <p:ajax process="@this,@form"/>
                        </p:inputText>
                        <h:outputLabel value="Tipo persona" for="tipopersona" />
                        <p:selectOneMenu id="tipopersona" style="width:233px;" value="#{actorAction.tipoCadenaPersona}">
                            <f:selectItem itemLabel="seleccione" />
                            <f:selectItems value="#{applicationAction.listaTipoPersona.entrySet()}" var="tp" itemLabel="#{tp.value}" itemValue="#{tp.key}" />
                        </p:selectOneMenu>
                        <p:commandButton styleClass="button-action" value="Buscar" action="#{actorAction.buscarPersonal()}" update=":form1:tablaPersonal"/>    
                        <p:commandButton styleClass="button-action" value="Reiniciar" action="#{actorAction.reset()}" update="@form"/>    
                    </p:panelGrid>
                    <p:dataTable id="tablaPersonal" emptyMessage="No se han encontrado resultados" var="pro" rowKey="#{pro.cedula}" sortBy="nombreYApellido" value="#{actorAction.listaPersonal}" paginator="true" rows="10" paginatorPosition="bottom">  
                       
                        <p:column headerText="Cedula">  
                            <h:outputText value="#{pro.cedula}" />  
                        </p:column>  

                        <p:column headerText="Nombre">  
                            <h:outputText value="#{pro.nombreYApellido}" />  
                        </p:column>  

                        <p:column headerText="Correo">
                            <h:outputText value="#{pro.email}"/>
                        </p:column> 

                        <p:column headerText="Estado">
                            <h:outputText value="#{pro.estado?'Habilitado':'Inhabilitado'}"/>
                        </p:column>

                        <p:column headerText="Acción">
                            <p:commandLink id="ver" title="Ver"  action="#{actorAction.selectActor(true,pro)}">
                                <p:graphicImage url="#{resource['css/img/ver.png']}"/>
                            </p:commandLink>
                            &#160; 
                            <p:commandLink id="editar" title="Editar"  action="#{actorAction.selectActor(false,pro)}" >
                                <p:graphicImage url="#{resource['css/img/editar.png']}"/>
                            </p:commandLink>
                            <p:commandLink id="delete" action="#{actorAction.cambiarEstado(pro.id, false)}" rendered="#{pro.estado}" update="tablaPersonal" title="Desactivar" >
                                &#160;<p:graphicImage url="#{resource['css/img/desactivar.png']}"/>
                            </p:commandLink>
                            <p:commandLink id="active" action="#{actorAction.cambiarEstado(pro.id, true)}" rendered="#{!pro.estado}" update="tablaPersonal" title="Activar" >
                                &#160;<p:graphicImage url="#{resource['css/img/activar.png']}"/>
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                </p:fieldset>

            </p:panel>

        </h:form>
    </ui:define>
</ui:composition>
