<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Personal" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">
        <script type="text/javascript">
            $(function () {
                setTimeout(function () {
                    $('.imageToReload').prop('src', $('.imageToReload').prop('src') + '?' + Math.random());
                });
            });
        </script>

        <h:form id="form1" enctype="multipart/form-data>
            <p:selectOneRadio id="customRadio" value="#{actorAction.direccion}" layout="custom">
                <f:selectItem itemLabel="" itemValue="d1" />
                <f:selectItem itemLabel="" itemValue="d2" />
            </p:selectOneRadio>
            <p:selectOneRadio id="activo" value="#{actorAction.estado}" disabled="#{actorAction.opcionVer}" layout="custom">  
                <f:selectItem itemLabel="" itemValue="true" />  
                <f:selectItem itemLabel="" itemValue="false" />  
            </p:selectOneRadio>
            <p:panel header="Personas" styleClass="cds-panel-simple panel-form">
                <div align="center">
                    <h3 class="title-new">#{actorAction.opcionVer ? 'Ver Personas':'Editar Personas'}</h3>
                </div>
                <p:messages id="validate" autoUpdate="true"/>
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:panelGrid columns="2" style="width:80%;" >
                        <h:outputLabel value="Pais" for="pais" />
                        <p:selectOneMenu id="pais" value="#{actorAction.pais}"
                                         style="width:260px;" disabled="#{actorAction.opcionVer}">
                            <f:selectItem itemLabel="seleccione" />
                            <f:selectItems value="#{actorAction.listaPaises.values()}" />
                            <p:ajax update="@form" process="@form" listener="#{actorAction.cargarDeptos()}" />
                        </p:selectOneMenu>
                        <h:outputLabel value="Departamento" for="depto" />
                        <p:selectOneMenu id="depto" value="#{actorAction.depto}"
                                         style="width:260px;" disabled="#{actorAction.opcionVer}">
                            <f:selectItem itemLabel="seleccione" />
                            <f:selectItems value="#{actorAction.listaDeptos.values()}" />
                            <p:ajax update="@form" process="@form" listener="#{actorAction.cargarCiudades()}" />
                        </p:selectOneMenu>
                        <h:outputLabel value="Ciudad*" for="ciudad" />
                        <p:selectOneMenu id="ciudad" value="#{actorAction.ciudad}"
                                         style="width:260px;" disabled="#{actorAction.opcionVer}">
                            <f:selectItem itemLabel="seleccione" />
                            <f:selectItems value="#{actorAction.listaCiudades.values()}" />
                        </p:selectOneMenu>

                        <h:outputLabel value="Tipo persona*" for="tipopersona" />
                        <p:selectOneMenu id="tipopersona" style="width:260px;" value="#{actorAction.tipoCadena}" disabled="#{actorAction.opcionVer}">
                            <f:selectItem itemLabel="seleccione" />
                            <f:selectItems value="#{applicationAction.listaTipoPersona.entrySet()}" var="tp" itemLabel="#{tp.value}" itemValue="#{tp.key}"/>
                            <p:ajax update="@form" process="@form" listener="#{actorAction.showCampos}"/>
                        </p:selectOneMenu>

                        <h:outputLabel value="Cedula/Nit" for="cedula" />
                        <p:inputText id="cedula" value="#{actorAction.cedula}" disabled="#{actorAction.opcionVer}"
                                     style="width:248px;" title="Cedula" onkeydown="return permitirSoloNumeros(this, event);"/>
                        <h:outputLabel value="Nombres*" for="nombres" />
                        <p:inputText id="nombres" value="#{actorAction.nombres}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:248px" title="Nombres" disabled="#{actorAction.opcionVer}"/>
                        <h:outputLabel value="Fecha Nacimiento" for="fechaNacimiento" />
                        <p:calendar locale="es" value="#{actorAction.fechaNacimiento}" 
                                    id="fechaNacimiento" style="width:180px;"  rendered="#{!actorAction.opcionVer}"
                                    styleClass="cds-custom-calendar input-special"
                                    navigator="true" yearRange="1980:2025" />
                        <p:inputText id="fechaNacimientoText" value="#{actorAction.fechaNacimiento}"
                                     style="width:248px;" title="Fecha de nacimiento" rendered="#{actorAction.opcionVer}" disabled="#{actorAction.opcionVer}"/>
                        <h:outputLabel value="Direccion 1" for="direccion1" />
                        <p:panel styleClass="cds-panel-reset">
                            <p:panelGrid columns="2">
                                <p:inputText id="direccion1" value="#{actorAction.direccion1}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:220px" title="Direccion 1" disabled="#{actorAction.opcionVer}"/>
                                <p:radioButton id="opt1" for="customRadio" itemIndex="0" disabled="#{actorAction.opcionVer}"/>
                            </p:panelGrid>
                        </p:panel>

                        <h:outputLabel value="Direccion 2" for="direccion2" />
                        <p:panel styleClass="cds-panel-reset">
                            <p:panelGrid columns="2">
                                <p:inputText id="direccion2" value="#{actorAction.direccion2}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:220px" title="Direccion 2" disabled="#{actorAction.opcionVer}"/>
                                <p:radioButton id="opt2" for="customRadio" itemIndex="1" disabled="#{actorAction.opcionVer}"/>
                            </p:panelGrid>
                        </p:panel>

                        <h:outputLabel value="Telefono" for="telefono" />
                        <p:panelGrid columns="4">
                            <p:inputText id="telefono" value="#{actorAction.telefono}" onkeydown="return permitirSoloNumeros(this, event);" style="width:220px;" disabled="#{actorAction.opcionVer}" title="Telefono" />
                            <h:outputLabel value="Ext." for="telefonoExt" />
                            <p:inputText id="telefonoExt" value="#{actorAction.telefonoExt}" onkeydown="return permitirSoloNumeros(this, event);" style="width:100px;" title="Extension" disabled="#{actorAction.opcionVer}" />
                        </p:panelGrid>

                        <h:outputLabel value="Empresa" for="empresa" rendered="#{!actorAction.showEmails}"/>
                        <p:selectOneMenu id="empresa" value="#{actorAction.empresa}"
                                         rendered="#{!actorAction.showEmails}" disabled="#{actorAction.opcionVer}" style="width:220px;">
                            <f:selectItem itemLabel="Seleccione" />
                            <f:selectItems value="#{applicationAction.listaEmpresas}" var="empresa" itemLabel="#{empresa.nombreYApellido}" itemValue="#{empresa.id}"/>
                        </p:selectOneMenu>

                        <h:outputLabel value="Cargo" for="cargo" rendered="#{actorAction.showOficina}"/>
                        <p:inputText id="cargo" value="#{actorAction.cargo}"  title="Cargo" disabled="#{actorAction.opcionVer}" rendered="#{actorAction.showOficina}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:248px"/>

                        <h:outputLabel value="Oficina" for="oficina" rendered="#{actorAction.showOficina}" />
                        <p:selectOneMenu id="oficina" value="#{actorAction.oficinaCadena}" filter="true" filterMatchMode="contains"
                                         rendered="#{actorAction.showOficina}" style="width:260px;" disabled="#{actorAction.opcionVer}">
                            <f:selectItem itemLabel="Seleccione" />
                            <f:selectItems value="#{applicationAction.oficinas.entrySet()}" var="oficina" itemLabel="#{oficina.value}" itemValue="#{oficina.key}"/>
                        </p:selectOneMenu>

                        <h:outputLabel value="Firma Digital" for="firma" rendered="#{actorAction.showFirmaJefe}"/>
                        <p:graphicImage url="#{resource[actorAction.graphicText]}" rendered="#{actorAction.showFirmaJefe}"  />

                        <h:outputLabel value="Jefe" for="jefe" rendered="#{actorAction.showJefe}"/>
                        <p:selectOneMenu id="jefe" value="#{actorAction.jefeCadena}"
                                         rendered="#{actorAction.showJefe}" style="width:260px;" disabled="#{actorAction.opcionVer}">
                            <f:selectItem itemLabel="Seleccione" />
                            <f:selectItems value="#{applicationAction.listaJefes}" var="jefe" itemLabel="#{actorAction.mostrarNombreJefe(jefe)}" itemValue="#{actorAction.mostrarIdJefe(jefe)}"/>
                            <p:ajax process="@this"/>
                        </p:selectOneMenu>

                        <h:outputLabel value="Email"/>
                        <p:inputText id="emailshow" value="#{actorAction.email}" style="width:220px;" title="Email" disabled="#{actorAction.opcionVer}"/>

                        <h:outputLabel value="Firma*" for="archivo" rendered="#{!actorAction.showJefe}" />
                        <p:fileUpload 
                            id="archivo" 
                            uploadLabel="Cargar" 
                            cancelLabel="Cancelar" 
                            label="Seleccionar" 
                            multiple="false"
                            fileUploadListener="#{actorAction.cargarFirma}" 
                            mode="advanced" 
                            sizeLimit="5120000" 
                            fileLimit="1" 
                            allowTypes="/(\.|\/)(gif|jpe?g|png)$/" 
                            styleClass="ui-widget-header" 
                            style="width: 600px" rendered="#{!actorAction.showJefe}"/> 
                        
                        <h:outputLabel value="Estado"  />
                        <p:panel styleClass="cds-panel-reset">
                            <p:panelGrid columns="2">
                                <p:outputLabel value="Habilitado" for="opt1"/>
                                <p:radioButton id="hbt" for="activo" itemIndex="0" />
                                <p:outputLabel value="Inhabilitado" for="opt2"/>
                                <p:radioButton id="ihbt" for="activo" itemIndex="1" />
                            </p:panelGrid>
                        </p:panel>

                        <p:commandButton styleClass="button-action" action="#{actorAction.crearActor()}" update="@form"
                                         value="Editar" rendered="#{!actorAction.opcionVer}"/>
                        <p:commandButton styleClass="button-action" action="#{actorAction.volver()}" update="@form"
                                         value="Regresar" />
                    </p:panelGrid>

                </p:fieldset>


            </p:panel>

        </h:form>
    </ui:define>
</ui:composition>
