<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="shortcut icon" href="#{resources['css/img/favicon.ico']}"
		type="image/x-icon" />
	<link rel="icon" href="#{resources['css/img/favicon.ico']}"
		type="image/x-icon" />
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto"
		rel="stylesheet" />
	<f:facet name="first">
		<title>Beesoft</title>
	</f:facet>
	<script type="text/javascript" src="#{resource['js/script.js']}"></script>
	<script type="text/javascript" src="#{resource['js/bootstrap.min.js']}"></script>
	<h:outputStylesheet name="css/form.css" />
	<h:outputStylesheet name="css/menu.css" />
	<h:outputStylesheet name="css/panel.css" />
	<h:outputStylesheet name="css/particular.css" />
	<h:outputStylesheet name="css/table.css" />
	<h:outputStylesheet name="css/widget.css" />
	<h:outputStylesheet name="css/general.css" />
	<ui:insert name="head"></ui:insert>
</h:head>
<h:body>
	<p:ajaxStatus onstart="PF('statusDialog').show();"
		onsuccess="PF('statusDialog').hide();" rendered="#{!quitar_cargador}" />

	<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
		closable="false" resizable="false" showHeader="false"
		style="background: transparent!important;border: transparent;border: 0;box-shadow: 0px 0px 0px !important;">
		<p:graphicImage url="#{resource['css/img/loading.gif']}" />
	</p:dialog>
	<div id="cds-container">
		<h:form id="formTmplate">
			<p:growl id="growl" />

			<div class="cds-panel-mainmenu"
				style="box-shadow: 20px; position: fixed; top: 0; z-index: 100">
				<div class="row">
					<div class="col-sm-3" style="padding-right: 0px">
						<span style="width: 240px;"> <a
							href="/Beesoft/html/documento/InboxDocumento.xhtml"
							class="pull-left" style="padding-top: 4px;"> <h:graphicImage
									url="#{resource['css/img/logo-beesoft.png']}"
									style="margin-left: 15px" class="pull-left" width="80%"
									height="90%" />
						</a>
						</span> <a href="/Beesoft/html/documento/InboxDocumento.xhtml"
							style="color: black; padding-top: 30px" class="pull-right"> <i
							class="glyphicon glyphicon-home"></i>
						</a>
					</div>

					<div class="col-sm-6" style="padding-top: 23px; padding-left: 0px;">
						<p:menubar model="#{usuario.model}" styleClass="cds-menu-mainmenu"
							style="margin-left: 15px" />
					</div>
					<div class="col-sm-3" style="padding-top: 23px;" align="center">
						<span class="dropdown">
							<button class="btn menu-conf dropdown-toggle" type="button"
								id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="true">
								<strong><h:outputText value="#{usuario.nombreInfo}"
										style="font-size:15px;color:white;" /> <i
									class="glyphicon glyphicon-cog"></i> </strong>

							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li class="button-login"><p:commandLink id="passLink"
										value="Cambiar contraseña" onclick="PF('dlg').show()"
										title="Cambiar contraseña" style="color:white;font-size:16px;" /></li>

								<li role="separator" class="divider"></li>
								<li><p:commandLink value="Cerrar Sesión"
										action="#{usuario.cerrarSession()}"
										style="font-size:18px;color:white;" /></li>
							</ul>
						</span>
					</div>
				</div>
			</div>
		</h:form>
		<p:dialog id="dialog" header="Cambiar Contraseña" widgetVar="dlg"
			modal="true" resizable="false">
			<h:form>
				<p:panelGrid columns="2">
					<h:outputLabel for="newpass" value="Nueva Contraseña:" />
					<p:password value="#{usuario.newPassword}" id="newpass"
						label="nueva contraseña" styleClass="input-required" />

					<h:outputLabel for="conpass" value="Confirmar Contraseña:" />
					<p:password value="#{usuario.confirmPassword}" id="conpass"
						label="confirmar contraseña" styleClass="input-required" />

					<p:commandButton id="loginButton" value="editar"
						update=":formTmplate:growl,newpass,conpass"
						actionListener="#{usuario.cambiarPasswordUsuario()}"
						oncomplete="handleLoginRequest(xhr, status, args)" />

				</p:panelGrid>
			</h:form>
		</p:dialog>

		<ui:insert name="content"></ui:insert>
		<div class="clear clear-page">.</div>
		<footer class="cds-panel-footer">
			<div>
				© <strong>Sumset S.A.S.</strong> - Todos los derechos reservados
				2017
			</div>
		</footer>
	</div>
</h:body>
<script type="text/javascript">
        function handleLoginRequest(xhr, status, args) {
            if (!args.loggedIn) {
                PF('dlg').jq.effect("shake", {times: 5}, 100);
            } else {
                PF('dlg').hide();
                $('#loginLink').fadeOut();
            }
        }
    </script>
</html>