<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true" closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="COMUNICADOS PQR" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>
    <ui:define name="content">
        <h:form id="form1">
            <p:panel header="Mensajes enviados" styleClass="cds-panel-simple panel-form"> 
                <p:fieldset  styleClass="ui-widget-content2">
                    <p:messages id="validate" autoUpdate="true"/>
                    <p:panelGrid id="grid2" columns="2" style="width:48%" styleClass="cds-4cols">  
                        <h:outputLabel value="Radicado" for="radicado" />
                        <p:inputText id="radicado" value="#{comunicadoPqrAction.radicacionConsulta}" style="width: 220px" />

                        <h:outputLabel value="Fecha inicial" for="fechaIni" />
                        <p:calendar locale="es" value="#{comunicadoPqrAction.fechaIni}"
                                    pattern="MM/dd/yyyy" style="width:220px;"
                                    id="fechaIni" styleClass="cds-custom-calendar input-special"
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Fecha final" for="fechaFin" />
                        <p:calendar locale="es" value="#{comunicadoPqrAction.fechaFin}" style="width:220px;"
                                    id="fechaFin" pattern="MM/dd/yyyy" 
                                    styleClass="cds-custom-calendar input-special" 
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Destinatario" for="dest" />
                        <p:pickList id="dest" showSourceFilter="true" filterMatchMode="contains" value="#{comunicadoPqrAction.destinationsSendBusqueda}" var="actor"   
                                    itemLabel="#{actor}" itemValue="#{actor}" styleClass=".ui-picklist .ui-picklist-list" />
                        <h:outputLabel value="Asunto" for="asunto" />
                        <p:inputText id="asunto" value="#{comunicadoPqrAction.asuntoBusqueda}" title="Asunto" />
                    </p:panelGrid>
                    <br/><br/>
                    <p:commandButton action="#{comunicadoPqrAction.correosEnviados()}"  value="Buscar" update="enviados" />
                    <p:commandButton action="#{comunicadoPqrAction.resetBusqueda()}"  value="Limpiar" update="@form" />

                    <br/><br/>
                    <p:dataTable id="enviados" emptyMessage="No se han encontrado resultados" var="mail" value="#{comunicadoPqrAction.correos}"
                                 rowKey="#{mail.radicacion}" paginator="true" rows="10" sortBy="radicacion" paginatorPosition="bottom">

                        <p:column style="width:16px">
                            <p:rowToggler />
                        </p:column>

                        <p:column headerText="Radicación">
                            <h:outputText value="#{mail.radicacion}"/>
                        </p:column>

                        <p:column headerText="Destinatarios">
                            <h:outputText value="#{comunicadoPqrAction.mostrarDestinoTabla(mail)}"/>
                        </p:column>

                        <p:column headerText="Asunto">
                            <h:outputText value="#{mail.asunto}"/>
                        </p:column>

                        <p:column headerText="Acción"  style="width:80px">
                            <p:commandLink action="#{comunicadoPqrAction.infoCorreo(mail,false)}" update="@form" title="Ver" disabled="#{!comunicadoPqrAction.showButtons(mail)}">
                                <p:graphicImage url="#{resource['css/img/mail.png']}"/>
                            </p:commandLink>
                        </p:column>

                    </p:dataTable>

                </p:fieldset>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>

