<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:param name="quitar_cargador" value="true" />

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true" closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Comunicado PQR" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>
    <ui:define name="content">
        <script>
            function PopupCenter(pageURL, title, w, h) {
                var left = (screen.width / 2) - (w / 2);
                var top = (screen.height / 2) - (h / 2);
                var targetWin = window.open(pageURL, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
            }
        </script>
        <h:form id="form1">
            <p:panel header="Bandeja Comunicado PQR" styleClass="cds-panel-simple panel-form"> 
                <p:messages id="validate" autoUpdate="true"/>
                <p:fieldset  styleClass="ui-widget-content2">
                    <p:layout style="min-width:900px;min-height:500px;">
                        <p:layoutUnit position="north" >
                            <p:commandButton value="Redactar"  action="#{comunicadoPqrAction.redactar()}" style="width: 146px" icon="ui-icon ui-icon-document"/>
                        </p:layoutUnit>

                        <p:layoutUnit position="west" size="15%" style="width: 115px" collapsible="true" header="Bandeja">
                            <p:commandButton value="Enviados" action="#{comunicadoPqrAction.InboxComunicados(true)}" style="width: 146px" update="@form" icon="ui-icon ui-icon-mail-closed"/>
                            <br/>
                            <p:commandButton value="Recibidos" action="#{comunicadoPqrAction.InboxComunicados(false)}" style="width: 146px" update="@form" icon="ui-icon ui-icon-transfer-e-w"/>
                            <br/>
                            <p:commandButton value="Por Aprobar" action="#{comunicadoPqrAction.InboxPendientesAprobacion()}" style="width: 146px" update="@form" icon="ui-icon ui-icon-circle-check"/>
                            <br/>
                            <p:commandButton value="Generados" action="#{comunicadoPqrAction.InboxGenerados()}" style="width: 146px" update="@form" icon="ui-icon ui-icon-script"/>
                        </p:layoutUnit>

                        <p:layoutUnit position="center">
                            <p:layout style="width: 100%">
                                <p:layoutUnit position="center" size="85%" resizable="true" styleClass="nestedUnit">
                                    <p:dataTable id="enviados" emptyMessage="No se han encontrado resultados" var="mail" value="#{comunicadoPqrAction.listaComunicados}"
                                                 rowKey="#{mail.radicacion}" paginator="true" rows="10" paginatorPosition="bottom" sortBy="fechaEnvio" sortOrder="descending" style="width: 100%" styleClass="fixed-size">
                                        <p:column style="width:16px">
                                            <p:rowToggler />
                                        </p:column>

                                        <p:column headerText="Radicación" filterBy="#{mail.radicacion}" filterMatchMode="contains">
                                            <h:outputText value="#{mail.radicacion}"/>
                                        </p:column>

                                        <p:column headerText="Destinatarios">
                                            <h:outputText value="#{comunicadoPqrAction.mostrarDestinoTabla(mail)}"/>
                                        </p:column>

                                        <p:column headerText="Asunto" filterBy="#{mail.asunto}" filterMatchMode="contains">
                                            <h:outputText value="#{mail.asunto}"/>
                                        </p:column>

                                        <p:column headerText="Fecha" filterBy="#{mail.fechaEnvio}" >
                                            <h:outputText value="#{comunicadoPqrAction.formatFechaHora(mail)}"/>
                                        </p:column>

                                        <p:column headerText="Acción"  style="width:80px" >
                                            <p:commandLink action="#{comunicadoPqrAction.infoCorreo(mail,true)}" update="@form" title="Ver" rendered="#{comunicadoPqrAction.accionEnviar}">
                                                <p:graphicImage url="#{resource['css/img/mail.png']}"/>
                                            </p:commandLink>
                                            &#160;
                                            <p:commandLink action="#{comunicadoPqrAction.selectPendientesAprobacion(mail)}"  update="@form" title="Ver Comunicado" rendered="#{!comunicadoPqrAction.accionEnviar}">
                                                <p:graphicImage url="#{resource['css/img/mail.png']}"/>
                                            </p:commandLink>
                                        </p:column>
                                        
                                    </p:dataTable>

                                </p:layoutUnit>

                            </p:layout>

                        </p:layoutUnit>


                    </p:layout>
                </p:fieldset>
            </p:panel>
        </h:form>

    </ui:define>
</ui:composition>

