<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">


    <ui:param name="quitar_cargador" value="true" />

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Gestion Documental" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">        
        <h:form id="form1">
            <h:outputText value="#{usuario.inbox}" rendered="false"/>
            <p:panel header="Documentos Pendientes" styleClass="cds-panel-simple panel-form">
                <p:growl autoUpdate="true"/>
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:commandButton styleClass="button-action" id="nuevo" title="Nuevo Documento" action="#{buscarAction.showButtonRadicar()}" rendered="#{usuario.inbox}" value="Radicar" />

                    <p:dataTable id="documentoR" emptyMessage="No hay documentos pendientes" var="doc" value="#{usuario.documentosInbox}"
                                 rowKey="#{doc.radicacion}" sortBy="radicacion" paginator="true" rows="10" paginatorPosition="bottom">  

                        <p:column headerText="Radicacion"  filterBy="#{doc.radicacion}" filterMatchMode="contains">
                            <h:outputText value="#{doc.radicacion}" />  
                        </p:column>  

                        <p:column headerText="Fecha emision">  
                            <h:outputText value="#{doc.fechaEmision}" />  
                        </p:column>  

                        <p:column headerText="Asunto">  
                            <h:outputText value="#{doc.asunto}" />  
                        </p:column>  

                        <p:column headerText="Estado">  
                            <h:outputText value="#{doc.activo?'Para Revision':'Finalizado'}" />  
                        </p:column>

                        <p:column headerText="Usuario">  
                            <h:outputText value="#{buscarAction.confirmarRevisor(doc.radicacion)}" />  
                        </p:column>

                        <p:column headerText="Acción">  
                            <p:commandLink id="editar" title="Gestionar"  action="#{buscarAction.selectDocumentoInbox(doc)}">
                                <p:graphicImage url="#{resource['css/img/ver.png']}"/>
                            </p:commandLink>

                        </p:column>  

                    </p:dataTable>          
                </p:fieldset>


            </p:panel>

        </h:form>
    </ui:define>
</ui:composition>
