<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Usuario" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">
        <h:form id="form1">
            <p:panel header="Usuario" styleClass="cds-panel-simple panel-form">
                <p:messages id="validate" autoUpdate="true"/>
                <div align="center">
                    <h3 class="title-new">Crear Usuario</h3>
                </div>
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:panelGrid id="grid2" columns="2" style="width:48%"
                                 styleClass="cds-4cols">
                        <h:outputLabel value="Actor*" for="actor" />
                        <p:selectOneMenu id="actor" value="#{usuario.actorCadena}" filter="true" filterMatchMode="contains"
                                         style="width:233px;">
                            <f:selectItem itemLabel="Seleccione"/>
                            <f:selectItems value="#{applicationAction.mapaActorSinUsuario.entrySet()}" var="actor" itemLabel="#{actor.value}" itemValue="#{actor.key}" />
                        </p:selectOneMenu>
                        <h:outputLabel value="Perfil*" for="perfil" />
                        <p:selectOneMenu id="perfil" value="#{usuario.perfilCadena}"
                                         style="width:233px;">
                            <f:selectItem itemLabel="Seleccione"/>
                            <f:selectItems value="#{applicationAction.listaPerfil}"/>
                        </p:selectOneMenu>
                        <p:commandButton action="#{usuario.crearUsuario}" value="Crear" styleClass="button-action" update="grid2"/>
                    </p:panelGrid>
                </p:fieldset>

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
