<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true" closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="#{comunicadoAction.tituloPendiente}" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>
    <ui:define name="content">
        <h:form id="form1">
            <p:panel id="pnl" header="#{comunicadoAction.tituloPendiente}" styleClass="cds-panel-simple panel-form"> 
                <div align="center">
                    <h3 class="title-new">Información del mensaje</h3>
                </div>
                <p:fieldset id="fld" styleClass="ui-widget-content2">
                    <p:messages id="validate"/>
                    <p:panelGrid id="grid2" columns="1" style="margin-left:50px">
                        <p:panelGrid columns="1">
                            <h:outputLabel value="Para*" for="destinos" styleClass="label-title"/>
                            <p:autoComplete id="destinos" multiple="true"  value="#{comunicadoAction.destinosTarget}" completeMethod="#{comunicadoAction.completeDestinos}"
                                            var="destino" itemLabel="#{destino.nombreDestino}" itemValue="#{destino}" converter="#{destinoConverter}" 
                                            forceSelection="true" cache="true" style="width: 320px">
                                <p:column>
                                    <h:outputText value="#{destino.nombreDestino}" />
                                </p:column>
                            </p:autoComplete>
                        </p:panelGrid>
                        <p:panelGrid columns="1">
                            <h:outputLabel value="Con Copia"  styleClass="label-title"  />
                            <p:autoComplete id="destinoscopia" multiple="true"  value="#{comunicadoAction.destinosConCopiaTarget}" completeMethod="#{comunicadoAction.completeDestinosCopia}"
                                            var="destino" itemLabel="#{destino.nombreDestino}" itemValue="#{destino}" converter="#{destinoConverter}"  
                                            forceSelection="true" cache="true" style="width: 320px">
                                <p:column>
                                    <h:outputText value="#{destino.nombreDestino}" />
                                </p:column>
                            </p:autoComplete>
                        </p:panelGrid>
                        <p:panelGrid columns="1">
                            <h:outputLabel value="Asunto" for="asunto" styleClass="label-title"/>
                            <p:inputTextarea id="asunto" value="#{comunicadoAction.asuntoShowPendiente}" title="Asunto" cols="120" rows="3" />
                        </p:panelGrid>

                        <p:panelGrid columns="1">
                            <h:outputLabel value="Mensaje" for="mensaje" styleClass="label-title"/>
                            <pe:ckEditor id="mensaje" value="#{comunicadoAction.mensajeShowPendiente}" interfaceColor="#BDBDBD" toolbar="[
                                         [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript','-', 'RemoveFormat' ],
                                         [ 'Styles', 'Format', 'Font', 'FontSize' ],
                                         [ 'TextColor', 'BGColor' ],
                                         [ 'Image', 'Table', 'HorizontalRule', 'SpecialChar', 'PageBreak' ],
                                         [ 'Link', 'Unlink', 'Anchor' ],
                                         [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-','Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter','JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ],
                                         [ 'Find', 'Replace', '-', 'SelectAll', '-', 'SpellChecker', 'Scayt' ],
                                         [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo','Redo' ],
                                         ]" width="850px" height="350px" />  
                        </p:panelGrid>

                        <p:panelGrid columns="1">
                            <h:outputLabel value="Adjunto" for="adjunto" styleClass="label-title"/>
                            <p:fileUpload id="adjunto" uploadLabel="Cargar" cancelLabel="Cancelar" label="Seleccionar" fileUploadListener="#{comunicadoAction.editarUpload}" mode="advanced"
                                          multiple="true" sizeLimit="18000000" fileLimit="10" allowTypes="/(\.|\/)(gif|jpe?g|png|txt|doc|docx|xls|xlsx|ppt|pptx|pdf|tif|zip|rar|7z|dwg)$/" process="@form"
                                          styleClass="ui-widget-header" style="width: 600px"/>
                        </p:panelGrid>

                        <p:panelGrid columns="1">
                            <h:outputLabel value="Adjunto Cargado" for="adjunto" rendered="#{comunicadoAction.archivosAdjuntos.size()>0}"/>
                            <p:dataTable id="tbarchivo" emptyMessage=" " value="#{comunicadoAction.archivosAdjuntos}" var="archivo" rendered="#{comunicadoAction.archivosAdjuntos.size()>0}" style="width: 365px" >
                                <p:column headerText="Nombre archivo">
                                    <p:outputLabel value="#{archivo.nombreArchivo}"/>
                                </p:column>
                                <p:column >
                                    <a href="/Beesoft/AdjuntosServidor?idAdjunto=#{archivo.id}" target="_blank">Ver</a> <br/>
                                </p:column>
                                <p:column >
                                    <p:commandLink action="#{comunicadoAction.quitarArchivos(archivo)}" update="@form">
                                        <p:graphicImage url="#{resource['css/img/delete.png']}"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </p:panelGrid>

                        <p:panelGrid columns="1">
                            <h:outputLabel value="Comentario" for="comment" rendered="#{comunicadoAction.comunicadoAnulado}"/>
                            <h:outputText id="comment" value="#{comunicadoAction.comentarioAnulado}" style="width:220px" rendered="#{comunicadoAction.comunicadoAnulado}"/>
                        </p:panelGrid>
                        
                        <p:panelGrid columns="2">
                            <h:outputLabel value="Redactado por:" for="comment" styleClass="label-title"/>
                            <h:outputText id="redact" value="#{comunicadoAction.redactadoPorPendiente}" style="width:220px"/>
                        </p:panelGrid>
                    </p:panelGrid>
                    <br/>
                    <p:commandButton styleClass="button-action" action="#{comunicadoAction.modificarEnviarAprobado()}" update="grid2,validate" value="Modificar"/>
                    <p:commandButton styleClass="button-action" onclick="PF('dlgAprobar').show();" value="Visto Bueno" rendered="#{!comunicadoAction.accionNoJefeAprobo}"/>
                    <p:commandButton styleClass="button-action" action="#{comunicadoAction.enviarAprobado()}" update="grid2,validate" value="Aprobar Envío" rendered="#{!comunicadoAction.accionNoJefe}"/>
                    <p:commandButton styleClass="button-action" onclick="PF('dlgAnulacion').show();"  value="Anular" rendered="#{!comunicadoAction.accionNoJefe}"/>
                </p:fieldset>
            </p:panel>
            
            <p:commandButton styleClass="button-action" action="#{comunicadoAction.volver}" update="grid2,validate" value="Volver"/>
        </h:form>
        <p:dialog header="Moficaciones" widgetVar="dlgModificacion" modal="true"  draggable="false" maximizable="false" resizable="false" closable="false" height="200" width="520">
            <h:form id="formModifica">
                <p:panel id="ModificaPn">
                    <p:panelGrid columns="2">
                        <h:outputLabel value="Modificaciones*" for="comentario" />
                        <p:inputTextarea id="comentario" value="#{comunicadoAction.comentarioModiicacion}" rows="6" cols="50"/>
                    </p:panelGrid>
                    <br/>
                    <p:commandButton styleClass="button-action" value="Guardar" action="#{comunicadoAction.modificacionAprobado()}"  update=":form1:,@form" oncomplete="PF('dlgModificacion').hide();"/>
                    <p:commandButton styleClass="button-action" value="Cancelar" update="@form" oncomplete="PF('dlgModificacion').hide();" />
                </p:panel>
            </h:form>

        </p:dialog>

        <p:dialog header="Anulacion" widgetVar="dlgAnulacion" modal="true"  draggable="false" maximizable="false" resizable="false" closable="false" height="200" width="520">
            <h:form id="formAnula">
                <p:panel id="anulaPn">
                    <p:panelGrid columns="2">
                        <h:outputLabel value="Comentario*" for="comentario" />
                        <p:inputTextarea id="comentario" value="#{comunicadoAction.comentarioAnulacion}" rows="3" cols="50"/>
                    </p:panelGrid>
                    <br/>
                    <p:commandButton styleClass="button-action" value="Guardar" action="#{comunicadoAction.anulacionAprobado()}"  update=":form1:,@form" oncomplete="PF('dlgAnulacion').hide();"/>
                    <p:commandButton styleClass="button-action" value="Cancelar" update="@form" oncomplete="PF('dlgAnulacion').hide();" />
                </p:panel>
            </h:form>

        </p:dialog>
        <p:dialog header="Aprobar" widgetVar="dlgAprobar" modal="true"  draggable="false" maximizable="false" resizable="false" closable="false" height="200" width="520">
            <h:form id="formAprobar">
                <p:panel id="aprobarPn">
                    <p:panelGrid columns="2">
                        <h:outputLabel value="Jefes" for="jefes" rendered="#{!comunicadoAction.pantallaJefe}" />
                        <p:selectOneMenu value="#{comunicadoAction.idJefesAprobo}" style="width: 220px"  filter="true" filterMatchMode="contains">
                            <f:selectItem itemLabel="Seleccione"/>
                            <f:selectItems value="#{comunicadoAction.listaJefes}" var="jefe" itemLabel="#{jefe.nombreYApellido}" itemValue="#{jefe.id}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <br/>
                    <p:commandButton styleClass="button-action" value="Guardar" action="#{comunicadoAction.enviarAprobado()}"  update=":form1:,@form" oncomplete="PF('dlgAprobar').hide();"/>
                    <p:commandButton styleClass="button-action" value="Cancelar" update="@form" oncomplete="PF('dlgAprobar').hide();" />
                </p:panel>

            </h:form>

        </p:dialog>

    </ui:define>
</ui:composition>

