<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:param name="quitar_cargador" value="true" />

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true" closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Comunicado Electrónico" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>
    <ui:define name="content">
        <script>
            function PopupCenter(pageURL, title, w, h) {
                var left = (screen.width / 2) - (w / 2);
                var top = (screen.height / 2) - (h / 2);
                var targetWin = window.open(pageURL, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
            }
        </script>
        <h:form id="form1">
            <h:outputText value="#{comunicadoAction.inboxIn}"/>
            <p:panel header="Comunicado Electrónico" styleClass="cds-panel-simple panel-form"> 
                <div align="center">
                    <h3 class="title-new">Bandeja Comunicado Electrónico</h3>
                </div>
                <p:messages id="validate" autoUpdate="true"/>
                <p:fieldset  styleClass="ui-widget-content2">
                    
                    <p:commandButton styleClass="button-action" value="Redactar"  action="#{comunicadoAction.redactar()}" style="width: 146px" icon="ui-icon ui-icon-document"/>

                    <p:tabView activeIndex="#{comunicadoAction.activeIndex}"  orientation="left">
                        <p:ajax id="tabParent" event="tabChange" listener="#{comunicadoAction.onTabChange}" update="@this"/>
                        <p:tab id="tab1" title="Enviados" >
                            <p:dataTable widgetVar="tbEnviados" emptyMessage="No se han encontrado resultados" var="mail" value="#{comunicadoAction.listaEnviados}"
                                         rowKey="#{mail.radicacion}" paginator="true" rows="10" paginatorPosition="bottom" 
                                         filteredValue="#{comunicadoAction.listaEnviadosFiltered}" style="width: 100%" styleClass="fixed-size">

                                <f:facet name="header">
                                    <p:outputPanel style="float:right">
                                        <h:outputText value="Filtrar:" />
                                        <p:inputText id="globalFilter" onkeyup="PF('tbEnviados').filter()" style="width:150px" placeholder=""/>
                                    </p:outputPanel>
                                </f:facet>

                                <p:column style="width:16px">
                                    <p:rowToggler />
                                </p:column>

                                <p:column headerText="Radicación" filterBy="#{mail.radicacion}" filterMatchMode="contains" filterStyle="display:none">
                                    <h:outputText value="#{mail.radicacion}"/>
                                </p:column>

                                <p:column headerText="Destinatarios">
                                    <h:outputText value="#{comunicadoAction.mostrarDestinoTabla(mail)}"/>
                                </p:column>

                                <p:column headerText="Asunto" filterBy="#{mail.asunto}" filterMatchMode="contains" filterStyle="display:none">
                                    <h:outputText value="#{mail.asunto}"/>
                                </p:column>

                                <p:column headerText="Fecha" filterBy="#{mail.fechaEnvio}" filterStyle="display:none">
                                    <h:outputText value="#{comunicadoAction.formatFechaHora(mail)}"/>
                                </p:column>

                                <p:column headerText="Acción"  style="width:80px" >
                                    <p:commandLink action="#{comunicadoAction.infoCorreo(mail,true)}" update="@form" title="Ver" rendered="#{comunicadoAction.accionEnviar}">
                                        <p:graphicImage url="#{resource[mail.leido?'css/img/mail-open.png':'css/img/mail-close.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoAction.cargarEmail(mail)}" oncomplete="PF('dlgReenviar').show();" update="@form" title="Reenviar" rendered="#{comunicadoAction.accionReenviar}">
                                        <p:graphicImage url="#{resource['css/img/reenvio.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoAction.selectPendientesAprobacion(mail)}"  update="@form" title="Ver Comunicado" rendered="#{!comunicadoAction.accionEnviar}">
                                        <p:graphicImage url="#{resource['css/img/mail-open.png']}"/>
                                    </p:commandLink>
                                </p:column>

                                <p:rowExpansion>
                                    <p:dataTable id="reenviados" emptyMessage="Este Comunicado no se ha reenviado" var="reenvio" value="#{comunicadoAction.comunicadosReenviados(mail.radicacion)}"
                                                 rowKey="#{reenvio.radicacionReenvio}" >

                                        <p:column headerText="Destinatarios">
                                            <h:outputText value="#{comunicadoAction.listaCadena(reenvio.id)}"/>
                                        </p:column>

                                    </p:dataTable>

                                </p:rowExpansion>

                            </p:dataTable>
                        </p:tab>
                        <p:tab id="tab2" title="Recibidos">
                            <p:dataTable widgetVar="tbRecibidos" emptyMessage="No se han encontrado resultados" var="mail" value="#{comunicadoAction.listaRecibidos}"
                                         rowKey="#{mail.radicacion}" paginator="true" rows="10" paginatorPosition="bottom"
                                         filteredValue="#{comunicadoAction.listaRecibidosFiltered}" rowStyleClass="#{mail.leido==false?'leido':''}" style="width: 100%" styleClass="fixed-size">

                                <f:facet name="header">
                                    <p:outputPanel style="float:right">
                                        <h:outputText value="Filtrar:" />
                                        <p:inputText id="globalFilter" onkeyup="PF('tbRecibidos').filter()" style="width:150px" placeholder=""/>
                                    </p:outputPanel>
                                </f:facet>

                                <p:column style="width:16px">
                                    <p:rowToggler />
                                </p:column>

                                <p:column headerText="Radicación" filterBy="#{comunicadoAction.mostrarRadicado(mail)}" filterMatchMode="contains" filterStyle="display:none">
                                    <h:outputText value="#{comunicadoAction.mostrarRadicado(mail)}"/>
                                </p:column>

                                <p:column headerText="Origen" filterBy="#{mail.origen.nombreYApellido}" filterMatchMode="contains" filterStyle="display:none">
                                    <h:outputText value="#{mail.origen.nombreYApellido}"/>
                                </p:column>

                                <p:column headerText="Asunto" filterBy="#{mail.asunto}" filterMatchMode="contains" filterStyle="display:none">
                                    <h:outputText value="#{mail.asunto}"/>
                                </p:column>

                                <p:column headerText="Fecha" filterBy="#{mail.fechaEnvio}" filterStyle="display:none">
                                    <h:outputText value="#{comunicadoAction.formatFechaHora(mail)}"/>
                                </p:column>

                                <p:column headerText="Acción"  style="width:80px" >
                                    <p:commandLink action="#{comunicadoAction.infoCorreo(mail,true)}" update="@form" title="Ver" rendered="#{comunicadoAction.accionEnviar}">
                                        <p:graphicImage url="#{resource[mail.leido?'css/img/mail-open.png':'css/img/mail-close.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoAction.cargarEmail(mail)}" oncomplete="PF('dlgReenviar').show();" update="@form" title="Reenviar" rendered="#{comunicadoAction.accionReenviar}">
                                        <p:graphicImage url="#{resource['css/img/reenvio.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoAction.selectPendientesAprobacion(mail)}"  update="@form" title="Ver Comunicado" rendered="#{!comunicadoAction.accionEnviar}">
                                        <p:graphicImage url="#{resource['css/img/mail-open.png']}"/>
                                    </p:commandLink>
                                </p:column>

                                <p:rowExpansion>
                                    <p:dataTable id="reenviados" emptyMessage="Este Comunicado no se ha reenviado" var="reenvio" value="#{comunicadoAction.comunicadosReenviados(mail.radicacion)}"
                                                 rowKey="#{reenvio.radicacionReenvio}" >
                                        <p:column headerText="Destinatarios">
                                            <h:outputText value="#{comunicadoAction.listaCadena(reenvio.id)}"/>
                                        </p:column>
                                    </p:dataTable>

                                </p:rowExpansion>

                            </p:dataTable>
                        </p:tab>
                        <p:tab id="tab3" title="Por Aprobar" rendered="#{!comunicadoAction.modoEmpleado}">
                            <p:dataTable widgetVar="tbAprobar" emptyMessage="No se han encontrado resultados" var="mail" value="#{comunicadoAction.listaAprobacion}"
                                         rowKey="#{mail.radicacion}" paginator="true" rows="10" paginatorPosition="bottom" sortBy="fechaCreacion" sortOrder="descending" 
                                         filteredValue="#{comunicadoAction.listaAprobacionFiltered}" style="width: 100%" styleClass="fixed-size">

                                <f:facet name="header">
                                    <p:outputPanel style="float:right">
                                        <h:outputText value="Filtrar:" />
                                        <p:inputText id="globalFilter" onkeyup="PF('tbAprobar').filter()" style="width:150px" placeholder=""/>
                                    </p:outputPanel>
                                </f:facet>

                                <p:column style="width:16px">
                                    <p:rowToggler />
                                </p:column>


                                <p:column headerText="Destinatarios">
                                    <h:outputText value="#{comunicadoAction.mostrarDestinoTabla(mail)}"/>
                                </p:column>

                                <p:column headerText="Asunto" filterBy="#{mail.asunto}" filterStyle="display:none" filterMatchMode="contains">
                                    <h:outputText value="#{mail.asunto}"/>
                                </p:column>

                                <p:column headerText="Fecha" filterBy="#{mail.fechaEnvio}" filterMatchMode="contains" filterStyle="display:none" >
                                    <h:outputText value="#{comunicadoAction.formatFechaHora(mail)}"/>
                                </p:column>

                                <p:column headerText="Acción"  style="width:80px" >
                                    <p:commandLink action="#{comunicadoAction.infoCorreo(mail,true)}" update="@form" title="Ver" rendered="#{comunicadoAction.accionEnviar}">
                                        <p:graphicImage url="#{resource['css/img/mail-open.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoAction.cargarEmail(mail)}" oncomplete="PF('dlgReenviar').show();" update="@form" title="Reenviar" rendered="#{comunicadoAction.accionReenviar}">
                                        <p:graphicImage url="#{resource['css/img/reenvio.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoAction.selectPendientesAprobacion(mail)}"  update="@form" title="Ver Comunicado" rendered="#{!comunicadoAction.accionEnviar}">
                                        <p:graphicImage url="#{resource['css/img/mail-open.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoAction.mostrarTrazabilidad(mail)}" oncomplete="PF('dlgTrazaApr').show();" update=":trazaApr" title="Ver Trazabilidad" rendered="#{comunicadoAction.trazaVisible}">
                                        <p:graphicImage url="#{resource['css/img/traza.png']}"/>
                                    </p:commandLink>
                                </p:column>

                                <p:rowExpansion>
                                    <p:dataTable id="reenviados" emptyMessage="Este Comunicado no se ha reenviado" var="reenvio" value="#{comunicadoAction.comunicadosReenviados(mail.radicacion)}"
                                                 rowKey="#{reenvio.radicacionReenvio}" >

                                        <p:column headerText="Destinatarios">
                                            <h:outputText value="#{comunicadoAction.listaCadena(reenvio.id)}"/>
                                        </p:column>

                                    </p:dataTable>

                                </p:rowExpansion>

                            </p:dataTable>
                        </p:tab>
                        <p:tab id="tab4" title="Generados" rendered="#{comunicadoAction.modoEmpleado}">
                            <p:dataTable  widgetVar="tbGenerados" emptyMessage="No se han encontrado resultados" var="mail" value="#{comunicadoAction.listaGenerados}"
                                          rowKey="#{mail.radicacion}" filteredValue="#{comunicadoAction.listaGeneradosFiltered}" paginator="true" rows="10" paginatorPosition="bottom" sortBy="fechaCreacion" sortOrder="descending" style="width: 100%" styleClass="fixed-size">
                                
                                <f:facet name="header">
                                    <p:outputPanel style="float:right">
                                        <h:outputText value="Filtrar:" />
                                        <p:inputText id="globalFilter" onkeyup="PF('tbGenerados').filter()" style="width:150px" placeholder=""/>
                                    </p:outputPanel>
                                </f:facet>
                                
                                <p:column style="width:16px">
                                    <p:rowToggler />
                                </p:column>

                                <p:column headerText="Radicación" filterBy="#{mail.radicacion}" filterMatchMode="contains" filterStyle="display:none">
                                    <h:outputText value="#{mail.radicacion}"/>
                                </p:column>

                                <p:column headerText="Destinatarios">
                                    <h:outputText value="#{comunicadoAction.mostrarDestinoTabla(mail)}"/>
                                </p:column>

                                <p:column headerText="Asunto" filterBy="#{mail.asunto}" filterMatchMode="contains" filterStyle="display:none">
                                    <h:outputText value="#{mail.asunto}"/>
                                </p:column>

                                <p:column headerText="Fecha" filterBy="#{mail.fechaEnvio}" filterStyle="display:none">
                                    <h:outputText value="#{comunicadoAction.formatFechaHora(mail)}"/>
                                </p:column>

                                <p:column headerText="Acción"  style="width:80px" >
                                    <p:commandLink action="#{comunicadoAction.infoCorreo(mail,true)}" update="@form" title="Ver" rendered="#{comunicadoAction.accionEnviar}">
                                        <p:graphicImage url="#{resource['css/img/mail-open.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoAction.cargarEmail(mail)}" oncomplete="PF('dlgReenviar').show();" update="@form" title="Reenviar" rendered="#{comunicadoAction.accionReenviar}">
                                        <p:graphicImage url="#{resource['css/img/reenvio.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoAction.selectPendientesAprobacion(mail)}"  update="@form" title="Ver Comunicado" rendered="#{!comunicadoAction.accionEnviar}">
                                        <p:graphicImage url="#{resource['css/img/mail-open.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoAction.mostrarTrazabilidad(mail)}" oncomplete="PF('dlgTrazaGen').show();" update=":trazaGen" title="Ver Trazabilidad" rendered="#{comunicadoAction.trazaVisible}">
                                        <p:graphicImage url="#{resource['css/img/traza.png']}"/>
                                    </p:commandLink>
                                </p:column>

                                <p:rowExpansion>
                                    <p:dataTable id="reenviados" emptyMessage="Este Comunicado no se ha reenviado" var="reenvio" value="#{comunicadoAction.comunicadosReenviados(mail.radicacion)}"
                                                 rowKey="#{reenvio.radicacionReenvio}" >

                                        <p:column headerText="Destinatarios">
                                            <h:outputText value="#{comunicadoAction.listaCadena(reenvio.id)}"/>
                                        </p:column>

                                    </p:dataTable>

                                </p:rowExpansion>

                            </p:dataTable>
                        </p:tab>
                        <p:tab id="tab5" title="Anulados" >
                            <p:dataTable  widgetVar="tbAnulados" emptyMessage="No se han encontrado resultados" var="mail" value="#{comunicadoAction.listaAnulados}"
                                          rowKey="#{mail.radicacion}" paginator="true" rows="10" paginatorPosition="bottom" sortBy="fechaCreacion" sortOrder="descending"
                                          filteredValue="#{comunicadoAction.listaAnuladosFiltered}" style="width: 100%" styleClass="fixed-size">
                                
                                <f:facet name="header">
                                    <p:outputPanel style="float:right">
                                        <h:outputText value="Filtrar:" />
                                        <p:inputText id="globalFilter" onkeyup="PF('tbAnulados').filter()" style="width:150px" placeholder=""/>
                                    </p:outputPanel>
                                </f:facet>
                                
                                <p:column style="width:16px">
                                    <p:rowToggler />
                                </p:column>

                                <p:column headerText="Destinatarios">
                                    <h:outputText value="#{comunicadoAction.mostrarDestinoTabla(mail)}"/>
                                </p:column>

                                <p:column headerText="Asunto" filterBy="#{mail.asunto}" filterMatchMode="contains" filterStyle="display:none">
                                    <h:outputText value="#{mail.asunto}"/>
                                </p:column>

                                <p:column headerText="Fecha" filterBy="#{mail.fechaEnvio}" filterStyle="display:none">
                                    <h:outputText value="#{comunicadoAction.formatFechaHora(mail)}"/>
                                </p:column>

                                <p:column headerText="Acción"  style="width:80px" >
                                    <p:commandLink action="#{comunicadoAction.infoCorreoAnulado(mail,true)}" update="@form" title="Ver" >
                                        <p:graphicImage url="#{resource['css/img/mail-open.png']}"/>
                                    </p:commandLink>
                                    &#160;
                                    <p:commandLink action="#{comunicadoAction.cargarEmail(mail)}" oncomplete="PF('dlgReenviar').show();" update="@form" title="Reenviar" rendered="#{comunicadoAction.accionReenviar}">
                                        <p:graphicImage url="#{resource['css/img/reenvio.png']}"/>
                                    </p:commandLink>
                                    
                                </p:column>

                                <p:rowExpansion>
                                    <p:dataTable id="reenviados" emptyMessage="Este Comunicado no se ha reenviado" var="reenvio" value="#{comunicadoAction.comunicadosReenviados(mail.radicacion)}"
                                                 rowKey="#{reenvio.radicacionReenvio}" >

                                        <p:column headerText="Destinatarios">
                                            <h:outputText value="#{comunicadoAction.listaCadena(reenvio.id)}"/>
                                        </p:column>

                                    </p:dataTable>

                                </p:rowExpansion>

                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                </p:fieldset>
            </p:panel>
        </h:form>


        <p:dialog header="Reenviar" widgetVar="dlgReenviar" modal="true"  draggable="false" maximizable="false" resizable="false" closable="false" height="300" width="720">
            <h:form id="formCuenta">
                <p:panel id="cuentaPn">
                    <p:panelGrid columns="2">
                        <h:outputLabel value="Para*" for="destinos" />
                        <p:autoComplete id="destinos" multiple="true"  value="#{comunicadoAction.destinationsAgregadosReenvio}" completeMethod="#{comunicadoAction.completeDestinosReenvio}"
                                        var="destino" itemLabel="#{destino.nombreDestino}" itemValue="#{destino}" converter="#{destinoConverter}" 
                                        forceSelection="true" cache="true" style="width: 320px">
                            <p:column>
                                <h:outputText value="#{destino.nombreDestino}" />
                            </p:column>
                        </p:autoComplete>
                    </p:panelGrid>
                    <p:commandButton styleClass="button-action" value="Reenviar" action="#{comunicadoAction.reenviar()}" update=":form1:,@form" oncomplete="PF('dlgReenviar').hide();"/>
                    <p:commandButton styleClass="button-action" value="Cancelar" action="#{comunicadoAction.resetReenvio()}" update="@form" oncomplete="PF('dlgReenviar').hide();" />
                </p:panel>
            </h:form>

        </p:dialog>

        <p:dialog header="Trazabilidad" widgetVar="dlgTrazaApr" modal="true"  draggable="false" maximizable="false" resizable="false" closable="true" height="200" width="400">
            <h:form id="trazaApr">
                <p:panelGrid columns="2">
                    <h:outputLabel value="Radicacion"/>
                    <h:outputText value="#{comunicadoAction.radicacionTraza}"/>
                    <h:outputLabel value="Redacto"/>
                    <h:outputText value="#{comunicadoAction.redacto}"/>
                    <h:outputLabel value="Visto Bueno"/>
                    <h:outputText value="#{comunicadoAction.reviso}"/>
                </p:panelGrid>
            </h:form>
        </p:dialog>
        <p:dialog header="Trazabilidad" widgetVar="dlgTrazaGen" modal="true"  draggable="false" maximizable="false" resizable="false" closable="true" height="200" width="400">
            <h:form id="trazaGen">
                <p:panelGrid columns="2">
                    <h:outputLabel value="Radicacion"/>
                    <h:outputText value="#{comunicadoAction.radicacionTraza}"/>
                    <h:outputLabel value="Redacto"/>
                    <h:outputText value="#{comunicadoAction.redacto}"/>
                    <h:outputLabel value="Aprobo Envío"/>
                    <h:outputText value="#{comunicadoAction.envio}"/>
                </p:panelGrid>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>

