<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

    <f:metadata>
        <f:event type="preRenderView" listener="#{documentoAction.onload()}"/>
    </f:metadata>

	<ui:define name="titlebar">
		<p:panel styleClass="cds-title-panel cds-red" toggleable="true"
			closable="true" widgetVar="panel">
			<p:panelGrid columns="3" styleClass="cds-title-panel-grid">
				<p:panel styleClass="cds-title-panel-title">
					<h:outputText id="tab1Text" value="Gestión Documental" />
				</p:panel>
			</p:panelGrid>
		</p:panel>
	</ui:define>


	<ui:define name="content">

		<script>
            function PopupCenter(pageURL, title, w, h) {
                var left = (screen.width / 2) - (w / 2);
                var top = (screen.height / 2) - (h / 2);
                var targetWin = window.open(pageURL, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
            }
        </script>
		<h:outputText value="#{documentoAction.radicar}" />
		<h:form id="form1">
			<p:notificationBar id="idNtf" position="top" effect="slide"
				styleClass="top notification-bar" widgetVar="ntf">
				<h:panelGroup id="bottomPanel" style="margin-right:200px;">
					<p:messages autoUpdate="true" />
				</h:panelGroup>
			</p:notificationBar>
			<p:panel header="Ventanilla" styleClass="cds-panel-simple panel-form">

				<div align="center">
					<h3 class="title-new">Radicar documentos</h3>
				</div>
				<p:fieldset id="fld" styleClass="ui-widget-content2">

					<p:panelGrid columns="2" style="width:95%;">
						<h:outputLabel value="Radicado*" for="radicado" />
						<p:panel styleClass="cds-panel-reset">
							<p:inputText value="#{documentoAction.letra}" id="radicado"
								onblur="value = value.toUpperCase()"
								style="text-transform: uppercase;width:120px">
							</p:inputText>
                            &#160;
                            <p:commandLink value="Radicado"
								action="#{documentoAction.completeConsecutivo()}"
								process="@form" update="@form" />
                            &#160;
                            <h:outputText
								value="#{documentoAction.radicacion}" />
						</p:panel>

						<h:outputLabel value="Fecha Emision*" for="fechaEmision" />
						<p:calendar locale="es" value="#{documentoAction.fechaEmision}"
							style="width:220px;" id="fechaEmision"
							styleClass="cds-custom-calendar input-special" navigator="true"
							yearRange="1980:2025" />

						<h:outputLabel value="Fecha Recepcion*" for="fechaRecepcion" />
						<p:calendar locale="es" value="#{documentoAction.fechaRecepcion}"
							id="fechaRecepcion" style="width:220px;"
							styleClass="cds-custom-calendar input-special" navigator="true"
							yearRange="1980:2025" />

						<h:outputLabel value="Procedencia*" for="procedencia" />
						<p:panel styleClass="cds-panel-reset">
							<p:panelGrid columns="3">
								<p:commandButton id="procedencia"
									onclick="PF('dlgProcedencia').show();" type="button"
									styleClass="cds-custom-search" icon="ui-icon-search" />
								<p:contextMenu for="tablaProcedencia">
									<p:menuitem value="Quitar" update=":form1:tablaProcedencia"
										icon="ui-icon-close"
										actionListener="#{documentoAction.quitarProcedencia()}" />
								</p:contextMenu>
								<p:dataTable id="tablaProcedencia" emptyMessage=" "
									value="#{documentoAction.procedencia}" var="p" rowKey="#{p}"
									selection="#{documentoAction.outProcedencia}"
									selectionMode="single" style="width: 365px">

									<p:column headerText="Nombre">
										<h:outputText value="#{p}" />
									</p:column>

								</p:dataTable>
							</p:panelGrid>
						</p:panel>

						<h:outputLabel value="Destino*" for="destino" />
						<p:panel styleClass="cds-panel-reset">
							<p:panelGrid columns="3">
								<p:commandButton id="destino" onclick="PF('dlgDestino').show();"
									type="button" styleClass="cds-custom-search"
									icon="ui-icon-search" />
								<p:contextMenu for="tablaDestino">
									<p:menuitem value="Quitar" update=":form1:tablaDestino"
										icon="ui-icon-close"
										actionListener="#{documentoAction.quitarDestino()}" />
								</p:contextMenu>
								<p:dataTable id="tablaDestino" emptyMessage=" "
									value="#{documentoAction.destinos}" var="d" rowKey="#{d}"
									selection="#{documentoAction.outDestino}"
									selectionMode="single" style="width: 365px">

									<p:column headerText="Nombre">
										<h:outputText value="#{d}" />
									</p:column>

								</p:dataTable>
							</p:panelGrid>
						</p:panel>

						<h:outputLabel value="Asunto*" for="asunto" />
						<p:inputTextarea id="asunto" value="#{documentoAction.asunto}"
							rows="6" cols="50" onblur="value = value.toUpperCase()"
							style="text-transform: uppercase" />

						<h:outputLabel value="Observacion" for="observacion" />
						<p:inputTextarea id="observacion"
							value="#{documentoAction.observacion}" rows="6" cols="50"
							onblur="value = value.toUpperCase()"
							style="text-transform: uppercase" />

						<h:outputLabel
							value="#{documentoAction.letra eq 'R' ? 'Medio de Respuesta*' : 'Medio de Respuesta'}"
							for="empresa" />
						<p:panel styleClass="cds-panel-reset">
							<p:panelGrid columns="2">
								<p:selectOneMenu id="empresa" style="width: 232px"
									value="#{documentoAction.empresaCorreoNombre}">
									<f:selectItem itemLabel="Seleccione" />
									<f:selectItem itemLabel="Correo certificado"
										itemValue="CERTIFICADO" />
									<f:selectItem itemLabel="Correo electronico"
										itemValue="ELECTRONICO" />
									<f:selectItem itemLabel="Mensajero" itemValue="MENSAJERO" />
									<f:selectItem itemLabel="Evidencia de envió" itemValue="EVIDENCIA" />
									<f:selectItem itemLabel="Acta de visita" itemValue="ACTA" />
									<f:selectItem itemLabel="Entrega personal" itemValue="PERSONAL"/>
									<p:ajax update="mensajero" />
								</p:selectOneMenu>

								<p:inputText id="mensajero"
									disabled="#{!(documentoAction.empresaCorreoNombre.equals('MENSAJERO') or documentoAction.empresaCorreoNombre.equals('PERSONAL') )}"
									value="#{documentoAction.mensajero}"
									onblur="value = value.toUpperCase()"
									style="text-transform: uppercase;width:220px" />
							</p:panelGrid>
						</p:panel>

						<h:outputLabel value="Archivo referencia" for="referencia" />
						<p:panel styleClass="cds-panel-reset">
							<p:panelGrid columns="3">
								<p:commandButton id="referencia"
									onclick="PF('dlgDocumento').show();" type="button"
									styleClass="cds-custom-search" icon="ui-icon-search" />

								<p:dataTable id="tablaRadicado" emptyMessage=" "
									value="#{documentoAction.listaRef}" var="d"
									rowKey="#{d.radicacion}" style="width: 240px">

									<p:column headerText="Radicado">
										<h:outputText value="#{d.radicacion}" />
									</p:column>
									<p:column headerText="Quitar">
										<p:commandLink
											action="#{documentoAction.quitarDocumentoReferencia(d)}"
											update="@form">
											<p:graphicImage url="#{resource['css/img/delete.png']}" />
										</p:commandLink>
									</p:column>
								</p:dataTable>
							</p:panelGrid>
						</p:panel>

						<h:outputLabel value="Tabla de retencion documental*"
							for="documental" />
						<p:panel styleClass="cds-panel-reset">
							<p:panelGrid columns="3">
								<p:commandButton id="trd" onclick="PF('dlgTrd').show();"
									type="button" styleClass="cds-custom-search"
									icon="ui-icon-search">
									<p:ajax resetValues="true" update=":documentalDialog" />
								</p:commandButton>
								<p:dataTable id="documental" emptyMessage=" "
									value="#{documentoAction.trds}" var="trd"
									rowKey="#{trd.oficina}" style="width: 700px">
									<p:column headerText="Tabla de retencion">
										<div class="container" style="width: 700px">
											<div class="row">
												<div class="col-sm-12">
													<h:outputLabel value="Oficina: " />
												</div>
												<div class="col-sm-12">
													<h:outputText value="#{trd.oficina.descripcion}" />
												</div>
												<div class="col-sm-12">
													<h:outputLabel value="Serie: " />
												</div>
												<div class="col-sm-12">
													<h:outputText value="#{trd.serie.descripcion}" />
												</div>
												<div class="col-sm-12">
													<h:outputLabel value="SubSerie: " />
												</div>
												<div class="col-sm-12">
													<h:outputText value="#{trd.subserie.descripcion}" />
												</div>
												<div class="col-sm-12">
													<h:outputLabel value="Tipo: " />
												</div>
												<div class="col-sm-12">
													<h:outputText value="#{trd.tipodocumento.descripcion}" />
												</div>

											</div>
										</div>
									</p:column>
									<p:column headerText="Quitar">
										<p:commandLink action="#{documentoAction.quitarTrd(trd)}"
											update="@form">
											<p:graphicImage url="#{resource['css/img/delete.png']}" />
										</p:commandLink>
									</p:column>

									<!--p:column headerText="Medio Electronico" >
                                        <p:selectBooleanCheckbox value="#{trd.medioElectronico}" disabled="true"/>
                                    </p:column-->

								</p:dataTable>
							</p:panelGrid>
						</p:panel>

						<h:outputLabel value="Clase de documento*" for="claseDoc" />
                        <p:panel styleClass="cds-panel-reset">
                            <p:panelGrid columns="3">
                                <p:selectOneMenu id="claseDoc" style="width: 232px" 
                                                 value="#{documentoAction.claseDocumento}" >
                                    <f:selectItem itemLabel="Seleccione" itemValue=""/>
                                    <f:selectItems value="#{documentoAction.mapClasesDocumentos}"/>
                                </p:selectOneMenu>
                                <p:commandLink onclick="PF('dlgClaseDocumento').show();" value="Crear"
                                        styleClass="botonCommandLink ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-button-text ui-c"/>
                            </p:panelGrid>
                        </p:panel>
						
						<h:outputLabel value="Municipio*" for="municipio" />
						<p:selectOneMenu id="municipio" value="#{documentoAction.municipio}"
							style="width:260px;">
							<f:selectItem itemLabel="seleccione" />
							<f:selectItems value="#{documentoAction.listaCiudades.values()}" />
						</p:selectOneMenu>

						<h:outputLabel value="Fecha Control*" for="fechaControl" />
						<p:calendar locale="es" value="#{documentoAction.fechaControl}"
							id="fechaControl" style="width: 220px"
							styleClass="cds-custom-calendar input-special" navigator="true"
							yearRange="1980:2025" />

						<h:outputLabel value="Revisores" for="revisores" />
						<p:autoComplete id="asist" multiple="true"
							value="#{documentoAction.revisoresTarget}"
							completeMethod="#{documentoAction.completeRevisores}"
							var="revisor" itemLabel="#{revisor.nombreYApellido}"
							itemValue="#{revisor}" converter="#{actorConverter}"
							forceSelection="true" cache="true" style="width: 320px">
							<p:column>
								<h:outputText value="#{revisor.nombreYApellido}" />
							</p:column>
						</p:autoComplete>

						<h:outputLabel value="Anexos" for="anexos" />
						<p:inputText id="anexos" value="#{documentoAction.anexos}"
							onblur="value = value.toUpperCase()"
							style="text-transform: uppercase;width:220px" />


						<h:outputLabel value="Etiqueta" for="etiqueta" />
						<p:panel styleClass="cds-panel-reset">
							<p:panelGrid columns="3">
								<p:selectOneMenu id="sticker" value="#{documentoAction.sticker}"
									style="width: 232px">
									<f:selectItem itemLabel="Seleccione" />
									<f:selectItem itemLabel="Impresora"
										itemValue="PopupCenter('http://#{documentoAction.urlServer}:8080/Beesoft/html/documento/EtiquetaImpresa.xhtml', 'Etiqueta',450,250);" />
									<f:selectItem itemLabel="Sticker"
										itemValue="PopupCenter('http://#{documentoAction.urlServer}:8080/Beesoft/html/documento/Etiqueta.xhtml', 'Etiqueta',450,250);" />
								</p:selectOneMenu>
								<p:commandButton id="etiqueta" value="Generar" oncomplete="rc()"
									process="@form" action="#{documentoAction.generarEtiqueta()}"
									update="@form" />
								<p:remoteCommand name="rc"
									oncomplete="#{documentoAction.sticker}" />
							</p:panelGrid>
						</p:panel>					
						
						<h:outputLabel value="Archivo*" for="archivo" />
						<p:fileUpload id="archivo" uploadLabel="Cargar"
							cancelLabel="Cancelar" label="Seleccionar"
							fileUploadListener="#{documentoAction.handleFileUpload}"
							mode="advanced" multiple="true" sizeLimit="100000000"
							fileLimit="10"
							allowTypes="/(\.|\/)(gif|jpe?g|png|doc|docx|xls|xlsx|pdf|tif)$/"
							styleClass="ui-widget-header" style="width: 600px" />

					</p:panelGrid>
					<br />
					<p:commandButton styleClass="button-action"
						action="#{documentoAction.crearDocumento()}"
						update="bottomPanel, :form1:fld" process="@form" value="Crear"
						oncomplete="ntf.show(),setTimeout('ntf.hide()',5000)" />
					<p:commandButton styleClass="button-action"
						action="#{documentoAction.limpiar()}"
						update="bottomPanel, :form1:fld" process="@form" value="Cancelar" />

				</p:fieldset>
			</p:panel>
		</h:form>
		<p:dialog header="Destino" widgetVar="dlgDestino" modal="true"
			draggable="false" maximizable="false" resizable="false"
			closable="false" height="600" width="1200">
			<p:tabView id="tbw" activeIndex="#{documentoAction.activeIndex}">
				<p:tab id="tbwbuscar" title="Buscar">
					<h:form id="dialogDestino">
						<p:panelGrid columns="6">
							<h:outputLabel value="Nombre" />
							<p:inputText id="nombreDestino"
								value="#{documentoAction.nombre1}"
								onblur="value = value.toUpperCase()"
								style="text-transform: uppercase;width:220px">
								<p:ajax process="@this,@form" />
							</p:inputText>
							<h:outputLabel value="Cédula" />
							<p:inputText value="#{documentoAction.cedulaDestino}"
								onblur="value = value.toUpperCase()"
								style="text-transform: uppercase;">
								<p:ajax process="@this,@form" />
							</p:inputText>
							<p:commandButton styleClass="button-action" value="Buscar"
								action="#{documentoAction.buscarDestinos()}" update="tablaDest" />
						</p:panelGrid>

						<p:dataTable id="tablaDest" editable="true"
							emptyMessage="No se han encontrado resultados"
							rowKey="#{pro.cedula}" var="pro"
							value="#{documentoAction.destinoIn}" paginator="true" rows="10"
							paginatorPosition="bottom">

							<p:column headerText="Cedula">
								<h:outputText value="#{pro.cedula}" />
							</p:column>

							<p:column headerText="Nombre">
								<h:outputText value="#{pro.nombreYApellido}" style="width:96%" />
							</p:column>

							<p:column headerText="Correo">
								<h:outputText value="#{pro.email}" />
							</p:column>

							<p:column headerText="Dirección">
								<h:outputText
									value="#{documentoAction.asignarDatosDireccion(pro)}" />
							</p:column>
							<p:column headerText="Ciudad">
								<h:outputText value="#{pro.ciudad.descripcion}" />
							</p:column>

							<p:column headerText="Seleccionar">
								<p:commandLink id="selectDest" title="Seleccion"
									update=":form1:tablaDestino tablaDest :tbw:dialogDestino:nombreDestino"
									actionListener="#{documentoAction.selectDestino(pro)}"
									oncomplete="PF('dlgDestino').hide()">
									<p:graphicImage url="#{resource['css/img/seleccionar.png']}" />
								</p:commandLink>
                                &#160;
                                <p:commandLink id="selectEditDest"
									title="Editar" actionListener="#{documentoAction.editar(pro)}"
									update=":tbw" oncomplete="rcedit()">
									<p:graphicImage url="#{resource['css/img/editar.png']}" />
								</p:commandLink>
								<p:remoteCommand name="rcedit"
									action="#{actorAction.selectActor(false, documentoAction.actorEditar)}"
									update=":tbw" />
							</p:column>


						</p:dataTable>

						<p:commandButton styleClass="button-action" id="cancelDest"
							value="Cancelar"
							actionListener="#{documentoAction.iniciarDialog()}"
							oncomplete="PF('dlgDestino').hide()">
							<f:ajax render="tablaDest" />
						</p:commandButton>
					</h:form>
				</p:tab>
				<p:tab id="tbwcrear" title="Crear Personal">
					<p:panel id="pnlCrear" header="Crear Personal"
						styleClass="cds-panel-simple panel-form">

						<h:form id="formCrear">
							<p:messages id="validateDest" />
							<p:fieldset styleClass="ui-widget-content2">

								<p:panelGrid columns="2" style="width:80%;">
									<h:outputLabel value="Pais" for="paisDest" />
									<p:selectOneMenu id="paisDest" value="#{actorAction.pais}"
										style="width:260px;">
										<f:selectItem itemLabel="seleccione" />
										<f:selectItems value="#{actorAction.listaPaises.values()}" />
										<p:ajax update="@form"
											listener="#{actorAction.cargarDeptos()}" />
									</p:selectOneMenu>
									<h:outputLabel value="Departamento" for="deptoDest" />
									<p:selectOneMenu id="deptoDest" value="#{actorAction.depto}"
										style="width:260px;">
										<f:selectItem itemLabel="seleccione" />
										<f:selectItems value="#{actorAction.listaDeptos.values()}" />
										<p:ajax update="@form"
											listener="#{actorAction.cargarCiudades()}" />
									</p:selectOneMenu>
									<h:outputLabel value="Ciudad*" for="ciudadDest" />
									<p:selectOneMenu id="ciudadDest" value="#{actorAction.ciudad}"
										style="width:260px;">
										<f:selectItem itemLabel="seleccione" />
										<f:selectItems value="#{actorAction.listaCiudades.values()}" />
									</p:selectOneMenu>

									<h:outputLabel value="Tipo persona*" for="tipopersonaDest" />
									<p:selectOneMenu id="tipopersonaDest" style="width:260px;"
										value="#{actorAction.tipoCadena}">
										<f:selectItem itemLabel="seleccione" />
										<f:selectItems
											value="#{applicationAction.listaTipoPersonaDocumento.entrySet()}"
											var="tp" itemLabel="#{tp.value}" itemValue="#{tp.key}" />
									</p:selectOneMenu>

									<h:outputLabel value="Cedula/Nit" for="cedulaDest" />
									<p:inputText id="cedulaDest" value="#{actorAction.cedula}"
										style="width:248px;" title="Cedula"
										onkeydown="return permitirSoloNumeros(this, event);" />
									<h:outputLabel value="Nombres*" for="nombresDest" />
									<p:inputText id="nombresDest" value="#{actorAction.nombres}"
										onblur="value = value.toUpperCase()"
										style="text-transform: uppercase;width:248px" title="Nombres" />
									<h:outputLabel value="Direccion" for="direccionDest" />
									<p:inputText id="direccionDest"
										value="#{actorAction.direccion1}"
										onblur="value = value.toUpperCase()"
										style="text-transform: uppercase;width:248px"
										title="Direccion" />

									<h:outputLabel value="Email" for="emailDest" />
									<p:inputText id="emailDest" value="#{actorAction.email}"
										style="width:248px;" title="Email" />

									<h:outputLabel value="Telefono" for="telefonoDest" />
									<p:inputText id="telefonoDest" value="#{actorAction.telefono}"
										style="width:248px;" title="Telefono" />

									<h:outputLabel value="Cargo" for="cargoDest"
										rendered="#{actorAction.showOficina}" />
									<p:inputText id="cargoDest" value="#{actorAction.cargo}"
										title="Cargo" rendered="#{actorAction.showOficina}"
										onblur="value = value.toUpperCase()"
										style="text-transform: uppercase;width:248px" />

								</p:panelGrid>

							</p:fieldset>

							<p:commandButton styleClass="button-action"
								action="#{actorAction.crearActorDocumento()}" value="Crear"
								update=":tbw:formCrear" oncomplete="creartbw()" />
							<p:remoteCommand name="creartbw"
								action="#{actorAction.limpiar()}" update=":tbw" />
						</h:form>
					</p:panel>

				</p:tab>
				<p:tab id="tbweditar" title="Editar Personal"
					disabled="#{!documentoAction.panelEditar}">
					<h:form id="formEdit">
						<p:selectOneRadio id="customRadio"
							value="#{actorAction.direccion}" layout="custom">
							<f:selectItem itemLabel="" itemValue="d1" />
							<f:selectItem itemLabel="" itemValue="d2" />
						</p:selectOneRadio>
						<p:selectOneRadio id="activo" value="#{actorAction.estado}"
							disabled="#{actorAction.opcionVer}" layout="custom">
							<f:selectItem itemLabel="" itemValue="true" />
							<f:selectItem itemLabel="" itemValue="false" />
						</p:selectOneRadio>

						<p:panel id="pnlEditar" header="Editar Personal"
							styleClass="cds-panel-simple panel-form">
							<p:messages id="validate" autoUpdate="true" />
							<p:fieldset styleClass="ui-widget-content2">
								<p:panelGrid columns="2" style="width:80%;">
									<h:outputLabel value="Pais" for="pais" />
									<p:selectOneMenu id="pais" value="#{actorAction.pais}"
										style="width:260px;" disabled="#{actorAction.opcionVer}">
										<f:selectItem itemLabel="seleccione" />
										<f:selectItems value="#{actorAction.listaPaises.values()}" />
										<p:ajax update="@form" process="@form"
											listener="#{actorAction.cargarDeptos()}" />
									</p:selectOneMenu>
									<h:outputLabel value="Departamento" for="depto" />
									<p:selectOneMenu id="depto" value="#{actorAction.depto}"
										style="width:260px;" disabled="#{actorAction.opcionVer}">
										<f:selectItem itemLabel="seleccione" />
										<f:selectItems value="#{actorAction.listaDeptos.values()}" />
										<p:ajax update="@form" process="@form"
											listener="#{actorAction.cargarCiudades()}" />
									</p:selectOneMenu>
									<h:outputLabel value="Ciudad*" for="ciudad" />
									<p:selectOneMenu id="ciudad" value="#{actorAction.ciudad}"
										style="width:260px;" disabled="#{actorAction.opcionVer}">
										<f:selectItem itemLabel="seleccione" />
										<f:selectItems value="#{actorAction.listaCiudades.values()}" />
									</p:selectOneMenu>

									<h:outputLabel value="Tipo persona*" for="tipopersona" />
									<p:selectOneMenu id="tipopersona" style="width:260px;"
										value="#{actorAction.tipoCadena}"
										disabled="#{actorAction.opcionVer}">
										<f:selectItem itemLabel="seleccione" />
										<f:selectItems
											value="#{applicationAction.listaTipoPersona.entrySet()}"
											var="tp" itemLabel="#{tp.value}" itemValue="#{tp.key}" />
										<p:ajax update="@form" process="@form"
											listener="#{actorAction.showCampos}" />
									</p:selectOneMenu>

									<h:outputLabel value="Cedula/Nit" for="cedula" />
									<p:inputText id="cedula" value="#{actorAction.cedula}"
										disabled="#{actorAction.opcionVer}" style="width:248px;"
										title="Cedula"
										onkeydown="return permitirSoloNumeros(this, event);" />
									<h:outputLabel value="Nombres*" for="nombres" />
									<p:inputText id="nombres" value="#{actorAction.nombres}"
										onblur="value = value.toUpperCase()"
										style="text-transform: uppercase;width:248px" title="Nombres"
										disabled="#{actorAction.opcionVer}" />
									<h:outputLabel value="Fecha Nacimiento" for="fechaNacimiento" />
									<p:calendar locale="es" value="#{actorAction.fechaNacimiento}"
										id="fechaNacimiento" style="width:180px;"
										rendered="#{!actorAction.opcionVer}"
										styleClass="cds-custom-calendar input-special"
										navigator="true" yearRange="1980:2025" />
									<p:inputText id="fechaNacimientoText"
										value="#{actorAction.fechaNacimiento}" style="width:248px;"
										title="Fecha de nacimiento"
										rendered="#{actorAction.opcionVer}"
										disabled="#{actorAction.opcionVer}" />
									<h:outputLabel value="Direccion 1" for="direccion1" />
									<p:panel styleClass="cds-panel-reset">
										<p:panelGrid columns="2">
											<p:inputText id="direccion1"
												value="#{actorAction.direccion1}"
												onblur="value = value.toUpperCase()"
												style="text-transform: uppercase;width:220px"
												title="Direccion 1" disabled="#{actorAction.opcionVer}" />
											<p:radioButton id="opt1" for="customRadio" itemIndex="0"
												disabled="#{actorAction.opcionVer}" />
										</p:panelGrid>
									</p:panel>

									<h:outputLabel value="Direccion 2" for="direccion2" />
									<p:panel styleClass="cds-panel-reset">
										<p:panelGrid columns="2">
											<p:inputText id="direccion2"
												value="#{actorAction.direccion2}"
												onblur="value = value.toUpperCase()"
												style="text-transform: uppercase;width:220px"
												title="Direccion 2" disabled="#{actorAction.opcionVer}" />
											<p:radioButton id="opt2" for="customRadio" itemIndex="1"
												disabled="#{actorAction.opcionVer}" />
										</p:panelGrid>
									</p:panel>

									<h:outputLabel value="Telefono" for="telefono" />
									<p:inputText id="telefono" value="#{actorAction.telefono}"
										onkeydown="return permitirSoloNumeros(this, event);"
										disabled="#{actorAction.opcionVer}" style="width:220px;"
										title="Telefono" />

									<h:outputLabel value="Empresa" for="empresa"
										rendered="#{!actorAction.showEmails}" />
									<p:selectOneMenu id="empresa" value="#{actorAction.empresa}"
										rendered="#{!actorAction.showEmails}"
										disabled="#{actorAction.opcionVer}" style="width:220px;">
										<f:selectItem itemLabel="Seleccione" />
										<f:selectItems value="#{applicationAction.listaEmpresas}"
											var="empresa" itemLabel="#{empresa.nombreYApellido}"
											itemValue="#{empresa.id}" />
									</p:selectOneMenu>

									<h:outputLabel value="Cargo" for="cargo"
										rendered="#{actorAction.showOficina}" />
									<p:inputText id="cargo" value="#{actorAction.cargo}"
										title="Cargo" disabled="#{actorAction.opcionVer}"
										rendered="#{actorAction.showOficina}"
										onblur="value = value.toUpperCase()"
										style="text-transform: uppercase;width:248px" />

									<h:outputLabel value="Oficina" for="oficina"
										rendered="#{actorAction.showOficina}" />
									<p:selectOneMenu id="oficina"
										value="#{actorAction.oficinaCadena}" filter="true"
										filterMatchMode="contains"
										rendered="#{actorAction.showOficina}" style="width:260px;"
										disabled="#{actorAction.opcionVer}">
										<f:selectItem itemLabel="Seleccione" />
										<f:selectItems
											value="#{applicationAction.oficinas.entrySet()}"
											var="oficina" itemLabel="#{oficina.value}"
											itemValue="#{oficina.key}" />
									</p:selectOneMenu>

									<h:outputLabel value="Firma Digital" for="firma"
										rendered="#{actorAction.showFirmaJefe}" />
									<p:graphicImage url="#{resource[actorAction.graphicText]}"
										rendered="#{actorAction.showFirmaJefe}" />

									<h:outputLabel value="Jefe" for="jefe"
										rendered="#{actorAction.showJefe}" />
									<p:selectOneMenu id="jefe" value="#{actorAction.jefeCadena}"
										rendered="#{actorAction.showJefe}" style="width:260px;"
										disabled="#{actorAction.opcionVer}">
										<f:selectItem itemLabel="Seleccione" />
										<f:selectItems value="#{applicationAction.listaJefes}"
											var="jefe" itemLabel="#{actorAction.mostrarNombreJefe(jefe)}"
											itemValue="#{actorAction.mostrarIdJefe(jefe)}" />
										<p:ajax process="@this" />
									</p:selectOneMenu>

									<h:outputLabel value="Email" />
									<p:inputText id="emailshow" value="#{actorAction.email}"
										style="width:220px;" title="Email"
										disabled="#{actorAction.opcionVer}" />

									<h:outputLabel value="Estado" />
									<p:panel styleClass="cds-panel-reset">
										<p:panelGrid columns="2">
											<p:outputLabel value="Habilitado" for="opt1" />
											<p:radioButton id="hbt" for="activo" itemIndex="0" />
											<p:outputLabel value="Inhabilitado" for="opt2" />
											<p:radioButton id="ihbt" for="activo" itemIndex="1" />
										</p:panelGrid>
									</p:panel>

								</p:panelGrid>

							</p:fieldset>
							<p:commandButton styleClass="button-action"
								action="#{actorAction.editarActorDocumento()}"
								oncomplete="postDest()" update="@form" value="Editar" />
							<p:remoteCommand name="postDest"
								action="#{documentoAction.postEditarActor(true)}" update=":tbw" />

							<p:commandButton styleClass="button-action"
								action="#{documentoAction.postEditarActor(false)}" update=":tbw"
								oncomplete="postDest1()" value="Regresar" />
							<p:remoteCommand name="postDest1"
								action="#{actorAction.limpiar()}" update=":tbw" />

						</p:panel>

					</h:form>
				</p:tab>
			</p:tabView>
		</p:dialog>


		<p:dialog header="Procedencia" widgetVar="dlgProcedencia" modal="true"
			draggable="false" maximizable="false" resizable="false"
			closable="false" height="600" width="1200">
			<p:tabView id="tbwproc" activeIndex="#{documentoAction.activeIndex}">
				<p:tab id="tbwprocbuscar" title="Buscar">
					<h:form id="dialogProcedencia">
						<p:panelGrid columns="5">
							<h:outputLabel value="Nombre" />
							<p:inputText id="nombreProcedencia"
								value="#{documentoAction.nombre}"
								onblur="value = value.toUpperCase()"
								style="text-transform: uppercase;">
								<p:ajax process="@this,@form" />
							</p:inputText>
							<h:outputLabel value="Cédula" />
							<p:inputText id="cedulaProcedencia"
								value="#{documentoAction.cedula}"
								onblur="value = value.toUpperCase()"
								style="text-transform: uppercase;">
								<p:ajax process="@this,@form" />
							</p:inputText>
							<p:commandButton styleClass="button-action" value="Buscar"
								action="#{documentoAction.buscarProcedencia()}"
								update="tablaProc" />
						</p:panelGrid>

						<p:dataTable id="tablaProc" editable="true"
							emptyMessage="No se han encontrado resultados"
							rowKey="#{pro.cedula}" var="pro"
							value="#{documentoAction.procedenciaIn}" sortBy="nombreYApellido"
							paginator="true" rows="10" paginatorPosition="bottom">


							<p:column headerText="Cedula">
								<h:outputText value="#{pro.cedula}" />
							</p:column>

							<p:column headerText="Nombre">
								<h:outputText value="#{pro.nombreYApellido}" />
							</p:column>

							<p:column headerText="Correo">
								<h:outputText value="#{pro.email}" />
							</p:column>

							<p:column headerText="Dirección">
								<h:outputText
									value="#{documentoAction.asignarDatosDireccion(pro)}" />
							</p:column>

							<p:column headerText="Ciudad">
								<h:outputText value="#{pro.ciudad.descripcion}" />
							</p:column>

							<p:column headerText="Seleccionar">
								<p:commandLink id="selectProce" title="Seleccion"
									update=":form1:tablaProcedencia tablaProc :tbwproc:dialogProcedencia:nombreProcedencia"
									actionListener="#{documentoAction.selectProcedencia(pro)}"
									oncomplete="PF('dlgProcedencia').hide()">
									<p:graphicImage url="#{resource['css/img/seleccionar.png']}" />
								</p:commandLink>
                                &#160;
                                <p:commandLink id="selectEditProce"
									title="Editar" actionListener="#{documentoAction.editar(pro)}"
									update=":tbwproc" oncomplete="rcprocedit()">
									<p:graphicImage url="#{resource['css/img/editar.png']}" />
								</p:commandLink>
								<p:remoteCommand name="rcprocedit"
									action="#{actorAction.selectActor(false, documentoAction.actorEditar)}"
									update=":tbwproc" />
							</p:column>
						</p:dataTable>

						<p:commandButton styleClass="button-action" id="cancelProce"
							value="Cancelar" update="tablaProc"
							actionListener="#{documentoAction.iniciarDialog()}"
							oncomplete="PF('dlgProcedencia').hide()" />
					</h:form>
				</p:tab>
				<p:tab id="tbwproccrear" title="Crear Personal">
					<p:panel header="Crear Personal"
						styleClass="cds-panel-simple panel-form">

						<h:form id="formCrearProc">
							<p:messages id="validateProc" />
							<p:fieldset styleClass="ui-widget-content2">
								<p:panelGrid columns="2" style="width:80%;">
									<h:outputLabel value="Pais" for="pais" />
									<p:selectOneMenu id="pais" value="#{actorAction.pais}"
										style="width:260px;">
										<f:selectItem itemLabel="seleccione" />
										<f:selectItems value="#{actorAction.listaPaises.values()}" />
										<p:ajax update="@form"
											listener="#{actorAction.cargarDeptos()}" />
									</p:selectOneMenu>
									<h:outputLabel value="Departamento" for="depto" />
									<p:selectOneMenu id="depto" value="#{actorAction.depto}"
										style="width:260px;">
										<f:selectItem itemLabel="seleccione" />
										<f:selectItems value="#{actorAction.listaDeptos.values()}" />
										<p:ajax update="@form"
											listener="#{actorAction.cargarCiudades()}" />
									</p:selectOneMenu>
									<h:outputLabel value="Ciudad*" for="ciudad" />
									<p:selectOneMenu id="ciudad" value="#{actorAction.ciudad}"
										style="width:260px;">
										<f:selectItem itemLabel="seleccione" />
										<f:selectItems value="#{actorAction.listaCiudades.values()}" />
									</p:selectOneMenu>

									<h:outputLabel value="Tipo persona*" for="tipopersona" />
									<p:selectOneMenu id="tipopersona" style="width:260px;"
										value="#{actorAction.tipoCadena}">
										<f:selectItem itemLabel="seleccione" />
										<f:selectItems
											value="#{applicationAction.listaTipoPersonaDocumento.entrySet()}"
											var="tp" itemLabel="#{tp.value}" itemValue="#{tp.key}" />
									</p:selectOneMenu>

									<h:outputLabel value="Cedula/Nit" for="cedula" />
									<p:inputText id="cedula" value="#{actorAction.cedula}"
										style="width:248px;" title="Cedula"
										onkeydown="return permitirSoloNumeros(this, event);" />
									<h:outputLabel value="Nombres*" for="nombres" />
									<p:inputText id="nombres" value="#{actorAction.nombres}"
										onblur="value = value.toUpperCase()"
										style="text-transform: uppercase;width:248px" title="Nombres" />

									<h:outputLabel value="Direccion" for="direccion" />
									<p:inputText id="direccion" value="#{actorAction.direccion1}"
										onblur="value = value.toUpperCase()"
										style="text-transform: uppercase;width:248px"
										title="Direccion" />

									<h:outputLabel value="Email" for="email" />
									<p:inputText id="email" value="#{actorAction.email}"
										style="width:248px;" title="Email" />

									<h:outputLabel value="Telefono" for="telefonoDest" />
									<p:inputText id="telefonoDest" value="#{actorAction.telefono}"
										style="width:248px;" title="Telefono" />

									<h:outputLabel value="Cargo" for="cargo"
										rendered="#{actorAction.showOficina}" />
									<p:inputText id="cargo" value="#{actorAction.cargo}"
										title="Cargo" rendered="#{actorAction.showOficina}"
										onblur="value = value.toUpperCase()"
										style="text-transform: uppercase;width:248px" />

								</p:panelGrid>

							</p:fieldset>
							<p:commandButton styleClass="button-action"
								action="#{actorAction.crearActorDocumento()}"
								update=":tbwproc:formCrearProc" value="Crear"
								oncomplete="creartbwproc()" />
							<p:remoteCommand name="creartbwproc"
								action="#{actorAction.limpiar()}" update=":tbwproc" />
						</h:form>
					</p:panel>
				</p:tab>
				<p:tab id="tbwprocedit" title="Editar Personal"
					disabled="#{!documentoAction.panelEditar}">
					<h:form id="formEdit">
						<p:selectOneRadio id="customRadio"
							value="#{actorAction.direccion}" layout="custom">
							<f:selectItem itemLabel="" itemValue="d1" />
							<f:selectItem itemLabel="" itemValue="d2" />
						</p:selectOneRadio>
						<p:selectOneRadio id="activo" value="#{actorAction.estado}"
							disabled="#{actorAction.opcionVer}" layout="custom">
							<f:selectItem itemLabel="" itemValue="true" />
							<f:selectItem itemLabel="" itemValue="false" />
						</p:selectOneRadio>

						<p:panel id="pnlEditar" header="Editar Personal"
							styleClass="cds-panel-simple panel-form">
							<p:messages id="validate" autoUpdate="true" />
							<p:fieldset styleClass="ui-widget-content2">
								<p:panelGrid columns="2" style="width:80%;">
									<h:outputLabel value="Pais" for="pais" />
									<p:selectOneMenu id="pais" value="#{actorAction.pais}"
										style="width:260px;" disabled="#{actorAction.opcionVer}">
										<f:selectItem itemLabel="seleccione" />
										<f:selectItems value="#{actorAction.listaPaises.values()}" />
										<p:ajax update="@form" process="@form"
											listener="#{actorAction.cargarDeptos()}" />
									</p:selectOneMenu>
									<h:outputLabel value="Departamento" for="depto" />
									<p:selectOneMenu id="depto" value="#{actorAction.depto}"
										style="width:260px;" disabled="#{actorAction.opcionVer}">
										<f:selectItem itemLabel="seleccione" />
										<f:selectItems value="#{actorAction.listaDeptos.values()}" />
										<p:ajax update="@form" process="@form"
											listener="#{actorAction.cargarCiudades()}" />
									</p:selectOneMenu>
									<h:outputLabel value="Ciudad*" for="ciudad" />
									<p:selectOneMenu id="ciudad" value="#{actorAction.ciudad}"
										style="width:260px;" disabled="#{actorAction.opcionVer}">
										<f:selectItem itemLabel="seleccione" />
										<f:selectItems value="#{actorAction.listaCiudades.values()}" />
									</p:selectOneMenu>

									<h:outputLabel value="Tipo persona*" for="tipopersona" />
									<p:selectOneMenu id="tipopersona" style="width:260px;"
										value="#{actorAction.tipoCadena}"
										disabled="#{actorAction.opcionVer}">
										<f:selectItem itemLabel="seleccione" />
										<f:selectItems
											value="#{applicationAction.listaTipoPersona.entrySet()}"
											var="tp" itemLabel="#{tp.value}" itemValue="#{tp.key}" />
										<p:ajax update="@form" process="@form"
											listener="#{actorAction.showCampos}" />
									</p:selectOneMenu>

									<h:outputLabel value="Cedula/Nit" for="cedula" />
									<p:inputText id="cedula" value="#{actorAction.cedula}"
										disabled="#{actorAction.opcionVer}" style="width:248px;"
										title="Cedula"
										onkeydown="return permitirSoloNumeros(this, event);" />
									<h:outputLabel value="Nombres*" for="nombres" />
									<p:inputText id="nombres" value="#{actorAction.nombres}"
										onblur="value = value.toUpperCase()"
										style="text-transform: uppercase;width:248px" title="Nombres"
										disabled="#{actorAction.opcionVer}" />
									<h:outputLabel value="Fecha Nacimiento" for="fechaNacimiento" />
									<p:calendar locale="es" value="#{actorAction.fechaNacimiento}"
										id="fechaNacimiento" style="width:180px;"
										rendered="#{!actorAction.opcionVer}"
										styleClass="cds-custom-calendar input-special"
										navigator="true" yearRange="1980:2025" />
									<p:inputText id="fechaNacimientoText"
										value="#{actorAction.fechaNacimiento}" style="width:248px;"
										title="Fecha de nacimiento"
										rendered="#{actorAction.opcionVer}"
										disabled="#{actorAction.opcionVer}" />
									<h:outputLabel value="Direccion 1" for="direccion1" />
									<p:panel styleClass="cds-panel-reset">
										<p:panelGrid columns="2">
											<p:inputText id="direccion1"
												value="#{actorAction.direccion1}"
												onblur="value = value.toUpperCase()"
												style="text-transform: uppercase;width:220px"
												title="Direccion 1" disabled="#{actorAction.opcionVer}" />
											<p:radioButton id="opt1" for="customRadio" itemIndex="0"
												disabled="#{actorAction.opcionVer}" />
										</p:panelGrid>
									</p:panel>

									<h:outputLabel value="Direccion 2" for="direccion2" />
									<p:panel styleClass="cds-panel-reset">
										<p:panelGrid columns="2">
											<p:inputText id="direccion2"
												value="#{actorAction.direccion2}"
												onblur="value = value.toUpperCase()"
												style="text-transform: uppercase;width:220px"
												title="Direccion 2" disabled="#{actorAction.opcionVer}" />
											<p:radioButton id="opt2" for="customRadio" itemIndex="1"
												disabled="#{actorAction.opcionVer}" />
										</p:panelGrid>
									</p:panel>

									<h:outputLabel value="Telefono" for="telefono" />
									<p:inputText id="telefono" value="#{actorAction.telefono}"
										onkeydown="return permitirSoloNumeros(this, event);"
										disabled="#{actorAction.opcionVer}" style="width:220px;"
										title="Telefono" />

									<h:outputLabel value="Empresa" for="empresa"
										rendered="#{!actorAction.showEmails}" />
									<p:selectOneMenu id="empresa" value="#{actorAction.empresa}"
										rendered="#{!actorAction.showEmails}"
										disabled="#{actorAction.opcionVer}" style="width:220px;">
										<f:selectItem itemLabel="Seleccione" />
										<f:selectItems value="#{applicationAction.listaEmpresas}"
											var="empresa" itemLabel="#{empresa.nombreYApellido}"
											itemValue="#{empresa.id}" />
									</p:selectOneMenu>

									<h:outputLabel value="Cargo" for="cargo"
										rendered="#{actorAction.showOficina}" />
									<p:inputText id="cargo" value="#{actorAction.cargo}"
										title="Cargo" disabled="#{actorAction.opcionVer}"
										rendered="#{actorAction.showOficina}"
										onblur="value = value.toUpperCase()"
										style="text-transform: uppercase;width:248px" />

									<h:outputLabel value="Oficina" for="oficina"
										rendered="#{actorAction.showOficina}" />
									<p:selectOneMenu id="oficina"
										value="#{actorAction.oficinaCadena}" filter="true"
										filterMatchMode="contains"
										rendered="#{actorAction.showOficina}" style="width:260px;"
										disabled="#{actorAction.opcionVer}">
										<f:selectItem itemLabel="Seleccione" />
										<f:selectItems
											value="#{applicationAction.oficinas.entrySet()}"
											var="oficina" itemLabel="#{oficina.value}"
											itemValue="#{oficina.key}" />
									</p:selectOneMenu>

									<h:outputLabel value="Firma Digital" for="firma"
										rendered="#{actorAction.showFirmaJefe}" />
									<p:graphicImage url="#{resource[actorAction.graphicText]}"
										rendered="#{actorAction.showFirmaJefe}" />

									<h:outputLabel value="Jefe" for="jefe"
										rendered="#{actorAction.showJefe}" />
									<p:selectOneMenu id="jefe" value="#{actorAction.jefeCadena}"
										rendered="#{actorAction.showJefe}" style="width:260px;"
										disabled="#{actorAction.opcionVer}">
										<f:selectItem itemLabel="Seleccione" />
										<f:selectItems value="#{applicationAction.listaJefes}"
											var="jefe" itemLabel="#{actorAction.mostrarNombreJefe(jefe)}"
											itemValue="#{actorAction.mostrarIdJefe(jefe)}" />
										<p:ajax process="@this" />
									</p:selectOneMenu>

									<h:outputLabel value="Email" />
									<p:inputText id="emailshow" value="#{actorAction.email}"
										style="width:220px;" title="Email"
										disabled="#{actorAction.opcionVer}" />

									<h:outputLabel value="Estado" />
									<p:panel styleClass="cds-panel-reset">
										<p:panelGrid columns="2">
											<p:outputLabel value="Habilitado" for="opt1" />
											<p:radioButton id="hbt" for="activo" itemIndex="0" />
											<p:outputLabel value="Inhabilitado" for="opt2" />
											<p:radioButton id="ihbt" for="activo" itemIndex="1" />
										</p:panelGrid>
									</p:panel>

								</p:panelGrid>

							</p:fieldset>
							<p:commandButton styleClass="button-action"
								action="#{actorAction.editarActorDocumento()}"
								oncomplete="postProc()" update="@form" value="Editar" />
							<p:remoteCommand name="postProc"
								action="#{documentoAction.postEditarActor(true)}"
								update=":tbwproc,:tbwproc:formCrearProc" />

							<p:commandButton styleClass="button-action"
								action="#{documentoAction.postEditarActor(false)}"
								update=":tbwproc" oncomplete="postProc1()" value="Regresar" />
							<p:remoteCommand name="prostProc1"
								action="#{actorAction.limpiar()}" update=":tbwproc" />

						</p:panel>

					</h:form>
				</p:tab>
			</p:tabView>

		</p:dialog>
		<p:dialog header="Buscar Documento" widgetVar="dlgDocumento"
			modal="true" draggable="false" maximizable="false" resizable="false"
			closable="false" height="550" width="1000">
			<p:panel styleClass="cds-panel-simple panel-form">
				<h:form id="buscarDocForm">
					<p:fieldset legend="Filtros de busqueda"
						styleClass="ui-widget-content2">

						<p:panelGrid columns="2" style="width:92%;">
							<h:outputLabel value="Radicado" for="radicadoS" />
							<p:inputText id="radicadoS"
								value="#{documentoAction.radicacionConsulta}" />

							<h:outputLabel value="Fecha Emision Inicial"
								for="fechaEmisionIni" />
							<p:calendar locale="es"
								value="#{documentoAction.fechaEmisionInicial}"
								id="fechaEmisionIni"
								styleClass="cds-custom-calendar input-special" navigator="true"
								yearRange="1980:2025" />

							<h:outputLabel value="Fecha Emision Final"
								for="fechaRecepcionFin" />
							<p:calendar locale="es"
								value="#{documentoAction.fechaEmisionFinal}"
								id="fechaEmisionFin"
								styleClass="cds-custom-calendar input-special" navigator="true"
								yearRange="1980:2025" />

							<h:outputLabel value="Procedencia" for="procedenciaS" />
							<p:panel styleClass="cds-panel-reset">
								<p:commandButton id="procedenciaS"
									onclick="PF('dlgProcedenciaS').show();" type="button"
									styleClass="cds-custom-search" icon="ui-icon-search" />
								<p:inputText id="valueNameS"
									value="#{documentoAction.procedenciaName}" style="width: 220px" />
							</p:panel>

							<h:outputLabel value="Destino" for="destinoS" />
							<p:panel styleClass="cds-panel-reset">
								<p:commandButton id="destinoS"
									onclick="PF('dlgDestinoS').show();" type="button"
									styleClass="cds-custom-search" icon="ui-icon-search" />
								<p:inputText id="vNameS" value="#{documentoAction.destinoName}"
									style="width: 220px" />
							</p:panel>

							<h:outputLabel value="Asunto" for="asuntoS" />
							<p:inputText id="asuntoS"
								value="#{documentoAction.asuntoConsulta}" style="width: 220px" />

							<h:outputLabel value="Revisor" for="revisoresS" />
							<p:selectOneMenu id="revisoresS"
								value="#{documentoAction.revisorName}" style="width: 232px">
								<f:selectItem itemLabel="Seleccione" />
								<f:selectItems value="#{documentoAction.revisorMap.values()}" />
							</p:selectOneMenu>
						</p:panelGrid>
						<br />
						<p:commandButton styleClass="button-action"
							action="#{documentoAction.buscarDocumento()}" update="fldResult"
							value="Buscar" />
					</p:fieldset>
					<p:fieldset id="fldResult" legend="Resultados"
						styleClass="ui-widget-content2">

						<p:dataTable id="documentoR"
							emptyMessage="No se han encontrado resultados" var="doc"
							value="#{documentoAction.resultadoDocs}"
							rendered="#{documentoAction.resultadoDocs.size()>0}"
							rowKey="#{doc.radicacion}">

							<p:column headerText="Radicacion">
								<h:outputText value="#{doc.radicacion}" />
							</p:column>

							<p:column headerText="Fecha emision">
								<h:outputText value="#{doc.fechaEmision}" />
							</p:column>

							<p:column headerText="Asunto">
								<h:outputText value="#{doc.asunto}" />
							</p:column>

							<p:column headerText="Procedencia">
								<h:outputText
									value="#{documentoAction.mostrarProcedenciaTabla(doc)}" />
							</p:column>

							<p:column headerText="Acción">
								<p:commandLink id="selectDocS" title="Seleccion"
									update="@form,:form1:tablaRadicado"
									actionListener="#{documentoAction.selectDocumentoReferencia(doc)}"
									oncomplete="PF('dlgDocumento').hide()">
									<p:graphicImage url="#{resource['css/img/seleccionar.png']}" />
								</p:commandLink>
							</p:column>

						</p:dataTable>
						<br />

					</p:fieldset>
					<br />
					<br />
					<p:commandButton styleClass="button-action" id="cancelDocS"
						value="Cancelar" update="@form"
						actionListener="#{documentoAction.limpiarModal()}"
						oncomplete="PF('dlgDocumento').hide()" />
				</h:form>
			</p:panel>

		</p:dialog>

		<p:dialog header="Procedencia" widgetVar="dlgProcedenciaS"
			draggable="false" maximizable="false" resizable="false"
			closable="false" height="400" width="800">
			<h:form id="procedenciaSearch">
				<p:panelGrid columns="3">
					<h:outputLabel value="Nombre" />
					<p:inputText value="#{documentoAction.nombre}"
						onblur="value = value.toUpperCase()"
						style="text-transform: uppercase;">
						<p:ajax process="@this,@form" />
					</p:inputText>
					<p:commandButton styleClass="button-action" value="Buscar"
						action="#{documentoAction.buscarProcedencia()}"
						update=":procedenciaSearch:tablaProcS" />
				</p:panelGrid>
				<p:dataTable id="tablaProcS"
					emptyMessage="No se han encontrado resultados" var="pro"
					rowKey="#{pro.cedula}" value="#{documentoAction.procedenciaIn}"
					paginator="true" rows="10" paginatorPosition="bottom">

					<p:column headerText="Cedula">
						<h:outputText value="#{pro.cedula}" />
					</p:column>

					<p:column headerText="Nombre">
						<h:outputText value="#{pro.nombreYApellido}" />
					</p:column>

					<p:column headerText="Correo">
						<h:outputText value="#{pro.email}" />
					</p:column>

					<p:column headerText="Acción">
						<p:commandLink id="selectProceS" title="Seleccion"
							update=":buscarDocForm:valueNameS,@form"
							actionListener="#{documentoAction.selectProcedenciaConsulta(pro)}"
							oncomplete="PF('dlgProcedenciaS').hide()">
							<p:graphicImage url="#{resource['css/img/seleccionar.png']}" />
						</p:commandLink>
					</p:column>

				</p:dataTable>

				<p:commandButton styleClass="button-action" id="cancelProceS"
					value="Cancelar" update="@form"
					actionListener="#{documentoAction.iniciarDialogSearch()}"
					oncomplete="PF('dlgProcedenciaS').hide()" />
			</h:form>

		</p:dialog>

		<p:dialog header="Destino" widgetVar="dlgDestinoS" draggable="false"
			maximizable="false" resizable="false" closable="false" height="400"
			width="800">
			<h:form id="destinoSearch">
				<p:panelGrid columns="5">
					<h:outputLabel value="Nombre" />
					<p:inputText value="#{documentoAction.nombre1}"
						onblur="value = value.toUpperCase()"
						style="text-transform: uppercase;">
						<p:ajax process="@this,@form" />
					</p:inputText>
					<p:commandButton styleClass="button-action" value="Buscar"
						action="#{documentoAction.buscarDestinos()}"
						update=":destinoSearch:tablaDestS" />
				</p:panelGrid>
				<p:dataTable id="tablaDestS"
					emptyMessage="No se han encontrado resultados" var="pro"
					rowKey="#{pro.cedula}" value="#{documentoAction.destinoIn}"
					paginator="true" rows="10" paginatorPosition="bottom">

					<p:column headerText="Cedula">
						<h:outputText value="#{pro.cedula}" />
					</p:column>

					<p:column headerText="Nombre">
						<h:outputText value="#{pro.nombreYApellido}" />
					</p:column>

					<p:column headerText="Correo">
						<h:outputText value="#{pro.email}" />
					</p:column>

					<p:column headerText="Accion">
						<p:commandLink id="selectDestS" title="Seleccionar"
							update=":buscarDocForm:vNameS,:destinoSearch:tablaDestS"
							actionListener="#{documentoAction.selectDestinoConsulta(pro)}"
							oncomplete="PF('dlgDestinoS').hide()">
							<p:graphicImage url="#{resource['css/img/seleccionar.png']}" />
						</p:commandLink>
					</p:column>

				</p:dataTable>

				<p:commandButton styleClass="button-action" id="cancelDestS"
					value="Cancelar" update=":destinoSearch:tablaDestS"
					actionListener="#{documentoAction.iniciarDialogSearch()}"
					oncomplete="PF('dlgDestinoS').hide()" />
			</h:form>
		</p:dialog>

		<p:dialog header="Tablas de retencion documental" widgetVar="dlgTrd"
			modal="true" draggable="false" maximizable="false" resizable="false"
			closable="false" height="500" width="700">
			<h:form id="documentalDialog">
				<p:wizard widgetVar="wzTRD"
					flowListener="#{documentoAction.onFlowProcess}" backLabel="Atras"
					nextLabel="Siguiente">
					<p:tab id="oficinaTab" title="Oficina">
						<br />
						<div class="row">
							<div class="col-sm-12">
								<p:dataTable widgetVar="tbOficina"
									emptyMessage="No se han encontrado resultados"
									selection="#{documentoAction.oficina}" var="oficina"
									value="#{documentoAction.listaOficina}" rowKey="#{oficina.id}"
									editable="true" paginator="true" rows="10"
									filteredValue="#{documentoAction.listaOficinaFiltered}"
									paginatorPosition="bottom" sortBy="descripcion"
									sortOrder="ascending">

									<f:facet name="header">
										<p:outputPanel style="float:right">
											<h:outputText value="Filtrar:" />
											<p:inputText id="globalFilter"
												onkeyup="PF('tbOficina').filter()" style="width:150px"
												placeholder="" />
										</p:outputPanel>
									</f:facet>

									<p:column selectionMode="single"
										style="width:16px;text-align:center" />

									<p:column headerText="Codigo" filterBy="#{oficina.codigo}"
										filterMatchMode="contains" filterStyle="display:none">
										<h:outputText value="#{oficina.codigo}" />
									</p:column>

									<p:column headerText="Descripcion"
										filterBy="#{oficina.descripcion}" filterMatchMode="contains"
										filterStyle="display:none">
										<h:outputText value="#{oficina.descripcion}" />
									</p:column>

								</p:dataTable>
							</div>
						</div>
					</p:tab>
					<p:tab id="serieTab" title="Serie">
						<br />
						<div class="row">
							<div class="col-sm-12">
								<p:dataTable widgetVar="tbSerie"
									emptyMessage="No se han encontrado resultados" var="serie"
									selection="#{documentoAction.serie}"
									value="#{documentoAction.listaSerie}"
									filteredValue="#{documentoAction.listaSerieFiltered}"
									rowKey="#{serie.id}" paginator="true" rows="10" editable="true"
									paginatorPosition="bottom" sortBy="descripcion"
									sortOrder="ascending">

									<f:facet name="header">
										<p:outputPanel style="float:right">
											<h:outputText value="Filtrar:" />
											<p:inputText id="globalFilter"
												onkeyup="PF('tbSerie').filter()" style="width:150px"
												placeholder="" />
										</p:outputPanel>
									</f:facet>

									<p:column selectionMode="single"
										style="width:16px;text-align:center" />


									<p:column headerText="Codigo" filterBy="#{serie.codigo}"
										filterMatchMode="contains" filterStyle="display:none">
										<h:outputText value="#{serie.codigo}" />
									</p:column>

									<p:column headerText="Descripcion"
										filterBy="#{serie.descripcion}" filterMatchMode="contains"
										filterStyle="display:none">
										<h:outputText value="#{serie.descripcion}" />
									</p:column>

								</p:dataTable>
							</div>
						</div>
					</p:tab>
					<p:tab id="subTab" title="Subserie">
						<br />
						<div class="row">
							<div class="col-sm-12">
								<p:dataTable widgetVar="tbSubserie"
									emptyMessage="No se han encontrado resultados" var="subserie"
									selection="#{documentoAction.subserie}"
									value="#{documentoAction.listaSubSerie}"
									filteredValue="#{documentoAction.listaSubSerieFiltered}"
									rowKey="#{subserie.id}" paginator="true" editable="true"
									rows="10" paginatorPosition="bottom" sortBy="codigo"
									sortOrder="ascending">

									<f:facet name="header">
										<p:outputPanel style="float:right">
											<h:outputText value="Filtrar:" />
											<p:inputText id="globalFilter"
												onkeyup="PF('tbSubserie').filter()" style="width:150px"
												placeholder="" />
										</p:outputPanel>
									</f:facet>

									<p:column selectionMode="single"
										style="width:16px;text-align:center" />

									<p:column headerText="Codigo" filterBy="#{subserie.codigo}"
										filterMatchMode="contains" filterStyle="display:none">
										<h:outputText value="#{subserie.codigo}" />
									</p:column>

									<p:column headerText="Descripcion"
										filterBy="#{subserie.descripcion}" filterMatchMode="contains"
										filterStyle="display:none">
										<h:outputText value="#{subserie.descripcion}" />
									</p:column>
								</p:dataTable>
							</div>
						</div>
					</p:tab>
					<p:tab id="tipoDocTab" title="Tipo documento">
						<br />
						<div class="row">
							<div class="col-sm-12">
								<p:dataTable widgetVar="tbTipoDoc"
									emptyMessage="No se han encontrado resultados" var="tipo"
									value="#{documentoAction.listaTipoDocumento}"
									selection="#{documentoAction.tipoDoc}"
									filteredValue="#{documentoAction.listaTipoDocumentoFiltered}"
									rowKey="#{tipo.id}" paginator="true" editable="true" rows="10"
									paginatorPosition="bottom" sortBy="descripcion"
									sortOrder="ascending">

									<f:facet name="header">
										<p:outputPanel style="float:right">
											<h:outputText value="Filtrar:" />
											<p:inputText id="globalFilter"
												onkeyup="PF('tbTipoDoc').filter()" style="width:150px"
												placeholder="" />
										</p:outputPanel>
									</f:facet>

									<p:column selectionMode="single"
										style="width:16px;text-align:center" />

									<p:column headerText="Descripcion"
										filterBy="#{tipo.descripcion}" filterMatchMode="contains"
										filterStyle="display:none">
										<h:outputText value="#{tipo.descripcion}" />
									</p:column>

								</p:dataTable>
								<br />
								<p:commandButton styleClass="button-action center-block"
									value="Seleccionar" update=":form1:documental,@form"
									action="#{documentoAction.crearTrd()}"
									oncomplete="PF('dlgTrd').hide();" />
								<br />
							</div>

						</div>
						<br />

					</p:tab>

				</p:wizard>
				<br />

				<p:commandButton styleClass="button-action right" value="Cancelar"
					action="#{documentoAction.iniciarDialog()}"
					oncomplete="PF('dlgTrd').hide()">
					<p:ajax update="@form" />
				</p:commandButton>

			</h:form>
		</p:dialog>
		<p:dialog header="Etiqueta" widgetVar="dlgEtiqueta" modal="true"
			draggable="false" maximizable="false" resizable="false"
			closable="false" height="200" width="392">
			<h:form id="formE">
				<p:panel id="etiquetaPn">
					<h:outputText value="C.R.Q.  #{documentoAction.fechaEtiqueta}"
						style="font-weight: bold;font-size: 10px;" />
					<br />
					<h:outputText
						value="CITE RAD # #{documentoAction.radicacion}  ANEX: #{documentoAction.anexos}"
						style="font-weight: bold;font-size: 10px;" />
					<br />
					<h:outputText value="PQR: # #{documentoAction.pqr}"
						rendered="#{documentoAction.pqr!=''}"
						style="font-weight: bold;font-size: 10px;" />
					<br />
					<h:outputText
						value="ORIGEN: #{documentoAction.validarLista(documentoAction.procedenciaGuardar)}"
						style="font-weight: bold;font-size: 10px;" />
					<br />
					<h:outputText
						value="DESTINO: #{documentoAction.validarLista(documentoAction.destinosGuardar)}"
						style="font-weight: bold;font-size: 10px;" />
					<br />
					<h:outputText value="ASUNTO:  #{documentoAction.asunto}"
						style="font-weight: bold;font-size: 10px;" />
					<br />
				</p:panel>
				<br />
				<br />
				<p:commandButton styleClass="button-action" value="Imprimir"
					oncomplete="PF('dlgTrd').hide()">
					<p:printer target="etiquetaPn" />
				</p:commandButton>
				<p:commandButton styleClass="button-action" value="Cancelar"
					oncomplete="PF('dlgEtiqueta').hide()" />
			</h:form>
		</p:dialog>
		 <p:dialog header="Nueva clase documento" widgetVar="dlgClaseDocumento" modal="true"  draggable="false" maximizable="false" resizable="false" closable="false" height="90" width="500">
             <h:form id="form">
                 <h:panelGroup>
                     <h:panelGrid columns="6" >
                         <h:outputLabel value="Nombre*" for="name" />
                         <p:inputText id="name" value="#{documentoAction.popupClaseDocumento}" 
                                      style="width:220px; margin-left: 15px;" 
                                      title="Nombre clase de documento"/>
                         <p:commandButton styleClass="button-action" action="#{documentoAction.cargarClasesDocumento}"
                                          value="Crear" update=":form1, form" style="margin-left: 30px;"  oncomplete="PF('dlgClaseDocumento').hide()" />   
                        <p:commandButton styleClass="button-action" value="Cancelar"   oncomplete="PF('dlgClaseDocumento').hide()"/>
                     </h:panelGrid>  
                 </h:panelGroup>
             </h:form>
        </p:dialog>
	</ui:define>
</ui:composition>
