<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">



    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Gestión Documental" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">
        <h:form id="form1">
            <p:panel header="Gestión Documental" styleClass="cds-panel-simple panel-form">
                <div align="center">
                    <h3 class="title-new">Editar documento</h3>
                </div>
                <p:fieldset id="fld"
                            styleClass="ui-widget-content2">
                    <p:focus context="fld" />
                    <p:messages id="validate"/>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Radicado" styleClass="label-title" for="radicado"  />
                                    <p:inputText id="radicado" value="#{buscarAction.radicacion}" disabled="true" style="width:200px;"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Radicado" styleClass="label-title" rendered="#{buscarAction.modoAdmin}" />
                                    <p:inputText  value="#{buscarAction.radicadoCambio}" rendered="#{buscarAction.modoAdmin}" style="width:200px;"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Comentario" styleClass="label-title" rendered="#{buscarAction.modoAdmin}" />
                                    <p:inputText  value="#{buscarAction.comentarioCambio}" style="width:250px;" rendered="#{buscarAction.modoAdmin}"/>
                                    <p:commandButton action="#{buscarAction.cambiarRadicado()}" value="Cambiar Radicado" rendered="#{buscarAction.modoAdmin}" update="@form"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br/>
                    <p:separator/>
                    <br/>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Fecha Emision" styleClass="label-title" for="fechaEmision" />
                                    <p:inputText id="fechaEmision" value="#{buscarAction.fechaEmision}" disabled="true"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Fecha Recepcion" styleClass="label-title" for="fechaRecepcion" />
                                    <p:inputText id="fechaRecepcion" value="#{buscarAction.fechaRecepcion}" disabled="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Procedencia" styleClass="label-title" for="procedencia"/>
                                    <p:inputTextarea  id="procedencia" rows="3" value="#{buscarAction.procedenciaText}" style="width: 450px" disabled="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Destino" styleClass="label-title" for="destino"/>
                                    <p:inputTextarea id="destino" rows="3" value="#{buscarAction.destinosText}" style="width: 450px" disabled="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Asunto" styleClass="label-title" for="asunto" />
                                    <p:inputTextarea id="asunto" rows="6" cols="50" value="#{buscarAction.asunto}" disabled="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Observacion" styleClass="label-title" for="observacion" />
                                    <p:inputTextarea id="observacion" rows="6" cols="50" value="#{buscarAction.observacion}"  onblur="value = value.toUpperCase()" style="text-transform: uppercase;"/>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br/>
                    <p:separator/>
                    <br/>

                    <div class="row">

                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Clase de documento*" for="claseDoc" />
                                    <p:selectOneMenu id="claseDoc" style="width: 232px" 
                                                     value="#{buscarAction.claseDocumento}" >
                                        <f:selectItem itemLabel="Seleccione"/>
                                        <f:selectItem itemLabel="Tramites" itemValue="TRAMITE"/>
                                        <f:selectItem itemLabel="PQR" itemValue="PQR"/>
                                        <f:selectItem itemLabel="Denuncias" itemValue="DENUNCIA"/>
                                        <f:selectItem itemLabel="Otros" itemValue="OTROS"/>
                                    </p:selectOneMenu>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Medio de Respuesta" styleClass="label-title" for="empresa" />
                                    <p:selectOneMenu id="empresa" style="width: 232px"
                                                     value="#{buscarAction.empresaCorreoEnviado}">
                                        <f:selectItem itemLabel="Seleccione"/>
                                        <f:selectItem itemLabel="Correo certificado" itemValue="CERTIFICADO"/>
                                        <f:selectItem itemLabel="Correo electronico" itemValue="ELECTRONICO"/>
                                        <f:selectItem itemLabel="Mensajero" itemValue="MENSAJERO"/>
                                        <p:ajax update="mensajero"/>
                                    </p:selectOneMenu> 
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Funcionario" for="mensajero" styleClass="label-title"/>
                                    <p:inputText id="mensajero"
                                                 value="#{buscarAction.mensajero}" disabled="#{!(buscarAction.empresaCorreoEnviado.equals('MENSAJERO'))}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:220px"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Anexos" styleClass="label-title" for="anexos" />
                                    <p:inputText id="anexos"
                                                 value="#{buscarAction.anexos}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:220px"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br/>
                    <p:separator/>
                    <br/>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Archivo Referencia" styleClass="label-title" for="referencia" />
                                    <p:panel styleClass="cds-panel-reset">
                                        <p:panelGrid columns="3">
                                            <p:commandButton id="referencia" onclick="PF('dlgDocumento').show();" type="button" styleClass="cds-custom-search" icon="ui-icon-search"/> 
											
                                            <p:dataTable id="tablaRadicado" emptyMessage=" " value="#{buscarAction.listaRef}" var="d" rowKey="#{d.radicacion}" style="width:365px">
                                                <p:column headerText="Radicado">
                                                    <h:outputText value="#{d.radicacion}"/>
                                                </p:column>
												
                                                <p:column headerText="Accion">  
                                                    <a href="/Beesoft/ArchivoReferenciaServidor?idArchivo=#{d.id}" target="_blank" >Abrir Documento</a>
                                                </p:column>
                                                <!-- <h:inputHidden value="#{buscarAction.idOrigen}" var="o" /> -->
                                                <p:column headerText="Quitar">
                                                    <p:commandLink action="#{buscarAction.quitarDocumentoReferencia(d)}" update="@form">
                                                        <p:graphicImage url="#{resource['css/img/delete.png']}"/>
                                                    </p:commandLink>
                                                </p:column> 

                                            </p:dataTable>
                                        </p:panelGrid>
                                    </p:panel>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Respuesta del documento" styleClass="label-title" for="claseDoc" rendered="#{buscarAction.tieneRespuesta}"/>
                                    <p:panel styleClass="cds-panel-reset">
                                        <p:panelGrid columns="3">
                                            <p:dataTable id="tablaRespuesta" emptyMessage=" " value="#{buscarAction.listaRespuesta}" var="d" rowKey="#{d.radicado}" style="width: 365px">

                                                <p:column headerText="Radicado" rendered="#{buscarAction.tieneRespuesta}">
                                                    <h:outputText value="#{d.radicado}"/>
                                                </p:column>

                                                <p:column headerText="Accion" rendered="#{buscarAction.tieneRespuesta}">  
                                                    <a href="/Beesoft/ArchivoReferenciaServidor?idArchivo=#{d.documentoRespuesta}" target="_blank" >Abrir Documento</a>
                                                </p:column> 
                                            </p:dataTable>
                                        </p:panelGrid>
                                    </p:panel>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br/>
                    <p:separator/>
                    <br/>
                
                    <div class="row">
                    
                    	

                       <!-- <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <p:panelGrid columns="1">
                                        <h:outputLabel value="Respuesta del Documento" styleClass="label-title" for="claseDoc" rendered="#{buscarAction.tieneRespuesta}"/>
                                        <a href="/Beesoft/ArchivoReferenciaServidor?idArchivo=#{buscarAction.listaRespuesta}" target="_blank" >#{buscarAction.listaRespuesta}</a>
                                    </p:panelGrid>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Fecha Control*" styleClass="label-title" for="fechaControl" />
                                    <p:calendar locale="es" value="#{buscarAction.fechaControl}"
                                                id="fechaControl" style="width: 220px"
                                                styleClass="cds-custom-calendar input-special"
                                                navigator="true" yearRange="1980:2025" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <br/>
                    <p:separator/>
                    <br/>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Tabla de retencion documental*" for="documental"/>
                                    <p:panel styleClass="cds-panel-reset" rendered="#{!buscarAction.documento.migrado}">
                                        <p:panelGrid columns="3">
                                            <p:commandButton id="trd"  onclick="PF('dlgTrd').show();" type="button" styleClass="cds-custom-search" icon="ui-icon-search"/>
                                            <p:dataTable id="documental" emptyMessage=" " value="#{buscarAction.trds}" var="trd" rowKey="#{trd.oficina}"  style="width: 700px">  
                                                <p:column headerText="Tabla de retencion">
                                                    <div class="container" style="width: 700px">
                                                        <div class="row"> 
                                                            <div class="col-sm-12">
                                                                <h:outputLabel value="Oficina: " />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputText value="#{trd.oficina.descripcion}" />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputLabel value="Serie: " />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputText value="#{trd.serie.descripcion}" />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputLabel value="SubSerie: " /> 
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputText value="#{trd.subserie.descripcion}" />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputLabel value="Tipo: " />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputText value="#{trd.tipodocumento.descripcion}" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </p:column>  
                                                <p:column headerText="Quitar">
                                                    <p:commandLink action="#{buscarAction.quitarTrd(trd)}" update="@form">
                                                        <p:graphicImage url="#{resource['css/img/delete.png']}"/>
                                                    </p:commandLink>
                                                </p:column>        
                                            </p:dataTable>
                                        </p:panelGrid>
                                    </p:panel>
                                    <p:panel styleClass="cds-panel-reset" rendered="#{buscarAction.documento.migrado}">
                                        <p:panelGrid columns="3">
                                            <p:dataTable id="documentalOld" emptyMessage=" " value="#{buscarAction.trdsOld}" var="trd" rowKey="#{trd.oficinaOld}"  style="width: 700px">  
                                                <p:column headerText="Tabla de retencion">
                                                    <div class="container" style="width: 700px">
                                                        <div class="row"> 
                                                            <div class="col-sm-12">
                                                                <h:outputLabel value="Oficina: " />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputText value="#{trd.oficinaOld.descripcion}" />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputLabel value="Serie: " />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputText value="#{trd.serieOld.descripcion}" />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputLabel value="SubSerie: " /> 
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputText value="#{trd.subSerieOld!=null?trd.subSerieOld.descripcion:'N/A'}" />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputLabel value="Tipo: " />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputText value="#{trd.tipodocumentoOld.descripcion}" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </p:column>  
                                            </p:dataTable>
                                        </p:panelGrid>
                                    </p:panel>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br/>
                    <p:separator/>
                    <br/>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Responsable*" styleClass="label-title" for="responsable" />
                                    <p:inputText id="responsable" value="#{buscarAction.responsableName}" disabled="true" style="width: 232px"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Revisores" styleClass="label-title"  for="revisores" />
                                    <p:panelGrid columns="1">
                                        <p:autoComplete id="revisores" multiple="true"  value="#{buscarAction.revisoresTarget}" completeMethod="#{buscarAction.completeRevisores}"
                                                        var="revisor" itemLabel="#{revisor.nombreYApellido}" itemValue="#{revisor}" converter="#{actorConverter}"
                                                        forceSelection="true" cache="true" style="width: 320px">
                                            <p:column>
                                                <h:outputText value="#{revisor.nombreYApellido}" />
                                            </p:column>
                                        </p:autoComplete>
                                    </p:panelGrid>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Añadir Archivo" styleClass="label-title" for="archivo" />
                                    <p:fileUpload id="archivo" uploadLabel="Cargar" cancelLabel="Cancelar" label="Seleccionar"
                                                  fileUploadListener="#{buscarAction.handleFileUpload}" mode="advanced" 
                                                  multiple="true" update=":form1:tblArchivo" sizeLimit="100000000" fileLimit="10" 
                                                  allowTypes="/(\.|\/)(gif|jpe?g|png|doc|docx|xls|xlsx|pdf|tif)$/" 
                                                  styleClass="ui-widget-header" style="width: 600px"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p:panelGrid columns="1" style="width:92%;" >


                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Archivos existentes" styleClass="label-title" for="archivoE" />
                                <p:panel styleClass="cds-panel-reset">
                                    <p:dataTable id="tblArchivo" emptyMessage=" " value="#{buscarAction.listaArchivos}" var="a" rowKey="#{a.nombreArchivo}" style="width: 365px">
                                        <p:column headerText="Archivos">  
                                            <h:outputText value="#{a.nombreArchivo}" />  
                                        </p:column>  
                                        <p:column headerText="Accion">  
                                            <a href="/Beesoft/ArchivoServidor?idArchivo=#{a.id}" target="_blank" >Abrir Documento</a>
                                        </p:column>
                                        <p:column headerText="Quitar"> 
                                            <p:commandLink action="#{buscarAction.quitarArchivo(a)}" update="@form">
                                                <p:graphicImage url="#{resource['css/img/delete.png']}"/>
                                            </p:commandLink>
                                        </p:column>  
                                    </p:dataTable>
                                </p:panel>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Radicado por:" styleClass="label-title" for="radicador"/>
                                <h:outputText id="radicador" value="#{buscarAction.radicador}"/>
                            </p:panelGrid>
                        </div>


                    </p:panelGrid>

                    <br/><br/>
                    <p:commandButton styleClass="button-action" action="#{buscarAction.editarDocumento()}" update=":form1:validate, :form1:fld"
                                     value="Editar" style="width: 100px;text-align: center!important" />
                    <p:commandButton styleClass="button-action" action="#{buscarAction.volver}" update="@form"
                                     value="Regresar" style="width: 100px;text-align: center!important" />
                </p:fieldset>

            </p:panel>
        </h:form>
        <p:dialog header="Buscar Documento" widgetVar="dlgDocumento" modal="true"  draggable="false" maximizable="false" resizable="false"  height="550" width="1000" closable="false">

            <p:panel styleClass="cds-panel-simple panel-form">

                <h:form id="buscarDocForm">
                    <p:fieldset legend="Filtros de busqueda"
                                styleClass="ui-widget-content2">
                        <p:messages id="validateDoc" />
                        <p:panelGrid columns="2" style="width:92%;" >
                            <h:outputLabel value="Radicado" for="radicadoS" />
                            <p:inputText id="radicadoS" value="#{buscarAction.radicacionConsulta}"  />

                            <h:outputLabel value="Fecha Emision Inicial" for="fechaEmisionIni" />
                            <p:calendar locale="es" value="#{buscarAction.fechaEmisionInicial}"
                                        id="fechaEmisionIni" styleClass="cds-custom-calendar input-special"
                                        navigator="true" yearRange="1980:2025" />

                            <h:outputLabel value="Fecha Emision Final" for="fechaRecepcionFin" />
                            <p:calendar locale="es" value="#{buscarAction.fechaEmisionFinal}"
                                        id="fechaEmisionFin"
                                        styleClass="cds-custom-calendar input-special"
                                        navigator="true" yearRange="1980:2025" />

                            <h:outputLabel value="Procedencia" for="procedenciaS"/>
                            <p:panel styleClass="cds-panel-reset">
                                <p:commandButton id="procedenciaS" onclick="PF('dlgProcedenciaS').show();" type="button" styleClass="cds-custom-search" icon="ui-icon-search"/>
                                <p:inputText id="valueNameS" value="#{buscarAction.procedenciaName}" style="width: 220px"/>
                            </p:panel>

                            <h:outputLabel value="Destino" for="destinoS"/>
                            <p:panel styleClass="cds-panel-reset">
                                <p:commandButton id="destinoS"  onclick="PF('dlgDestinoS').show();" type="button" styleClass="cds-custom-search" icon="ui-icon-search"/>
                                <p:inputText id="vNameS" value="#{buscarAction.destinoName}" style="width: 220px"/>
                            </p:panel>

                            <h:outputLabel value="Asunto" for="asuntoS" />
                            <p:inputText id="asuntoS" value="#{buscarAction.asuntoConsulta}" style="width: 220px" />

                            <h:outputLabel value="Revisor" for="revisoresS"/>
                            <p:selectOneMenu id="revisoresS" value="#{buscarAction.revisorName}" style="width: 232px">
                                <f:selectItem itemLabel="Seleccione"/>
                                <f:selectItems value="#{buscarAction.revisorMap.values()}"/>
                            </p:selectOneMenu>

                        </p:panelGrid>
                        <br />
                        <p:commandButton styleClass="button-action" action="#{buscarAction.buscarDocumentoReferencia()}" update="fldResult, validateDoc"
                                         value="Buscar" />
                    </p:fieldset>
                    <p:fieldset id="fldResult" legend="Resultados" 
                                styleClass="ui-widget-content2">

                        <p:dataTable id="documentoR" emptyMessage="No se han encontrado resultados" var="doc" value="#{buscarAction.resultadoDocs}"
                                     rendered="#{buscarAction.resultadoDocs.size()>0}" rowKey="#{doc.radicacion}" >  

                            <p:column headerText="Radicacion">  
                                <h:outputText value="#{doc.radicacion}" />  
                            </p:column>  

                            <p:column headerText="Fecha emision">  
                                <h:outputText value="#{doc.fechaEmision}" />  
                            </p:column>  

                            <p:column headerText="Asunto">  
                                <h:outputText value="#{doc.asunto}" />  
                            </p:column> 

                            <p:column headerText="Procedencia">  
                                <h:outputText value="#{buscarAction.mostrarProcedencia(doc)}" />  
                            </p:column>  

                            <p:column headerText="Acción">  
                                <p:commandLink id="selectDocS" title="Seleccion" update=":form1:tablaRadicado,@form" actionListener="#{buscarAction.selectDocumentoReferencia(doc)}" oncomplete="PF('dlgDocumento').hide()" >
                                    <p:graphicImage url="#{resource['css/img/seleccionar.png']}"/>
                                </p:commandLink>
                            </p:column>  

                        </p:dataTable>          
                        <br/>
                    </p:fieldset>
                    <br/><br/>
                    <p:commandButton styleClass="button-action" id="volverS" value="Volver" actionListener="#{buscarAction.cerrarModal()}" update="@form"  oncomplete="PF('dlgDocumento').hide()" />
                </h:form>
            </p:panel>

        </p:dialog>

        <p:dialog header="Procedencia" widgetVar="dlgProcedenciaS" draggable="false" maximizable="false" resizable="false" closable="false" height="400" width="800">
            <h:form id="procedenciaSearch">
                <p:panelGrid columns="3">
                    <h:outputLabel value="Nombre" />
                    <p:inputText value="#{buscarAction.nombre}" onblur="value = value.toUpperCase()" style="text-transform: uppercase">
                        <p:ajax process="@this,@form"/>
                    </p:inputText>
                    <p:commandButton value="Buscar" action="#{buscarAction.buscarProcedencia()}" update=":procedenciaSearch:tablaProcS"/>    
                </p:panelGrid>
                <p:dataTable id="tablaProcS" emptyMessage="No se han encontrado resultados" var="pro" rowKey="#{pro.cedula}" value="#{buscarAction.procedenciaIn}" paginator="true" rows="10" paginatorPosition="bottom">  

                    <p:column headerText="Cedula">  
                        <h:outputText value="#{pro.cedula}" />  
                    </p:column>  

                    <p:column headerText="Nombre">  
                        <h:outputText value="#{pro.nombreYApellido}" />  
                    </p:column>  

                    <p:column headerText="Correo">  
                        <h:outputText value="#{pro.email}" />  
                    </p:column> 

                    <p:column headerText="Acción">  
                        <p:commandLink id="selectProceS" title="Seleccion" update=":buscarDocForm:valueNameS,:procedenciaSearch:tablaProcS" actionListener="#{buscarAction.selectProcedenciaConsulta(pro)}" oncomplete="PF('dlgProcedenciaS').hide()">
                            <p:graphicImage url="#{resource['css/img/seleccionar.png']}"/>
                        </p:commandLink>                    </p:column> 

                </p:dataTable>

                <p:commandButton styleClass="button-action" id="cancelProceS" value="Cancelar" update=":procedenciaSearch:tablaProcS" actionListener="#{buscarAction.limpiar()}" oncomplete="PF('dlgProcedenciaS').hide()"/>
            </h:form>

        </p:dialog>

        <p:dialog header="Destino" widgetVar="dlgDestinoS"   draggable="false" maximizable="false" resizable="false" closable="false" height="400" width="800">
            <h:form id="destinoSearch">
                <p:panelGrid columns="3">
                    <h:outputLabel value="Nombre" />
                    <p:inputText  value="#{buscarAction.nombre}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;">
                        <p:ajax process="@this,@form"/>
                    </p:inputText>
                    <p:commandButton value="Buscar" action="#{buscarAction.buscarDestinos()}" update=":destinoSearch:tablaDestS"/>    
                </p:panelGrid>
                <p:dataTable id="tablaDestS" emptyMessage="No se han encontrado resultados" var="pro" rowKey="#{pro.cedula}" value="#{buscarAction.destinoIn}"  paginator="true" rows="10" paginatorPosition="bottom">  

                    <p:column headerText="Cedula">  
                        <h:outputText value="#{pro.cedula}" />  
                    </p:column>  

                    <p:column headerText="Nombre">  
                        <h:outputText value="#{pro.nombreYApellido}" />  
                    </p:column>  

                    <p:column headerText="Correo">  
                        <h:outputText value="#{pro.email}" />  
                    </p:column> 

                    <p:column headerText="Acción">  
                        <p:commandLink id="selectDestS" title="Seleccion" update=":buscarDocForm:vNameS,:destinoSearch:tablaDestS" actionListener="#{buscarAction.selectDestinoConsulta(pro)}" oncomplete="PF('dlgDestinoS').hide()">
                            <p:graphicImage url="#{resource['css/img/seleccionar.png']}"/>
                        </p:commandLink>
                    </p:column> 


                </p:dataTable>

                <p:commandButton styleClass="button-action" id="cancelDestS" value="Cancelar" update=":destinoSearch:tablaDestS" actionListener="#{buscarAction.iniciarDialog()}" oncomplete="PF('dlgDestinoS').hide()"/>

            </h:form>
        </p:dialog>

        <p:dialog header="Tablas de retencion documental" widgetVar="dlgTrd" modal="true"  draggable="false" maximizable="false" resizable="false" closable="false" height="500" width="700">
            <h:form id="documentalDialog">
                <p:wizard widgetVar="wzTRD" flowListener="#{buscarAction.onFlowProcess}" backLabel="Atras" nextLabel="Siguiente" >
                    <p:tab id="oficinaTab" title="Oficina">
                        <br/>
                        <div class="row">
                            <div class="col-sm-12">
                                <p:dataTable widgetVar="tbOficina" emptyMessage="No se han encontrado resultados" selection="#{buscarAction.oficina}" var="oficina" value="#{buscarAction.listaOficina}"
                                             rowKey="#{oficina.id}" editable="true" paginator="true" rows="10" filteredValue="#{buscarAction.listaOficinaFiltered}" paginatorPosition="bottom" sortBy="descripcion" sortOrder="ascending">

                                    <f:facet name="header">
                                        <p:outputPanel style="float:right">
                                            <h:outputText value="Filtrar:" />
                                            <p:inputText id="globalFilter" onkeyup="PF('tbOficina').filter()" style="width:150px" placeholder=""/>
                                        </p:outputPanel>
                                    </f:facet>

                                    <p:column selectionMode="single" style="width:16px;text-align:center"/>

                                    <p:column headerText="Codigo" filterBy="#{oficina.codigo}" filterMatchMode="contains" filterStyle="display:none">
                                        <h:outputText value="#{oficina.codigo}"/>
                                    </p:column>

                                    <p:column headerText="Descripcion" filterBy="#{oficina.descripcion}" filterMatchMode="contains" filterStyle="display:none">
                                        <h:outputText value="#{oficina.descripcion}"/>
                                    </p:column>

                                </p:dataTable>
                            </div>
                        </div>
                    </p:tab>
                    <p:tab id="serieTab" title="Serie">
                        <br/>
                        <div class="row">
                            <div class="col-sm-12">
                                <p:dataTable widgetVar="tbSerie" emptyMessage="No se han encontrado resultados" var="serie"  selection="#{buscarAction.serie}" value="#{buscarAction.listaSerie}" filteredValue="#{buscarAction.listaSerieFiltered}"
                                             rowKey="#{serie.id}" paginator="true" rows="10" editable="true" paginatorPosition="bottom" sortBy="descripcion" sortOrder="ascending">

                                    <f:facet name="header">
                                        <p:outputPanel style="float:right">
                                            <h:outputText value="Filtrar:" />
                                            <p:inputText id="globalFilter" onkeyup="PF('tbSerie').filter()" style="width:150px" placeholder=""/>
                                        </p:outputPanel>
                                    </f:facet>

                                    <p:column selectionMode="single" style="width:16px;text-align:center"/>


                                    <p:column headerText="Codigo" filterBy="#{serie.codigo}" filterMatchMode="contains" filterStyle="display:none">
                                        <h:outputText value="#{serie.codigo}"/>
                                    </p:column>

                                    <p:column headerText="Descripcion" filterBy="#{serie.descripcion}" filterMatchMode="contains" filterStyle="display:none">
                                        <h:outputText value="#{serie.descripcion}"/>
                                    </p:column>

                                </p:dataTable>
                            </div>
                        </div>
                    </p:tab>
                    <p:tab id="subTab" title="Subserie">
                        <br/>
                        <div class="row">
                            <div class="col-sm-12">
                                <p:dataTable widgetVar="tbSubserie" emptyMessage="No se han encontrado resultados" var="subserie" selection="#{buscarAction.subserie}" value="#{buscarAction.listaSubSerie}" filteredValue="#{buscarAction.listaSubSerieFiltered}"
                                             rowKey="#{subserie.id}" paginator="true" editable="true" rows="10"  paginatorPosition="bottom" sortBy="codigo" sortOrder="ascending">

                                    <f:facet name="header">
                                        <p:outputPanel style="float:right">
                                            <h:outputText value="Filtrar:" />
                                            <p:inputText id="globalFilter" onkeyup="PF('tbSubserie').filter()" style="width:150px" placeholder=""/>
                                        </p:outputPanel>
                                    </f:facet>

                                    <p:column selectionMode="single" style="width:16px;text-align:center"/>

                                    <p:column headerText="Codigo" filterBy="#{subserie.codigo}" filterMatchMode="contains" filterStyle="display:none">
                                        <h:outputText value="#{subserie.codigo}"/>
                                    </p:column>

                                    <p:column headerText="Descripcion" filterBy="#{subserie.descripcion}" filterMatchMode="contains" filterStyle="display:none">
                                        <h:outputText value="#{subserie.descripcion}"/>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                    </p:tab>
                    <p:tab id="tipoDocTab" title="Tipo documento">
                        <br/>
                        <div class="row">
                            <div class="col-sm-12">
                                <p:dataTable widgetVar="tbTipoDoc" emptyMessage="No se han encontrado resultados" var="tipo" value="#{buscarAction.listaTipoDocumento}" selection="#{buscarAction.tipoDoc}" filteredValue="#{buscarAction.listaTipoDocumentoFiltered}"
                                             rowKey="#{tipo.id}" paginator="true" editable="true" rows="10"  paginatorPosition="bottom" sortBy="descripcion" sortOrder="ascending">

                                    <f:facet name="header">
                                        <p:outputPanel style="float:right">
                                            <h:outputText value="Filtrar:" />
                                            <p:inputText id="globalFilter" onkeyup="PF('tbTipoDoc').filter()" style="width:150px" placeholder=""/>
                                        </p:outputPanel>
                                    </f:facet>

                                    <p:column selectionMode="single" style="width:16px;text-align:center"/>

                                    <p:column headerText="Descripcion" filterBy="#{tipo.descripcion}" filterMatchMode="contains" filterStyle="display:none">
                                        <h:outputText value="#{tipo.descripcion}"/>
                                    </p:column>

                                </p:dataTable>
                                <br/>
                                <p:commandButton styleClass="button-action center-block" value="Seleccionar" update=":form1:documental,@form" action="#{buscarAction.crearTrd()}" oncomplete="PF('dlgTrd').hide()"/>
                                <br/>
                            </div>

                        </div>
                        <br/>

                    </p:tab>

                </p:wizard>
                <br/>

                <p:commandButton styleClass="button-action right" value="Cancelar" update="@form" action="#{buscarAction.iniciarDialog()}" oncomplete="PF('dlgTrd').hide()"/>          

            </h:form>    
        </p:dialog>

    </ui:define>
</ui:composition>
