<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">


	<ui:param name="quitar_cargador" value="true" />

	<ui:define name="content">
		<h:form id="form1">
			<h:outputText value="#{usuario.inbox}" rendered="false" />
			<p:panel header="Gestion documental" styleClass="cds-panel-simple"
				style="padding: 10px 10px 10px 10px">

				<div align="center">
					<h3 class="title-new">Documentos pendientes</h3>
				</div>
				<p:growl autoUpdate="true" />
				<p:fieldset styleClass="ui-widget-content2">
					<p:commandButton id="nuevo" styleClass="button-action center-block"
						title="Nuevo Documento"
						action="#{buscarAction.showButtonRadicar()}"
						rendered="#{usuario.inbox}" value="Radicar" />

					<p:dataTable widgetVar="tbInbox" id="documentoR"
						emptyMessage="No hay documentos pendientes" var="doc"
						value="#{usuario.documentosInbox}" rowKey="#{doc.id}"
						paginator="true" rows="10"
						filteredValue="#{usuario.documentosInboxFiltered}"
						paginatorPosition="bottom">

						<f:facet name="header">
							<p:outputPanel style="float:right">
								<h:outputText value="Filtrar:" />
								<p:inputText id="globalFilter" onkeyup="PF('tbInbox').filter()"
									style="width:150px" placeholder="" />
							</p:outputPanel>
						</f:facet>

						<p:column headerText="Radicacion" filterBy="#{doc.radicacion}"
							filterMatchMode="contains" filterStyle="display:none">
							<h:outputText value="#{doc.radicacion}" />
						</p:column>

						<p:column headerText="Fecha Control">
							<h:outputText value="#{doc.fechaControl}" />
						</p:column>

						<p:column headerText="Asunto" filterBy="#{doc.asunto}"
							filterMatchMode="contains" filterStyle="display:none">
							<h:outputText value="#{doc.asunto}" />
						</p:column>

						<p:column headerText="Estado">
							<h:outputText value="#{doc.activo?'Activo':'Finalizado'}" />
							<div style="#{usuario.validarFechaControl(doc)}" />
						</p:column>

						<p:column headerText="Usuario">
							<h:outputText
								value="#{buscarAction.confirmarRevisor(doc.radicacion)}" />
						</p:column>

						<p:column headerText="Acción">
							<p:commandLink id="editar" title="Gestionar"
								action="#{buscarAction.selectDocumentoInbox(doc)}">
								<p:graphicImage url="#{resource['css/img/ver.png']}" />
							</p:commandLink>
						</p:column>
					</p:dataTable>
				</p:fieldset>


			</p:panel>

		</h:form>
	</ui:define>
</ui:composition>
