<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Gestión Documental" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">
        <h:form  id="form1">
            <p:panel header="Gestión Documental" styleClass="cds-panel-simple panel-form">
                 <div align="center">
                    <h3 class="title-new">Revisión documento</h3>
                </div>
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:messages id="messages"/>
                    <p:panelGrid columns="6" style="width:80%;" >
                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Radicado" styleClass="label-title" for="radicado"  />
                                <p:inputText id="radicado" value="#{buscarAction.radicacion}" disabled="true" style="width:200px;"/>
                            </p:panelGrid>
                        </div>
                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Fecha Emision" styleClass="label-title" for="fechaEmision" />
                                <p:inputText id="fechaEmision" value="#{buscarAction.fechaEmision}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Fecha Recepcion" styleClass="label-title" for="fechaRecepcion" />
                                <p:inputText id="fechaRecepcion" value="#{buscarAction.fechaRecepcion}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                    </p:panelGrid>

                    <br/>
                    <p:separator/>
                    <br/>

                    <p:panelGrid columns="2" style="width:80%;" >
                        <div>
                            <p:panelGrid columns="1" >
                                <h:outputLabel value="Procedencia" styleClass="label-title" for="procedencia"/>
                                <p:inputTextarea  id="procedencia" value="#{buscarAction.procedenciaText}" rows="3" style="width: 850px" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1" >
                                <h:outputLabel value="Destino" styleClass="label-title" for="destino"/>
                                <p:inputTextarea id="destino" value="#{buscarAction.destinosText}" rows="3" style="width: 850px" disabled="true"/>
                            </p:panelGrid>
                        </div>
                    </p:panelGrid>

                    <br/>
                    <p:separator/>
                    <br/>

                    <p:panelGrid columns="4" style="width:80%;" >
                        <div>
                            <p:panelGrid columns="1"  >
                                <h:outputLabel value="Asunto" styleClass="label-title" for="asunto" />
                                <p:inputTextarea id="asunto" value="#{buscarAction.asunto}" rows="4" cols="50" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1"  >
                                <h:outputLabel value="Observacion" styleClass="label-title" for="observacion" />
                                <p:inputTextarea id="observacion" rows="4" cols="50" value="#{buscarAction.observacion}" disabled="true"/>
                            </p:panelGrid>
                        </div>
                    </p:panelGrid>

                    <br/>
                    <p:separator/>
                    <br/>

                    <p:panelGrid columns="8" style="width:80%;" >
                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Empresa Correo Recibido" styleClass="label-title" for="empresaR" />
                                <p:inputText id="empresaR" value="#{buscarAction.empresacorreo}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Guia Recibido" styleClass="label-title" for="guia" />
                                <p:inputText id="guia" value="#{buscarAction.guia}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Empresa Correo Enviado" styleClass="label-title" for="empresaE" />
                                <p:inputText id="empresaE" value="#{buscarAction.empresaCorreoEnviado}" disabled="true"/>
                            </p:panelGrid>
                        </div>
                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Funcionario" styleClass="label-title" for="mensajero"/>
                                <p:inputText id="mensajero" value="#{buscarAction.mensajero}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Prueba entrega" styleClass="label-title" for="prueba" />
                                <p:inputText id="prueba" value="#{buscarAction.pruebaEntrega}" disabled="true" />
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Notificación" styleClass="label-title" for="notificacion"/>
                                <p:inputText id="notificacion" value="#{buscarAction.notificacionEntrega}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Anexos" styleClass="label-title" for="anexos"/>
                                <p:inputText id="anexos" value="#{buscarAction.anexos}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                    </p:panelGrid>

                    <br/>
                    <p:separator/>
                    <br/>

                    <p:panelGrid columns="4" style="width:80%;" >
                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Clase de documento" styleClass="label-title" for="claseDoc" />
                                <p:inputText id="claseDoc" value="#{buscarAction.claseDocumento}" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Fecha Control" styleClass="label-title" for="fechaControl" />
                                <p:inputText value="#{buscarAction.formatFecha(buscarAction.fechaControl)}" disabled="true" style="width: 220px" /> 
                            </p:panelGrid>
                        </div>
                    </p:panelGrid>

                    <br/>
                    <p:separator/>
                    <br/>

                    <p:panelGrid columns="6" style="width:80%;" >
                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Responsable" styleClass="label-title" for="responsable" />
                                <p:inputText id="responsable" value="#{buscarAction.responsableName}" style="width: 350px" disabled="true"/>
                            </p:panelGrid>
                        </div>

                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Aprobado" styleClass="label-title" for="aprobado" />
                                <p:selectBooleanCheckbox id="aprobado" value="#{buscarAction.aprobadoRevision}" disabled="true"/>
                            </p:panelGrid>
                        </div>
                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Revisado" styleClass="label-title" for="revisado" />
                                <p:selectBooleanCheckbox id="revisado" value="#{buscarAction.revisadoRevision}" disabled="true"/>
                            </p:panelGrid>
                        </div>
                    </p:panelGrid>

                    <br/>
                    <p:separator/>
                    <br/>

                    <p:panelGrid columns="1" style="width:80%;" >
                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Archivo" styleClass="label-title" for="archivo" />
                                <ui:repeat value="#{buscarAction.documentoDto}" var="archivo" >
                                    <a href="/Beesoft/ArchivoOldServidor?idArchivo=#{archivo.id}" target="_blank">Ver archivo</a> <br/>
                                </ui:repeat>
                            </p:panelGrid>
                        </div>
                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Comentarios" styleClass="label-title" for="comentarios" rendered="#{buscarAction.revisiones.size()>0}"/>
                                <p:dataTable id="comnentarios" value="#{buscarAction.revisiones}" rendered="#{buscarAction.revisiones.size()>0}" var="rev" rowKey="#{rev.actor.cedula}" sortBy="actor.nombreYApellido" styleClass="fixed-size" style="width: 610px">
                                    <p:column headerText="Revisor">  
                                        <h:outputText value="#{rev.actor.nombreYApellido}" />
                                    </p:column> 

                                    <p:column headerText="Fecha">  
                                        <h:outputText value="#{buscarAction.formatFecha(rev.fechaComentario)}" /> 
                                    </p:column> 

                                    <p:column headerText="Comentario">  
                                        <h:outputText value="#{rev.comentario}" />  
                                    </p:column> 

                                </p:dataTable>
                            </p:panelGrid>
                        </div>
                        <div>
                            <p:panelGrid columns="1">
                                <h:outputLabel value="Radicado por:" styleClass="label-title" for="radicador"/>
                                <h:outputText id="radicador" value="#{buscarAction.radicadorOld}"/>
                            </p:panelGrid>
                        </div>

                    </p:panelGrid>
                </p:fieldset>
                <br />
                <p:commandButton styleClass="button-action" id="volver" value="Regresar"  action="#{buscarAction.volver}" style="width: 100px;text-align: center!important" />
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
