<ui:composition template="/template_1.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">


    <ui:define name="content">
        <script type="text/javascript">
            function handlePassRequest(xhr, status, args) {
                if (!args.loggedIn) {
                    PF('dlgRestablecer').jq.effect("shake", {times: 5}, 100);
                } else {
                    PF('dlgRestablecer').hide();
                    $('#loginLink').fadeOut();
                }
            }
        </script>
		<h:form id="form1">
			<div class="col-xs-12 col-sm-12 child" align="center" style="margin-top: 3%">
				<div class="panel panel-defaultV2 panel-shadow">
					<div class="panelbody" style="width: 100%">
						<div class="col-xs-6 col-sm-6" align="center">
							<div style="margin-top: 60px;">
								<h:graphicImage url="#{resource['css/img/logo-beesoft.png']}" />
							</div>

							<p:growl id="messages" showDetail="true" />

							<hr style="border-top: 2px solid rgb(175, 175, 175);" />

							<h3 style="color: rgb(175, 175, 175); font-size: 15px;">
								<strong>Bienvenido</strong>
							</h3>

							<div class="form-group" style="margin-left:7px">
								<div class="input-group">
									<p:inputText id="id" styleClass="form-control"
										placeholder="Usuario" value="#{usuario.username}"
										title="Nombre de usuario"
										style="border-radius: 15px !important;width:270px !important" />
									<span class="form-control-feedback"
										style="margin-top: 7px !important;"> <i
										class="glyphicon glyphicon-user"></i>
									</span>
								</div>
							</div>

							<div class="form-group" style="margin-left:7px">
								<div class="input-group">
									<p:password id="pass" styleClass="form-control"
										placeholder="Contraseña" value="#{usuario.password}"
										title="Contraseña"
										style="border-radius: 15px !important;width:270px !important" />
									<span class="form-control-feedback"
										style="margin-top: 7px !important;"> <i
										class="glyphicon glyphicon-lock"></i>
									</span>
								</div>
							</div>
							<div align="right" style="margin-right:7px">
								<p:commandButton action="#{usuario.login()}" update="messages"
									value="Iniciar sesión" styleClass="button-actionV2">
								</p:commandButton>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6">
							<div style="margin-top: -2px">
								<h:graphicImage url="#{resource['css/img/background-form.png']}"
									width="360" height="413" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
		<p:dialog widgetVar="dlgRestablecer" modal="true" closable="false" resizable="false" header="Restablecer Contraseña">
            <p:messages autoUpdate="true"/>
            <h:form>
                <p:panelGrid id="grid" columns="2" styleClass="cds-full-weight" style="width:100%"> 
                    <h:outputLabel value="email" for="email" />
                    <p:inputText id="email" value="#{usuario.email}" title="email" />
                </p:panelGrid>
                <p:commandButton action="#{usuario.reestablecerPassword()}"  oncomplete="handlePassRequest(xhr, status, args)" value="Enviar" ajax="true"/>
                <p:commandButton action="#{usuario.cancelarPass()}" oncomplete="PF('dlgRestablecer').hide()" value="Cancelar"/>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>
