<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Gestión Documental" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">
        <script>
            function PopupCenter(pageURL, title, w, h) {
                var left = (screen.width / 2) - (w / 2);
                var top = (screen.height / 2) - (h / 2);
                var targetWin = window.open(pageURL, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
            }
        </script>
        <h:form id="form1">
            <p:panel header="Gestión Documental" styleClass="cds-panel-simple panel-form">
                <div align="center">
                    <h3 class="title-new">Filtros de busqueda</h3>
                </div>
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:messages id="validate" autoUpdate="true"/>
                    <p:panelGrid columns="2" style="width:52%;" >
                        <h:outputLabel value="Radicado" for="radicado" />
                        <p:inputText id="radicado" value="#{buscarAction.radicacionConsulta}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:220px"/>

                        <h:outputLabel value="Fecha Emision Inicial" for="fechaEmisionIni" />
                        <p:calendar locale="es" value="#{buscarAction.fechaEmisionInicial}"
                                    id="fechaEmisionIni" styleClass="cds-custom-calendar input-special"
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Fecha Emision Final" for="fechaRecepcionFin" />
                        <p:calendar locale="es" value="#{buscarAction.fechaEmisionFinal}"
                                    id="fechaRecepcionFin"
                                    styleClass="cds-custom-calendar input-special" 
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Procedencia" for="procedencia"/>
                        <p:panel styleClass="cds-panel-reset">
                            <p:commandButton id="procedencia"  onclick="PF('dlgProcedencia').show();" type="button" styleClass="cds-custom-search" icon="ui-icon-search"/>
                            <p:inputText id="valueName" value="#{buscarAction.procedenciaName}" style="width: 220px" disabled="true"/>
                        </p:panel>
                        <h:outputLabel value="Destino" for="destino"/>
                        <p:panel styleClass="cds-panel-reset">
                            <p:commandButton id="destino" onclick="PF('dlgDestino').show();" type="button" styleClass="cds-custom-search" icon="ui-icon-search"/>
                            <p:inputText id="vName" value="#{buscarAction.destinoName}" style="width: 220px" disabled="true"/>
                        </p:panel>

                        <h:outputLabel value="Asunto" for="asunto" />
                        <p:inputText id="asunto" value="#{buscarAction.asuntoConsulta}" style="width: 220px" />

                        <h:outputLabel value="Clase de documento*" for="claseDoc" />
                        <p:selectOneMenu id="claseDoc" style="width: 220px" 
                                         value="#{buscarAction.claseConsulta}" >
                            <f:selectItem itemLabel="Seleccione"/>
                            <f:selectItem itemLabel="Tramites" itemValue="TRAMITE"/>
                            <f:selectItem itemLabel="PQR" itemValue="PQR"/>
                            <f:selectItem itemLabel="Denuncias" itemValue="DENUNCIA"/>
                            <f:selectItem itemLabel="Otros" itemValue="OTROS"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <br />
                    <p:commandButton styleClass="button-action" action="#{buscarAction.buscarDocumento()}" update=":form1:fldResult,validate"
                                     value="Buscar" >
                    </p:commandButton>
                    <p:commandButton styleClass="button-action" action="#{buscarAction.limpiar()}" update="@form"  value="Reiniciar" />
                </p:fieldset>
                <p:fieldset id="fldResult" legend="Resultados" 
                            styleClass="ui-widget-content2" >
                    <p:dataTable id="documentoR" emptyMessage="No se han encontrado resultados" var="doc" value="#{buscarAction.resultadoDocs}"
                                 rowKey="#{doc.radicacion}" sortBy="fechaRecepcion" sortOrder="descending" paginator="true" rows="10" paginatorPosition="bottom">  

                        <p:column headerText="Radicacion" >  
                            <h:outputText value="#{doc.radicacion}"/>  
                        </p:column>  

                        <p:column headerText="Procedencia" style="width: 20%">  
                            <h:outputText value="#{buscarAction.mostrarProcedenciaTabla(doc)}" />  
                        </p:column>  

                        <p:column headerText="Destino" style="width: 20%">  
                            <h:outputText value="#{buscarAction.mostrarDestinoTabla(doc)}" />  
                        </p:column>  

                        <p:column headerText="Fecha recepcion" style="width: 11%">  
                            <h:outputText value="#{doc.fechaRecepcion}" />  
                        </p:column>  

                        <p:column headerText="Asunto" style="width: 20%">   
                            <h:outputText value="#{doc.asunto}" />  
                        </p:column>  

                        <p:column headerText="Estado">  
                            <h:outputText value="#{doc.activo?'Activo':'Finalizado'}" />  
                            <div style="#{buscarAction.validarFechaControl(doc)}"/>
                        </p:column>

                        <p:column headerText="Acción">  
                            <p:commandLink id="selectDoc"  action="#{buscarAction.selectDocumento(doc)}" disabled="#{!(buscarAction.showButtons(doc))}"  title="Ver" >
                                <p:graphicImage url="#{resource['css/img/ver.png']}"/>
                            </p:commandLink>
                            &#160; 
                            <p:commandLink id="editDoc" action="#{buscarAction.selectDocumentoEdicion(doc)}" rendered="#{buscarAction.showOtherButtons(doc)}" title="Editar" >
                                <p:graphicImage url="#{resource['css/img/editar.png']}"/>
                            </p:commandLink>
                            &#160; 
                            <p:commandLink id="etiqueta" oncomplete="etiqueta()" process="@form" update="@this" action="#{buscarAction.generarEtiqueta(doc)}" rendered="#{buscarAction.showOtherButtons(doc)}">
                                <p:remoteCommand id="rcetiqueta" name="etiqueta" oncomplete="#{buscarAction.sticker}" />
                                <p:graphicImage url="#{resource['css/img/etiqueta.png']}"/>
                            </p:commandLink>
                            &#160; 
                            <p:commandLink id="editor" action="#{buscarAction.selectDocumentoEditor(doc)}" rendered="#{buscarAction.showEditorButtons()}" update=":editorForm" oncomplete="PF('dlgEditor').show()" title="Editar" >
                                <p:graphicImage url="#{resource['css/img/editar.png']}"/>
                            </p:commandLink>
                            &#160; 
                            <p:commandLink id="deleteDoc" action="#{buscarAction.eliminarDocumento(doc)}" rendered="#{buscarAction.showOtherButtons(doc)}" update="documentoR" title="Anular" >
                                <p:graphicImage url="#{resource['css/img/desactivar.png']}"/>
                            </p:commandLink>
                        </p:column>

                    </p:dataTable>          


                </p:fieldset>

            </p:panel>

        </h:form>
        <p:dialog header="Procedencia" widgetVar="dlgProcedencia" modal="true"  draggable="false" maximizable="false" resizable="false" closable="false" height="400" width="800">
            <h:form id="procedenciaForm">
                <p:panelGrid columns="3">
                    <h:outputLabel value="Nombre" />
                    <p:inputText id="nombreProc" value="#{buscarAction.nombre}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;">
                        <p:ajax process="@this,@form"/>
                    </p:inputText>
                    <p:commandButton value="Buscar" action="#{buscarAction.buscarProcedencia()}" update=":procedenciaForm:tablaProc"/>    
                </p:panelGrid>
                <p:dataTable id="tablaProc" emptyMessage="No se han encontrado resultados" rowKey="#{pro.cedula}" var="pro" value="#{buscarAction.procedenciaIn}" paginator="true" rows="10" paginatorPosition="bottom">  

                    <p:column headerText="Cedula">  
                        <h:outputText value="#{pro.cedula}" />  
                    </p:column>  

                    <p:column headerText="Nombre">  
                        <h:outputText value="#{pro.nombreYApellido}" />  
                    </p:column>  

                    <p:column headerText="Correo">  
                        <h:outputText value="#{pro.email}" />  
                    </p:column> 

                    <p:column headerText="Acción">  
                        <p:commandLink id="selectProce" title="Seleccionar" update=":form1:valueName :procedenciaForm:nombreProc :procedenciaForm:tablaProc" actionListener="#{buscarAction.selectProcedenciaConsulta(pro)}" oncomplete="PF('dlgProcedencia').hide()">
                            <p:graphicImage url="#{resource['css/img/seleccionar.png']}"/>
                        </p:commandLink>
                    </p:column> 

                </p:dataTable>

                <p:commandButton id="cancelProce" styleClass="button-action" value="Cancelar" update=":procedenciaForm:tablaProc" actionListener="#{buscarAction.iniciarDialog()}" oncomplete="PF('dlgProcedencia').hide()"/>
            </h:form>
        </p:dialog>

        <p:dialog header="Destino" widgetVar="dlgDestino" modal="true"  draggable="false" maximizable="false" resizable="false" closable="false" height="400" width="800">
            <h:form id="destinoForm">
                <p:panelGrid columns="3">
                    <h:outputLabel value="Nombre" />
                    <p:inputText id="nombreDest" value="#{buscarAction.nombre}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:220px">
                        <p:ajax process="@this,@form"/>
                    </p:inputText>
                    <p:commandButton styleClass="button-action" value="Buscar" action="#{buscarAction.buscarDestinos()}" update=":destinoForm:tablaDest"/>    
                </p:panelGrid>
                <p:dataTable id="tablaDest" emptyMessage="No se han encontrado resultados" rowKey="#{pro.cedula}" var="pro" value="#{buscarAction.destinoIn}" paginator="true" rows="10" paginatorPosition="bottom">  

                    <p:column headerText="Cedula">  
                        <h:outputText value="#{pro.cedula}" />  
                    </p:column>  

                    <p:column headerText="Nombre">  
                        <h:outputText value="#{pro.nombreYApellido}" />  
                    </p:column>  

                    <p:column headerText="Correo">  
                        <h:outputText value="#{pro.email}" />  
                    </p:column> 

                    <p:column headerText="Acción">  
                        <p:commandLink id="selectDest" title="Seleccionar" update=":form1:vName :destinoForm:nombreDest :destinoForm:tablaDest" actionListener="#{buscarAction.selectDestinoConsulta(pro)}" oncomplete="PF('dlgDestino').hide()">
                            <p:graphicImage url="#{resource['css/img/seleccionar.png']}"/>
                        </p:commandLink>
                    </p:column> 

                </p:dataTable>

                <p:commandButton styleClass="button-action" id="cancelDest" value="Cancelar" update=":destinoForm:tablaDest" actionListener="#{buscarAction.iniciarDialog()}" oncomplete="PF('dlgDestino').hide()"/>

            </h:form>
        </p:dialog>
        <p:dialog header="Editar Documento" widgetVar="dlgEditor" modal="true"  draggable="false" maximizable="false" resizable="false" closable="false" height="200" width="510">
            <h:form id="editorForm">
                <p:panelGrid columns="2">
                    <h:outputLabel value="Prueba entrega" for="prueba" />
                    <p:inputText id="prueba" value="#{buscarAction.documentoCampos.pruebaEntrega}" onblur="value = value.toUpperCase()" style="text-transform: uppercase;width:220px"/>

                    <h:outputLabel value="Observacion" for="observacion"/>
                    <p:inputTextarea id="observacion" value="#{buscarAction.documentoCampos.observacion}" rows="6" cols="50" onblur="value = value.toUpperCase()" style="text-transform: uppercase;"/>
                </p:panelGrid>
                <p:commandButton styleClass="button-action" id="editarCampos" value="Guardar Cambios" update=":editorForm" action="#{buscarAction.editarCamposDocumento()}" oncomplete="PF('dlgEditor').hide()"/>
                <p:commandButton styleClass="button-action" id="editarCancel" value="Cancelar" update=":editorForm" oncomplete="PF('dlgEditor').hide()"/>

            </h:form>
        </p:dialog>

    </ui:define>
</ui:composition>
