<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <title>Etiqueta</title>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body onload="window.print()">
		 <h:outputText value="C.R.Q Gestion Documental"  style="font-family:sans-serif;font-weight: bold;font-size: 13px;text-align: center"/><br/>	
        <h:outputText value="RAD: #{buscarAction.radicacionEtiqueta}    #{buscarAction.fechaEtiqueta}"  style="font-family:sans-serif;font-weight: bold;font-size: 13px;"/><br/>
        <h:outputText value="ANEXOS: #{buscarAction.anexosEtiqueta}"  style="font-family:sans-serif;font-weight: bold;font-size: 11px;"/><br/>
        <h:outputText value="ORIGEN: #{buscarAction.procedenciaEtiqueta}"  style="font-family:sans-serif;font-weight: bold;font-size: 11px;"/><br/>
        <h:outputText value="DESTINO: #{buscarAction.destinosEtiqueta}"  style="font-family:sans-serif;font-weight: bold;font-size: 11px;"/><br/>
        <h:outputText value="ASUNTO:  #{buscarAction.asuntoEtiqueta}"  style="font-family:sans-serif;font-weight: bold;font-size: 11px;"/><br/>
        <h:outputText value="RADICADO POR:  #{buscarAction.radicadorEtiqueta}"  style="font-family:sans-serif;font-weight: bold;font-size: 11px;"/><br/>
    </body>

</html>
