<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <head>
        <title>Etiqueta</title>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body onload="window.print()">
        <div style="float:right;padding-right: 17px; border-color: #aaaaaa;
             border-width: 3px;
             margin-top: -80px;
             border-color: black;
             border-style: solid;
             padding: 5px;
             line-height: 50%;
             width:230px" >
            <div style="text-align: center">
                <h:outputText value="C.R.Q" style="font-family:sans-serif;font-weight: bold;font-size: 10px;"/><br/>
                <h:outputText value="GESTIÓN DOCUMENTAL" style="font-family:sans-serif;font-weight: bold;font-size: 10px;"/>
            </div>
            <p:panelGrid columns="2">
                <h:outputLabel value="Radicacion:" style="font-family:sans-serif;font-weight: bold;font-size: 9px;"/>
                <h:outputText value="#{buscarAction.radicacionEtiqueta}"  style="font-family:sans-serif;font-weight: bold;font-size: 11px;"/>

                <h:outputLabel value="ANEX: " style="font-family:sans-serif;font-weight: bold;font-size: 9px;"/>
                <h:outputText value="#{buscarAction.anexosEtiqueta}"  style="font-family:sans-serif;font-weight: bold;font-size: 9px;"/>

                <h:outputLabel value="Asunto: " style="font-family:sans-serif;font-weight: bold;font-size: 9px;"/>
                <h:outputText value="#{buscarAction.asuntoEtiqueta}"  style="font-family:sans-serif;font-weight: bold;font-size: 9px;"/>

                <h:outputLabel value="Remitente: " style="font-family:sans-serif;font-weight: bold;font-size: 9px;"/>
                <h:outputText value="#{buscarAction.procedenciaEtiqueta}"  style="font-family:sans-serif;font-weight: bold;font-size: 9px;"/>

                <h:outputLabel value="Destino: " style="font-family:sans-serif;font-weight: bold;font-size: 9px;"/>
                <h:outputText value="#{buscarAction.destinosEtiqueta}"  style="font-family:sans-serif;font-weight: bold;font-size: 9px;"/>

                <h:outputLabel value="Radicado Por: " style="font-family:sans-serif;font-weight: bold;font-size: 9px;"/>
                <h:outputText value="#{buscarAction.radicadorEtiqueta}"  style="font-family:sans-serif;font-weight: bold;font-size: 9px;"/>

            </p:panelGrid>
            <div style="text-align: center">
                <h:outputText value="#{buscarAction.fechaEtiqueta}" style="font-family:sans-serif;font-weight: bold;font-size: 10px;"/><br/>
            </div>
        </div>

        <div style="font-family:sans-serif;font-weight: bold;font-size: 10px;margin-top: 80px;margin-left: 65px;">
        </div>
        <p style="clear: both;height: 0px;">&#160;</p>

    </body>

</html>
