<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Gestión Documental" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">
        <h:form id="form1">
            <p:panel header="Extraer Documentos" styleClass="cds-panel-simple panel-form">
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:messages id="validate" autoUpdate="true"/>
                    <p:panelGrid columns="2" style="width:52%;" >
                        <h:outputLabel value="Letra" for="letra" />
                        <p:inputText id="letra" value="#{buscarAction.letraExtraccion}" style="width: 220px"/>
                        
                        <h:outputLabel value="Nombre Carpeta" for="carpeta" />
                        <p:inputText id="carpeta" value="#{buscarAction.carpeta}" style="width: 220px"/>

                        <h:outputLabel value="Fecha Inicial" for="fechaIni" />
                        <p:calendar locale="es" value="#{buscarAction.fechaExtIni}"
                                    id="fechaEmisionIni" styleClass="cds-custom-calendar input-special"
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Fecha Final" for="fechaFin" />
                        <p:calendar locale="es" value="#{buscarAction.fechaExtFin}"
                                    id="fechaRecepcionFin"
                                    styleClass="cds-custom-calendar input-special" 
                                    navigator="true" yearRange="1980:2025" />

                        <h:outputLabel value="Archivo Old*" for="archivo" />
                        <p:fileUpload 
                            id="archivo" 
                            uploadLabel="Cargar" 
                            cancelLabel="Cancelar" 
                            label="Seleccionar" 
                            fileUploadListener="#{buscarAction.fileUploadExtraccion}" 
                            mode="advanced"  
                            multiple="true" 
                            sizeLimit="100000000" 
                            fileLimit="10" 
                            allowTypes="/(\.|\/)(gif|jpe?g|png|doc|docx|xls|xlsx|pdf|tif)$/" 
                            styleClass="ui-widget-header" 
                            style="width: 600px"/>  
                        
                    </p:panelGrid>
                    <br />
                    <p:commandButton action="#{buscarAction.extraccion}" update="@form"
                                     value="Extraer" />
                    <p:commandButton action="#{buscarAction.extraccionOld}" update="@form"
                                     value="Extraer Old" />
                    <p:commandButton action="#{buscarAction.limpiar()}" update="@form"  value="Reiniciar" />
                </p:fieldset>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
