<ui:composition template="/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titlebar">
        <p:panel styleClass="cds-title-panel cds-red" toggleable="true"
                 closable="true" widgetVar="panel">
            <p:panelGrid columns="3" styleClass="cds-title-panel-grid">
                <p:panel styleClass="cds-title-panel-title">
                    <h:outputText id="tab1Text" value="Gestión Documental" />
                </p:panel>
            </p:panelGrid>
        </p:panel>
    </ui:define>

    <ui:define name="content">
        <h:form  id="form1">
            <p:panel header="Gestión Documental" styleClass="cds-panel-simple panel-form">
                <div align="center">
                    <h3 class="title-new">Revisión documento</h3>
                </div>
                <p:fieldset 
                    styleClass="ui-widget-content2">
                    <p:messages id="messages"/>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Radicado" styleClass="label-title" for="radicado"  />
                                    <p:inputText id="radicado" value="#{buscarAction.radicacion}" style="width:200px;" disabled="true"/>
                                </div>
                            </div>
                        </div>
                    </div>


                    <br/>
                    <p:separator/>
                    <br/>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Fecha Emision" styleClass="label-title" for="fechaEmision" />
                                    <p:inputText id="fechaEmision" value="#{buscarAction.fechaEmision}" disabled="true"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Fecha Recepcion" styleClass="label-title" for="fechaRecepcion" />
                                    <p:inputText id="fechaRecepcion" value="#{buscarAction.fechaRecepcion}" disabled="true"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Procedencia" styleClass="label-title" for="procedencia"/>
                                    <p:inputText  id="procedencia" value="#{buscarAction.procedenciaText}" style="width:450px" disabled="true"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Destino" styleClass="label-title" for="destino"/>
                                    <p:inputText id="destino" value="#{buscarAction.destinosText}" style="width: 450px" disabled="true"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Asunto" styleClass="label-title" for="asunto" />
                                    <p:inputTextarea id="asunto" rows="6" cols="50" value="#{buscarAction.asunto}" disabled="true"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Observacion" styleClass="label-title" for="observacion" />
                                    <p:inputTextarea id="observacion" rows="6" cols="50" value="#{buscarAction.observacion}" disabled="true"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br/>
                    <p:separator/>
                    <br/>

                    <div class="row" >

                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Empresa Correo Enviado" styleClass="label-title" for="empresaE" />
                                    <p:inputText id="empresaE" value="#{buscarAction.empresaCorreoEnviado}" disabled="true"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Funcionario" styleClass="label-title" for="mensajero"/>
                                    <p:inputText id="mensajero" value="#{buscarAction.mensajero}" disabled="true"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Anexos" styleClass="label-title" for="anexos"/>
                                    <p:inputText id="anexos" value="#{buscarAction.anexos}" disabled="true"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <p:panelGrid columns="1">
                                        <h:outputLabel value="Clase documento" styleClass="label-title"  />
                                        <p:inputText  value="#{buscarAction.claseDocumento}" disabled="true"/>
                                    </p:panelGrid>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br/>
                    <p:separator/>
                    <br/>

                    <div class="row" >
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Archivo referencia" styleClass="label-title" for="referencia" />
                                    <p:panel styleClass="cds-panel-reset">
                                        <p:panelGrid columns="3">
                                            <p:dataTable id="tablaRadicado" emptyMessage=" " value="#{buscarAction.listaRef}" var="d" rowKey="#{d.radicacion}" style="width: 365px">

                                                <p:column headerText="Radicado">
                                                    <h:outputText value="#{d.radicacion}"/>
                                                </p:column>

                                                <p:column headerText="Accion">  
                                                    <a href="/Beesoft/ArchivoReferenciaServidor?idArchivo=#{d.id}" target="_blank" >Abrir Documento</a>
                                                </p:column> 

                                            </p:dataTable>
                                        </p:panelGrid>
                                    </p:panel>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="respuesta del documento" styleClass="label-title" for="claseDoc" rendered="#{buscarAction.tieneRespuesta}"/>
                                    <a href="/Beesoft/ArchivoReferenciaServidor?idArchivo=#{buscarAction.documentoRespuesta}" target="_blank" >#{buscarAction.radicadoRespuesta}</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Fecha Control" styleClass="label-title" for="fechaControl" />
                                    <p:inputText id="fechaControl" value="#{buscarAction.formatFecha(buscarAction.fechaControl)}" disabled="true" style="width: 220px" /> 
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Tabla de retencion" styleClass="label-title" for="documental"/>
                                    <p:panel styleClass="cds-panel-reset" rendered="#{!buscarAction.documento.migrado}">
                                        <p:panelGrid columns="3">
                                            <p:dataTable id="documental" emptyMessage=" " value="#{buscarAction.trds}" var="trd" rowKey="#{trd.oficina}"  style="width: 700px">  
                                                <p:column headerText="Tabla de retencion">
                                                    <div class="container" style="width: 700px">
                                                        <div class="row"> 
                                                            <div class="col-sm-12">
                                                                <h:outputLabel value="Oficina: " />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputText value="#{trd.oficina.descripcion}" />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputLabel value="Serie: " />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputText value="#{trd.serie.descripcion}" />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputLabel value="SubSerie: " /> 
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputText value="#{trd.subserie.descripcion}" />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputLabel value="Tipo: " />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputText value="#{trd.tipodocumento.descripcion}" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </p:column>  
                                            </p:dataTable>
                                        </p:panelGrid>
                                    </p:panel>
                                    <p:panel styleClass="cds-panel-reset" rendered="#{buscarAction.documento.migrado}">
                                        <p:panelGrid columns="3">
                                            <p:dataTable id="documentalOld" emptyMessage=" " value="#{buscarAction.trdsOld}" var="trd" rowKey="#{trd.oficinaOld}"  style="width: 700px">  
                                                <p:column headerText="Tabla de retencion">
                                                    <div class="container" style="width: 700px">
                                                        <div class="row"> 
                                                            <div class="col-sm-12">
                                                                <h:outputLabel value="Oficina: " />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputText value="#{trd.oficinaOld.descripcion}" />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputLabel value="Serie: " />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputText value="#{trd.serieOld.descripcion}" />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputLabel value="SubSerie: " /> 
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputText value="#{trd.subSerieOld!=null?trd.subSerieOld.descripcion:'N/A'}" />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputLabel value="Tipo: " />
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <h:outputText value="#{trd.tipodocumentoOld.descripcion}" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </p:column>  
                                            </p:dataTable>
                                        </p:panelGrid>
                                    </p:panel>
                                </div>
                            </div>
                        </div>


                    </div>

                    <br/>
                    <p:separator/>
                    <br/>

                    <div class="row" >
                        <div class="col-sm-8">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Responsable" styleClass="label-title" for="responsable" />
                                    <p:inputText id="responsable" value="#{buscarAction.responsableName}" style="width: 350px" disabled="true"/>
                                </div>    
                            </div>    
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Aprobado" styleClass="label-title" for="aprobado" rendered="#{buscarAction.showAprobado}"/>
                                    <p:selectBooleanCheckbox id="aprobado" value="#{buscarAction.aprobadoRevision}" rendered="#{buscarAction.showAprobado}"/>
                                </div>    
                            </div>    
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Revisado" styleClass="label-title" for="revisado" rendered="#{buscarAction.showRevisado}"/>
                                    <p:selectBooleanCheckbox id="revisado" value="#{buscarAction.revisadoRevision}" rendered="#{buscarAction.showRevisado}"/>
                                </div>    
                            </div>    
                        </div>
                    </div>    

                    <br/>
                    <p:separator/>
                    <br/>

                    <div class="row" >
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Revisor" styleClass="label-title" for="revisores" />
                                    <p:inputText value="#{buscarAction.nombreRevisor}" style="width:300px" disabled="true"/>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-sm-8">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Revisores" styleClass="label-title" for="revisores" />
                                    <p:panelGrid columns="1" >
                                        <p:autoComplete id="revisores" multiple="true"  value="#{buscarAction.revisoresTarget}" completeMethod="#{buscarAction.completeRevisores}"
                                                        var="revisor" itemLabel="#{revisor.nombreYApellido}" itemValue="#{revisor}" converter="#{actorConverter}"
                                                        forceSelection="true" cache="true" style="width: 320px">
                                            <p:column>
                                                <h:outputText value="#{revisor.nombreYApellido}" />
                                            </p:column>
                                        </p:autoComplete>
                                    </p:panelGrid>
                                </div>
                            </div>

                        </div>
                    </div>

                    <br/>
                    <p:separator/>
                    <br/>

                    <div class="row" >
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Archivo" styleClass="label-title" for="archivo" />
                                    <ui:repeat id="archivo" value="#{buscarAction.listaArchivos}" var="archivo" rendered="#{buscarAction.listaArchivos.size()>0}">
                                        <a href="/Beesoft/ArchivoServidor?idArchivo=#{archivo.id}" onclick="nc()" target="_blank" >Abrir Documento: #{archivo.nombreArchivo}</a> <br/>
                                        <p:remoteCommand name="nc" action="#{buscarAction.revisarDocumento()}" update="@form"/>
                                    </ui:repeat>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Comentario*" styleClass="label-title" for="comentario" rendered="#{buscarAction.showRadicador}"/>
                                    <p:inputTextarea  id="comentario" rows="6" cols="60" value="#{buscarAction.comentario}"        
                                                      autoResize="false" rendered="#{buscarAction.showRadicador}"/>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <p:dataTable id="comentarios" value="#{buscarAction.revisiones}" rendered="#{buscarAction.revisiones.size()>0}" var="rev" rowKey="#{rev.actor.cedula}" sortBy="actor.nombreYApellido" styleClass="fixed-size" style="width: 610px">
                                        <p:column headerText="Comentarios" >
                                            <p:panelGrid columns="1">
                                                #{rev.actor.nombreYApellido} #{buscarAction.formatFecha(rev.fechaComentario)}
                                                <h:outputText value="#{rev.comentario}" />  
                                            </p:panelGrid>
                                        </p:column> 

                                    </p:dataTable>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <h:outputLabel value="Radicado por:" styleClass="label-title" for="radicador"/>
                                    <h:outputText id="radicador" value="#{buscarAction.radicador}"/>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <p:commandButton styleClass="button-action" action="#{buscarAction.crearComentario()}" update="messages" rendered="#{buscarAction.showRadicador}"
                                     value="Aceptar" />
                    <p:commandButton styleClass="button-action" id="volverInbox" value="Regresar"  action="#{usuario.volver()}"  rendered="#{buscarAction.gestionInbox}" update="@form"/>
                    <p:commandButton styleClass="button-action" id="volver" value="Regresar"  action="#{buscarAction.volver()}" rendered="#{buscarAction.gestionBuscar}" update="@form"/>

                </p:fieldset>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
